[2020-11-06 11:39] lkiesow commented on #1690
To define what we need to do here:

Right now you can only turn persistence on or off:

https://github.com/opencast/opencast/blob/3a348ca4525efb0e2c183cd15f35b669909079df/etc/org.opencastproject.security.lti.LtiLaunchAuthenticationHandler.cfg#L51-L56

Most of the time, it would suffice if we just persist people with certain __LTI roles__ (e.g. `Instructor`). We retrieve the role already before cre

[2020-11-06 11:51] CGreweling commented on #1690
Defining users with specific roles to be presitent-users sounds good to me.
Looks good.

[2020-11-09 12:19] miesgre commented on #2046
@lkiesow The problem is you named you flavor `presentater` and by default paella only recognize `presenter` and `presentation`

See:
https://github.com/opencast/opencast/blob/c910481af7ceb838bf739e7a7f9b6a0d6fe36d7d/etc/ui-config/mh_default_org/paella/config.json#L145-L151

You can configure your installation adding a new videoSet with the flavor `presentater`
[code]

[2020-11-09 13:15] lkiesow commented on #2046
Good catch.
But then Paella should not show the video at all, should it?
It does show the video. Just very small.

[2020-11-10 07:36] ferserc1 commented on #2046
In general, in paella player we don't add code that controls those failures derived from a bad configuration of the player, because we understand that this type of failures should never happen. The video is shown like this simply because after it is added to the player, a failure occurs when applying the layout, and that failure is not being controlled.

However, I have added an issue in the paell

[2020-11-10 15:41] lkiesow commented on #2046
I've dropped the „needs attention“ label since it definitely isn't that important given the current findings.

[2020-11-11 14:22] mliradelc commented on #2034
Video Showing the bug:
https://www.youtube.com/watch?v=L3l-TsWoyFM

Also, I found the code that creates the issue:
`modules/execute-workflowoperation/src/main/java/org/opencastproject/execute/operation/handler/ExecuteOnceWorkflowOperationHandler.java`
[code]

[2020-11-12 11:12] lkiesow commented on #1596
Some additional findings:

- @Rillke pointed out that this might be caused by the changes in https://github.com/opencast/opencast/commit/89bf9ca32f4debe5b5b8e163ea131191245bb182
- The issue does not appear on non-scheduled events (tested against develop and 8.x)

[2020-11-12 11:37] lkiesow commented on #1961
Pull request #2032 identified a number of issues in the current documentation.
They are marked by `
docs/configuration/basic.md:4:
docs/configuration/message-broker.md:25:
docs/configuration/message-broker.md:40:
docs/configuration/message-broker.md:44:`/usr/share/doc/activemq/README.Debian`.
docs/configuration/message-broker.md:47:
docs/configuration/message-broker.md:52:
docs/configuration/messa

[2020-11-12 13:26] horstmannmat commented on #1798
I am having the same issue,  or a little bit more generic, when I try to apply the ROLE_ANONYMOUS, even with more than one role,  to read a series, it does not apply, and I can't see the series at the media-module...

I don't know if it fits in your issue, but seems pretty similar

[2020-11-12 16:47] Rillke commented on #1596
To be clear, 89bf9ca prevents a customer from re-processing (i.e. starting actions on) archived material because it is in recording state and thus an action was required from my part in order to allow the customer to continue re-publishing archived material. 89bf9ca is unrelated to the issue that the state of some events reverts to "recording" after workflow information on it has been deleted by t

[2020-11-13 08:44] lkiesow opened #2069 "Incorrect Debian Package Dependencies"
I'm not entirely sure if the dependency between `opencast-X-<dist>` and `opencast-X-common` is not properly defined on a version or build level but at least on the latter, it is not well-defined:

As you can see, you can install mismatching builds without problem if you just upgrade the dist package:
[code]

I also suspect that dependencies are not well-defined on version level since I would expec

[2020-11-13 08:47] kelvin-ling opened #2070 "Matomo tracking plugin activation issue"
**Describe the bug**

Following the Matomo Tracking doc, I tried to activate the plugin with the following steps:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Open Media Module
2. Login as user
3. Play video
4. Visit Matomo web dashboard
5. Matomo webpage shows "No data has been recorded yet"
6. Matomo webpage shows URL and site ID as installation guide, which are the same values

[2020-11-13 13:21] lkiesow commented on #2070
That seems to be incorrect documentation. A while ago, the configuration for the Theodul player has been moved to
https://github.com/opencast/opencast/blob/7be29a23d0f5cbc1431324c1bba6c35f225074cf/etc/ui-config/mh_default_org/theodul/config.yml#L151-L181

Can you check if it works if you make the changes there?

[2020-11-13 13:41] gregorydlogan commented on #2069
So, the packaging is set up to conflict with non-matching minor versions (no mixing of 8.6 and 8.7) but does not currently check for packaging builds (the part after the dash).  I could fix that, but it seems to me like somewhat of a user error - you'd have to be pinning a specific version, or requesting an older one to get that situation.  Is that what you're doing?

The second error looks to me

[2020-11-13 19:18] kelvin-ling commented on #2070
Thanks @lkiesow. Glad to report it is working as intended by modifying the config.yml:

[code]

![image](https://user-images.githubusercontent.com/41847906/99108267-10f27200-2622-11eb-852d-f30ac0f61655.png)

[2020-11-13 19:25] kelvin-ling commented on #2070
Regarding the tracking plugin, is there a way to forward Opencast Media Module user login name to Matomo? From the (legacy) user statistics docs, looks like enabling the following can do the trick:

`org.opencastproject.usertracking.log.user=true`

[https://docs.opencast.org/r/8.x/admin/#configuration/user-statistics.and.privacy/#user-statistics-and-privacy](url)

I can see on Matomo dashboard it

[2020-11-14 13:21] lkiesow commented on #2070
Great to hear that it worked.
Do you by any chance have time to update the docs?
They live in this GitHub repository at:
https://github.com/opencast/opencast/blob/develop/docs/guides/admin/docs/modules/player.matomo.tracking.md

Unfortunately, I don't know if submitting the username is possible (I've never actually used the Matomo plugin myself)

[2020-11-15 12:26] #2070 closed, assigned to nobody

[2020-11-16 14:22] mheyen commented on #1596
I was not able to reproduce this so far.

However, the status of a scheduled event changes from `Finished` to `Ingesting` when I delete the Workflow of the event.
This happened in develop and r/8.x .
I was not able to start a new workflow with `Start Task`.

[2020-11-16 20:28] Rillke commented on #1596
Do you need access to our Opencast instance? If so, please email us.

[2020-11-17 15:38] mtneug commented on #1860
Is this still happening? I cannot replicate with the test instances.

[2020-11-17 16:15] mliradelc commented on #1860
You have right!, I'm testing right now and I will let you know, both say now error 419 so should be fixed.

[2020-11-18 00:47] karendolan commented on #2034
Closed with commit 4959712 in r/8.x

[2020-11-18 00:47] #2034 closed, assigned to nobody

[2020-11-19 08:09] Rillke commented on #1749
- Opencast 9 uses Paella as the default player
- Questions were rosen asking whether Opencast needs 2 players
- There have been rumours that Theodul probably won't be maintained in future
- We decided not to invest time or money into a dying software component

Therefore, we installed a hack to `/engage/theodul/ui/core.html`; of course feature or "bug detection" would be better, however this proba

[2020-11-19 22:34] #1688 closed, assigned to gregorydlogan

[2020-11-20 16:07] mliradelc commented on #1860
@mtneug Unfortunately is still Happenning the error in the presenter node.

Please, anyone! can anyone test opencast 9.x in node config, to confirm or discard this bug. We are less than a few weeks for the release of Opencast 9.x.

[2020-11-20 23:01] #1860 closed, assigned to gregorydlogan

[2020-11-21 22:36] lkiesow opened #2085 "Javadoc build broken with Java 11"
Running `mvn site` with Java 11 results in several errors and a failed build.
Since we haven't actually used/deployed site for years, it begs the question if we actually need this and want to spent the effort of fixing this.

<details>
<summary>mvn site build log</summary>

[code]

</details>

[2020-11-21 23:15] gregorydlogan commented on #2085
I don't care about site itself, but pmd, cpd, coverage, and javadocs are all important. Whether there are better ways to generate these reports than site I'm not sure, but I'd imagine. It's dog slow too so if we can cut it that would be a (fairly major) bonus.

[2020-11-21 23:48] lkiesow commented on #2085
When asking about `mvn site` I was mainly referring to the Javadoc (_fixing the title_) which we never seem to actually use (though we constantly build it)

[2020-11-22 04:23] gregorydlogan commented on #2085
Ah. Well that's an easy decision: javadocs are required to push files to maven central :)

[2020-11-23 00:33] lkiesow commented on #2085
The we have to fix them, I guess

[2020-11-23 02:22] gregorydlogan commented on #2085
I can take a look at this. I see `develop` is busted, did you have time to check any earlier versions?

[2020-11-23 15:37] lkiesow opened #2098 "CaptureAgentsEndpointTest requires unused network port"
Running the admin interface tests failed with:

[code]

…which is most likely a concurrency problem.
I any case, the tests shouldn't hard-code a single port but at least try a range of ports if one is already in use.

[2020-11-23 21:18] gregorydlogan commented on #2098
Looking at this test, it's already trying [100 (hopefully) different ports](https://github.com/opencast/opencast/blob/develop/modules/rest-test-environment/src/main/java/org/opencastproject/test/rest/RestServiceTestEnv.java#L118) as part of the test setup.  Is this repeatable?

[2020-11-23 22:12] lkiesow commented on #2098
I think what could be the problem is that multiple tests decide on the same port which then causes the error. That said, chances are still pretty slim that this happens often. I guess we can close this for now. We can always re-open this if the problem starts popping up on a regular basis.

[2020-11-23 22:16] lkiesow commented on #2069
The first happened since I've upgraded one package, not realizing that you had split them up into two parts. Since both were upgraded though it seemed like the changes in both were important and I thought they should probably match. But then… you have more insight into how you build the Debian packages. If you say it's fine that they not require each other, feel free to close this.

[2020-11-24 19:04] gregorydlogan commented on #2018
@lkiesow @karendolan I can't reproduce this locally with either JDK.  Is this still happening for you?

[2020-11-24 19:45] #1907 closed, assigned to KatrinIhler

[2020-11-24 20:46] gregorydlogan commented on #2018
Per discussion on Matrix, this might have been fixed with the JDK update.  Regardless, we'll close this and can reopen if this resurfaces.

[2020-11-24 20:48] gregorydlogan commented on #1987
Closed with #1988

[2020-11-24 20:48] #1987 closed, assigned to nobody

[2020-11-26 13:26] KatrinIhler opened #2104 "No longer possible to filter events table by user name"
Back in 7.x it was possible to filter the events table in the Admin UI by username, this way you could get every event the user had read and write rights on. Since 8.x this no longer seems to work. Was this an intentional change (if yes - why?) or an unintended side effect?

[2020-11-27 18:27] xcelina opened #2105 "Movable and resizeable video overlay"
Currently, when using separate presentation- and presenter-videos in overlay mode, the smaller videos is always shown in the bottom left corner at a fixed size. However, depending for example on the layout of the slides, it might be necessary to move the overlay to a different position, and/or to resize it.

[2020-11-30 19:02] lkiesow commented on #2105
This is not true for Opencast's default player in the latest stable:

![oc-player-layout](https://user-images.githubusercontent.com/1008395/100652179-cfaed180-3346-11eb-9455-ce1595a28db4.png)

Are you using another player?

[2020-12-02 10:41] theodortruffer opened #2115 "Changes to start date & time not effective via External API"
**Describe the bug**
When the metadata fields 'startDate' and 'startTime' of an event are manipulated through the External API, the changes are visible in the AdminUI but not when fetching the event via External API.
I also noticed that the 'created' date/time is being updated instead (which is observable both via AdminUI and External API).

**To Reproduce**
* Update Event Metadata through Externa

[2020-12-03 11:25] mliradelc commented on #2115
Hi Theodor, Thanks for noticing this behavior. :smiley:

 I will look  into that. Sounds like that parameter is not  declared in the post code of the external api

[2020-12-03 12:27] theodortruffer commented on #2115
Hey Max, thank you for looking in to this! I forgot to mention: It's the same behavior if you update the start date/time via AdminUI.

[2020-12-03 15:36] lkiesow commented on #1969
Related to #1798

[2020-12-06 16:29] peculiarPrince opened #2117 "Elasticsearch install missing from User (admin) docs"
As per the OC 9.x [Release Notes](https://docs.opencast.org/develop/admin/#releasenotes/#opencast-9-release-notes) `Opencast now requires an external Elasticsearch server to function`, but there is no mention of installing Elasticsearch in any doc of the Install documentation.
Current `elasticsearch` mentions in the user docs:
- The [Upgrade doc](https://docs.opencast.org/develop/admin/#upgrade/#i

[2020-12-06 20:47] gregorydlogan commented on #2117
I'll handle the deb docs since the repo is also being restructured. I'll let @lkiesow handle the rpms, or let him delegate to you :-) The question is who will handle the rest...

[2020-12-08 13:45] felix-itz opened #2127 "Validate possibly user-supplied XML"
Please validate XML which is possibly user-supplied, i.e. not generated entirely by Opencast itself.

**Describe the current situation**

1. Opencast allows ingesting DC catalogues and other XML files from various endpoints.
2. Those XML files are not checked for [illegal XML](https://github.com/sparklemotion/nokogiri/issues/1581#issuecomment-272455205) characters.
3. During processing these inval

[2020-12-11 10:01] mtneug opened #2135 "Use proxy_cookie_flags instead of hacked proxy_cookie_path"
**Describe the bug**

The documentation recommends the use of `proxy_cookie_path` for setting cookie flags. Since nginx 1.19.3 the new configuration key `proxy_cookie_flags` exists that is meant or setting cookie flags. I don't know if we should migrate now since 1.19.3 is a relatively new version and people probably still use 1.18 / 1.17.

[2020-12-11 10:02] mtneug opened #2136 "Allow for custom Opensearch index configuration to allow HA setups"
**Describe the bug**

The Elasticsearch index configuration is hardcoded as Java resource. It should instead be a configuration file to allow for a HA configuration with multiple replicas.

[2020-12-11 10:40] Arnei opened #2137 "Videogrid Remote fails with BadMessageException"
**Describe the bug**
When trying to process a video conference recording with ~50 webcam videos, the video grid remote throws an exception, causing the videogrid WOH to fail:

[code]
My suspicion is that the bug is caused by the way the Videogrid WOH sends ffmpeg commands to the Videogrid Service. Currently, the WOH generates all necessary commands and sends them as to the service as a single argu

[2020-12-11 13:25] gregorydlogan commented on #2137
There's definitely a maximum character length for the arguments, not sure if that's configurable. There's probably a max number of arguments too, but I suspect you'll likely be under that for any reasonable number of streams.

[2020-12-11 13:27] gregorydlogan commented on #2135
We should probably document both, since the new behaviour will be the right way going forward but we'll have adopters on the old version for a very long time still.

[2020-12-11 22:05] gregorydlogan commented on #2117
@mtneug Can you verify that the docker compose files for 9.x will have the appropriate bits to support ES?

[2020-12-13 17:59] peculiarPrince opened #2139 ""Requirements" Section is missing from Brightspace User Provider doc"
Found at `docs/guides/admin/docs/configuration/security.user.brightspace.md` in GitHub or [here](https://docs.opencast.org/develop/admin/#configuration/security.user.brightspace/) in the docs

[2020-12-14 10:47] lkiesow opened #2143 "Update Documentation Build"
The current build process nears its end of life.
For the migration, I want the following things to happen:

- [x] Migrate to GitHub Actions
    - We are currently on the old deprecated Travis CI infrastructure
    - Actions seems to be a better choice than modern Travis CI
    - CircleCI would be an alternative
- [x] Identify `stable` version
    - Include the information in the automatically gene

[2020-12-14 11:26] tyfranck opened #2146 "Dead Google Transcription jobs can indefinitely throw exception"
Transcription job error due to problems with the Google transcription APIs can result in indefinite exceptions.
E.g. `Exception when calling the recognition endpoint for media package unknown, job id 6199909346655994050`

[2020-12-14 11:37] tyfranck opened #2147 "Enable support for Google Speech-to-text API premium/enhanced service (Video)"
The enhanced video models currently available for en-US provides better results:
https://cloud.google.com/speech-to-text/docs/enhanced-models

[2020-12-14 11:41] tyfranck opened #2148 "Enable support for automatic punctuation for Google transcription service"
Punctuation is available for a number of languages:
https://cloud.google.com/speech-to-text/docs/automatic-punctuation

[2020-12-15 03:17] gregorydlogan opened #2149 "Ensure CAS Security docs are up to date"
**Describe the bug**
The docs for CAS have always been... special.  We should ensure they're accurate with modern Opencast.

See [this comment](https://github.com/opencast/opencast/pull/2138#discussion_r541667887_) on PR #2138.

@turro UPV is using CAS right?  I'll get the docs out of JIRA, can your staff take a look through it and make sure it's up to snuff?

[2020-12-15 12:46] peculiarPrince opened #2153 "Configuration/workflow.md needs an overhaul/rewrite"
There was no quick fix to be found while editing, as this page is a "weird mixture between reference and step-by-step guide" (as per @lkiesow ). It will need some TLC!

For further info, see [this comment](https://github.com/opencast/opencast/pull/2138#discussion_r542963500) in PR #2138

[2020-12-15 13:37] peculiarPrince opened #2155 "Configuration/load.md has too many words"
There is a lot of text, which most users will not want to read and likely skip. The page should be edited down to contain only the relevant necessary information

For further info, see [this comment](https://github.com/opencast/opencast/pull/2138#discussion_r541657829) in PR #2138

[2020-12-16 00:18] Rillke opened #2157 "Magnifying or minifying a video in Paella on Engange using 🔍 will also start/stop the video"
**Describe the bug**
A clear and concise description of what you see:
*When opening a published video on https://stable.opencast.org and clicking the 🔍 with a + or -, the video is magnified or minified but the playback state is also toggled (i.e. a playing video stops and a stopped video starts playing)*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.opencast.org
2. Cli

[2020-12-16 00:26] Rillke commented on #2157
This issue is reproducable on https://paellaplayer.upv.es/demos/ and on r/8.x (paella 6.2.7), but on r/8.x the issue occurs only once (i.e. even if you press the magnification glass multiple times after loading the page, the playback state is only toggled once)

[2020-12-16 00:27] Rillke commented on #2157
A related issue: Pressing the magnifying glass twice may toggle the browser's full-screen state.

[2020-12-16 00:34] Rillke commented on #2157
Upstream report: https://github.com/polimediaupv/paella/issues/649

[2020-12-16 02:57] gregorydlogan commented on #2155
I should just link to the *hour long talk* I gave instead... :)

[2020-12-16 02:59] gregorydlogan opened #2158 "Stream security docs need cleanup"
The stream security documentation is excessively wordy, and should be cleaned up.

_Originally posted by @gregorydlogan in https://github.com/opencast/opencast/pull/2138#discussion_r541672620_

[2020-12-16 03:08] gregorydlogan commented on #2149
[This](https://github.com/opencast/opencast/files/5700044/MH-UniversityofSaskatchewanCASandLDAPintegration-161220-0305.pdf) is a PDF of the docs as they stand in the wiki.  They were written in the 1.2 (and earlier!) days so things have changed *a lot*.  Likely they're not useful, but considering how many people come around asking about CAS it's worth investigating what, if anything, if useful.

[2020-12-17 10:16] kristofkeppens opened #2162 "Missing uploadprogress when uploading via LTI"
**Describe the bug**
There is no uploadprogress when uploading via LTI. This confuses some users as there is no feedback regarding what is happening.

[2020-12-17 13:14] kristofkeppens opened #2164 "Adding LTI deeplink as a tool to the LTI module"
The LTI module now does not have an easy way to integrate content into the LMS. Via the LTI deeplink mechanism an end user can easily add videos to their LMS course.

This issue aims to fix this by adding a new tool to the LTI module, deeplink.

[2020-12-18 10:47] kristofkeppens opened #2167 "LTI upload mislabels the captions file ( and default workflow as well )"
When looking at the paella source code it expects captions as attachment with flavor captions/format+language . However the lti upload now uploads captions with flavor vtt+en/captions . The default partial-ingest workflow also tags */captions instead of captions/* for distribution to engage-download. This way paella never picks up the captions.

[2020-12-18 11:31] lkiesow commented on #2098
It seems like something doesn't seem to work like it should. I've seen at least two more exceptions like this:

[code]

Every time it seems like the test is trying to use port 8084. That's less random than expected…

[2020-12-18 15:15] lkiesow commented on #2158
IIRC, we also wanted to rename it to something like “Token Authorization” since it does not actually protect any transport streams.

[2020-12-19 00:04] gregorydlogan commented on #2158
Good point, thanks for the reminder.

[2020-12-22 18:37] lkiesow commented on #2164
Closing this since it is basically a duplicate of  #2165

[2020-12-22 18:37] #2164 closed, assigned to nobody

[2020-12-29 14:19] lkiesow opened #2180 "LTI Rest Endpoint on Admin throws Exception"
The REST docs of the LTI service on the admin node throws an exception:

![lti-rest-endpoint error](https://user-images.githubusercontent.com/1008395/103290150-2ad8f000-49e9-11eb-9195-2a2046eb7b6a.png)

This happens with the new tools on `r/9.x`

[2020-12-29 16:21] lkiesow opened #2182 "LTI Landing Page Missing Upload Tool"
The 9.x LTI landing page is missing all mentions of the LTI upload tool while referencing all other options:

stable.opencast.org/ltitools/

[2020-12-29 16:24] lkiesow opened #2183 "LTI Upload Tool Throws Error if No Series Specified"
If no series is specified, the 9.x LTI upload tool ends up showing nothing but the unhelpful (incorrect?) error message:

You can test this at

- https://stable.opencast.org/ltitools/index.html?subtool=upload

[2021-01-01 04:32] Srinivasysr2003 opened #2184 "Opencast is not finding ActiveMQ which is running"
**Describe the bug**
When I see system Notifications, I can see below 2 messages.
Active MQ Not Found
Service States Not Found

Opencast notification screenshot.
![image](https://user-images.githubusercontent.com/39143298/103433509-0d3d9d80-4c18-11eb-95df-31242c5d2473.png)

ActiveMQ Admin page screenshot which works fine.
![image](https://user-images.githubusercontent.com/39143298/103433520-3b22e2

[2021-01-01 15:24] gregorydlogan commented on #2184
A few things:

- Debian based systems have packages available. This is highly recommended versus manually installing, much less compiling from source!
- Installation instructions *from our docs* are generally a better idea than finding something on an unrelated website online.
- 8.1 is out of date, install 8.10, or better yet 9.1. This wouldn't affect the issue here though.
- You didn't configure

[2021-01-01 19:07] lkiesow commented on #2184
Closing this since it's not confirmed on a supported version and I could not reproduce the issue.
Please re-open if there is a way to reproduce the issue.

[2021-01-01 19:07] #2184 closed, assigned to gregorydlogan

[2021-01-01 19:11] lkiesow commented on #2143
Done except the “Include version dropdown in the docs” which I'll not implement for now.

[2021-01-01 19:12] #2143 closed, assigned to lkiesow

[2021-01-01 19:17] lkiesow commented on #2105
Closing this for now due to lack of response. If this is still an issue, please feel free to re-open this.

[2021-01-01 19:17] #2105 closed, assigned to nobody

[2021-01-01 19:22] lkiesow commented on #2021
Fixed by #2049

[2021-01-01 19:22] #2021 closed, assigned to marwyg

[2021-01-01 19:35] lkiesow commented on #1525
Should be fixed by now given that you configure Studio to publish to the editor though usually, the Studio-Editor should be sufficient.

[2021-01-01 19:35] #1525 closed, assigned to lkiesow

[2021-01-01 19:52] lkiesow commented on #1769
- https://github.com/opencast/opencast/issues/2167
- https://github.com/opencast/opencast/issues/2180
- https://github.com/opencast/opencast/issues/2182
- https://github.com/opencast/opencast/issues/2183

Also, there are several problems pointed out in the review at:

- https://github.com/opencast/opencast/pull/1018/files?file-filters%5B%5D=.java&file-filters%5B%5D=.js

[2021-01-03 14:12] felix-itz opened #2187 "Admin UI can't create event with illegal XML characters in its meta data"
**Describe the bug**
A clear and concise description of what you see:
*When I supply invalid XML (e.g. a title containing a vertical tab character) for the event meta data while uploading a video in the Admin UI I get an error message: `The event could not be created` instead of a new event in the list of events*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.opencast.o

[2021-01-03 23:33] lkiesow commented on #2157
Has been fixed in https://github.com/polimediaupv/paella/commit/5d80f3d1fccd94e259f15622da81f69d5ed97d0b (probably Paella 6.4.6)

[2021-01-05 16:29] #2182 closed, assigned to nobody

[2021-01-07 10:19] DZenker opened #2204 "Repeated "duplicate entry" warn messages in the log for session_id in table oc_user_session if user tracking is activated"
This issue has been reported a while ago in the Opencast user group, but no one had created an issue for that. If user tracking is activated, repeated duplicate entry warnings show up in the logs of the presentation node for primary key of session_id in table oc_user_session. This has been observed by several Opencast adopters.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate user tr

[2021-01-07 16:49] lkiesow opened #2205 "Remove Elasticsearch from basic cofiguration docs"
New adopters installing Opencast should usually follow the steps:

- Select an installation type
- Follow the installation guide (e.g. Install via CentOS 8 Packages)
- Go through basic configuration (since all install guides link to it)

So, you have a reading flow like this:

[code]

The basic documentation are not very useful for old installations, upgrades, advanced users, … and will likely be

[2021-01-07 16:52] lkiesow commented on #2204
Closing this as it is a duplicate of #1617

[2021-01-07 16:52] #2204 closed, assigned to nobody

[2021-01-08 09:15] Gao-Jun opened #2207 "Edit button doesn't work in LTI tool"
**Describe the bug**
The edit button in LTI tool doesn't work.
If an user want to change the tilte of an episode, an error message shows up.
After digging the source code, I found the LTI tool trys to start a `republish-metadata` workflow.
Yet, this workflow seems only apply to an event in `working` state according to IndexServiceImpl.java#updateWorkflowInstance
So, technically, this edit button w

[2021-01-08 14:25] DZenker commented on #1617
As described in #2204, this also occurs with valid session ID's. The difference is, that this behaviour is hard to reproduce (at least I was not able to...).
Thus, the easiest way to solve this would be to remove the PK from this field. Disadvantage of this solution is that the views counting would be less accurate...

[2021-01-08 15:18] kristofkeppens commented on #2207
@Gao-Jun I can confirm that there is something wrong with the edit functionality in the LTI module ( for opencast  9.x ). I'm even unable to get to the edit form, as soon as I select the edit button I get an error on the /lti-service-gui/*****/metadata endpoint being unavailable. We'll have a look at what's going on.

[2021-01-08 19:30] rute-santos commented on #1617
We fixed this in our 5.x-6.x Opencast. We changed populateSession() to synchronized and committed the session to the db in that method. I can create a PR.

[2021-01-12 00:17] #1201 closed, assigned to lkiesow

[2021-01-12 14:54] gregorydlogan commented on #2205
It was mainly added as a second check to make sure that users have definitely installed Elasticsearch - the Debian packages don't explicitly depend on the package being installed for example.

I suspect longer term we might want more config (auth), but for now there really isn't a ton of point in that piece of documentation.  Doubly so because it's a circular reference: The basic config references

[2021-01-12 23:51] Rillke commented on #1596
@mheyen Would you like to get access to our Opencast instance?

[2021-01-12 23:56] Rillke commented on #1690
Backported this to r/8.x and it seems to work:

[code]

while instructors are still stored in the `oc_user_ref` table

Probably of note for anyone testing this: If the user is not persisted and one changes the roles submitted from the LTI client to include one that should be persisted and the user still exists in Opencast's memory, it won't persist the user.

[2021-01-13 22:36] lkiesow opened #2213 "Removing access to episode removes access to series in search service"
Removing access to an episode which is part of a series with several public episodes removes access to the series in the search service. The other episodes can still be found using `/search/episodes.json` but the series is no longer listed in `/search/series.json`.

To reproduce the issue:

- Create a series
- Publish two public events
- Check the series in the media module (it will be listed)
- S

[2021-01-13 23:34] lkiesow commented on #2187
This may be caused by mixing XML1.0 and XML 1.1, see: https://stackoverflow.com/questions/5869191/character-reference-x1f-is-an-invalid-xml-character/11264294

[2021-01-14 04:41] npmali opened #2215 "oc_assets_asset mime_type length too short for .docx files"
**Describe the bug**
The attach-transcription workflow fails when attaching a .docx file due to the length of the mime_type in the oc_assets_asset database table that is currently varchar(64).

**To Reproduce**
Steps to reproduce the behavior:
1. Create / upload a recording
2. Request better captions for the recording
3. After some time, check the workflow history of the recording
4. Click on the

[2021-01-14 18:15] felix-itz commented on #2215
`"application/vnd.openxmlformats-officedocument.wordprocessingml.document".length == 71`

[2021-01-14 20:58] lkiesow commented on #2117
I can:

https://github.com/opencast/opencast-docker/blob/0ef9bc1a77b1864902a603db5ed6b54833aaaf72/docker-compose/docker-compose.allinone.h2.yml#L34-L39

[2021-01-14 20:58] #2117 closed, assigned to nobody

[2021-01-14 21:55] gregorydlogan commented on #2215
While I agree that this is less than optimal, I would be *shocked* if attaching a `docx` would work even without this bug - there's no reasonable `docx` decoder that I'm aware of, so Opencast would have no way to parse the file and do anything useful with it.

You're trying to attach manually generated captions I take it?  Generally we're expecting `vtt` or `dxfp`, although @tyfranck would know mo

[2021-01-15 10:12] tyfranck commented on #2215
@gregorydlogan  is right, `docx` is not a caption format. I'll add `srt` to the list he highlighted.
I think it's wrong to add any file type as caption if it's not a recognised caption extension.

Maybe what you're looking for is the ability to add an attachment of any sort to the mediapackage.

[2021-01-15 10:17] mtneug commented on #2117
@gregorydlogan sorry, I missed the ping :/

[2021-01-15 10:21] TurRil commented on #2215
We are using the Nibity (way-with-words) transcription service - they send back a packaged zip file containing a `vtt` and a `docx` (transcript without the timing information) as such we wanted to add the `docx` as a downloadable attachment for the event so students would be able to just read through the transcript as a stand-alone document.

According to RFC 4288 "Media Type Specifications and Re

[2021-01-15 14:44] karendolan commented on #2215
Our sites uses the Opencast manual asset upload feature to attach PDF lecture files to the event mediapackage. This allows students to download the PDF lecture slides from the player.

[code]
https://docs.opencast.org/r/9.x/admin/#configuration/admin-ui/asset-upload/

[2021-01-17 13:36] lkiesow opened #2218 "NullPointerException when accessing series details"
When accessing the series details in the admin interface with the default configuration, a `NullPointerException` is being logged:

[code]

Happens on `r/9.x`

[2021-01-18 09:45] mheyen commented on #1596
sorry for the late reply. I am afraid I am currently not going to look into this, and am probably not the right person to tackle this anyway :)

[2021-01-18 22:04] #1169 closed, assigned to lkiesow

[2021-01-18 22:04] #1177 closed, assigned to lkiesow

[2021-01-19 13:02] felix-itz opened #2234 "Image WOH with time set to percentage and missing frame count results in extraction at position 0"
**Describe the bug**

With the following configuration (Image Workflow Operation Handler) with configuration "time" set to a percent value, and a track missing information about the frame count, the image is (attempted to) extract at position 0.

**To Reproduce**
Steps to reproduce the behavior:
1. Get the set of Opencast's default workflows, notably partial-preview.xml with

       <operation

[2021-01-19 13:05] felix-itz commented on #2234
Would it be sufficient to document Image-WOH-with-time-in-percent's reliance on the frame count, and advice to use `accurate-frame-count` by Inspect's WOH?

[2021-01-19 14:01] felix-itz opened #2235 "Inspect WO with overwrite=false,accurate-frame-count=false can empty the frame count field"
The InspectWorkflowOperation has 3 options, of which 2 are of interest here: `accurate-frame-count` and `overwrite`.

Running a Workflow on an event whose frame count can't be determined otherwise with `accurate-frame-count` set to `true`, will result in the frame rate field being set (you can see this in the Admin UI/Event/Assets/Media/Details). Running a second `inspect` with `accurate-frame-cou

[2021-01-19 18:13] lkiesow opened #2236 "Workflow operation `prepare-av` should be able to handle `source-flavors`"
The [workflow operation `prepare-av`](https://docs.opencast.org/r/9.x/admin/workflowoperationhandlers/prepareav-woh/) is currently only capable to handle a single flavor using the `source-flavor` configuration. It would be great if it could support `source-flavors` including wildcards as most other operations do.

[2021-01-19 19:24] LukasKalbertodt opened #2238 "Reformat code according to checkstyle"
Starting with #2216, we have some checkstyle-rules which have exceptions defined for specific files/modules. We want to get rid of those exceptions one by one. So this issue tracks the progress of correctly formatting the code and removing those exceptions in `checkstyle-suppressions.xml`.

I plan on doing a good chunk of this work myself, but obviously, there is a lot to do. Both, fixing the code

[2021-01-19 19:38] #1617 closed, assigned to nobody

[2021-01-20 00:19] gregorydlogan commented on #2236
Does #2125 fix this?

[2021-01-20 12:18] #2127 closed, assigned to nobody

[2021-01-21 15:38] lkiesow opened #2242 "Migrate from Dependabot Preview to Dependabot"
Dependabot is moving natively into GitHub.
We should migrate at some point:
https://docs.github.com/en/github/administering-a-repository/enabling-and-disabling-version-updates#enabling-dependabot-version-updates

[2021-01-25 16:57] gregorydlogan commented on #2218
Resolved with https://github.com/opencast/opencast/commit/f9a1090a2ab4764a9e090be423491b168d4c1a15

[2021-01-25 16:57] #2218 closed, assigned to nobody

[2021-01-25 17:07] gregorydlogan opened #2254 "Series Modal does not display feeds"
**Describe the bug**
Follow up for #2218, the series modal does not display any feed data.  The backend request succeeds, but the modal shrinks down to the tab bar and does not display any feed data.  This behaviour is present in `r/9.x` but not `r/8.x`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to stable.opencast.org
2. Click into a series metadata pane
3. Click on feeds

**Environ

[2021-01-25 21:25] pascalseeland opened #2256 "Unsyncronized access to none thread save object"
When several clients upload files at the same time, the jobmarshaller may be called by multiple threads despite not being thread-safe.This breaks the marshaller at
https://github.com/opencast/opencast/blob/b42390c72fb0112bcfa7eaa94c636c2e21d09c6e/modules/fileupload/src/main/java/org/opencastproject/fileupload/service/FileUploadServiceImpl.java#L256-L263 which then requires a restart of the admin n

[2021-01-25 22:47] lkiesow commented on #2254
The issue is not limited to feeds. You see the same in the theme and statistics tabs. Likely the same issue we have seen in the video editor when we upgraded angular and it reacted less nice to (already) broken HTML. I will take a look.

[2021-01-28 16:15] mliradelc commented on #2115
Hi @theodortruffer

Sorry for the late, I went to vacations a few days later I saw your enquiry. Now, I found the solution:

**Short answer:**

Try to use this format for the date and time
[code]

**Long answer**

After looking over this issue, yes you are correct that there an issue with the POST and PUT in the external API, but it comes more in the realm of the documentation than the code itself

[2021-02-01 21:28] lkiesow opened #2276 "Ingesting to event with running workflow causes internal server error"
Trying to ingest media to an event with running workflow causes Opencast to throw a stacktrace and return a 500 Internal Server Error while it should return something like 409 Conflict.

To reproduce, start a workflow on an event, then ingest using the events identifier like this:

[code]

The following stack trace will be logged:

[code]

[2021-02-02 09:56] theodortruffer commented on #2115
Hey Max

Unfortunately, that doesn't solve our problem. But I found something else: the changed start date appears correctly when calling '/api/events/[id]/metadata', but incorrectly when calling 'api/events/[id]'. So the problem seems to be the field 'start' inside the event data, not the actual metadata. I guess the metadata field value should be written to the event data field at some point?

C

[2021-02-02 12:56] mliradelc commented on #2115
Hi Theo

Now I understand you better, because when I checked, I was checking only the metadata field.  But the thing that Opencast call metadata is only the Dublincore file. There is another set of "metadata" that is call itself.

In the case of the metadata "outside" the Dublincore file, the start is called `TechnicalStartTime`, from what I know is the real time when the file was added. And there

[2021-02-02 14:58] #1664 closed, assigned to tyfranck

[2021-02-02 14:59] karendolan commented on #1664
fixed in develop branch via commit c87ef69.

[2021-02-02 15:00] karendolan commented on #2146
Patched in develop branch via commit c87ef69.

[2021-02-02 15:00] #2146 closed, assigned to tyfranck

[2021-02-02 16:57] AndreasUrra opened #2278 ""Publish" after scheduling with "Hold" does not offer options but uses parameters of "Publish right away to""
**Describe the bug**
The "Publish" workflow from within the video editor will not show the same options as starting the "Publish" task from the list. Thus, whatever options were chosen during scheduling will take effect (e.g. with "Proces upon upload and schedule")

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule an event in Opencast
2. record
3. go to the video editor
4. chose "Publ

[2021-02-02 16:57] gregorydlogan opened #2279 "Admin UI reports that the current version is unsupported if it can't reach GitHub"
**Describe the bug**
If your admin UI cannot reach GitHub it reports that the current Opencast version is no longer supported, regardless of which version of Opencast you are currently running.

**To Reproduce**
Steps to reproduce the behavior:
1. Firewall your machine off from GitHub
2. Restart your browser
3. Go to the admin UI
4. See error

**Environment Information**
Demonstrated with Opencast

[2021-02-02 17:06] gregorydlogan commented on #2279
The relevant version endpoint returns `""` when queried.

[2021-02-02 19:11] kristofkeppens opened #2280 "Admin UI has a maximum of 10000 entries per table"
We just upgraded to opencast 9.1 and notice that the Admin UI is limited to 10000 entries per table. For instance the series tab show 10000 rows, while we have a lot more series. Same for the events where each table is limited to the same 10000 entries.

[2021-02-02 22:56] gregorydlogan commented on #2280
... What was the previous behaviour? A 10k limit doesn't sound surprising to me, which makes me think you're seeing the result of a fix for something.

[2021-02-02 22:57] lkiesow commented on #2280
Can you provide a few more details?

- Are the total numbers in the admin interface correct?
- What do you mean by _in one table_? You probably do not have a single page with 10000 entices. Does the pagination end at 100 pages with 100 entries each?
- Did the problem appeared with 9.1? Or did you only just notice?

[2021-02-03 06:33] trueeh opened #2282 "NullpointerException and missing table 'opencast.oc_adopter_registration' after migration from 8.10 to 9.1"
After upgrading from 8.10 to 9.1 Opencast has a NullpointException and complains about a missing a table.

**To Reproduce**
Steps to reproduce the behavior:
1. take a well-used 8.10 installation
2. migrate to 9.1 by using the debian packages from repo following the documentation
3. log in to the UI
4. See errors in logfile

**Environment Information**
 - OS: Ubuntu 18.04.5, Java 11.0.9.1, MariaDB

[2021-02-03 10:02] kristofkeppens commented on #2280
* Total numbers or not correct, having a limit at 10000 would be fine if at least the totals would be correct.
* It looks like that there is a limit to 10000 for each query to the elasticsearch database. So for instance our Finished items in the Admin UI are now exactly 10000 ( which is not correct ) . Same for the series. Total number of rows is reported as 10000 as well, but there are a lot more

[2021-02-03 14:54] trueeh commented on #2282
If you turn on query logging in MariaDB, you can find the create command:
CREATE TABLE oc_adopter_registration (adopter_key VARCHAR(255) NOT NULL, agreed_to_policy TINYINT(1) default 0, allows_error_reports TINYINT(1) default 0, allows_statistics TINYINT(1) default 0, city VARCHAR(255), contact_me TINYINT(1) default 0, country VARCHAR(255), created DATETIME NOT NULL, last_modified DATETIME NOT NUL

[2021-02-03 14:58] lkiesow commented on #2279
Reopening this since I still see two issues with the current fix:

---

First, users which are for example behind a firewall blocking GitHub will always see an error in the user interface. This essentially means that important errors like failing connections or services which are in an error state may not be noticed any longer:

![Screenshot from 2021-02-03 15-45-22](https://user-images.githubuser

[2021-02-03 16:46] theodortruffer commented on #2115
Thanks for the explanation, that's exactly the knowledge about Opencast that I'm lacking! It is quite confusing sometimes :)

I'm a bit afraid that `withmetadata=true` could affect our performance. But using the Created field as workaround seems like a good idea. I will have a look at that.

I'm curious whether they consider this a bug. ;) Thanks for your effort anyways!

[2021-02-03 18:07] karendolan commented on #2115
The "startDate" is not a dublinCore term. It's confusing to include it as dublincore flavor.  The DublinCore temporal is used for adminUI technical start date. https://www.dublincore.org/specifications/dublin-core/dcmi-terms/

[2021-02-03 20:26] lkiesow commented on #2282
As a workaround for the nullpointerexception, make sure you have these in your custom.properties:

https://github.com/opencast/opencast/blob/e9f79c2d585e3c5facc24d04681753b948704041/etc/custom.properties#L313-L319

The value does not really matter

[2021-02-03 20:34] lkiesow commented on #2282
The database key length setting is a MariaDB setting.
For a configuration example, see:
https://dba.stackexchange.com/a/231234

I'll check if I can reduce the size but you might want to increase that anyway.

[2021-02-03 21:37] gregorydlogan commented on #2279
Re: placing the warning in the UI:  I'm 99% sure the widget doesn't support a 'warning' in that no number is displayed but there's still some UI change.  I would be fine with a dot on the bell, or with hiding the warning entirely.  I feel like the number of adopters with sufficiently restrictive firewalls is fairly low, and even lower if you consider that most of *those* adopters likely have two s

[2021-02-03 21:55] lkiesow commented on #2282
@trueeh could you check if  #2291 also fixes your database problem?

[2021-02-04 06:28] trueeh commented on #2282
Thanks, that fixed the NullpointerException.

[2021-02-04 13:45] trueeh commented on #2282
Thanks, yes, #2291 fixes the key length problem on my system.

[2021-02-04 15:36] kbudwi opened #2294 "Auto-creation of table oc_incident_text fails on utf8mb4 database"
Error message on missing table appears repeatedly  in opencast.log
Admin-UI not working properly
 - Table "events" loads endlessly
 - metadata forms missing when uploading media

**To Reproduce**
* install Opencast 9.1
* Start with a blank database by following instructions at <https://docs.opencast.org/r/9.x/admin/#configuration/database/>
* Start opencast service
* monitor opencast.log

**Enviro

[2021-02-04 19:56] lkiesow commented on #2294
Same comment as before, this is mostly MariaDB configuration and the official configuration of current MariaDB (see Docker container) should already work. For a configuration example, see:
https://dba.stackexchange.com/a/231234

I've created  #2295 to reduce the ID size which should still suffice, but you might want to increase that anyway.
Still, if you could check if the patch fixes the problem

[2021-02-05 08:14] kbudwi commented on #2294
Manual execution of the modified statement works without problems

[code]

With the table manually created on the on the opencast database instance, malfunctions of the Admin-UI are gone.

[2021-02-05 13:26] LukasKalbertodt opened #2297 "Standard workflow fails when resizing ultra-wide input video because resolution is not divisible by 2"
**Describe the bug**
Uploading an ultra wide (roughly 2.4:1), high resolution (2048x858) video results in a workflow processing error. The workflow runs this ffmpeg command:

[code]

In particular, see `scale=1280:-2:force_original_aspect_ratio=decrease`. The `scale=1280:-2` means: width of 1280 pixels, height such that the aspect ratio stays and make sure it is divisible by 2. So in this case: 20

[2021-02-05 22:20] lkiesow commented on #2297
I agree. This makes no sense and defeats the purpose of the `-2`.

- Either just use `scale=1280:-2`
- Or use `scale=1280:1280:force_original_aspect_ratio=decrease:force_divisible_by=2`

While the former is simpler, the latter gracefully handles portrait mode video which could otherwise have the side-effect of being blown up. For example, a 720p portrait mode video would end up being 1280x2276 sin

[2021-02-05 22:36] lkiesow commented on #2294
Thanks for testing.

[2021-02-06 00:50] lkiesow commented on #2280
@flyapen, can you test if  #2299 fixes the issue?

[2021-02-08 09:01] LukasKalbertodt commented on #2297
That second option sounds good to me. Though that would be technically incorrect when we still label the video as "720p". For reference, I just picked [a random potrait YouTube video](https://www.youtube.com/watch?v=FoMlSB6ftQg) and checked what resolutions their labels result in:

2160p -> 2160x4096
1080p -> 1140x2160
720p -> 760x1440
480p -> 570x1080

While this is strange on its own, they have

[2021-02-08 15:09] kristofkeppens opened #2308 "episode search endpoint fails for sname values containing lots of uppercase characters."
**Describe the bug**
Solr search fails for specific serie titles. For instance when you have a series with as title a name that contains a lot of uppercase letters ( TestSeriesWithUpperCaseLetters ) and you use the /search/episode.json with this title as series name you get 0 results back. Looking at the query in SOLR I noticed that this gets cast to lowercase when doing the search. In most cases

[2021-02-08 16:18] lkiesow commented on #2308
I don't remember a reason, @gregorydlogan, @rrolf, do you?

[2021-02-08 16:21] gregorydlogan commented on #2308
Not a clue. Perhaps at some point the indexing was done on all lower case, and that has since been lost? Regardless, it sounds like a bug to me now.

[2021-02-08 16:26] lkiesow commented on #2297
I think that the label is technically incorrect as soon as you are not using a 16:9 aspect ratio.
But given that it was coined for specifying a maximum resolution I find it more unexpected to exceed that resolution.

Also, users are probably confused if you label it as “decrease to 720x720 pixels bounding box”.

Will you create a pull request?

[2021-02-10 18:54] berthob98 opened #2312 "Hourly event statistics is not working"
**The bug**
The graph on the hourly event statistics is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Opencast Admin Page
2. Chose an event and click on Event Details > Statistics > Custom > Granularity: Hourly
3. The graph is not working.

**Environment Information**
 - OS: CentOS 7.9.2009
 - Browser: Firefox
 - Opencast version: 8.3.0

I also had this issue on othe

[2021-02-11 16:54] kbudwi commented on #2294
Addendum: The root cause of the database errors observed on ubuntu 18.04 LTS
while switching to the utf8mb4 character set is MariaDB version 10.1 provided in
this distribution. Here, the default InnoDB file format is Antelope and default
row format COMPACT, which only supports VARCHAR key fields up to 191 characters
(767/4=191,75) [1]. Creation of new tables with columns > 191 characters is theref

[2021-02-11 21:51] gregorydlogan opened #2313 "Kernel unit tests fail if Opencast is running in the background"
**Describe the bug**
Run Opencast in the background, then try and build `r/9.x`'s kernel module, and you'll see this:

[code]

[2021-02-11 23:21] #2254 closed, assigned to lkiesow

[2021-02-11 23:21] #2256 closed, assigned to nobody

[2021-02-11 23:21] #2280 closed, assigned to nobody

[2021-02-12 09:11] LukasKalbertodt commented on #2297
I have a patch ready, but it fails for me locally because my ffmpeg does not know the `force_divisible_by=2` option yet. What is Opencast's policy on ffmpeg versions? What versions are supported? Is there usually an ffmpeg bundled with Opencast?

[2021-02-12 14:17] lkiesow commented on #2308
@flyapen, if you have code, will you create a pull request?

[2021-02-12 16:28] kristofkeppens commented on #2308
Yes sure, at the moment I've only changed the title field, should all fields preserve the case sensitivity ?

[2021-02-12 18:48] rute-santos opened #2317 "Serverless HLS leaves files open"
**Describe the bug**
We had a “too many open files” error on engage and we tracked it down to the serverless HLS feature, which leaves the .m3u8 files open when using the AWS S3 distribution.
The culprit method is also used by the composer service so it could also happen on workers.

**To Reproduce**
Steps to reproduce the behavior:
1. Encode lots of recordings with serverless HLS
2. Run lots of a

[2021-02-13 00:27] lkiesow commented on #2278
This is not broken but was never implemented and as far as I know there never were any plans for implementing something like this in the current editor so far. That the editor honors the original settings chosen by users is a deliberate choice and was implemented like this at some point.

[2021-02-13 14:53] #2282 closed, assigned to lkiesow

[2021-02-13 14:53] #2294 closed, assigned to lkiesow

[2021-02-15 08:05] Gao-Jun commented on #2308
According to the doc, Solr will be replaced in the future.
Currently, Solr is still remain at an outdated version. It's not a good solution to keep some data in Solr and some data in ElasticSearch.
Are there any plan to migrate Solr functions?

[2021-02-17 01:22] gregorydlogan commented on #2308
Long term yes, since the current Solr version has some fairly major deficiencies. Short term it's unclear.

All of us would love to have Solr removed in favour of Elasticsearch, but no institutions have come forward with the work, or the financing to hire someone to do the work. If this is something your institution wants to take on please let us know - it's a fairly major piece of work, so it mak

[2021-02-17 05:26] Gao-Jun commented on #2308
@gregorydlogan Thank you for your reply.
Recently, I meet some problems of Opencast. After some debug work, I think functions depend on Solr cause these problems.
Maybe my institution would do something to get rid of Solr in the future. If that happens, I will let you know.

[2021-02-17 22:55] lkiesow opened #2334 "Check for presence of maven dependency plugin"
Git commit a444adcde4fd45a9b3d35707bcdfc3c32a754863 removed the check for the presence of the maven dependency plugin in all modules with a few exceptions. I'm not sure why. I think it would still make a lot of sense to check if new modules include the plugin and wouldn't have removed it.

[2021-02-21 18:14] lkiesow commented on #2098
The test still seems to be problematic. I have seen this fail a few times on CI and just had this fail on my dev machine as well. Maybe, multiple tests try opening the same random port. We need to investigate a bit more…

[code]

[2021-02-21 20:06] lkiesow commented on #2098
I have absolutely no idea why this breaks but you can more or less reliably reproduce the error by running:

[code]

And giving in 10-20 min

[2021-02-21 21:44] gregorydlogan commented on #2098
We should just use port 4. Chosen by fair dice roll, guaranteed to be random!

In all seriousness, this sounds like something isn't getting cleaned up properly and there are zombies holding open ports.

[2021-02-22 13:28] gregorydlogan commented on #2334
IIRC it was causing errors when I removed it, but reverting that commit doesn't seem to break anything.  I'll give it a push in a bit.

[2021-02-22 14:02] gregorydlogan commented on #2334
Better fix with 6a1c87ae2d.

[2021-02-22 14:02] #2334 closed, assigned to gregorydlogan

[2021-02-22 15:11] trueeh opened #2352 "Again java.sql.SQLException"
Error during creation of table oc_oaipmh:

[code]

To Reproduce
Steps to reproduce the behavior:

Try to create table on Ubuntu 18.04 and MariaDB:

[code]

Environment Information

    OS: Ubuntu 18.04.5, Java 11.0.9.1, MariaDB 10.1.47
    Opencast 9.x Debian packages from repo

[2021-02-24 09:41] mliradelc opened #2357 "Worklow CleanupScanner won't delete all Jobs"
**Describe the bug**
The workflow cleanup scanner does not delete all the Jobs that meet the criteria, when in an Event is manually deleted a workflow using (DELETE /workflow/{id})

If you execute the WorkflowCleanupScanner after your event was ingested, all the Jobs are deleted correctly.

**To Reproduce**
1. Ingest a new event and publish
2. Go to the Database and in the OC_JOBS table take a not

[2021-02-24 11:14] relecand opened #2358 "OC 9.2 Ubuntu 18.04 - Admin site angular.js exceptions"
**Describe the bug**

- I installed OC 9.2 (c0594fa) with this guide: https://docs.opencast.org/r/9.x/admin/#installation/debs/
- allinone
- mariadb
- nginx as proxy

When I log in with the admin account I get angular.js exceptions.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as admin
2. Open console
3. See error

![grafik](https://user-images.githubusercontent.com/5286499/1089924

[2021-02-24 14:38] karendolan commented on #1451
@KatrinIhler , was this fixed in a pull?

[2021-02-24 14:55] KatrinIhler commented on #1451
@karendolan This is currently in progress! If you look at my open pull requests right now, starting at #2211, I'm working on rewriting how the index rebuild works. Part of this is ripping out the messaging stuff, so once this is done, this issue should be fixed. :D If you want to see the change for one service, check out #2351 for example - the other services should work similarly. 3 are already d

[2021-02-24 16:20] relecand commented on #2358
More detailed logs

[opencast.log](https://github.com/opencast/opencast/files/6037348/opencast.log)

[2021-02-24 18:25] lkiesow opened #2359 "Cannot update org.apache.karaf.shell.cfg"
The following error appears on RPM based Opencast installations on startup:

[code]

- Appears with 9.x packages
- It's actually harmless just doesn't look very nice

[2021-02-24 23:33] lkiesow commented on #2358
[code]

Did you actually use opencast.example.com as your hostname in your configuration or did you replace all the occurrences in the logs?

[2021-02-25 00:18] relecand commented on #2358
Hi Lars,

thank you for your response. I replaced the hostname in the logs.

[2021-02-25 10:39] relecand commented on #2358
Also CentOS 7 and Opencast 9.2 do not work. The same issues.

[2021-02-25 10:50] jojoob commented on #2358
Hey, I'm working with @relecand on the same problem.

Tried with openJDK 8 and 11, same problems with both. Opencast 8 works

[2021-02-25 11:40] jojoob commented on #2358
The problem was caused by Elasticsearch not running. Didn't saw the Elasticsearch error messages in the great amount of other java errors. Still a lot of error messages in the [opencast.log](https://github.com/opencast/opencast/files/6042659/opencast.log). But the basic functions I tested seem now to work.

[2021-02-26 10:02] jojoob commented on #2358
After we had overcome a few more obstacles we have Opencast now running on Ubuntu 18.04.

Some behavior was unexpected and the flood of error messages not clear. Lessons learnt:

* Elasticsearch from Opencast repo is not enabled by default (`systemctl enable elasticsearch; systemctl start elasticsearch`)
* server.url setting is used for internal communication of the all-in-one installation -> vali

[2021-02-26 10:37] jojoob opened #2360 "Processing of short videos fails"
**Describe the bug**
When I upload a very short video (< 1 second) via Opencast Studio the processing of the uploaded video fails.
To be more precise: The "Studio Upload" workflow fails at the "image" operation.

![Screenshot 2021-02-26 at 11 35 38](https://user-images.githubusercontent.com/4180675/109289707-e0c48d00-7826-11eb-8580-95c6244ef681.png)
![Screenshot 2021-02-26 at 11 33 02](https://use

[2021-02-26 11:35] lkiesow commented on #2360
The `fps` filter in `'select=eq(n\,1)+lt(t\,1.00000),fps=1,reverse,scale=160:-2'` seems to drop all frames. Since it's just a safeguard, we could just convert this to something like:

[code]

[2021-02-26 17:10] lkiesow commented on #2360
@jojoob, can you check if #2361 fixes the issue for you?

[2021-03-01 23:55] lkiesow opened #2374 "Cobertura does not work with Java 11"
Using Java 11, Opencast builds break in several cases due to Cobertura being incompatible.
Commands that fail are for example:

- `mvn -e cobertura:cobertura`
- `mvn dependency:check-updates`

See also https://github.com/mojohaus/cobertura-maven-plugin/issues/43

[2021-03-03 22:52] gregorydlogan commented on #2374
Well, I'm guessing that since this has been open for more than a year now it's *probably* not going to get fixed...  Know any other good solutions off the top of your head
Edit: looks like https://www.eclemma.org/jacoco/ is the most common recommendation.

[2021-03-03 22:58] gregorydlogan commented on #2358
The Debian packaging is mine, and behaves slightly differently than the RPMs in regard to starting services by default.  I'll get to this eventually, in the meantime if you want to file PRs to fix some of this feel free.

[2021-03-04 00:32] lkiesow commented on #2358
RPMs are expected to not start a service, so you can configure it properly. While that's generally the case, it's also documented in the RPM install guide which explains how to install, start and enable Elasticsearch.

If that is also the case for Debian packages, and it is currently missing from the docs, it would be great if you could create a pull request to suggest an addition to the docs. You

[2021-03-04 18:02] jojoob commented on #2360
Thanks for looking into this. I'm sorry but I've currently not enough time to build and test your patch.
The bug is also not very relevant to me, just wanted to report since I came across it.

[2021-03-08 11:58] lkiesow commented on #2374
Yep, JaCoCo is what I found as well.

[2021-03-08 13:23] lkiesow opened #2386 "Documentation Graphs broken in r/8.x"
Commit 84e009588faafd227456208ffc750d5b5617cb61 breaks the documentation builds and Graphviz graphs are not rendered any longer. The commit caused merge conflicts and thus I dropped it in the 9.x merge. Still, 8.x remains broken.

- broken
    - https://docs.opencast.org/r/8.x/developer/#development-process/#git-repository-branching-model
- okay
    - https://docs.opencast.org/r/9.x/developer/#dev

[2021-03-08 13:23] #2352 closed, assigned to lkiesow

[2021-03-08 13:23] #2360 closed, assigned to lkiesow

[2021-03-11 08:03] AndreasUrra opened #2393 "Series with identical names not distinguishable when scheduling in UI"
**Describe the bug**
When scheduling events in the Opencast UI it is not possible to
distinguish between identically named series. The dropdown list "Series" in
the scheduling dialogue will only show a single entry for all series that
are named identically.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have two series in Opencast with identical names
2. Click on 'Add Event'
3

[2021-03-11 14:20] lkiesow commented on #2393
This is still broken in `develop`.
The problem is that names are used as keys and the ids as value.
https://develop.opencast.org/admin-ng/event/new/metadata

[code]

(Two series with name `Asterisk` exist)

[2021-03-12 22:13] gregorydlogan commented on #2386
I'm.... very confused here.  There's a bug in that `graphviz` isn't installed in `r/8.x`, but even once it's installed it's generating incorrect inline pngs.  For example:

[code]

rather than

[code]

Even better, looking at the raw documentation I see *no* reason why 8.x would be incorrectly adding a title tag.

[2021-03-12 22:21] gregorydlogan commented on #2386
Even betterer, I can't reproduce this on Debian 10, but I can on Ubuntu 20.04 and 18.04...

[2021-03-12 22:42] lkiesow commented on #2386
If I use `pip` to install the dependencies one after another, it works. I left it at that and ignored it. That's why I never committed a `requirements.txt` for the documentation stuff.

[2021-03-12 23:23] lkiesow opened #2397 "Automate inter-branch merges"
Patches are automatically merged from older to newer branches like this:

[code]

These merges are currently done by committers but could be mostly automated.
For this, it would be nice to create a GitHub Actions workflow which:

- Reacts to a merge in a release branch (`r/.*` e.g. `r/8.x`)
- Checks out the next higher release branch or `develop` (e.g. `r/9.x`)
- Merges the older release branch in

[2021-03-15 16:50] Arnei opened #2407 "Admin-UI: Keyboard shortcuts react even when permission is insufficient"
When logging into the Admin-UI as a user with very few permission, I can still trigger all Keyboard shortcuts. For example, when pressing "n", the "Create event" dialog pops up, even if my user does not have the correct role for creating events. This seems to be a UI problem, because even though the "Create Event" dialog pops up, I cannot actually create an event.

It would be nice if a user could

[2021-03-15 17:03] lkiesow commented on #2359
Fixed in 9.3 RPMs

[2021-03-15 17:03] #2359 closed, assigned to lkiesow

[2021-03-15 21:05] lkiesow opened #2410 "Several Opencast 10 Distributions Broken"
Opencast fails with an OSGi wiring error when trying to start a worker distribution. My best guess is the restructured index rebuild service since that one is part of the resolution path that causes the error.

[code]

Distributions that seems to be broken:

- Worker
- Presentation
- Ingest

Most likely cause:

pencastproject.index.rebuild […]

[2021-03-16 07:09] KatrinIhler commented on #2410
I'm gonna look into this. I already have an idea...

[2021-03-19 20:57] #1965 closed, assigned to marwyg

[2021-03-20 12:18] #2297 closed, assigned to nobody

[2021-03-20 21:19] #2317 closed, assigned to nobody

[2021-03-20 21:20] #2308 closed, assigned to nobody

[2021-03-20 21:21] #2279 closed, assigned to lkiesow

[2021-03-20 21:26] lkiesow commented on #2213
Fixed by GHSA-vpc2-3wcv-qj4w

[2021-03-20 21:26] #2213 closed, assigned to lkiesow

[2021-03-20 21:29] #2167 closed, assigned to nobody

[2021-03-20 21:39] lkiesow commented on #1935
New (but still broken) endpoint:
https://develop.opencast.org/docs.html?path=/admin-ng/adopter#saveregistrationform-2

[2021-03-20 21:42] #1799 closed, assigned to pankajanand26

[2021-03-24 10:59] JulianKniephoff opened #2436 "`check_port` ignores the bind address"
When you start Opencast, the start scripts (specifically `check_port`) first check whether the HTTP and HTTPS ports configured in `etc/org.ops4j.pax.web.cfg` are already in use. They do this by looking for any open connection with the appropriate port number, but don't look at the address bound in that connection. It should compare this to the address(-es) configured in the same file (after potent

[2021-03-24 12:04] gregorydlogan commented on #2436
I wonder if this is why I'm seeing conflicts with Chrome of all things...  Lately I've noticed that when starting Opencast it will sometimes say that 8080 is already in use, and will continue to do so until Chrome is closed.  Hrm...

[2021-03-24 12:16] JulianKniephoff commented on #2436
Huh, that's weird. Haven't seen that. :thinking: Maybe an extension is running something on `8080` somewhere?

[2021-03-24 23:12] gregorydlogan commented on #2436
Probably, 8080 is too common a dev port for this to be missed by everyone else on the planet :)

[2021-03-25 13:50] wsmirnow commented on #1969
PR #2112 fixes the event details UI. But the issue is still exists in upload dialog.
Reproduce steps:

0. Uncomment the custom roles pattern line in custom.properties https://github.com/opencast/opencast/blob/f99fc066c25e42f21d527fcd185936484e4e73a1/etc/custom.properties#L43 to enable the feature and (re)start Opencast
1. Create a series with uncommon role, like 12345_Instructor or 12345_Learner
2

[2021-03-25 15:09] kristofkeppens opened #2438 "Stand-alone editor fails at retrieving edit.json on a distributed setup"
On a distributed opencast setup the stand alone editor fails to retrieve the edit.json. In the logs we have

[code]

- The `/editor/{mediapackageid}/edit.json` endpoint picks the remote service on the presentation node which doesn't work.
- Both the remove and the service on admin are listed as available services of type `org.opencastproject.editor`
- This happens in a distributed Opencast 9.3

[2021-03-26 07:06] andreas-urra opened #2440 "Admin UI: no filter for empty field or sting"
**Describe the bug**
In the Admin UI it is not possible to filter Series or other fields by the criterium "empty"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Please select a filter...'
2. The is no option for "empty" or for entering an empty string, or a corresponding regular expression.

**Environment Information**
 - OS: CentOS 7]
 - Browser Safari, Chrome
 - Opencast version 8.

[2021-03-26 15:18] gregorydlogan opened #2442 "The lti-service-remote bundle is missing its endpoint definitions"
**Describe the bug**
As reported by a user on Matrix:
`Hey, does anybody know a reason why deleting an event from the LTI series view on the presentation node redirects to /login as if the user is not authenticated, which then returns a '405 not allowed', while doing exactly the same from an admin node works perfectly?`

In investigating why the 405 was being returned, I noticed that *[the entire

[2021-03-26 18:14] gregorydlogan commented on #2242
Bringing this up here since we might end up losing the conversation in the PR otherwise: Do we need the rest of the rules?  In the case of the chromedriver rule I'm pretty sure we don't - we shouldn't be depending on a (potentially old) version of the driver, right?

The Paella version can also likely go, since we're already past the 6.4 limit in the depdendabot config.  I would also assume that t

[2021-03-30 12:51] stefanosgeo opened #2460 "Admin UI Themes Modal options are hidden"
**Describe the bug**
In Admin UI Themes Modal you can view only the content of the first two menu items. Therefore a theme cannot be created via the UI

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as Admin
2. From left menu select "Configuration"
3. Click on "Add theme" on top right
4. Fill the theme name and click next
5. Upload a Bumper begin or simple click on next
6. Bumper end

[2021-04-06 10:15] lkiesow commented on #2018
Reopening this. The problem is now gone if you use Java 11, but now it appears if you are using Java 8 instead.
Tested on `r/9.x` from 2021-04-06.

<details>

[code]

</details>

[2021-04-08 15:10] wsmirnow commented on #1969
I've updated the instructions to reproduce the issue. Step 0. is added to clarify the dependant configuration.

[2021-04-08 15:45] lkiesow commented on #2357
Do you really see this as a bug? I would not. The __workflow__ cleanup scanner is supposed to clean up workflows, is it not? You actually _deleted__ that workflow. So, how is the scanner supposed to pick up the sub jobs? They do not belong to any workflow any longer after all.

[2021-04-08 16:06] lkiesow commented on #2242
I'm pretty sure we don't need any, and I've introduced most (all) of them in the first place

[2021-04-08 16:06] #2242 closed, assigned to gregorydlogan

[2021-04-08 17:50] lkiesow commented on #2215
Looking at the database, there is no reason to not allow longer strings:

[code]

It's not indexed, it's no primary key. We could easily just make this a `varchar(255)`:
All you would need to do is to update this:

https://github.com/opencast/opencast/blob/b9d98d2feac407843441710ca753d5e1752aa852/modules/asset-manager-impl/src/main/java/org/opencastproject/assetmanager/impl/persistence/AssetDto.ja

[2021-04-08 17:53] lkiesow commented on #2442
This might be related to #2180

[2021-04-08 18:06] lkiesow opened #2474 "Using left and right arrows in workflow details does not work"
Using the left and right arrows in workflow details in the admin interface does not work. This makes sense, since the workflow does not exist for the other events. But this just means that the UI should not offer switching events or jump to the workflow overview on the new event instead of showing the new events title but keeping the old workflow in the view.

https://user-images.githubusercontent

[2021-04-08 18:26] gregorydlogan commented on #2358
So the only major issue I see here is ES not starting itself, which I've filed a PR to fix.  The rest is addressed elsewhere, or was been addressed since this was filed.

[2021-04-08 19:20] #2358 closed, assigned to gregorydlogan

[2021-04-13 17:26] geichelberger opened #2491 "Stand-alone editor is stuck in animation "Generating Waveform" for videos without audio track"
Uploading a video without an audio track causes an exception in the stand-alone editor ui which leads to the "Generating Waveform" animation not being stopped.

Browser-Console Error:
`DOMException: The buffer passed to decodeAudioData contains an unknown content type.  waveform.js:46:26`

Steps to reproduce the behavior:
1. Upload video without audio track.
2. Open the stand-alone editor
3. "Gene

[2021-04-15 15:16] lkiesow commented on #2491
This seems like a duplicate of https://github.com/elan-ev/opencast-editor/issues/254 and this might already be fixed with https://github.com/elan-ev/opencast-editor/pull/236

[2021-04-15 23:00] lkiesow opened #2499 "Cover-image operation cannot handle multi-byte Unicdoe characters"
If the event title contains multi-byte Unicode characters, the operation `cover-image` claims to finish successfully but will result in a black image and the following (not properly logged) message:

[code]

Should happen with all Opencast 8 and Opencast 9 versions.

[2021-04-16 07:40] reiferschris opened #2504 "liveevent scheduling loop when updating series metadata"
**Describe the bug**
A clear and concise description of what you see:
*IUpdating series metadata (eg. title) in a series with a live event scheduled will cause the liveevent(s) to be republished over and over*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AdminUI and create a new series
2. Add  a live event in the series
3. Update series metadata (eg. title)
4. Go to events publicati

[2021-04-16 17:12] lkiesow opened #2511 "Implement X-Accel-Redirect for asset manager"
The asset manager code for delivering files is really slow. We should use the same [X-Accel-Redirect](https://www.nginx.com/resources/wiki/start/topics/examples/x-accel/) method we use for the static files to speed that up. The mechanism basically works by Opencast replying with an HTTP header instead of the file which makes the reverse proxy deliver the file directly.

[2021-04-16 17:13] #1893 closed, assigned to nobody

[2021-04-18 17:35] lkiesow opened #2519 "Publication links in admin interface not always closing"
Clicking on another publication link in the admin interface while one is still open will cause multiple windows to open and potentially overlap.

https://user-images.githubusercontent.com/1008395/115154819-18102700-a07d-11eb-9334-f3e102ee05ec.mp4

Happening in Opencast 9.3 and develop (2021-04-18).

[2021-04-19 13:10] rute-santos commented on #2504
I spent some time with Ruth and Christoph debugging this and here’s what we found:

In the log there are several of:
(LiveScheduleServiceImpl:295) - Creating live media package 11e18da5-1936-4e0b-a6e3-1570f88d7c14
which indicates that the LiveScheduleService never found the media package id in the search index (see code in [1]).

The LiveSchedulerService listens to Asset Manager update messages. I

[2021-04-19 13:36] Arnei opened #2528 "LDAP: UsernameNotFoundException when search filter does applay"
**Describe the bug**
When using LDAP in Opencast 8.10 with the a searchfilter, a `UsernameNotFoundException` is thrown in case the user does exist in the system, but does not match the search filter.

For example, if I have a user of the form
[code]
and my search filter is
`org.opencastproject.userdirectory.ldap.searchfilter=(&(uid={0})(memberOf= cn=opencast))`
, the UsernameNotFoundException will

[2021-04-21 15:03] mtneug commented on #2025
Opencast 8 did not have that problem.

[2021-04-22 08:22] Arnei opened #2532 "Add documentation on the two LDAP config files"
As someone new to LDAP, I had considerable trouble figuring out which setting in which of the two configuration files would lead to the result I was aiming for. This was probably in part due to both config files containing settings that are highly similar in name. It would be great if the differences between the settings could be made more clear to beginners.

For example, I expected the property

[2021-04-22 08:23] Arnei commented on #2528
This issue seems to be local to a single opencast installation, I could not replicate the error on other installations. Therefore I'm closing this for now.

[2021-04-22 08:23] #2528 closed, assigned to nobody

[2021-04-26 08:36] mtneug commented on #1969
Closing as PR is merged now

[2021-04-26 08:36] #1969 closed, assigned to mheyen

[2021-04-27 21:54] #1215 closed, assigned to lkiesow

[2021-04-28 09:07] LinqLover opened #2545 "GitGuardian alerts"
Since I have forked opencast a few months ago for a small [PR](https://github.com/opencast/opencast/issues?q=LinqLover), GitGuardian is now spamming me with token alerts. Most likely you already checked these out, but I wanted to be sure that you are not leaking any critical secrets 😅

- https://github.com/opencast/opencast/commit/47eb508ee80f2cc8f5d92a5acfa60d2b4f77bfe6#diff-808409c53a4ab0124f2c0

[2021-04-28 14:27] lkiesow commented on #2545
Quickly went through them. The first three are clearly marked as dummy keys. The last one was an actual past incident which was quickly resolved back then.

[2021-04-28 14:27] #2545 closed, assigned to nobody

[2021-04-29 12:05] darolfes commented on #1145
Seems like this is already fixed. @lkiesow

[2021-04-29 12:05] #1145 closed, assigned to darolfes

[2021-04-30 08:19] #2104 closed, assigned to marwyg

[2021-04-30 08:32] Arnei opened #2552 "LTI-Series-Tool Edit button fails if event does not belong to a series"
If I attempt to edit metadata in the LTI-Series-Tool for an event that does not belong to a series, I get the error "Error loading event metadata. Please try again later."

Steps to reproduce the behavior:
1. Have an event without a series associated
2. Access the LTI-Series-Tool via `?subtool=series&edit=true`
3. Click on the edit button on your no-series event
4. See error

 - OS: CentOS 7
 - Br

[2021-05-02 17:51] #2438 closed, assigned to lwillmann

[2021-05-02 17:55] lkiesow commented on #2491
Fixed in https://github.com/elan-ev/opencast-editor/pull/236
Will be resolved with the next editor update

[2021-05-03 08:41] Arnei opened #2556 "LTI-Upload-Tool allows upload of any file"
When uploading files through the LTI-Upload-Tool, no check is performed on whether the selected files are actually legal to upload. (I for example stumbled upon this by uploading a presentation.mp4 file as captions, which doesn't even break the standard workflow, but of course left me with broken captions). Depending on the files wrongly uploaded this way, this can lead to annoying debugging effor

[2021-05-03 09:20] Arnei opened #2557 "LTI-Upload-Tool form validation"
If the user makes a mistake in filling out the required information for the upload in the LTI-Upload-Tool (e.g. they forgot to add a title), they will be notified with a generic error message only after the upload is completed. It would be nice if the users could be notified about their mistake much earlier, at least before the lengthy upload. A more specific error message would also be nice.

Env

[2021-05-03 12:50] wsmirnow opened #2561 "Workflow variable defaults are broken"
Opencast provide a way to set an default for specific variables in the workflow definition as described in [Docs](https://docs.opencast.org/r/9.x/admin/#configuration/workflow/#accept-user-input). Providing defaults should work with/for:

- default value should be applied for not existing variables
- the value of existing variables should be used instead of provided default value

For testing you

[2021-05-03 13:29] lkiesow commented on #2561
Shouldn't this fail according to our docs:

[code]

According to our docs, the expression in `if="…"` must result in a boolean value, but `someVar` is set to a string.

[2021-05-03 13:33] lkiesow commented on #2561
Actually, the next two assumptions are also not correct:

[code]

The docs state that:

So, this would need to be:

[code]

[2021-05-03 13:38] lkiesow commented on #2561
I guess correcting that, all your tests succeed?

[2021-05-03 15:03] wsmirnow commented on #2561
I hadn't tested it. But feel free to post the corrected version of the testing workflow. GitHub does not allow to upload xml file as attachment to the ticket.

[2021-05-03 17:38] lkiesow opened #2564 "Allow wildcard for catalog ui adapters"
In a multi-tenant setup, the medatata catalogs must be specified for each tenant, even though they are likely identical. It would be great if we could use a wildcard (`organization=*`) to tell Opencast that a specific adapter can be used for all organizations.

The relevant configuration is (this also exists for series):

https://github.com/opencast/opencast/blob/4bb51bbb166fac436a45cd888054463c93

[2021-05-05 11:14] lkiesow commented on #1111
Okay, I have seen this again and again over time, regularly breaking builds and confusing people.
It also seems like the test was activated again:

[code]

I will create a pull request deactivating this again since this hurts development and testing more than it helps in its current state.

[2021-05-06 13:22] lkiesow commented on #2561
The corrected workflow is:

[code]

Which will be executed according our docs:

![Screenshot from 2021-05-06 15-20-07](https://user-images.githubusercontent.com/1008395/117305107-bd4d3c80-ae7e-11eb-821c-55dcedf81ab5.png)

Therefore, closing this. Feel free to re-open if you find there are still any issues.

[2021-05-06 13:22] #2561 closed, assigned to nobody

[2021-05-06 13:55] lkiesow opened #2569 "Inefficient partial-import operation"
The operation `partial-import` can be used to concatenate several input videos. It is for example used for videos imported from BigBlueButton to build a coherent presentation stream of screen shares and slides. Unfortunately, the implementation is very inefficient (e.g. processing the summit recording needed ~40 GB of memory on the worker).

How it works right now:

- Encode all video parts
  - Ge

[2021-05-06 14:05] lkiesow opened #2570 "Paella play button may hide content"
The paella player has a massive play button as overlay in the center of the player. This helps to identify this as a video player but may hide important content when pausing the video. While administrators can completely deactivate the button:

https://github.com/opencast/opencast/blob/7fa03bcd717fea74e0f42eae1532e63abc01fe73/etc/ui-config/mh_default_org/paella/config.json#L226-L228

…it would be

[2021-05-11 22:01] #2410 closed, assigned to KatrinIhler

[2021-05-13 11:10] lkiesow commented on #2386
Seems like I was correct after all in #2415 and the pull request  #2409 did vreak this again.
Will fix this.

[2021-05-13 22:20] #1787 closed, assigned to jduehring

[2021-05-18 09:10] zenny opened #2613 "[Feature Request] User-configurable Picture-in-Picture, Side-by-Side and No-Floating-Head ?"
Hi,

I am curious to know whether OpenCast Studio captures the video streams separately and renders in the default video player separately so that the user can select either Picture-in-Picture (PiP), Side-by-Side (SbS) or No-Floating-Head (NFH) with resizable options?

I just noticed the above video player features reportedly been implemented in Kaltura in this presentation (https://www.youtube.co

[2021-05-18 09:17] zenny commented on #2613
Just came across fine prints of the Kaltura Player at https://corp.kaltura.com/video-content-management-system/player-studio/
github repo in https://github.com/kaltura/kaltura-player-js, fyi. The repo appears to be something desirable to be forked to fit in with OpenCast. Just a wishful thinking. ;-)

[2021-05-18 10:00] lkiesow commented on #2613
Hi @zenny,
Studio already captures the streams separately, and you can use them in the player however you like. Both Opencast players also allow users to place the video streams. Here is a dual-stream example recorded with Studio:

- Paella player: https://develop.opencast.org/paella/ui/watch.html?id=ID-dual-stream-demo
- Theodul player: https://develop.opencast.org/engage/theodul/ui/core.html?id=

[2021-05-18 10:00] #2613 closed, assigned to nobody

[2021-05-18 11:22] zenny commented on #2613
@lkiesow Impressed by demos! Wonderful! The PiP in the demos overlapped like in Kaltura. In addition, I did see the Paella player has an option to choose a display mode with the presentation only without floating head which should be in the engage player, too.

However both of the demo first loaded the presentation (not floating head) first, but went blackscreen I chose PiP. See screenshots below

[2021-05-18 13:29] miesgre commented on #2570
I haven't tried it, but I think you can add the `showOnPause` property to the config

https://github.com/polimediaupv/paella/commit/cd941b335ed0e3bbcc0ba8c0942c76d8e917da47

[2021-05-18 22:17] lkiesow commented on #2613
Interesting. It works fine if you use the players PIP mode but it seems that at least Firefox has its own PIP mode which pops one video out of Firefox and leaves the black frame where the video was. With the players PIP mode, it looks like this:

![Screenshot from 2021-05-19 00-14-22](https://user-images.githubusercontent.com/1008395/118730213-8809fc80-b837-11eb-99e8-449bd90aebe7.png)

[2021-05-18 23:33] mtneug opened #2618 "Inspect WOH fails if mediapackage contains HLS manifests"
**Describe the bug**

Running the `inspect` WOH will fail for a mediapackage containing HLS manifests. This is because the references to the segments / variant manifests point to files that are not present at the workspace location. The composer service does run an `inspect` job after encoding for HLS, but it properly rewrites the references and puts all relevant files into a collection. The `insp

[2021-05-19 01:18] #2187 closed, assigned to nobody

[2021-05-19 13:47] rute-santos commented on #2618
Hi @mtneug ,
Did you try adding the _sanitize-adaptive_ woh to your workflow? It's supposed to be used in this case to fix the references.

[2021-05-19 21:22] #1892 closed, assigned to orbruno

[2021-05-19 21:58] #2386 closed, assigned to lkiesow

[2021-05-20 22:39] mtneug opened #2627 "NPE during snapshot when referred elements are first excluded from a snapshot"
**Describe the bug**

Consider this workflow:

[code]

Here we extract segment images `presenter/segment+preview` from the source file `presenter/segment`. When we then only take a snapshot of `presenter/segment+preview` (i.e. **not** including `presenter/segment`), the following exception is thrown:

[code]

This is because the snapshot operation removes the checksum and URI from elements first e

[2021-05-21 16:55] #1111 closed, assigned to JamesUoM

[2021-05-21 16:55] #2313 closed, assigned to nobody

[2021-05-25 10:09] mliradelc commented on #2504
Closing this issue because it is solved in #2567

[2021-05-25 10:09] mliradelc commented on #2504
Closing this issue because it is solved in #2567

[2021-05-25 10:09] #2504 closed, assigned to nobody

[2021-05-29 18:09] Rillke opened #2657 "Event list in scheduled event edit modal is empty"
**Describe the bug**
Event list of affected and events that can't be edited not shown when editing multiple scheduled events.

https://user-images.githubusercontent.com/2311611/120080475-63c0e200-c0b9-11eb-8995-662035db6a8e.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.opencast.org/admin-ng/index.html
2. Select multiple scheduled events
2. Click on Actions
3. Scrol

[2021-05-31 12:27] miesgre commented on #1673
We have the same issue but with the comma character `,`
All our presenters are identified as `lastname, name` and we can not filter by presenters

@mliradelc The internal API does **NOT** work with the comma character

[2021-05-31 13:52] RaiG6 opened #2664 "Searching LTI resource content item inside LMS needs improvement"
**Describe the bug**
When embedding Opencast video in Sakai LMS, search functionality is not great. Many videos show up which are not related to the search terms, and it can be very difficult to find the correct video.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Lesson page
2. Add content
3. Add learning app
4. Opencast Video
5. Launch External Tool Configuration
6. Search

![image]

[2021-05-31 15:15] lkiesow commented on #2664
Hi @RaiG6, this does not look like any tool which Opencast provides. Is it a custom tool?

[2021-06-01 08:05] RaiG6 commented on #2664
Hi @lkiesow, thanks for looking into this.

This is Sakai 20, the URL for the search looks like this:

`https://media.uct.ac.za/ltitools/deeplink/index.html
    ?data={"remember":"always+bring+a+towel","flow":"lessons"}
    &consumer_key=consumerkey
    &content_item_return_url=
        https://vula.uct.ac.za/portal/tool/f8af731e-21ee-4b27-9c05-cd14498d9670/sakai.basiclti.admin.helper.helper

[2021-06-01 12:55] Arnei commented on #2137
The PR that solves this issue is merged, closing.

[2021-06-01 12:55] #2137 closed, assigned to nobody

[2021-06-02 15:24] Arnei commented on #1918
Solved by #2316, closing

[2021-06-02 15:24] #1918 closed, assigned to nobody

[2021-06-07 08:57] RaiG6 opened #2690 "Opencast Studio Download Prompt Improvement"
**Describe the bug**
After an Opencast Studio recording, users often forget to download a backup copy of their recording, or assume that the download is done automatically. Adding wording as shown in the image below may assist with this issue, and encourage users to download a backup copy of their recording.

![image](https://user-images.githubusercontent.com/49396348/120987870-51f8d200-c77e-11eb-

[2021-06-07 10:44] lkiesow commented on #2690
Hi @RaiG6, Studio has its own issue tracker. Can you move this suggestion to https://github.com/elan-ev/opencast-studio/issues ?

[2021-06-07 10:48] lkiesow commented on #2664
That seems to be custom code of yours. If you take a look at the current `develop` version of Opencast, there is no https://develop.opencast.org/ltitools/deeplink/index.html. So, it's a local issue and doesn't concern Opencast itself. We can't really help with that. Sorry.

[2021-06-07 10:48] #2664 closed, assigned to nobody

[2021-06-07 10:50] RaiG6 commented on #2690
Hi @lkiesow, Thanks and apologies, I have moved the issue over.

[2021-06-07 13:43] lkiesow commented on #2690
No worries. It's not really obvious if you don't know about it.

[2021-06-07 13:43] #2690 closed, assigned to nobody

[2021-06-10 08:34] #2491 closed, assigned to Arnei

[2021-06-10 09:44] MatteBili opened #2699 "Filenames of videos, thumbnails, preview can be too long thus workflow fails"
**Describe the bug**
The filenames of any process file can be too long, therefore tools like ffmpeg etc. fail with error and the whole workflow might fail.

`2021-06-09T15:53:12,055 | INFO  | (EncoderEngine:461) - /srv/opencast/workspace/mediapackage/b39f3e94-81c0-48ac-9a5f-abb07a208c2c/bf15e33c-0eec-4855-bd92-ca30514723e5/2021_06_09_13_36___WS13_1_Rare_species_may_act_as_problem_solvers_in_critic

[2021-06-10 15:19] lkiesow commented on #2699
Since this is related to Opencast Studio which has a separate issue tracker, would you mind reporting this at
https://github.com/elan-ev/opencast-studio/issues

[2021-06-10 17:13] Rillke opened #2703 "Input type=range not recognized as configField in admin UI"
**Describe the bug**
Opencast Workflows can contain configuration panels. Fields marked as `configField` (although documentation for that is missing altogether) should be evaluated and used for setting workflow variables. However, not all input types are are considered equally, for instance, the input[type=range] is not.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workflow with

[2021-06-10 17:14] Rillke commented on #2703
Note to myself:

* PR should have unit test: https://github.com/opencast/opencast/blob/729fecb21a932466e7ed70af1c6de68b8bd9cde9/modules/admin-ui-frontend/test/test/unit/shared/services/wizards/new-event/proccessingSpec.js#L86
* PR should target 9.x
* redmine 7374

[2021-06-10 17:47] lkiesow commented on #2703
The whole handling of inputs is extremely limited in the current admin interface. Much more was possible in the original interface. But since the next iteration of the admin interface is being worked on, it makes me wonder if we want to redo how the configuration works there. It would also be a good opportunity to leave the horrible HTML + JS snippets behind.

[2021-06-10 18:19] #2460 closed, assigned to wsmirnow

[2021-06-11 07:36] lkiesow opened #2707 "Opencast fails with Java 13"
Runtime error:

[code]

[2021-06-11 09:20] Rillke commented on #2699
I would be in favor if Opencast would resolve this for the clients using the ingest and upload APIs (either reject or truncate). It makes integrations unnecessary complex otherwise, see for example

* https://github.com/elan-ev/studip-opencast-plugin/issues/372
* https://github.com/elan-ev/studip-opencast-plugin/issues/489
* https://github.com/Opencast-Moodle/moodle-block_opencast/issues/204

[2021-06-11 09:28] #2570 closed, assigned to nobody

[2021-06-11 10:33] Rillke commented on #2703
WF config is neglected by some plugins anyway.

I never had to work with the original interface, I think. You are referring to Version 1's interface?

[2021-06-11 10:40] lkiesow commented on #2703
Yes, I do

[2021-06-11 15:26] saraheee opened #2711 ""Next" button of the Media Module decreases the page number instead of increasing it"
**Describe the bug**
The "Next" button on the "Series" tab of the Media Module decreases the page number instead of increasing it.
If page 1 is open, and the "Next" button is clicked, the page number in the url is decreased by 1 (therefore p = 0, -1, -2..). Instead, it should be increased by 1 (thus p = 2, if called from page 1).
The buttons "First", "Previous", and "Last" work correctly. The bug

[2021-06-11 17:03] ziegenberg commented on #2711
I assume, this is one of the problems: https://github.com/opencast/opencast/blob/a2fe06665efacac77b8eace5814f15e0d66bfcce/modules/engage-ui/src/main/resources/ui/js/app/engage-ui.js#L304

And this also doesn't look right: https://github.com/opencast/opencast/blob/a2fe06665efacac77b8eace5814f15e0d66bfcce/modules/engage-ui/src/main/resources/ui/js/app/engage-ui.js#L797
On page `0` this evaluates to

[2021-06-13 03:38] gregorydlogan commented on #2699
If we're munging the names, why not rename the file to a UUID, and then store the input filename as an asset property?

[2021-06-13 10:22] lkiesow commented on #2699
That would just move the problem to a different location. Once you distribute the files, you would then end up with the same problem unless you also build the UUID +  storing the filename separately into the distribution channels, which then means that this could cause issues when users try downloading the files (that's the reason why this was already fixed in Studio). So you likely will end up wi

[2021-06-13 11:53] lkiesow commented on #2357
Closing this for now due to lack of response. For a reason why I do not see this as a bug, see the post above. Feel free to re-open this if you disagree.

[2021-06-13 11:53] #2357 closed, assigned to nobody

[2021-06-14 13:11] karendolan opened #2733 "Clarify that recordings archived with "fast" workflow cannot be used with other Opencast workflows"
**Describe the bug**
I ingest a recording with the "fast" workflow. Once it archives, I attempt to run another Opencast workflow on it and it fails because there are no prepared tagged tracks.

**To Reproduce**
Steps to reproduce the behavior:
1. Ingest a recording using the "fast" testing workflow
2. Once it archives, run an edit workflow on the archived event
3. See that the edit workflow fails

[2021-06-14 17:04] #2025 closed, assigned to nobody

[2021-06-15 13:05] kristofkeppens opened #2738 "/search/episode endpoint queries the series service when using sname instead of sid"
The /search/episode endpoint queries the series service to retrieve the series id when using the sname parameter. This has as a side effect that in a distributed setup the presentation node relies on the admin node to retrieve this result, and when using this in conjunction with the LTI modules, every LTI user has to be persisted to the database.

[2021-06-15 14:39] mliradelc commented on #1596
I will close this issue because #2676 solves it

[2021-06-15 14:39] #1596 closed, assigned to marwyg

[2021-06-16 10:57] JFD23 commented on #2024
I do also have issues with portrait/upright videos.
on stable.opencast.org my two attempts with different WF (Studio Upload and Process upon upload and schedule) failed. On our installation, processing succeeded but created ridiculous resolutions like 6431p (which can not be replayed at all in recent firefox on windows or could be replayed on other plattforms and browsers but with poor performance

[2021-06-16 12:11] #2657 closed, assigned to nobody

[2021-06-16 12:11] #2703 closed, assigned to Rillke

[2021-06-16 12:11] #2711 closed, assigned to nobody

[2021-06-16 13:05] lkiesow commented on #2024
Should be fixed by #2573

[2021-06-17 11:30] Rillke commented on #2024
[workaround](https://github.com/opencast/community-workflows/blob/master/8.x/de.unihalle/workflows/studio-upload.xml#L262) for r/8.x

[2021-06-17 14:50] poffensand opened #2745 "Comparison method violates its general contract"
**Describe the bug**
Opencast workflows sometimes fail with the error message `java.lang.IllegalArgumentException: Comparison method violates its general contract`. As requested on Mailinglist, issue is filed here (https://groups.google.com/a/opencast.org/g/users/c/Xa8ax6sCpoU)

Sample Error Message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start workflows on a bunch of differe

[2021-06-17 15:03] gregorydlogan commented on #2745
So the gist of what's happening here is that we first compare the load factors of all nodes (jobLoad/maxLoad) and if the nodes are within 0.01 of each other then we tiebreak with the nodes max load. This sounds fine, but means that depending on input order of the nodes we'll get different results, violating the contract for `compare`.

The solution is to do this in two passes rather than one: firs

[2021-06-17 15:06] gregorydlogan commented on #2745
@poffensand can we know more about your cluster? How many nodes, how many cores per node, any custom workflows, and how many workflows do you see a day on average?

I would have expected this to show up when I first added this logic, the fact that it hasn't shown up until now makes me think you've got something different going on in your cluster that's triggering it.

To be clear, this is still a

[2021-06-17 16:06] poffensand commented on #2745
Currently, we have 1 admin node (36 cores), 1 present node (12 cores), 10 worker nodes with 12 cores, 6 worker nodes with 40 cores, 14 worker nodes with 24 cores and 5 workers with 32 cores (so 35 worker nodes).
We are using a custom workflow, which is a copy of schedule-and-upload, though it only differs in skipping to concatenate intro/outro, even if the series has a theme with those attached.
W

[2021-06-17 18:54] geichelberger opened #2746 "Dependency problem jakarta.mail-api/javax.mail"
Build of Opencast 10.0 throws NoClassDefFoundError (com/sun/mail/util/MailLogger) exception on startup.

As of version 3.4 of the Apache Karaf CXF feature, javax.mail has been replaced by jakarta.mail-api version 1.6.x which seems to cause the problem or at least its the only reference to jakarta.mail-api I can find with grep in the build directory. https://github.com/apache/cxf/commit/6bc7f0cc093

[2021-06-22 16:00] #2746 closed, assigned to lkiesow

[2021-06-24 21:55] #2699 closed, assigned to nobody

[2021-06-25 22:09] gregorydlogan opened #2777 "Opencast Eats `+` flavour characters in some cases"
**Describe the bug**
Ingesting to Opencast should be something you can do more or less in any order:
- createMediaPackage
- addTrack
- addCatalog
- addTrack
- ...
- ingest

This does work, as long as you don't have a flavour containing a `+` character.  In that case the file(s) containing the + __must__ go last, or else the `+` characters are replaced with spaces in the flavours.  Media files don'

[2021-06-29 15:53] Rillke commented on #2777
Link back to [Google Groups discussion](https://groups.google.com/a/opencast.org/g/users/c/Mcun1MKIrvI/m/sV-tvIAOAQAJ).

[2021-06-30 09:43] jduehring opened #2786 "Replace inline Javascript with AngularJS code in the AdminUI"
There is currently a bunch of inline Javascript providing the interface for copying the embedding code:

https://github.com/opencast/opencast/blob/4f232c57e5d1170d84620d34a6802ad88e359420/modules/admin-ui-frontend/app/scripts/shared/partials/modals/embedding-code.html#L7-L53

This inline Javascript should be replaced with AngularJS code to ensure consistency throughout the project.

[2021-07-03 10:07] Rillke opened #2792 "Series access policy rules not disabled for viewers"
**Describe the bug**
When a user with view-only permissions on a series or view-only permissions on series ACLs views a series access policy, they can still tick check boxes and get a message "The access rules have been saved".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user with VIEW ROLEs on all admin UI actions, notably `ROLE_ADMIN_UI ROLE_UI_SERIES_DETAILS_ACL_VIEW ROLE_UI_

[2021-07-07 10:33] lkiesow commented on #2018
Closing this, since Opencast 9 is now legacy.

- It's fixed in Opencast 10
- If you need this in Opencast 9, Use Java 11

[2021-07-07 10:33] #2018 closed, assigned to nobody

[2021-07-08 09:56] scharnkn opened #2810 "Sorting in server view is off for maintenance checkboxes"
When putting a server in to maintenance mode by clicking the respective checkbox in the server view in the admin ui, the rows are on-the-fly sorted by maintenance status (the first column by default).
However, the new sorting order is not applied to the row containing the checkboxes until the page is reloaded. This leads to confusing results when more checkboxes are ticked without reloading the pa

[2021-07-12 13:56] lkiesow opened #2828 "No default for admin interface user filter"
Trying to use the default for `org.opencastproject.adminui.filter.user.regex` results in a NullPointerException since the code does not actually set a default value, despite claiming there is one:

[code]

Something like this should work and the default should be set:

[code]

Confirmed in Opencast 10.0

[2021-07-12 17:09] gregorydlogan commented on #2792
Resolved by #2793

[2021-07-12 17:09] #2792 closed, assigned to Rillke

[2021-07-13 12:19] KatrinIhler opened #2831 "Index Update Issues"
University of Cologne is reporting issues updating the series and asset manager index on a testing cluster with OC 10, especially with users that aren't admins, though not exclusively so.

Example:
- After a workflow started by a non-admin is concluded, the amount of media files in the assets tab of the event-details modal is 0. This could be the case if the asset manager didn't update the index w

[2021-07-13 15:35] mliradelc commented on #2831
Seems to be solved with #2743 (On research right now)

[2021-07-14 11:25] ruthlang1 commented on #2831
After a restart also of the presentation node everything works as expected, including our workflows. The backport of PR #2742/2743 **is needed** for a distributed OC 10 system.

[2021-07-14 17:04] gregorydlogan commented on #2831
Fixed with #2743 in 10.1

[2021-07-14 17:04] #2831 closed, assigned to KatrinIhler

[2021-07-16 10:55] mtneug commented on #2618
@rute-santos thanks for your comment! `sanitize-adaptive` indeed fixes the problem. I noticed that this seems also necessary before (re-)publishing. Can you confirm that an `ingest-download` before `sanitize-adaptive` is also required? I noticed that dynamically loading HLS manifests from the asset manager will still lead to wrong manifests after publishing as the manifest files are stored in a di

[2021-07-16 10:55] #2618 closed, assigned to nobody

[2021-07-16 13:34] rute-santos commented on #2618
Yes, _ingest-download_ is required when re-publishing. The urls from the asset manager are not "real"ones so _sanitize-adaptive_ doesn't work with them directly. We had the same issue here :)

[2021-07-16 15:08] mtneug commented on #2618
Thanks! Thought so and it's all working now :)

[2021-07-19 14:38] #2738 closed, assigned to kristofkeppens

[2021-07-20 14:28] andiempett opened #2848 "Suggestion: build and push rpm's and docker images using github"
Just a suggestion and i think it may improve visibility of the build process and speed up delivering artefacts for people to consume

create a github workflow(s) to build opencast on a release and bundle up any major supported package and push to the relevant hosts (quay.io, rpm repo etc.). could even send an automated email to announce - but it would lack that lovely personal touch 😉

[2021-07-20 14:40] gregorydlogan commented on #2848
This is already done, kinda.  @lkiesow has the rpms building automagically somewhere, as do I internally.  We're building snapshots at http://ci.opencast.org/#/builders, although those aren't hugely public and the repo generation doesn't fire because I haven't gotten around to fixing the RPM specs that CI is using.

I'm also part way through automating the release side of things, with the goal of

[2021-07-20 14:49] andiempett commented on #2848
I find leveraging the built-in ci tool like github actions is great to consolidate and simplify a lot of this stuff. build infrastructure 'just works' and the scripts and machinery are public and can be seen by peers. I think what you have is great now and releases are solid can come out promptly - I just think it's that little extra improvement that future maintainers (or future you) would thank

[2021-07-20 14:52] gregorydlogan commented on #2848
@lkiesow and I had discussed moving the spec and debian files into the mainline codebase, which would simplify the workflows, and could centralize the snapshots at least.  Again, time :)

[2021-07-20 15:20] lkiesow commented on #2848
@androidwiltron, I'm [already using GitHub Actions for RPMs](https://github.com/lkiesow/opencast-rpmbuild) and like the idea of automating this more. I even have Matrix notifications already :D
If you want to help, that's great. How do we want to coordinate? Do we want to continue here? Do we want to meet?

[2021-07-20 16:08] #2828 closed, assigned to marwyg

[2021-07-20 18:44] mtneug commented on #2848
@androidwiltron great to hear from you :)

The build files for the container images are tracked in <https://github.com/opencast/opencast-docker>. Builds for the images were automated from the beginning starting with Docker Hub then Quay.io and just recently GitHub Actions, which pushes the images to Quay.io.

There is also a GitHub action that runs daily and builds current versions of supported re

[2021-07-20 18:52] andiempett commented on #2848
wow this all sounds great! Im alot more confident in the build process now you guys have shown what you have. full automation is always a great goal to strive for. I'll have a look over the material you have linked to and see if there is anywhere I can help with.

i think this issue is probably satisfied

[2021-07-26 16:16] #2519 closed, assigned to nobody

[2021-07-30 12:21] Arnei opened #2883 "Embedding codes default to localhost if config option is not set"
The property `prop.org.opencastproject.engage.ui.url` in the organization configuration file (org.opencastproject.organization-mh_default_org.cfg) defaults to `http://localhost:8080` when not set. Therefore, the embedding codes in the Admin UI will also point to `http://localhost:8080`, which makes them not useful.

This is for example annoying in installations where you don't strictly need to set

[2021-07-30 12:30] lkiesow commented on #2883
As documented, things which depend on this should default to the server URL.:

https://github.com/opencast/opencast/blob/cc31f1c361c7f9f1626f906575fc0a69836aefa3/etc/org.opencastproject.organization-mh_default_org.cfg#L146-L147

[2021-07-30 12:34] lkiesow commented on #2883
I just realize, we talk about the embed codes. I would probably use `window.location` as a fallback if `prop.org.opencastproject.engage.ui.url` is unset.

[2021-08-03 10:31] slaudel opened #2896 "Upgrade Opencast from 8.x to 10.1 - Missing table "oc_adopter_registration" error"
After upgrade of an opencast test system from version **8.x** to **10.1** I'm seeing an error message thrown in the opencast log.
It seems related to #2282, where this error message appeared too.

What I did:
- Old 8.x installation was running on CentOS 7
- Reformatted disk and installed AlmaLinux 8.4
- installed all necessary tools and Opencast 10.1
- applied configuration from old installation (

[2021-08-03 10:48] lkiesow commented on #2896
Did you allow Opencast to create the table?

[2021-08-03 12:09] slaudel commented on #2896
I think so.
[code]

[2021-08-04 17:10] lkiesow commented on #1451
This work was dome by @KatrinIhler and is in 10.1 as explained in #2893

[2021-08-04 17:10] #1451 closed, assigned to KatrinIhler

[2021-08-05 08:02] KatrinIhler commented on #1451
Purely for completeness' sake: You can still do an index rebuild in parallel if you make multiple requests to the index rebuild service. There is currently no check forbidding that. (And maybe there should be, because this is a really bad idea in most - but not all - cases.) But if you start a complete index rebuild _once_, everything happening then is now guaranteed to be sequential.

[2021-08-09 14:29] ahlgrimma opened #2911 "Moodle Plugin opencast - Video record with Opencast Studio will send back in moodle as invisible for users - that changed"
When you record an video with Open Studio by click "Record Video" in the opencast block plugin in moodle, it will be send back as invisible for the users in moodle. That changed with an update. We don´t know which one, a user told us this days. Now it´s necessary to click on visibility for each single video to alter visibility.

**To Reproduce**
Steps to reproduce the behavior:

1. in Moodle Block

[2021-08-10 14:38] saraheee opened #2919 "When sorting the episodes of a series, the filtering by the selected series is lost"
**Describe the bug**
In the media module, click on the "Series" tab and select one of the series available. Then, the episodes of this series are shown.
When selecting one of the sorting options from the "Sort" dropdown on the top right, all available episodes are shown, not only the ones that belong to the currently selected series.

**To Reproduce**
_Steps to reproduce the behavior:_
1. Go to th

[2021-08-10 23:00] #2919 closed, assigned to nobody

[2021-08-10 23:04] lkiesow commented on #2911
Studio hasn't changed in a while.
The last change that comes to mind is the configuration change between Opencast 8 and 9:
`git diff r/8.x..r/9.x -- etc/ui-config/mh_default_org/studio/`

[code]

Did you maybe not update your configuration?

[2021-08-11 02:16] saraheee opened #2927 "Zooming in or out in the Paella player affects the control of the video"
**Describe the bug**
The two buttons for zooming the video in and out are placed on top of the video in the Paella player. When one of these zooming buttons is clicked, then also the video is started/stopped at the same time.

**To Reproduce**
_Steps to reproduce the behavior:_
1. Go to the media module and open any episode with the Paella player.
2. Click on the zoom in button on top of the video

[2021-08-11 12:58] ahlgrimma commented on #2911
The new file /etc/ui-config/mh_default_org/studio/settings.toml is present. But also the old file (settings.json) is present too. But can this be the reason for the invisibility?
There was an update for the _Opencast Videos_ moodle plugin in may 2021 that we installed and now i see there is a new one from june 2021 (v3.11-r2). Can the reason found there? In the the release notes i didn´t find any

[2021-08-11 22:03] gregorydlogan commented on #2927
This sounds like a [Paella](https://github.com/polimediaupv/paella) to me, can you file it over there please?

[2021-08-11 22:22] saraheee commented on #2927
Thanks for your comment and the link, I moved it to the Paella repo: https://github.com/polimediaupv/paella/issues/760

[2021-08-11 22:22] #2927 closed, assigned to nobody

[2021-08-19 05:38] Gao-Jun opened #2945 "Translation files of es.upv.paella.opencast.episodesFromSeries is not added to code base from Crowdin"
`modules/engage-paella-player/src/main/paella-opencast/plugins/es.upv.paella.opencast.episodesFromSeries/localization/en-US.json` is added to Crowdin with path `9.x/modules/engage-paella-player/src/main/paella-opencast/plugins/es.upv.paella.opencast.episodesFromSeries/localization/en-US.json`.
Yet translation files of it are not included in the code base during automatically update process.

Branc

[2021-08-19 11:09] lkiesow commented on #2135
Pull request #2942 has essentially fixed this, but left a comment for older versions we should remove eventually. My suggestion is to remove it in the Opencast 12 documentation, leaving adopters about another year to upgrade. Let's leave this open to remind us.

[2021-08-19 21:57] lkiesow commented on #2945
I think I know what's happening and can easily fix this:

Our integration will not update translation files unless they have been added once, since the people introducing Crowding years ago added lots of languages which have never been properly translated and which we did not want to show in the interfaces. I guess someone just missed the new files. Maybe we could create a master list instead and

[2021-08-19 22:00] lkiesow commented on #2911
It could be the reason because you can specify an access control list template in the Studio configuration. If you did before (in the JSON file) but never moved that configuration to the new toml file, that could be exactly the behavior.

[2021-08-19 22:03] lkiesow commented on #2896
Can you check which SQL statement fails on your database? We are running/supporting 15+ 10.x clusters by now with different MySQL, MariaDB and PostgreSQL versions but have never seen this issue.

[2021-08-19 22:04] lkiesow commented on #2733
They can now.

[2021-08-19 22:04] #2733 closed, assigned to nobody

[2021-08-19 22:07] #2442 closed, assigned to nobody

[2021-08-22 04:40] Gao-Jun commented on #2945
Fixed by #2951

[2021-08-22 04:40] #2945 closed, assigned to lkiesow

[2021-08-22 04:42] #2047 closed, assigned to nobody

[2021-08-22 04:43] Gao-Jun commented on #2207
Fixed in `r/10.x` branch

[2021-08-22 04:43] #2207 closed, assigned to nobody

[2021-08-27 00:36] Gao-Jun commented on #2896
I encounted a similar problem yesterday when I purge a database and create a new one.
After some digging work, finally, I found I misspell this config line `org.opencastproject.db.jdbc.url` in `custom.properties`
So, @slaudel  may be you can check whether your jdbc url is something like `jdbc:mysql://maria.ip/opencast?useMysqlMetadata=true`

[2021-08-27 14:54] lkiesow opened #2966 "Admin interface event details shows a maximum of 20 workflows"
In the admin interface's event details, the workflow tab shows a maximum of 20 workflows with no indication that more workflows exist due to an (probably unwanted) internal limit being set when querying the workflow service:

Note the message saying a workflow is running, while all workflows here have already succeeded:

![Screenshot from 2021-08-27 11-12-50](https://user-images.githubusercontent.

[2021-09-01 14:21] mliradelc commented on #2205
I understand what you mean Lars, but the if we delete that step we need to add to the dependencies list

I checked and each guide for RPM/Debian/Source, have different dependencies, we should add each guide the command for Elastic search to install it. 😃

[2021-09-01 14:25] mliradelc commented on #2115
@theodortruffer It's been a while since this issue was open, do you think the explanation solved for you or needs to be addressed in more depth?

[2021-09-02 08:21] reiferschris opened #2980 "Slow adminUI add event and event details modals (10.2)"
**Describe the bug**
A clear and concise description of what you see:
*When I click on "Add event" or the event details the modal takes several seconds to load (OC 10.2)*

**To Reproduce**
Steps to reproduce the behavior:
1. Login to adminUI of an installation that has more than a few events as a user who has access to several hundreds or thousands of events and series
2. Click on 'Add Event' or '

[2021-09-02 10:57] theodortruffer commented on #2115
@mliradelc I think all should be clear now. I'll fix it in the plugin (we'll have to load and use the metadata).

[2021-09-02 10:57] #2115 closed, assigned to mliradelc

[2021-09-02 11:09] fishfree opened #2981 "Seems lost this worked merge and also lost the feature."
Seems lost this merge [MH-13090: Added support for blacklisting languages from the admin UI](https://github.com/opencast/opencast/pull/420).

[2021-09-02 14:38] lkiesow commented on #2981
This is still in the current version of Opencast:

- https://github.com/gregorydlogan/opencast/blob/develop/etc/org.opencastproject.adminui.endpoint.LanguageServiceEndpoint.cfg

[2021-09-03 08:13] fishfree commented on #2981
@lkiesow I tried it before posting this issue, but it didn't work.

`org.opencastproject.adminui.languages.exclude=zh_TW`

[2021-09-04 23:59] lkiesow commented on #2981
Which version of Opencast are you trying this with?

[2021-09-06 18:37] am0o0 opened #2989 "Is your email up?"
Hello dear opencast team,
Can I ask you to tell me that receive an email from Huntr.dev on security@opencast.org please?
Best regards, Amammad.

[2021-09-06 22:10] lkiesow commented on #2989
Yes, we did. We will evaluate the reports and see how to address them.

[2021-09-06 22:10] #2989 closed, assigned to nobody

[2021-09-07 03:41] am0o0 commented on #2989
awsome
Can i ask you just vaidate them until you make a parch for fix as soon as possible please?
after validate them they will reamain hidden from public and I can get my bounty from huntr.dev team otherwise i dont able to get bouny.
best regards, Amammad.

[2021-09-07 12:48] fishfree opened #2990 "Feature request: Engage UI should implement the oEmbed standard"
https://oembed.com/

It will be much easier to embed videos.

[2021-09-07 12:49] fishfree commented on #2981
@lkiesow The latest stable version:  Opencast 10.2.0 - 4663d13 - built on 2021-09-06

[2021-09-07 18:27] gregorydlogan commented on #2205
Oh, what I would give for a good technical writer... :)

[2021-09-08 17:43] am0o0 commented on #2989
Can you give me any feedback dears?

About Huntr.dev procedure :
there is three step for you as a maintainer or as security team that access to reports on the Huntr platform
1. you see the reports and check them if they are valid or not
2. if they are valid you validate them and I get my bounty from Huntr( the reports still hidden from public )
3. After step 2 you create a fix commit on GitHub the

[2021-09-08 18:08] gregorydlogan commented on #2989
Hi @amammad, we're still talking internally. It's on my list to address shortly.

[2021-09-08 18:10] am0o0 commented on #2989
Thank you dear
I just want to sure that you OK with Huntr.dev procedure.

[2021-09-10 15:58] gregorydlogan commented on #2989
Hi @amammad, please refrain from discussing security related issues in a public issue tracker.  You filed the issue on Huntr, let's discuss it there.

[2021-09-12 14:10] mtneug commented on #2883
Why? We should always use the publication URL.

[2021-09-12 14:29] mtneug commented on #2777
This is an escaping problem. Some endpoints directly handle the request object some let the Java libraries do it. In the latter cases, you need to URL encode all form fields even when using `multipart/form-data`. We even have [one of the helper scripts doing this](https://github.com/opencast/helper-scripts/blob/2115dd4f7d105f5371d63c12f8ad2814c52fdcf3/ingest/ingest-with-acl.sh#L104). With `multipa

[2021-09-16 10:53] leitgab commented on #2990
I have developed a module which provides oEmbed integration possibilites for episodes. As soon as I have implemented the same for series and did some improvements on customizing possibilites I can make a pull request with mentioned module.

[2021-09-16 20:40] gregorydlogan commented on #2777
This appears to be happening in the *returned* data from Opencast, rather than the incoming requests.  It's likely still a escaping issue though.

[2021-09-17 08:07] mtneug commented on #2777
Well if the incoming request is parsed incorrectly the returned data is wrong. You can debug this: e.g. set a break point [here](https://github.com/opencast/opencast/blob/aeed6006a2272700c55e9c150c980a2db4321698/modules/ingest-service-impl/src/main/java/org/opencastproject/ingest/endpoint/IngestRestService.java#L1334) and you will see that `mp` strips the `+` from the request when not URL encoded.

[2021-09-17 12:07] Arnei commented on #2966
Fixed by #2982, closing

[2021-09-17 12:07] #2966 closed, assigned to nobody

[2021-09-17 13:28] JulianKniephoff opened #3007 "Major update to Bootstrap 5 might break the LTI tools"
#2582 did a major update to the Bootstrap version the LTI tools use. No changes to our code supported this update, though. I recently found some breakage caused by it (see #3006), and there might be more. There is an upgrade guide [here](https://getbootstrap.com/docs/5.0/migration/) which we should probably go through at some point.

But we should also ask ourselves whether it's okay for dependabo

[2021-09-24 07:45] kristofkeppens opened #3015 "Ldap authorization only isn't working in opencast 10.x"
Before opencast 10.x it was possible to include the ldap configuration file to just enable mapping roles to a user via LDAP.
In opencast 10.x this doesn't work ( as before ? ). The user get's looked up via LDAP but no roles are mapped to the user.
When looking at the diff between 9.x and 10.x it seems that the code responsible for this behaviour was removed from modules/userdirectory-ldap/src/main

[2021-09-24 13:07] tkurze opened #3017 "Search Service not returning signed URLs"
### Short description
The search service is not returning signed URLs for events even when instructed to do so and stream security has been configured correctly and is working otherwise (/api/events, /sign, e.g.).

#### Example
For example: When calling /search/episode.json?sign=true, a list is returned, but the url(s) are unchanged: no policy, no signature, etc.:
{
  "search-results": {
    "offs

[2021-09-24 13:18] mliradelc commented on #3017
Hi Tobias, I'm researching right now this problem, and as you said, it comes from the search service. Yesterday I've got the debbuger working again, and I've found the same! 😄 .
I was not sure because for some reason my local system wasn't making the publications like our clusters (But the media endpoints were the same from the search service).

[2021-09-24 13:30] tkurze commented on #3017
Hi Maximiliano, I'm happy that I'm not the only one investigating :-) I've already browsed quite a few times through the Opencast code base; but this is the first time I'm actually modifying it (though only for debugging). I'm not yet familiar how all the bits and pieces work together (and why the above mentioned code should apparently not run for some serializers, etc.) So glad that you are resea

[2021-09-24 13:41] mliradelc commented on #3017
From the commit that changed that part I remember for what was, but from the other part @lkiesow  wrote another serializer, I will try to insert that serializer into that part, I hope that will work.

The complicated is, that bug is deep into the code, the common packages are very critical.

[2021-09-24 13:45] tkurze commented on #3017
OK. Good that you remember the cause. I'll continue next week. Also if there is something specific you want me to check out – let me know :-)

[2021-09-24 13:51] mliradelc commented on #3017
Thanks to you for posting this. I was wasting time fixing some annoyances in my test setup only to confirm it was the real cause.

That commit was because sometimes there are multi-byte characters in the mediapackages, and opencast explodes because of a faulty serialization. That commit was to fix that.

[2021-09-28 09:28] lkiesow opened #3021 "Add how to check if Opencast is working"
Add how to check if Opencast is working to the end of the basic configuration guide so that users know if everything is running as expected

[2021-09-28 09:30] lkiesow opened #3022 "Add overview of architecture"
Add an overview of Opencast architecture:

- Workflows
- Services
- Operations
- Media packages
- Events

[2021-09-28 09:33] lkiesow opened #3023 "How to roll back"
We should have a description of what to do when you want to roll back after an update

- When can you roll back
- How can you roll back
- Which backups are required to roll back
- Maybe as part of the upgrade guide (down at the bottom)

[2021-09-28 09:42] lkiesow opened #3024 "Extended upgrade guide"
- Overview of what has changed and what needs to be done
- Step-by-step guide
- List commands to run
- #3021
- Possibly recording of upgrade webinar

[2021-09-28 12:24] kristofkeppens opened #3028 "Schedule service isn't using UTC datetime in the database"
We've encountered an issue that when we change the server timezone setting the scheduled events get returned incorrectly to the capture agents.

I did some tests on our dev system. The server set to Europe/Brussels and schedule an event at 14:00 ( I'm also in UTC+2 ) gets saved to the database as 14:00 . Server set to UTC, browser UTC+2 , schedule event at 14:00 -> gets written to db as 12:00 . Th

[2021-10-05 16:28] abonadt commented on #3021
This is important for a distributed system (admin-presentation-worker-..). Either as step-by-step instructions in the documentation or as script. Not only for upgrades but also new installations.

- (script) Auto-detect server configuration and check ip connections, open ports with listening ip's
- installed dependencies/software and used java runtime
- check security settings of file system and u

[2021-10-05 16:35] abonadt commented on #3024
Some ideas here: [https://tube.tugraz.at/paella/ui/watch.html?id=787651f0-482a-49b2-a3d7-966cf5af120d](url)

- include: move to a new server/installation
- rollback?

[2021-10-07 15:22] mliradelc commented on #3017
Update: I'm working actively on this, I tried to retreat this PR but opencast totally exploded (Because this code is from a Core part of Opencast).

I think that I have "sort of" a solution, but I hope to have it soon for release.

In another discovery, there is a patch that was made by another university that is not in the signing service, I thought that was merged in opencast 8.x or 9.x, but I w

[2021-10-08 07:21] tkurze commented on #3017
That sounds very good (except for the explosion part ;-) ). Sadly I haven't had a lot of time to continue my investigation myself, and probably I won't have soon. But you are way more experienced (and able to find a solution) then me anyways. So: thanks again :-) and let me know if there is something specific I could/should checkout.

[2021-10-08 13:28] #2180 closed, assigned to nobody

[2021-10-10 00:30] fishfree commented on #2990
@leitgab It's so kind of you!

[2021-10-10 00:34] fishfree opened #3051 "Is it possible to prevent downloading video with the feature of stream security?"
Even we disable download tab in the Paella player, it's still very easy to download video via HTML source. I read the stream security configuration in the [doc](https://docs.opencast.org/r/10.x/admin/#configuration/stream-security/), is it possible to prevent downloading video with this feature? If not, are there any other options?

[2021-10-11 07:50] lkiesow commented on #3051
No, that does not prevent downloads at all. Just sharing the links is a bit harder.
In the end, it's basically impossible to completely prevent this.
You can make it somewhat harder though, if you switch to streaming instead of using progressive download.

I guess that answers the question → closing this issue

[2021-10-11 07:50] #3051 closed, assigned to nobody

[2021-10-11 21:44] karendolan opened #3059 "Opencast 10.x docs and tests reference "compose" instead of "encode""
**Describe the bug**
In Opencast 10.x the Workflow Operation name "compose" has been changed to "encode". Several Opencast documentation still reference the "compose" operation and are causing confusion with users on list.

Example of 10.x docs and tests that are out of synch with 10.x
https://github.com/opencast/opencast/blob/r/10.x/modules/admin-ui-frontend/test/app/GET/newEventMultipleDSTFixtur

[2021-10-12 16:46] karendolan commented on #3059
Issue closed with https://github.com/opencast/opencast/pull/3060

[2021-10-12 16:46] #3059 closed, assigned to nobody

[2021-10-14 14:26] t-schroeder commented on #2980
Does changing the user filter with the new setting from #2019 help?

[2021-10-14 16:45] pawohl commented on #2980
Roles and Access policies (both created by our Stud.IP integration) are increasingly becoming an issue, as as shown in the screenshot below, in our installation.

<img width="1437" alt="Screenshot 2021-10-14 at 18 20 23" src="https://user-images.githubusercontent.com/6669916/137360940-52f517d6-f32d-433e-9a22-5c645feb4f71.png">

[2021-10-15 12:40] theodortruffer opened #3077 "External API Metadata startDate and startTime"
**Describe the bug**
- When calling the endpoint for an events metadata (GET api/events/{ID}/metadata), there are two fields, **startDate** and **startTime**.
- When calling the endpoint for an event, with the parameter withmetadata=true (GET api/events/{ID}?withmetadata=true), there's only one field, **startDate**, containing the date _and_ the time.
- When calling the endpoint for all events of

[2021-10-15 15:08] #1173 closed, assigned to nobody

[2021-10-15 21:59] #1217 closed, assigned to nobody

[2021-10-18 13:48] marwyg commented on #2981
I checked out 10.2 and configured "zh_TW", the language still appears. I am looking into it.

[2021-10-19 14:42] mtneug commented on #3077
This would be a breaking change and will not be standardized before work on a new external API begins.

[2021-10-19 15:25] Arnei opened #3081 "Metadata table won't load if there is a series with an empty title"
An issue that one of our clients had was that the metadata table in the event details dialog would not load, both for actual events but also for the "Create Event" dialog.
![Bildschirmfoto vom 2021-10-18 08-57-54](https://user-images.githubusercontent.com/14070005/137939567-b429cf1a-5f75-4077-a90d-d2d01fe4b6af.png)

This is due to an error thrown in `/admin-ng/event/{event.id}/metadata.json`. The

[2021-10-20 13:57] lkiesow opened #3083 "ACL Templates are not loaded any longer"
In Opencast 10.x > 10.2 (not sure about 10.3), it seems like ACL templates are not properly initialized any longer, leading to them not appearing in the admin interface. This does work on develop.opencast.org right now, but I have seen this before on `develop` as well. Meaning, wither it does not appear all the time (timing or wiring issue?), or it is fixed in `develop` already.

![Screenshot from

[2021-10-22 07:42] theodortruffer commented on #3077
Okay, thanks for the Information.

[2021-10-25 09:15] mliradelc commented on #2085
From the dev meeting from a few weeks ago, I will try to make a Javadoc working version

[2021-10-26 08:07] mliradelc commented on #3017
Hi @tkurze , Can you try the PR I made?

Thanks!

[2021-10-27 09:41] tkurze commented on #3017
Hi Maximiliano,
as soon as I'm back to work I certainly will. For private reasons I
probably won't be able to try the PR before mid-November.

Tobias

On Tue, Oct 26, 2021 at 10:07 AM Maximiliano Lira Del Canto <
***@***.***> wrote:

[2021-10-29 13:00] lkiesow commented on #3083
Seems like this just sometimes doesn't work of the first startup of Opencast

[2021-11-01 14:21] Rillke opened #3118 "At least one role with Read and Write permissions is required!"
**Describe the bug**

*When I click on an Event details icon in the Admin UI I get a warning message 'At least one role with Read and Write permissions is required!' in spite of such a role being present.*

https://user-images.githubusercontent.com/2311611/139686597-21a0f67e-3342-43ec-aac6-bae735800284.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. https://legacy.opencast.org/admin-ng/i

[2021-11-01 14:23] Rillke commented on #3118
I can't see this in our production, yet.

[2021-11-01 16:01] lkiesow commented on #3118
IIRC, this got fixed in 10.x. I at least can't reproduce this on develop.opencast.org. If it's important, let's reopen this but since 9.x is the legacy version, I suggest closing this issue and ignoring this on the legacy version. Any opinion?

[2021-11-01 19:43] Rillke commented on #3118
@lkiesow Thanks for testing this on stable.

[2021-11-01 19:43] #3118 closed, assigned to nobody

[2021-11-02 07:50] Rillke opened #3122 "Scissors symbol shown on events in spite of them not having write access but only read access to the event and editor loads upon click on the scissors symbol"
**Describe the bug**
A clear and concise description of what you see:
*When a user who hasn't write access to an event but only read access is allowed to see the events table, each row's action includes a scissors symbol, no matter if they have write access to the event.*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://legacy.opencast.org/admin-ng/index.html
2. Login as admin
3

[2021-11-05 07:23] Meridiana commented on #3015
Same for me ... we use CAS authentication with LDAP authorization and role mapping or adding of extra roles is not working.
In former versions the roles where added in loadUserFromLdap(...) but that code is now completely removed and an empty hashset is passed instead:

User user = new JaxbUser(userDetails.getUsername(), PROVIDER_NAME, jaxbOrganization, new HashSet());

It is in this change:
https

[2021-11-08 13:26] septatrix commented on #1856
We are also affected by this bug. A tool which students can use to download their moodle courses for offline usage runs very slow because each video gets downloaded twice¹.

¹ Due to how the tools works it follows redirects and checks the `Content-Type` in a `HEAD` requests. This returns `text/html` causing the tool to download the "website" using `GET` (which returns the video) and scraping it fo

[2021-11-08 14:28] septatrix commented on #1856
If someone would nudge me into the right direction I might have a look myself but I have never worked with this (code) before.

[2021-11-08 14:44] lkiesow commented on #1856
If you want to take a shot at this, it's likely wither in here (where you might need to implement `doHead`):

https://github.com/opencast/opencast/blob/0452b423fc81eb7efbdafd7470dd85b47d157cd3/modules/static/src/main/java/org/opencastproject/fsresources/StaticResourceServlet.java#L175-L177

Or it is blocked by Spring security. But I don't think you have to explicitely list `HEAD`. But who knows…

[2021-11-08 17:23] septatrix commented on #1856
I am unable to find the API Channel for publishing. Has this been removed since the initial reproduction instructions (on the demo instance)?

[2021-11-09 08:04] Rillke opened #3146 "text/html content-type header returned by /ingest/ingest instead of text/xml"
**Describe the bug**
When sending an HTTP request to `/ingest/ingest`, the MIME-type returned is `text/html` but the content is actually `text/xml`.

**To Reproduce**
Steps to reproduce the behavior:
1. https://stable.opencast.org/docs.html?path=/ingest
2. Open your browser's network console or any other HTTP sniffer
3. Create a Media Package, add a DC Catalog and Ingest
4. Requests for Media Pack

[2021-11-09 12:23] Hufschmidt commented on #1856
Thanks for pointing me in the right direction, I'll try to do some debugging once time permits. :smile:

[2021-11-09 12:30] septatrix commented on #1856
While I never used the Spring framework I did a bit of searching and found at least some examples where the HEAD method was explicitly listed among GET.

[2021-11-09 18:47] septatrix commented on #1856
To make things even weirder I am actually observing that having a session cookie set can sometimes change the behaviour even further. I have not yet been able to find a pattern what session cookies lead to this behaviour:

[code]

[2021-11-10 07:48] tkurze commented on #3017
Hi @mliradelc ,
I just checked your PR (10.x-stream-sec-fix) and it fixes the mentioned problem: The search service now returns signed URLs.
Thanks a lot!
Tobias

As there is still a discussion going on regarding the PR, I' haven't closed the issue atm.

[2021-11-11 09:14] ts23 opened #3164 "asset-manager move to S3 duplicates identical files"
**Describe the bug**

When the asset manager moves files into S3 using moveById, moveByDate or moveByIdAndDate multiple versions of episodes are moved to S3. This is done by creating a bunch of subjobs where each is moving a single version of an episode. These subjobs can run in parallel which can cause duplication of assets on S3 as multiple files with identical checksum can be moved at the same

[2021-11-11 12:35] scharnkn opened #3165 "Media Module only lists one creator"
**Describe the bug**
After publishing a video with multiple creators, the media module only lists one single creator.
I found that there was a [pull-request ](https://github.com/opencast/opencast/pull/2501)that was supposed to change that behaviour to show a short list with "...", but it does not seem to happen in current versions of Opencast.

**To Reproduce**
Use e.g. one of the test servers (e.

[2021-11-12 15:02] rute-santos commented on #3164
Hi @ts23 ,
We noticed this too some time ago and our fix was not to spawn sub-jobs when archiving by date but instead execute the move sequentially. It's less efficient, but doesn't duplicate anything, which is fine with us because we run it overnight. We only use the option to archive by date. We still have Opencast 5.x and our solution is not pretty. I can share it with you if you are interested

[2021-11-15 16:38] #2627 closed, assigned to nobody

[2021-11-15 17:57] gregorydlogan commented on #3017
Merged into r/10.x.  Will be present in 10.6 and 11.0.

[2021-11-15 17:57] #3017 closed, assigned to mliradelc

[2021-11-16 15:40] #3146 closed, assigned to nobody

[2021-11-16 20:34] #1494 closed, assigned to nobody

[2021-11-17 14:29] #3164 closed, assigned to ts23

[2021-11-17 14:33] ts23 commented on #3164
This is pretty much exactly what my fix is doing on a byId basis, so it could theoretically duplicate items if two independent MPs contain the identical (by checksum) files and are moved to S3 at the same time

[2021-11-23 17:24] ziegenberg commented on #3165
PR #2501 fixed it for https://legacy.opencast.org/engage/ui/index.html, not the theodul player. You are looking for a fix in the theodul player.

[2021-11-23 18:57] ziegenberg commented on #3165
theodul requests data from `search/episode.json` and goes for `search-results.result.dcCreator` which only contains one entry.

I guess, for a fix it should use `search-results.result.mediapackage.creators` instead, like the PR #2501 does it.

[2021-12-01 09:48] #2786 closed, assigned to jduehring

[2021-12-01 11:48] lkiesow commented on #3081
This is a duplicate of #1374

[2021-12-01 11:48] #3081 closed, assigned to nobody

[2021-12-01 12:09] lkiesow opened #3214 "Embed code selection design"
We have had several complaints about the design (mainly the choice of colors) for the embed code selection where in particular the yellow highlighting clashes with the overall blueish page:

![a](https://user-images.githubusercontent.com/1008395/144230841-1ac0ed4d-a9ef-45af-ab1d-386715b074de.png)

We would like to implement a somewhat more neutral style for this dialog.
Here is a quick first mocku

[2021-12-01 12:25] lkiesow opened #3215 "Password strength indicator"
Users tend to select bad passwords, and it is a good idea to remind them of that. Therefore, it would be nice to have a basic password strength indicator for the web interfaces which allows users to set passwords:

![Screenshot from 2021-12-01 13-11-10 (copy)](https://user-images.githubusercontent.com/1008395/144232835-8be29658-0d11-442e-b4af-ae09b0f3be8d.png)

As an indicator, a bar would be nice

[2021-12-01 12:36] lkiesow opened #3216 "User profile settings"
Opencast users should be able to see or (if they use internal users) manage their profile. This includes setting a new password for themselves. This could look somewhat like this:

![Screenshot from 2021-12-01 13-26-54](https://user-images.githubusercontent.com/1008395/144235240-70fe04c0-ec82-4c98-a48f-a58a086c6e31.png)

[2021-12-01 14:07] lkiesow opened #3217 "Remove ManagedService from MediaInspectionService"
We should just use `@Modified` instead of manually implementing a `ManagedService`:

https://github.com/opencast/opencast/blob/8de5f40beec85c9f274eb73ee5147226ecbbc6e7/modules/inspection-service-ffmpeg/src/main/java/org/opencastproject/inspection/ffmpeg/MediaInspectionServiceImpl.java#L121-L131

This is similar to #1217

For details about OSGi configuration loading, see:

- [Webinar: Opencast OSGI

[2021-12-02 01:16] #3165 closed, assigned to nobody

[2021-12-07 10:15] lkiesow opened #3239 "Extend Metadata Extraction in Inbox"
Opencast's inbox allows you to add zipped media packages which may contain arbitrary metadata but are very complex or to add simple files, which file names will end up as the new event's title. It would be nice if it would be possible to extract a few more basic metadata from the filename.

File names like these are commonly generated by capture devices:
[code]

To improve the situation, and to be

[2021-12-07 10:30] lkiesow opened #3240 "Match inbox events against schedule"
This is based on an implementation for #3239.

Capture agents often record files to file names containing metadata which allows us to identify an event by looking at a specific time in the schedule of a certain location (capture agent).

It would be nice if the inbox could use this to identify an event and extend the metadata of ingested media.
This needs to be an optional setting and should be tu

[2021-12-08 10:29] kristofkeppens opened #3242 "External API create event returns HTTP status 500"
When using the external API to create events a status 500 is returned.

This is on the latest opencast 11.x build, tested this in an allinone installation and on our development distributed setup. Creating an event via the admin ui gives no problems.

<details>
<summary>Stack Trace</summary>

[code]

</details>

_EDIT(Lars): Stack trace formatting_

[2021-12-08 10:39] mliradelc commented on #3242
This has been reproduced also in develop.opencast.org

[2021-12-08 12:46] llttugraz commented on #3239
For example, we use Epiphan recorders to automatically upload recordings via (s)FTP to the Opencast inbox folder. In the Epiphan settings you can set a prefix for the recording file names (normally one per recorder). We use a short venue code for this. The rest of the file name consist of the start date/time of the recording (standard Epiphan setting).
eg:
hs1_Oct13_12-02-15.mp4

You could use eg

[2021-12-08 12:52] llttugraz commented on #3240
By evaluating the location and timestamp of a recording, it should be possible to assign it to a scheduled recording (from the registered calendar data) without the need to know its specific ID. This would allow the planning and scheduling of recordings from arbitrary sources (non-CA) and their automatic assignment to their respective series, workflows, etc. at ingest

[2021-12-08 14:47] lkiesow commented on #3242
Are you working on this? Can you share the (cURL) request you used?

[2021-12-08 23:56] lkiesow commented on #3242
I've tried, but I cannot reproduce the issue. I tested against legacy.opencast.org (10.x), stable.opencast.org (11.x) and develop.opencast.org (12.x) and none of them shows a problem. Example request against develop:

[code]

@kristofkeppens, can you share how to reproduce the issue?
@mliradelc, you said that you can reproduce the issue? Same question: How?

[2021-12-09 01:07] lkiesow opened #3243 "Inbox may fail at startup"
The inbox service may start up prior to the organization configuration being loaded. Since the inbox sets an internal security context to run as a specific user in a specific organization, this can lead to the inbox not finding that user or organization and thus failing to configure an inbox. Instead, a warning is printed to the logs:

[code]

This is a timing issue and will only pop up from time

[2021-12-09 11:15] mliradelc commented on #3242
Hi Lars, I copied the reply from @kristofkeppens from Matrix, sorry for the confusion.

[2021-12-09 11:32] LukasKalbertodt opened #3244 "Reply 401 or 403 to unauthenticated API requests instead of forwarding to login page"
Opencast's response to requests that are not authenticated is currently a 302 forward to the login page. This behavior makes sense for routes that humans might navigate to (e.g. Admin UI). However, for API endpoints, this behavior is inconvenient and semantically incorrect. Code that talks to those APIs (oftentimes JS) currently has to add extra checks for catch unexpected redirects. Often, code f

[2021-12-09 11:41] LukasKalbertodt opened #3245 "Run authentication logic as soon as HTTP headers are received and don't wait for the body"
Currently, the authentication logic (e.g. JWT validation) only runs once the full HTTP request is received. This is usually not a problem, but has disadvantages when the request is huge, e.g. for `/ingest/addTrack`. In those cases, there might be a significant time difference between "header received" and "full body received". For authentication schemes that have expiring tokens, like JWT, this is

[2021-12-09 15:56] lkiesow commented on #3242
Then, let me close this issue for now, since we cannot reproduce it.

@kristofkeppens, if you still run into the issue and have some way for us to reproduce the issue, please re-open.
If that happens today or tomorrow, I can even take a shot at fixing the problem.

[2021-12-09 15:56] #3242 closed, assigned to lkiesow

[2021-12-09 16:25] colradectug opened #3246 "Mass action support for resource entries of courses"
Opencast allows to set the visibility of each Video by clicking on the "eye" icon. However, it is not possible to select multiple videos at once.

![image](https://user-images.githubusercontent.com/95869793/145433601-8600d555-bc1d-4b5e-9cd4-7e7b9d41fd71.png)

One could consider checkboxes with the action to be chosen from a drop-down menu at the bottom of the table (to be done with mass-actions) i

[2021-12-09 16:29] colradectug opened #3247 "Choose visibility in resource upload form"
When uploading resources, the visibility of those are automatically set to visible. A checkbox for choosing the visibility of the resource manually before uploading would be helpful for many users. This checkboxes (advcheckbox) default value could be set with admin_settings to be either default_visible or default_hidden.

[2021-12-09 20:43] lkiesow commented on #3247
I'm somewhat confused. Can you explain which upload form you are talking about? Event visibility is always controlled via the event's ACL which you can set.

[2021-12-09 20:46] lkiesow commented on #3246
Hi @colradectug, I have no idea where you found this, but the screenshot is not from any Opencast user interface. Maybe you are using one of the LMS plugins? If you do, you should report the issue there.

[2021-12-09 20:46] #3246 closed, assigned to nobody

[2021-12-10 12:26] kristofkeppens opened #3249 "The REST API documentation /api/events POST endpoint returns status 500"
Using the following metadata for creating a new scheduled event, the event get's created when using `curl`, yet when using the REST API documentation page it returns an https status 500.

[code]

The error that gets logged :

[code]

_EDIT(Lars): code formatting_

[2021-12-10 20:39] lkiesow commented on #3249
Adding the same data to the REST docs, what is being sent is:

[code]

That's an invalid request and should probably result in a 400 BAD REQUEST, although we could filter out empty fields as well.

[2021-12-10 22:26] lkiesow commented on #3247
Based on your other request not being about opencast, I assume this one is about one of the Opencast plugins as well. That's why I'm closing this. In case this is actually about Opencast, don't hesitate to re-open the issue and explain which UI you mean.

[2021-12-10 22:26] #3247 closed, assigned to nobody

[2021-12-14 14:25] mtneug commented on #3244
I would simply distinguish by path, i.e. `/api/` will always return a 401.

[2021-12-14 14:30] mtneug commented on #3246
This is from the Moodle LMS plugin.

@colradectug: the plugin already started moving away from LTI and managing viewer specific ALCs in Opencast. Using the new activity plugin, you no longer need to set visibility in the block and can simply use the Moodle internal mechanisms for controlling access to activities.

[2021-12-14 14:41] mtneug commented on #3247
This is probably Moodle again and the change in design to letting Moodle handle access internally opens up the host of mechanisms of Moodle to handle this.

[2021-12-20 06:07] Meridiana commented on #3015
Anything new about this?

[2021-12-21 16:09] #3214 closed, assigned to narickmann

[2022-01-03 09:18] #1935 closed, assigned to marwyg

[2022-01-03 09:19] #1690 closed, assigned to marwyg

[2022-01-06 23:00] #3243 closed, assigned to nobody

[2022-01-14 12:05] scharnkn opened #3349 "Add *.trec/Camtasia files to known mimetypes / how to handle unknown file types?"
Currently it is not possible to upload Camtasia/*.trec video files to Opencast. The reason seems to be that the file extension does not have a mimetype defined in the [MimeTypes.xml](https://github.com/opencast/opencast/blob/develop/modules/common/src/main/resources/org/opencastproject/util/MimeTypes.xml) resource. This causes Opencast to reject the file although ffmpeg could re-encode it in theor

[2022-01-17 15:30] luepschenk opened #3358 "ffmpeg error oc 11.x"
I installed oc 11.2 via ubuntu Package as distributed system (and also tested allinone) and I receive an ffmpeg inspection error after uploading.

Package: ffmpeg-dist
Version: 20211115053315-N-104552-g23a1f11d02-1

Following are the allinone Error-logs:

2022-01-17T15:18:41,819 | WARN  | (MediaInspector:298) - Error enriching track http://192.168.178.86:8080/files/mediapackage/c7e5a990-39df-4a50-

[2022-01-17 19:03] gregorydlogan commented on #3358
This looks like `ffprobe` is having trouble figuring out what the file is.  Are you uploading a video file, or something else?  Opencast only support video files.

[2022-01-17 19:16] luepschenk commented on #3358
I tried different mp4 files. The files work in our oc 10.x produktion cluster.

[2022-01-17 19:59] gregorydlogan commented on #3358
Then there's some kind of configuration issue, assuming the ffmpeg versions are both from our repository.  Does http://192.168.178.86:8080/files/mediapackage/c7e5a990-39df-4a50-a735-e4c986344a6e/5aaeac22-cd46-47cc-a820-c27357e7b641/180926ac_a5e8_4887_9b72_48976d66aa1f.mp4 download and play back correctly for you?

[2022-01-17 20:20] luepschenk commented on #3358
Yes ffmpeg is from the Ubuntu opencast 11.x stable repo. I can Download the Video and it does run normaly. I tried using ffmpeg from the Ubuntu default mirror. The Inspection works with that Version.(but has other issues later in the workflow.)

[2022-01-17 20:41] gregorydlogan commented on #3358
Any chance you can upload a sample of the problematic media somewhere?  This sounds like something that ffmpeg should be able to handle (cf the Ubuntu version working), but the version we're using doesn't.

I can certainly package up the most recent version we have and put it in the test repository tomorrow, but I'm not sure if that would even help.

[2022-01-17 20:53] luepschenk commented on #3358
this specific file is linked below but I tried different videos and also lectures we recorded and processed with our oc 10 cluster with the same result.

https://nc.rubcast.ruhr-uni-bochum.de/index.php/s/gjYs6RFm48Woo7g

[2022-01-17 21:26] #2098 closed, assigned to nobody

[2022-01-17 21:26] #3249 closed, assigned to nobody

[2022-01-17 21:28] luepschenk commented on #3358
Hey Greg,
I just purged ffmpeg-dist from opencast 11.x stable and installed ffmpeg-dist from opencast 10.x stable and it workes perfectly fine

It is Version: 20210620044626-N-102774-g2cf95f2dd9-1

[2022-01-17 21:35] gregorydlogan commented on #3358
That's really, really odd considering the media you've posted isn't in some weird format.  I wonder if the specific point revision we've picked just happens to not like something in the file.

@mtneug @lkiesow I was talking on Matrix about packaging up a ffmpeg 5.x release, maybe we should pick a recent 4.x and update that as well?  Have you had anyone else with issues?

[2022-01-17 21:45] lkiesow commented on #3358
I never put the new one in stable and still have the old one in the RPM repository since I never found time to extensively test the new one. I do know of issues. But they shouldn't affect Opencast. It's basically that this FFmpeg segfaults when trying to open encrypted network streams if you have a somewhat new version of glibc. So I just wanted the new one for streaming, …

The version I linked e

[2022-01-17 21:53] gregorydlogan commented on #3358
The version on stable.opencast.org (N-98643-gffa6072fc7) doesn't seem to mind the file either.  I'm thinking this is down to a bug in a specific ffmpeg point revision, and/or its interactions with Opencast's encoding profiles.

@luepschenk, if 10.x stable's version works for you then I would stick with that, and periodically test 11.x's stable to see if things have resolved.  My `ffmpeg-dist` pack

[2022-01-18 08:27] Sebastinus-Schulze commented on #3358
Hello,

I got the same issue on my Ubuntu with Opencast 11.2 that Kevin discovered.
ffmpeg version N-104552-g23a1f11d02

After replacing this version with the ffmpeg-version N-105291-gdcc9454ab9 provided by Lars, the errors disappeared and the processing of the videos are successful.

Many greetings
Sebastian

[2022-01-19 13:52] #2085 closed, assigned to gregorydlogan, mliradelc

[2022-01-19 15:17] lkiesow commented on #3358
Based on Greg's description, the issue should be resolved for now.
The resolution plus potential steps to roll back are described here:

- https://groups.google.com/a/opencast.org/g/users/c/a5zJtGBBvTQ

[2022-01-19 15:17] #3358 closed, assigned to gregorydlogan

[2022-01-22 03:42] gregorydlogan commented on #3349
We definitely should add `trec` into the mimetypes file - Camtasia is well known and other users are likely to run into this.

Adding *all* of the supported file extensions however, might be a bit too far.  That's both a long list, and a maintenance nightmare where we now have to be both *very* sure that all of our ffmpeg releases are the same version across Debian, RedHat, and Docker, as well as

[2022-01-22 08:42] scharnkn commented on #3349
That sounds sensible. I agree that it would be way too much work to maintain a full list of all possible file types.
Maybe another way to deal with this issue would be to allow users to define their own mimetypes via config files.

[2022-01-22 21:04] gregorydlogan commented on #3349
It would also make this less painful when this inevitably happens again :)

We'll see what kind of time I can scare up.

[2022-01-26 20:40] #3239 closed, assigned to lkiesow

[2022-01-27 10:50] jojoob opened #3387 "URLs returned by /search signed twice with token authentication"
**Describe the bug**
I configured "Stream Security"/token based authentication on an Opencast 11 distributed setup on Docker using the [minimal configuration example](https://docs.opencast.org/r/11.x/admin/#configuration/stream-security/#minimal-configuration-example) from the docs. Everything works when doing the manual [testing](https://docs.opencast.org/r/11.x/admin/#configuration/stream-securi

[2022-01-27 12:36] jojoob opened #3388 "Editor (/editor-ui/...) gives 403 despite ROLE_UI_EVENTS_EDITOR_VIEW"
**Describe the bug**
The role `ROLE_UI_EVENTS_EDITOR_VIEW` gives no access to the editor with URL `/editor-ui/index.html?mediaPackageId=`. At the same time `/admin-ng/index.html#!/events/events/[id]/tools/editor` works (assumed the user has the role `ROLE_ADMIN_UI`).

![image](https://user-images.githubusercontent.com/4180675/151359651-66ab0b62-203a-49cc-be49-44b352c06075.png)

**To Reproduce**
St

[2022-01-27 13:10] jojoob commented on #3388
Nevermind, I had an`etc/security/mh_default_org.xml` from an old Opencast version in place which lacked a rule for `/editor-ui/`.

[2022-01-27 13:10] #3388 closed, assigned to nobody

[2022-02-04 10:54] #3349 closed, assigned to gregorydlogan

[2022-02-07 00:49] lkiesow opened #3417 "OSGi error when shutting down Opencast"
Happens with Opencast 11:

[code]

[2022-02-07 19:03] gregorydlogan commented on #3417
11.x? This should have gone away with 12.x though, right?

[2022-02-08 21:27] #3240 closed, assigned to lkiesow

[2022-02-16 09:01] trueeh commented on #3015
Same for 11.x

Very painful to compile the 9.x again and again ...

[2022-02-16 09:10] mliradelc commented on #3015
Hi, It is just merged #3344 that should fix your problems. Today I will release the new version with this fix.

[2022-02-16 09:12] mliradelc commented on #3015
@kristofkeppens Because is fixed in 11.x, Should I close this issue?

[2022-02-16 09:16] kristofkeppens commented on #3015
This can be closed!

[2022-02-16 09:16] #3015 closed, assigned to nobody

[2022-02-16 09:17] trueeh commented on #3015
Great news, thankyou very much!

[2022-02-17 09:45] CGreweling opened #3465 "Partial-Import-WOH without import encoding leads to non clear exception"
**Describe the bug**
With Opencast 11 the encoding Profiles for Partial Import are not installed automatically.
If you use Partial Import without installing them,
The Workflow fails without any appropriate error message what`s wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Partial Import in a Workflow
2. encodingprofile import.silent ist not installt

**Environment Information**

[2022-02-17 14:22] #3417 closed, assigned to nobody

[2022-02-21 11:51] lkiesow commented on #2883
Seems to be fixed by now:
![Screenshot from 2022-02-21 12-51-02](https://user-images.githubusercontent.com/1008395/154950088-3767f227-ee5a-4da4-a4bc-ad46e691f4f8.png)

[2022-02-21 11:51] #2883 closed, assigned to nobody

[2022-02-21 11:52] lkiesow commented on #2981
IIRC, this got fixed. If I'm mistaken, please re-open this issue.

[2022-02-21 11:52] #2981 closed, assigned to nobody

[2022-02-21 11:58] #1949 closed, assigned to nobody

[2022-02-21 12:07] lkiesow commented on #2499
Fixed by #3188

[2022-02-21 12:07] #2499 closed, assigned to nobody

[2022-02-21 12:08] #2205 closed, assigned to nobody

[2022-02-22 13:39] theodortruffer opened #3473 "Metadata: Start DateTime synchronizes with Created DateTime"
**Describe the bug**
When the metadata field Start Date is modified (either via AdminUI or via ExternalAPI) the field Created changes to the same value a few seconds later. Is this intended behavior? Shouldn't 'Created' be fixed to the moment the Event was created?

Sorry if this is an old issue, I can test only with version 10.3.0 at the moment. But I couldn't find anything about it in the Change

[2022-02-23 13:18] jojoob commented on #3387
I can confirm that Opencast 11.4.0 - 248a5fc - built on 2022-02-23 installed on Ubuntu 20.04 via package is also affected.

[2022-02-23 18:38] rbeltranb opened #3489 "Error in RenameFiles WOH"
**Describe the bug**

Using a "rename-files" operation at the end of the 'publish-after-cutting' workflow, between the "snapshot" and "cleanup" operations:

[code]

**To Reproduce**
After deploying the modified "publish-after-cutting.xml" file:
1. Open the Video Editor for a selected Event
2. Mark two points for 'Split'
3. Hide the middle segment
4. Select the workflow 'Publish', which corresponds

[2022-02-24 12:13] ebbertd commented on #3473
This can be reproduced on stable.opencast.org (11) and develop.opencast.org (12).

[2022-02-24 14:52] karendolan commented on #3473
Our site relies on created date being synched to start date. Not that this is what everyone else wants, but our implementation "assumption" is that created date is the start of the actual event, not its conception.
In other words, un-synching the created and start date might cause problems for other sites , too,  in addition to ours.

[2022-02-25 14:53] theodortruffer opened #3491 "editing series 'subjects' via api fails"
**Describe the bug**
When updating the metadata of a series via External API:
If I try to update the field 'subjects', the api responds with a weird error msg:

`Not Found: Cannot find a metadata field with id 'subjects' from event with id '8e981748-69b1-4f8e-9839-8ebd2f2a9364' and the metadata type 'dublincore/series'.  `

Without the 'subjects' field, everything works fine.

Here's what the requ

[2022-02-28 13:14] metzenseifner opened #3499 "The player node does not play videos due to input string: "episode" error."
**Describe the bug**
This is a migration from [ELAN](https://gitlab.elan-ev.de/opencast/innsbruck/support/-/issues/171) to the upstream project.

The player node does not play videos due to input string: "episode" error.

Restarting Opencast on the player node seems to have solved this issue. But why did this happen in the first place?

**To Reproduce**
Unsure how to reproduce.

**Environment Info

[2022-03-01 19:27] #3215 closed, assigned to narickmann

[2022-03-01 20:37] lkiesow commented on #3489
GitHub seems to have scrambled your logs. Can you re-pate them in a code block:

[code]

[2022-03-02 09:33] rbeltranb commented on #3489
Error and workflow status logs updated.

[2022-03-02 10:58] jduehring opened #3509 "User gets removed from groups after Shibboleth login (since OC11)"
I am working with a customer who uses Shibboleth to Login into the Opencast Admin-UI and who has described the following behaviour:

1. Enable the bootstrap user and use it to add some user xy to some group, for example the `Default System Administrator` group.
2. Disable bootstrap user and check whether user xy has entered the group and has gotten the new admin roles.
Now...
2.1 If the user xy wa

[2022-03-02 14:29] lkiesow commented on #3509
Initial thoughts after reading this:

[code]

Do the roles exist at all on the users? If so, could they have a different type?

My guess is that adding a user via the user interface only adds it to the database table `oc_group_member` and we have some code looking for users in there. This means, we likely assume that users do not need to have the primary role (`ROLE_GROUP_XY`) but could be member

[2022-03-03 14:39] jojoob opened #3510 "Write permission gets lost during cleanup operation"
**Describe the bug**
When creating an event via admin UI, uploading a video for the presentation track and select the fast workflow the video processes just fine.
On file system level however the permissions looking odd:

[code]

When starting a "Publish" workflow on this just uploaded and successful processed event the workflow fails.

<details>

[code]

</details>

After the failed publish workf

[2022-03-03 18:01] sigapb opened #3511 "Creating AN Event Issue"
When trying to create an event, the metadata screen does not fully expand and remains there.
![Opencast-Metadata](https://user-images.githubusercontent.com/100868239/156624188-139ea91b-92d2-4bb4-9551-0fccbfb78a5b.jpg)
[Opencast Error 1.txt](https://github.com/opencast/opencast/files/8179980/Opencast.Error.1.txt)
[Opencast Error 2.txt](https://github.com/opencast/opencast/files/8179981/Opencast.Err

[2022-03-07 08:17] sigapb commented on #3511
Issue was due to a series created without a name. Once the un-named series was removed the Metadata screen expanded as requried

[2022-03-07 08:17] #3511 closed, assigned to nobody

[2022-03-07 08:19] sigapb opened #3515 "Create Series Script - Certificate Error"
I ran the recommended create- series.sh script and got the certificate error below

Curl: (60) Peer's Certificate issuer is not recognized.
More details here: http://curl.haxx.se/docs/sslcerts.html

curl performs SSL certificate verification by default, using a "bundle"
 of Certificate Authority (CA) public keys (CA certs). If the default
 bundle file isn't adequate, you can specify an alternate f

[2022-03-07 08:26] sigapb commented on #3515
Added the -k and the test series was created. Thanks

[2022-03-07 08:26] #3515 closed, assigned to nobody

[2022-03-07 11:49] jojoob commented on #3510
I'm doing some tests with the help of Vagrant...

With the Vagrantfile below I installed NFS server and client on the same machine as well as Opencast allinone.

On filesystem level permissions look the same as with my problematic initial setup but I get no errors on subsequent workflows. Seems that the read-only permissions on some files does not necessarily lead to workflow failures.

<details>

[2022-03-07 18:37] karendolan commented on #1967
I'm going to use this ticket for a pull to migrate admiin-ui-front end's node-sass to sass project as recommended on the node-sass project site.
ref: https://www.npmjs.com/package/node-sass
ref: https://sass-lang.com/blog/libsass-is-deprecated

The motivation is that our site is having problems with node-sass complaining about the global bindings when running local development, and sass (Dart sass

[2022-03-07 19:41] karendolan commented on #1967
@lkiesow can you verify that the patch works to build on ARM?

[2022-03-07 20:39] gregorydlogan commented on #3515
@sigapb I'm not entirely sure what happened to the middle of that error message, but the gist of what it's trying to say is that your server's SSL certificate can't be verified by the client (ie, curl).  So either your server is misconfigured (or has a bad cert), or your client is missing some intermediate certificate(s) in the chain.  `-k` will work fine for testing, but if your users have the sa

[2022-03-08 07:25] ebbertd opened #3518 "Presenter and contributor suggestions are not limited to the current tenant"
**Describe the bug**
In a multi-tenant system the presenter and contributor suggestions while editing the metadata is not limited to the current tenant. This is a privacy issue and should be limited to the current tenant.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up Opencast with multiple tenants
2. Upload some videos to each tenant, during the upload process fill out the presenter

[2022-03-09 13:33] jojoob commented on #3510
With another Vagrant setup I figured out that whenever Ubuntu is used for NFS server **or** Opencast the permissions are mangled. Only when both servers are Debian the permissions look normal. ~~This leads me to the assumption that something in Ubuntus NFS packages causes this.~~ PS: I downloaded and installed the nfs-common debian package and its dependencies on an Ubuntu machine but observed the

[2022-03-11 16:58] lkiesow commented on #1967
Just tested without the patch, and even that seems to work by now with the current state of `develop`:

[code]

But will test the patch anyway in a moment. We should still upgrade after all.

[2022-03-11 16:58] #1967 closed, assigned to nobody

[2022-03-14 10:41] AL-THD commented on #3509
We are currently working to update to Opencast 11.4 and can reproduce this on our test – environment.

<br>
<b>System Information:</b>

Cluster: 1 admin VM, 1 worker vm, 1 engage vm

Opencast Version 11.4

OS: CentOS 7 (Red Hat 4.85-39)

MariaDB Server V 10.7.3

Shibboleth Authentication

<br>
Our current workaround is to use a bootstrap user, but this is barely workable even in our test – environ

[2022-03-15 08:12] #3465 closed, assigned to nobody

[2022-03-15 08:19] CGreweling opened #3529 "Admin UI: Metadata editing in editor not working"
since OC11 you can not edit metadate in the OC Video Editor.
The metadate fields are not shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'admin ui'
2. Click on 'editor for event'
3. got to tab 'metadata'
4. no metadata is shown

**Environment Information**
 - OS: [fedora 34]
 - Browser [Chrome]
 - Opencast version with minor release [11.x, develop]

[2022-03-15 10:33] mtneug opened #3530 "`source-flavor` and `source-tags` are falsely required for some operations"
**Describe the bug**

Many operations now use `.getTagsAndFlavors` to parse `source-flavor` and `source-tags`. When there should only be one flavor/tag, `Configuration.one` can be used. However, this strictly requires there to be exactly one configured flavor/tag. This is not always desired.

In my particular case, I configured `segmentpreviews` only with `source-tags` and no `source-flavor` which

[2022-03-16 03:24] #2407 closed, assigned to nobody

[2022-03-16 09:05] CGreweling opened #3536 "External APi cannot provide more than 16.000 Events"
If you have more than 16.000 Events in a systemt and you try to get them with apit/events/get
you get Http 500.
It works with a limit of 16.000 Events and pagniation

**To Reproduce**
Steps to reproduce the behavior:
More than 16.000Events in the system i a tenant
1. Go to 'REST api/events'
2. Click on 'events/get'
3. Click Sumit
4. See error

**Environment Information**
 - Opencast version with r

[2022-03-16 15:44] jojoob commented on #3510
Opencast 11.2 works fine while >=11.3 does not. Does not matter if installed from package or using Docker images.

I'm trying to find the commit that introduced the behaviour with git bisect... as soon as I found a time efficient way to build and test.

[2022-03-17 09:23] AL-THD opened #3538 "Standalone Editor CORS error in opencast 11.4"
**Describe the issue**
In opencast 11.4 the standalone Editor cannot load the waveform due to a CORS error:
XMLHttpRequest blocked by CORS policy as no header is present on the requested ressource.

Browser - console output:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. open Admin UI
2. use "open video editor" button on any video
3. waveform gets the "wheel of death"
4. open browser

[2022-03-17 09:55] AL-THD opened #3539 "Standalone Editor Authentification error in opencast 11.4"
**Describe the bug**
Users cannot access the standalone editor, even though the security settings give them permission to do so.

Configuration in `<opencast-directory>/etc/security/mh_default_org.xml`:
[code]

Administrators can access the editor.
This might be related to:  [User gets removed from groups afer Shibboleth login](https://github.com/opencast/opencast/issues/3509)

**To Reproduce**
St

[2022-03-17 15:57] jojoob commented on #3510
#3328 introduced the bug. It has something to do with the `commons-io` dependency. Works with 2.8 but not with 2.10. Couldn't test 2.9 because of a dependency error (probably a bug within the commons-io package).

[2022-03-22 11:51] mliradelc commented on #3489
While this go before the `Cleanup` operation, we can't discard that #3510 is involved on this issue, possible fix: #3541.

Update: The mentioned "Fix" was introduced on 11.5, @rbeltranb, Can you check if solves the mentioned issue?

[2022-03-24 14:50] kristofkeppens commented on #2162
This has been implemented a while back

[2022-03-24 14:50] #2162 closed, assigned to nobody

[2022-03-24 14:53] kristofkeppens opened #3556 "Lti series tools: edit doesn't work in distributed installs"
The edit form returns the error that the metadata can't be retrieved ( from the lti-service-gui/***/metadata endpoint ). This does work from the admin node however, but not from the presentation node. The series tool on the other hand only works from the presentation node, so running this on admin is not possible. This used to work however.

[2022-03-24 15:26] AL-THD commented on #3509
I will update to 11.5 and try if this bug is still around.

[2022-03-25 12:00] miesgre commented on #2149
@gregorydlogan I followed the CAS guide to test if it works, and CAS security is working in develop branch (12.x).

If you want to test it and don't have a CAS server, you can use https://github.com/soulwing/cas-mock-server as a simple mock up CAS server.

The link to the original documentation (https://docs.opencast.org/develop/admin/#configuration/security.cas/#further-information) leads to Jira

[2022-03-25 15:36] narickmann commented on #3529
Metadata fields are now shown, but not saved. I have no clue why.
If anyone has an idea I would be greatful to let me know.

[2022-03-28 07:02] AL-THD commented on #3509
Opencast 11.5 did <b>not</b> solve this issue.

<b>Reproduce:</b>
1. Use Opencast with Shibboleth login
2. in the admin UI open Groups
3. create an Admin - Group
4. add an accout to this Admin - Group
5. as soon as this account logs into the Opencast Admin UI using Shibboleth Authentification, the user gets removed from this group

If you want I can provide Error Logs too.

<b>More Tests:</b>

<b>

[2022-03-28 08:20] jojoob commented on #3510
After some git bisect sessions and poking in commons-io issue tracker I found the cause of this issue. It is already known and was tracked as [IO-751](https://issues.apache.org/jira/browse/IO-751). There is already a fix on master branch and it will be included in upcoming commons-io version 2.12. **Commons-io versions 2.9 to 2.11 are affected by the bug.**

As soon as commons-io 2.12 is released

[2022-03-29 09:31] stefanosgeo commented on #3529
@naweidner which version are you using? I our dev servers with version 11.5.0 problem is still present..as well as in stable.opencast.org.  I think is not fixed yet.

[2022-03-29 10:13] jojoob commented on #3387
@mliradelc any news on this? Is there something I can help with?

[2022-03-29 13:35] Rillke commented on #3529
https://github.com/naweidner/opencast/commit/7e3f3af3817460a41294599b051ea9fa7a828583 is not requested to be pulled and therefore not merged, yet.

With "are now shown" @naweidner referred to their custom build of Opencast with the linked patch applied.

[2022-03-31 08:47] mliradelc opened #3600 "Admin-ui can't filter, search and add new events to series if they have the same name."
**Describe the bug**
If you have two or more series with the same name, The events in that series don't appear if the search filter is set to the series name.

This problem also happens if you try to create an event, in the "series drop-down menu" only appears one series name, making it impossible to choose the series to add the new event.

Here is a recording of the problem:

https://user-images.

[2022-03-31 13:48] JamesUoM opened #3602 "Termination State Services leaves nodes in maintenance mode"
**Describe the bug**
The termination state service puts a node into maintenance mode while if completes jobs and terminates. If a node is started with the same IP with will start in the maintenance mode and not accept jobs.

**To Reproduce**
Steps to reproduce the behavior:
Run AWS autoscaling nodes in a small enough subnet that when terminated the same internal IP address will be reused. The new

[2022-04-01 08:24] mliradelc commented on #3387
Hi, sorry for still not looking this, I just got married a few weeks ago and I'm taking back all my duties.

Well, I think the problem with double signing maybe comes from my PR, in the meantime you can look at #3058, We haven't any issues with that here, I recommend you to start there.

[2022-04-04 02:12] fishfree opened #3621 "Class handout notes does not support non-latin characters as filename"
I added an event in the admin ui, uploading a PDF with Chinese characters in the filename as class handout notes. When the event is finished, the Chinese characters are all replaced by _ in the handout file name as the screenshot below:
![image](https://user-images.githubusercontent.com/1741341/161456140-e900699d-545f-466f-bf00-0a630effd542.png)

[2022-04-04 02:29] gregorydlogan commented on #3621
Two immediate questions:
 - Are the relevant files on disk named correctly?
 - Does the link work?

This could be an issue in a few places, so it's quite possible that we'll fix it in one place (UI, backend, mediapackage xml), only to have the next one crop up.  This feels to me like something in the ingest/input validation is cleaning non-ascii characters.

[2022-04-04 09:23] tyfranck opened #3625 "Caption service converters are missing OSGI annotation"
**Describe the bug**
All caption converters are missing the OSGI annotation on develop branch as a result none of the transcription services ( e.g. Google, IBM, etc) are working.

**Environment Information**
 - Opencast develop branch

[2022-04-04 13:39] #3217 closed, assigned to narickmann

[2022-04-04 18:14] lkiesow commented on #2046
Closing this since Paella 7 is replacing Paella 6 soon anyway

[2022-04-04 18:14] #2046 closed, assigned to miesgre

[2022-04-04 19:46] lkiesow opened #3629 "Build of Paella Player 7 module fails"
Building the new Paella player module fails if a local `npm` is being used, since the commands defined in the `pom.xml` do not exist:

[code]

The offending command is:

https://github.com/opencast/opencast/blob/2247c0117426d4e8e36e31bc331ebd4f92f85430/modules/engage-paella-player-7/pom.xml#L46-L47

But the other commands are likely also incorrect. It seems like this was just copied from somewhere

[2022-04-06 02:42] gregorydlogan commented on #2896
Is this still an issue?

[2022-04-06 07:36] mliradelc commented on #1721
@ebbertd Seems to be fixed, should I close it?

[2022-04-06 07:45] ebbertd commented on #1721
This has been fixed.

[2022-04-06 07:45] #1721 closed, assigned to nobody

[2022-04-06 08:12] ebbertd commented on #1374
@JulianKniephoff Is this fixed now?

[2022-04-06 08:14] mliradelc commented on #1493
This is the same as the bug #3600

[2022-04-06 10:11] JulianKniephoff commented on #1374
Seems to be fixed! :D

[2022-04-06 10:11] #1374 closed, assigned to nobody

[2022-04-07 07:06] Rillke opened #3636 "Duplicate scheduling possible when scheduling while previous scheduling request is still being processed by Opencast"
**Describe the bug**

The Stud.IP Opencast Plugin allows one-click scheduling. A lecturor can click an icon (a camera symbol) in a table of events. When they click the symbol in quick succession, two or more Episodes end up to be scheduled for the same time and recorder/space. This confuses our recorders and recordings abort.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to stable.open

[2022-04-07 13:54] Rillke opened #3639 "Missing tags when encoding multiple qualities with the encode WOH"
**Describe the bug**
When encoding multiple qualities using the encode WOH the media created is not tagged with the suffix. This is a regression introduced beteween Opencast 9 and Opencast 11.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.opencast.org/admin-ng/index.html#!/events/events
2. Login as admin
3. Start the Process upon Upload and Schedule WF on any media you

[2022-04-07 14:58] mliradelc commented on #3600
I found the cause, and I am fixing it right now. This will be a fix that will enable again functionality (Will show all the names) but it will not address the design issue. As we talked in the technical meeting last Tuesday, it will be a task for the next admin UI version.

[2022-04-07 17:44] #3629 closed, assigned to nobody

[2022-04-07 20:03] #3602 closed, assigned to JamesUoM

[2022-04-07 20:15] lkiesow commented on #3639
Likely caused by this change in `ComposerServiceImpl.java` between Opencast 10 and 11:

[code]

[2022-04-08 10:21] ypatios opened #3649 "Inbox Scanner assignment of scheduled events: issue when ingesting >1 recordings for same scheduled event"
**Describe the bug**
If more that one recordings are sequentially copied in the inbox folder for the same scheduled event, there are issues with ingesting (usually eg in case of 2 files, the second one hangs in the inbox).
This is a frequent case as lecturers often take a break or they run a short test recording at the beginning of a lecture.

Probably this issue is related to this one:
https://gi

[2022-04-08 12:44] lkiesow commented on #3649
To complete that list, right now if you ingest a second file for the first event, it would overwrite the first one. Would you generally expect new ingests to always create new events if there is one already in the system? Or just if the existing event has a running workflow?

[2022-04-08 12:54] ypatios commented on #3649
I guess it would be safer to always create a new (copy) of the respective media package with the new media. Manual adjustments can be done by admins. Maybe in a next version we can make the algorithm more intelligent, so that it can decide according to the metadata if the new ingest should be regarded as a replacement to the first one or as an additional part of the same event

[2022-04-11 12:39] mliradelc commented on #3473
@theodortruffer There is an ongoing thread about this in the opencast user list https://groups.google.com/a/opencast.org/g/users/c/Ldd6fyvQnJg

[2022-04-11 12:40] #2234 closed, assigned to nobody

[2022-04-13 07:53] uniwuerz-mf commented on #3509
Hi there. We are having the exact same problem with our OpenCast 11.4 installation.

We would also greatly appreciate a fast fix for this bug. Hopefully before our Semester starts. If you need we can provide some additional information.

Greetings University of Wuerzburg.

[2022-04-13 08:01] jduehring commented on #3509
I'm on it now!

[2022-04-13 13:21] fishfree commented on #3621
@gregorydlogan The link works.

[2022-04-19 10:06] mliradelc commented on #3387
@jojoob Last week was submitted this PR #3674 , I believe that will solve your issue. Can you review it?

[2022-04-20 20:58] lkiesow commented on #3621
Opencast deliberately changes file names as a protection mechanism when putting files into the working file repository to avoid (a) potential problems with file systems and (b) to avoid potential security issues (e.g. `../` as part of a filename). The set of allowed characters is very limited.

[2022-04-21 09:02] jduehring commented on #3509
@uniwuerz-mf @AL-THD I wrote a patch that was already tested by the University if Vienna. We'll probably discuss this again on the technical meeting next tuesday and then hopefully merge it right away!

[2022-04-21 18:00] lkiesow opened #3692 "Distributed set-up is broken"
Running a distributed Opencast of `develop`

- 4a48816 (current HEAD) is broken
- 5cf4826 is broken
- 315707c is good

The initial error seems to be:
[code]

Looking at the commits between good and bad commits on the failing `cover-image-remote` the prime candidate for the cause seems to be #3385:

[code]

A more detailed log can be found at:
https://data.lkiesow.io/opencast/opencast-distributed-d

[2022-04-22 08:41] #3600 closed, assigned to nobody

[2022-04-22 08:41] #2393 closed, assigned to nobody

[2022-04-22 08:45] #1493 closed, assigned to nobody

[2022-04-22 11:26] vJan00 opened #3694 "Inspection operator detects cover image as video"
**Describe the bug**
When you let the Inspection Workflow operator check a file for video streams, it detects an attached pic (mjpeg) as a video stream. The mjpeg is the cover image of the file, the expected behavior would be that the workflow does not recognize this stream as a video stream. Here is the metadata of a sample file:
[code]

**To Reproduce**
Download the following file: [Click me](ht

[2022-04-22 20:16] #3692 closed, assigned to nobody

[2022-04-25 08:57] jojoob commented on #3387
Hi @mliradelc I cherry-picked the patch onto the code of Opencast version 11.6: I can confirm it fixes the double signing problem. :+1:

PS: The API also still delivers correctly signed URLs. So no new problems here.

[2022-04-25 10:05] mliradelc commented on #3694
Well, if the attached picture is in motion-jpeg format, it will be considered as a video file.

[2022-04-26 17:23] #3649 closed, assigned to nobody

[2022-04-27 12:18] fishfree opened #3712 "Vosk Speech to test WOH cannot get language code from Dubin core metadata"
I insert the vosk speech-to-text operation in the partial-publish.xml in my 11.5 Opencast as below:
[code]

However, it still use the fallback eng language-code. Why it cannot read the language code from the Dublin core metadata? I read there is [such related code here](https://github.com/opencast/opencast/blob/61f1c644ca89bc470e5757fd5ff6911df98c6e68/modules/speech-to-text-workflowoperation/src/m

[2022-04-28 09:40] mliradelc commented on #3529
@naweidner Can you make a PR with your fix?, I will gladly review it.

[2022-04-28 12:08] karendolan commented on #3712
HI @fishfree
[BIG EDIT] to avoid confusing other readers, I'm editing the response to correct it.

Our site uses that style to pull values from the episode catalog, but we include a fallback value, example `<configuration key="subject">${catalogs['episode']['type']!'type missing'</configuration>`.
But, we only use in the send email WOH to support FreeMarker templates.
 https://github.com/opencast/

[2022-04-28 13:17] karendolan commented on #3712
Document reference for the FreeMarker uses
https://github.com/opencast/opencast/blob/develop/docs/guides/admin/docs/workflowoperationhandlers/publish-configure-woh.md
https://github.com/opencast/opencast/blob/729fecb21a932466e7ed70af1c6de68b8bd9cde9/docs/guides/admin/docs/workflowoperationhandlers/send-email-woh.md

[2022-04-28 13:59] Rillke commented on #3529
@mliradelc I'm testing currently a patch based on @naweidner's work. Will submit as soon as build completed and test is successful.

[2022-04-28 14:11] mliradelc commented on #3529
Thanks, @Rillke, I was waiting for @naweidner answer, and if she didn't answer, I would like to make it with the comments you left in her branch.

Please tag me to review it.

[2022-04-28 16:16] Rillke commented on #3639
In the line `inspectedTrack.getURI().getPath().endsWith(profile.getSuffix(tag))` Opencast set the following values:

* `tag`=`mp3`
* `inspectedTrack.getURI().getPath()`=`/files/collection/composer/248581_0.mp3`
* `profile.getSuffix(tag)`=`-audio.mp3`

So essentially, the `inspectedTrack.getURI().getPath()` will never end with `profile.getSuffix(tag)`.

----

Encoding profile used:

[code]

[2022-05-02 02:47] fishfree commented on #3712
So, It would be much better to use the catalog data in any WOH.

[2022-05-02 09:26] mliradelc commented on #3387
Solved with #3674

[2022-05-02 09:26] #3387 closed, assigned to mliradelc

[2022-05-04 09:45] Rillke opened #3738 "Red check mark when editing metadata is ambigious"
**Describe the bug**
A clear and concise description of what you see:
When editing meta data in the admin UI, a red check mark is shown on changed (dirty/unwritten) fields. Red is not distinguishable from green for some people, and the check mark as an indicator for unsaved changes is not obvious.

![image](https://user-images.githubusercontent.com/2311611/166655501-6068e617-aa50-472d-b55c-95e8e5e

[2022-05-05 16:48] berthob98 opened #3740 "Prefer GPU accelerated nodes when encoding"
Opencast should have an easy way to prefer GPU accelerated nodes when encoding, since messing with JobLoads and MaxLoad values in the configuration files on several nodes can get messy quite fast.

[2022-05-11 12:23] LukasKalbertodt opened #3753 "Provide better and more thumbnail images by default"
Many Opencast-related applications require "thumbnail images" for videos. They are used for a quick preview when multiple videos are shown in a list or grid. The current default workflows generate two image attachments for this general purpose:

- `*/player+preview`: 720px high
- `*/search+preview`: 160px wide

The intention is good, but I think we have two problems here: (a)  for most "normal thu

[2022-05-13 13:51] #3529 closed, assigned to Rillke

[2022-05-14 01:24] Rillke commented on #1557
With the new save button, this does not happen accidentally anymore, although the issue remains parially as the save button stays grayed out after switching to a new event, even if you editet the metadata of that event. @rrolf could you update the issue accordingly or create a new one? Thanks.

https://user-images.githubusercontent.com/2311611/168405917-0970ace6-6496-4ae6-8bb4-c5b95955a712.mp4

[2022-05-14 01:30] Rillke commented on #1557
@gregorydlogan  I stumbled over this, too, btw. But there are a lot of issues in Opencast and this wasn't the worst one. It was during pandemic and resources were short, so we focused on the most critical issues.

[2022-05-14 01:38] Rillke commented on #2980
Update on this: The Stud.IP Plugin ceased using Access policy templates stored in Opencast.

[2022-05-14 01:41] Rillke commented on #1769
Hi @lkiesow can you provide an update, for instance strike those points from the initial list that are done? Thanks!

[2022-05-14 01:47] Rillke commented on #1137
Still exists in OC11. And I learned that you can save filters 😹

[2022-05-14 02:04] Rillke opened #3768 "Applied user filter not shown in AdminUI; can't apply filter for users in filter dropdown anymore"
**Describe the bug**
A clear and concise description of what you see:
*When filtering for a user by clicking their name in the Admin UI, e.g. in the presenter(s) column, the filter is correcty applied but is not shown in the field listing applied filters.*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.opencast.org or https://legacy.opencast.org and log in.
2. Make sure

[2022-05-17 10:05] miesgre opened #3774 "Distribute a video with multiple audio languages"
**Describe the bug**
Paella supports multiple audio languages (tracks) when using HLS, but opencast can not generate those HLS files.

If Wowza is used as a streaming server, opencast generates a SMIL file for opencast but without the multiple languages (tracks).

Wowza distribution needs to be modified to include language tracks in the SMIL file. Info about it: https://paellaplayer.upv.es/#/doc/w

[2022-05-18 12:26] #3639 closed, assigned to Rillke

[2022-05-20 10:10] uniwuerz-mf commented on #3509
Do you know in which release this bug will be fixed? Still there in OC 11.7.

[2022-05-20 11:11] lkiesow commented on #3509
Pull request #3672 is still open. It will be in the next release once it has been reviewed and merged.
There is at least one open issue with the current patch, and Jonas is off work for the next two weeks.
Feel free to jump in and help if you want to.

[2022-05-27 10:51] #3625 closed, assigned to tyfranck

[2022-05-27 10:51] tyfranck commented on #3625
Fixed

[2022-05-27 13:02] tyfranck commented on #2147
fixed

[2022-05-27 13:02] #2147 closed, assigned to tyfranck

[2022-05-27 13:03] tyfranck commented on #2148
fixed

[2022-05-27 13:03] #2148 closed, assigned to tyfranck

[2022-05-27 17:00] yokoul commented on #3774
I can only bump this Issue. The limitation in the implementation of HLS processing by using SMIL compose bases revoke the option to use the advanced filter who's needed to produce a clean HLS file with multiple tracks.
I stay at disposal for testing or helping on this change.

[2022-05-30 17:52] lkiesow commented on #3738
We had a discussion about checkmarks like these in the new editor as well and agreed that they are really confusing. The editor ended up not showing these at all, but just showing an error icon if something went wrong.

[2022-05-30 18:12] lkiesow commented on #3621
We will work on this and make the filter configurable.

[2022-05-30 18:19] lkiesow commented on #3510
Pull request #3541 should have fixed this

[2022-05-30 18:19] #3510 closed, assigned to nobody

[2022-05-30 19:05] lkiesow commented on #3489
I did not manage to reproduce this issue with a current Opencast.
I did, however, notice that there is a syntax error in the configuration you provided.
The line starting with `description` should have a closing `>`.
Maybe that caused the issue.

Feel free to re-open this if you can still reproduce the issue.
If possible, attach the modified workflow.

[2022-05-30 19:05] #3489 closed, assigned to nobody

[2022-05-31 04:13] gregorydlogan opened #3814 "Workflow Tests Racing"
**Describe the bug**
Starting with `12.x`, the workflow service implementation tests randomly deadlock, resulting in build timeouts and failures.  The GH logs unfortunately don't give you anything to go on, but (finally) reproducing this locally let me attach a debugger

**To Reproduce**
Steps to reproduce the behavior:
1. Move to workflow service impl
2. `while true; do mvn test; done`
3. Go get

[2022-05-31 04:17] gregorydlogan commented on #3814
The debugger points me at

https://github.com/opencast/opencast/blob/da079663af8ff4f2b21051acdce47b54380e31ff/modules/workflow-service-impl/src/test/java/org/opencastproject/workflow/impl/WorkflowServiceImplTest.java#L619-L623

which leads back to WorkflowServiceImpl's `fireListeners` method, which is (only) called by WorkflowServiceImpl's `update` method.

[2022-05-31 07:52] lkiesow commented on #3814
So, it fails to insert or update an event in the database. That probably leads to the workflow being in a different state than expected. That leads to the tests forever waiting for the expected state. Possible causes that come to mind:

1. The ID is derived from the job id. Tests may feed this invalid data, starting “the same” job over and over again, potentially with no proper cleanup in some cas

[2022-05-31 16:32] Rillke opened #3817 "inbox.datetime.format does not support date only values"
**Describe the bug**
A clear and concise description of what you see:
When configuring the inbox to with only a date (and no time) to be matched, you'll see a `DateTimeParseException` when putting video files into the inbox matching that pattern.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure your inbox:
2. `inbox.datetime.format = yyyy-MM-dd`
3. `inbox.metadata.regex = (?<created

[2022-05-31 16:34] gregorydlogan commented on #3814
Running the same test this morning, and it's deadlocked at https://github.com/opencast/opencast/blob/da079663af8ff4f2b21051acdce47b54380e31ff/modules/workflow-service-impl/src/test/java/org/opencastproject/workflow/impl/HoldStateTest.java#L278

Definitely related to the listener, or the updates.

[2022-05-31 22:25] lkiesow commented on #3817
The underlying metadata will expect a date and time in the end. How would you expect this to work? Would it map those dates to a fixed time?

[2022-06-01 06:07] Rillke commented on #3817
One of our users said: Can you remove the time from the pattern, to save me some work? I said, "no problem" and changed the pattern because without looking at the implementation it's not obvious that a time is strictly required.

Yes. I like how [answers the issue](https://stackoverflow.com/a/39685202/2683737) using DateTimeFormatterBuilder and default values for optional fields.

If we don't agre

[2022-06-01 20:44] lkiesow commented on #3817
I don't mind having a default time and the linked solution looks good.

[2022-06-02 13:19] #3814 closed, assigned to nobody

[2022-06-02 14:44] lkiesow opened #3831 "Submitter missing from workflow details"
The submitter of a workflow (should be a username) seems to be missing from the workflow details in the admin interface with the current `r/12.x` and `develop`:

![Screenshot from 2022-06-02 16-41-41](https://user-images.githubusercontent.com/1008395/171655837-a008a09d-b919-45fa-ab72-82304cfe963e.png)

[2022-06-05 15:09] lkiesow commented on #2911
Closing for lack of feedback. Feel free to re-open if the issue persists.

[2022-06-05 15:09] #2911 closed, assigned to nobody

[2022-06-06 17:11] gregorydlogan opened #3841 "Unable to use Vosk-cli"
**Describe the bug**
I've installed [vosk-cli](https://github.com/elan-ev/vosk-cli) more or less how it's supposed to be - it's installed for my user, not in a virtual env.  When testing, I get the following error:

[code]

This happens every time.  I have not modified my vosk config.  Copy and pasting the command from the error works as expected so it's not that `vosk-cli` isn't working, it's tha

[2022-06-07 15:31] lkiesow commented on #3841
This is certainly not an Opencast bug. It will just start the tool. That's it.
My guess would still be your deployment.
The most likely problem I would say is that you deployed this using `pip` as your user. Which will require it to be run as your user and might (or might not) require your environment variables.

[2022-06-07 17:03] gregorydlogan commented on #3841
Opencast is, as far as I know, running as my user.  I guess if `start-opencast` or its sub-scripts is munging the env variables that might explain things.  Although looking at the output of `env`, I don't have anything obvious defined, aside from `$PATH`, which contains `$HOME/.local/bin` where `vosk-cli` put itself.

[2022-06-07 21:22] gregorydlogan commented on #3841
Of course, testing this *with* a venv works as expected, so who knows.  I still think someone (an adopter) is going to run into this, but without being able to better define what's wrong I'm not sure how to continue debugging.  In the meantime, if you're an adopter and running into this, try building `vosk-cli` in a venv and see if that fixes things.

[2022-06-07 21:22] #3841 closed, assigned to nobody

[2022-06-08 07:27] Lyliian opened #3844 "Infinite cut to the video editor"
**Describe the bug**
Hi, we discovered that it is possible to cut the same segment an infinite time in the video editor.
Screen :
![image](https://user-images.githubusercontent.com/12525724/172556876-5af6fa33-3651-4df0-b938-c5eeef6120c3.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'video edior'
2. Click on timeline
3. Click on split like 10times
4. See 10 segment with same time

[2022-06-10 09:07] Arnei opened #3855 "User roles in the Admin UI are not displayed consistently"
The user role display in the Admin UI is inconsistent/incomplete. When looking at the table of users, the 'roles' column will not display any 'effective roles'. Furthermore, when looking at the 'effective roles' in the user details, there may still be some effective roles missing. For example, the role 'ROLE_USER_OPENCAST_SYSTEM_ACCOUNT' will not be displayed for the System User, despite that role

[2022-06-13 19:10] #3738 closed, assigned to nobody

[2022-06-13 19:45] Rillke opened #3860 "Opencast does not allow parallel processing of workflow operations"
**Describe the bug**
When starting a workflow, each operation is executed one after the other, instead of using full capacities of available workers and executing the workflow steps in parallel.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.opencast.org/admin-ng/index.html
2. Log in.
3. Create a new event by uploading a video.
4. Watch the workflow details under  <img