[2022-06-13 19:49] Rillke opened #3861 "Opencast does not allow ACL changes of events with active workflows"
**Describe the bug**
A clear and concise description of what you see:
*When a workflow is running in Opencast, it is not possible to change ACLs. Neiter in asset manager, nor on presentation.*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.opencast.org/admin-ng/index.html#!/events/events
2. Login and put a checkmark in front of an existing event.
3. Start a task like "P

[2022-06-14 00:40] gregorydlogan commented on #3860
This has been requested since... well, [forever](https://opencast.jira.com/browse/MH-6410), and it's *very* hard with the current arch. Is this something you're planning on doing work on?

[2022-06-14 00:42] gregorydlogan commented on #3861
This presents some issues in terms of concurrency, which is part of why it's not allowed. Imagine if the user updates the ACL just after the publication woh starts. The publication now has stale acl data, but is marked as successfully published.

+1 for fixing this, but it's going to be a fun ride.

[2022-06-14 07:37] Rillke commented on #3860
The reason I am bringing this up is STT (and in future more tasks like text recognition in slides). In order not to delay publication, we publish to engage twice, but after first publication users get a notification by the LMS and a WF is still running. Threrefore, they can't change ACLs (#3861) which they do consider being an issue (as well as more delayed single publication).

Sadly, no. It woul

[2022-06-15 14:46] lkiesow opened #3875 "Admin interface mock server does not react to CSS changes"
You can run a mock-version of the admin interface:

[code]

This automatically reloads when you change the HTML or JS files but fails to rebuild on CSS changes where you have to stop and restart the server.

[2022-06-18 12:01] insad opened #3884 "Removing activemq in Ubuntu also removes opencast-12-allinone"
Installing opencast-12-allinone on Ubuntu also installs activemq. If you want to try to remove activemq, also opencast-12-allinone is being removed.
But documentation says activemq is not used anymore, and can be removed.

[2022-06-18 15:06] gregorydlogan commented on #3884
Whoops, forgot about that. Will address on Monday.

[2022-06-20 20:27] gregorydlogan commented on #3884
This is fixed in 12.0-2, which is uploading now.

[2022-06-20 20:27] #3884 closed, assigned to gregorydlogan

[2022-06-21 13:33] metzenseifner opened #3891 "Ingest Service Rest API ingest endpoint return value is documented incorrectly"
It returns the Workflow Instance XML representation, not a Media Package XML representation.

https://github.com/opencast/opencast/blob/65e467a1e5be80ec4cd2e51de6117624d7d41087/modules/ingest-service-impl/src/main/java/org/opencastproject/ingest/endpoint/IngestRestService.java#L1122

I'll probably submit my own fix for this when I get around to it if somebody doesn't beat me to it.

[2022-06-21 13:45] metzenseifner commented on #3891
https://github.com/opencast/opencast/pull/3892

[2022-06-21 15:11] mliradelc commented on #3509
The PR #3672 is merged, I will close this issue, if persists, please open it again.

[2022-06-21 15:11] #3509 closed, assigned to nobody

[2022-06-21 17:48] owi92 opened #3894 "Clean Install: Firefox related tests fail in admin-ui-frontend (macOS)"
**Issue**
When installing Opencast on macOS via $ `mvn clean install -Pdev -DtrimStackTrace=false` a total of 41 Firefox related tests fail in the admin-ui-frontend bundle.
33 of these tests seem to be related to `adminNg.services.language`
In each case there is an error reading:
[code]
See the "grepped" log file below for a description of each failed test.

**To Reproduce**
Steps to reproduce the

[2022-06-21 18:56] gregorydlogan commented on #3894
Just to be sure: you do have Firefox installed, right?

[2022-06-21 21:40] owi92 commented on #3894
Yes, it is my default browser.

[2022-06-22 07:22] olabri opened #3895 "Series id's with length less than seven chars breaks the adminui"
[code]
![image](https://user-images.githubusercontent.com/1658875/174967116-279e032e-1e70-4843-9c43-098e6a486ad4.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Make a serie (via api) that has less than 7 chars in id
2. Click on any event
3. See error

**Environment Information**
 - OC 11.7
-  https://github.com/opencast/opencast/blob/0199014ff51735935a94c8b5ae54753537911065/modules/lis

[2022-06-22 21:02] lkiesow commented on #3895
As discussed in Matrix, the code will definitely fail if short IDs are used
The problem seems to be something like this happening:
[code]

[2022-06-24 11:53] mliradelc commented on #2157
This seems to be fixed, please reopen if you think that is needed

[2022-06-24 11:53] #2157 closed, assigned to nobody

[2022-06-24 11:59] mliradelc commented on #1392
This seems to be fixed, please reopen if the issue still exists.

[2022-06-24 11:59] #1392 closed, assigned to nobody

[2022-06-24 12:00] mliradelc commented on #1749
Is this still an issue?

[2022-06-24 17:22] Rillke commented on #1749
It was when I tried this 14d ago on an up-to-date iPad Pro.

[2022-06-24 21:54] gregorydlogan commented on #3894
@mliradelc you've got an M series mac right?  I'm assuming you can't reproduce this?

[2022-06-26 21:07] lkiesow opened #3904 "Admin interface does not accurately display access control list"
Create a series with a very simple access control list like this:

[code]

The ACL will bet set correctly and be sent to the frontend correctly, but will not at all be displayed in the admin interface:

![Screenshot from 2022-06-26 23-01-39](https://user-images.githubusercontent.com/1008395/175833815-e825a0e5-bba7-457b-a0cf-4819915e1ec7.png)

[2022-06-27 12:17] #3831 closed, assigned to nobody

[2022-06-27 21:10] Rillke commented on #1749
Tested today on stable and still reproducible.

@mliradelc Do you want me to look into this issue in depth or should I file the redirect-to-paella workaround as a PR?

[2022-06-28 10:29] mliradelc commented on #1749
Hi @Rillke, I think we should talk in today's meeting, but if I have to choose, Paella as a workaround is a good idea.

[2022-06-28 13:58] mliradelc commented on #3894
Thanks, @gregorydlogan, for ping me, I will try on my M1

On my intel based mac, I don't have issues

[2022-06-29 07:28] yokoul opened #3914 "Extended series metadata do not work with MariaDB"
**Describe the bug**
A clear and concise description of what you see:
*When i add an extend metadata catalog in serie i can display my metadata II in the interface, but soon as i set some data inside, it's crashing*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'opencast and add an extended metadata catalog'
2. Add a test serie without extend metadata, everything is fine
3. Add a dat

[2022-06-29 09:15] mliradelc commented on #1749
After yesterday's meeting, @gregorydlogan has open a proposal about this issue https://groups.google.com/a/opencast.org/g/users/c/9Z8ZHVCNbks please share your thoughts here.

[2022-06-29 22:24] lkiesow commented on #3914
Can you paste your `CatalogUIAdapterFactory…cfg` for the extended series metadata catalog?

[2022-06-29 22:55] Rillke commented on #1749
To be clear, the suggestion is to remove Theodul Player from the codebase (and release) starting with OC 13.

[2022-06-30 05:40] yokoul commented on #3914
[code]
I played with somes options as the original one worked on r/11.x but didn't in r/12.0. I can make the event version work successfuly - without change from 11.x but nothing work for series.

[2022-06-30 10:44] CGreweling opened #3919 "Sendmail throght Workflow fails"
**To Reproduce**
Steps to reproduce the behavior:
1.  'configure sendmail woh'
2. 'create a user with a vaild mail-adress'
3.  'enable postfix service in systemd'
4. create an event with "contributor" the name of the created user
5. start the workflow
6.
[code]

**Environment Information**
 - OS: [Centos Stream 8 on Server]
 - Opencast version with minor release [12.x]

** **
What i have tried so

[2022-06-30 18:13] lkiesow commented on #3919
Java seems not to be able to [find the mime type mappings](https://stackoverflow.com/questions/21856211/javax-activation-unsupporteddatatypeexception-no-object-dch-for-mime-type-multi). My best guess is that this has to do with a newer Java version, since the mail stuff is/was relying on previously internal Sun Java classes.

This is really easy to reproduce when enabling the test mode in `org.ope

[2022-06-30 20:27] #3817 closed, assigned to Arnei

[2022-06-30 20:27] #3904 closed, assigned to Arnei

[2022-06-30 21:54] lkiesow commented on #3914
I've tried this with a fresh 12.x, and I cannot reproduce your issue at all. I've tried…

- creating a new series with extended metadata
- modifying the extended metadata later on
- manually creating a series without extended metadata, adding them later via admin ui

Everything worked just fine.
I've attached the configuration file I used, but it's basically just your configuration. I did not modi

[2022-07-01 06:54] yokoul commented on #3914
I can reproduce this on two different cluster who are both 12.0. 3 nodes (admin/presentation/worker) on public and RDS/EFS on private subnet. I don't have other related errors. Both are based on Ubuntu. I will test on a AllInOne instance to see if i can replicate it.

Maybe i'm doing the same configuration error who impact this process on both cluster and i don't see it yet. I will investigate mor

[2022-07-01 13:24] luepschenk opened #3934 "Opencast Crasing with outgoing firewall"
Hey, I have an Issue with opencast admin node crashing periodicaly (offline 10 min then back online for 20 then back offline for 10...). This problem got fixed after opening the firewall for outgoing traffic. I know github connectivity is used for version checks but this crashing should not be resulted by a missing version check.

Now using opencast 12.0 on Ubunutu. (had the same problems with 11.

[2022-07-01 14:22] mliradelc commented on #3894
I just tried on my M1 pro, indeed, the build fails with Firefox.

I can confirm this bug, now, there are two workarounds:
- Uninstall Firefox
- Disable Firefox in tests when compiling under a M1 mac.

Nevertheless, we need a proper fix for this bug.  We removed safari tests because the plugin was very old, but with Firefox we can't have that luxury to not have it.

[2022-07-01 14:26] mliradelc commented on #3636
@Rillke with the studip merge, is it solved this issue?

[2022-07-02 07:30] Rillke commented on #3636
Opencast conflict detection still does not work as expected. We could document the fact, though, that as long as the index is not updated, conflicting events can be scheduled and I'd be fine with that.

[2022-07-03 20:57] lkiesow commented on #3914
I went from a 12.x to an Opencast 12.0.0 (085d2c6) cluster with PostgreSQL as a database and still everything works just fine.
The only differences now are that you are using MariaDB and potentially that you modified additional configuration.

[2022-07-03 21:50] lkiesow commented on #3914
Good (?) news: It seems to be a problem related to MariaDB. I can reproduce this by switching from H2 or PostgreSQL to MariaDB.

It looks like the newer MariaDB JDBC driver has some issues. [CONJ-935](https://jira.mariadb.org/browse/CONJ-935) looks awfully similar, although that one got fixed in the version we have in 12.0. Our `develop` branch already has a newer version, and we should probably c

[2022-07-03 21:58] yokoul commented on #3914
Happy (or not..) you can reproduce it, was going creazy reading and reading again on my config to find an error. Thanks for investigating more Lars.

[2022-07-03 22:23] lkiesow commented on #3934
From the heartbeat shutting down services, it looks pretty much like you are preventing Opencast from verifying the availability of its services in the cluster, which would also explain the random periods of it working and not working if a service registry can reach the services on its own node, but not the ones on other nodes, which it would then mark as offline. Later that server's service regis

[2022-07-04 08:16] luepschenk commented on #3934
Hey Lars, thanks for the Answer. The OC-nodes were able to communicate within the cluster. However only on 443. I added Port 80 to the firewall and continue watching the behavior.

[2022-07-04 08:52] mliradelc commented on #3895
Solved, please reopen this PR if you still encounter errors

[2022-07-04 08:52] #3895 closed, assigned to mliradelc

[2022-07-04 09:16] lkiesow commented on #3914
And `develop` doesn't seem to have that problem. I can put out a patch later.
Could you test the patch in your deployment?

[2022-07-04 09:56] lkiesow commented on #3914
Pull request is out. It would be great if you could test if that resolves the issue for you.

[2022-07-04 13:59] yokoul commented on #3914
I'm using package deployment, but i'm installing now a setup for testing it.

[2022-07-04 15:02] lkiesow commented on #3914
You could just replace the `opencast-db` JAR files in `/usr/share/opencast/system/…` with the patched one. That will then automatically be overwritten with the next package update.

[2022-07-04 16:43] yokoul commented on #3914
Thanks Lars, it was a better approach :-) I'm not dev at all...
Ok, it's working perfectly with this change, thank you for this update.
![image](https://user-images.githubusercontent.com/630213/177193924-aed18027-b7f0-4083-859c-1cddb34c17e3.png)

[2022-07-04 16:47] #3914 closed, assigned to nobody

[2022-07-04 16:51] lkiesow commented on #3914
The patch will hopefully be reviewed in time for the 12.1 release next week.

[2022-07-05 11:32] luepschenk commented on #3934
Update:
Hey after adding the port 80 the chrashed continued periodicaly. I now added the github Servers on 443 Outgoing (incomming established is allowed). That seems to do the trick. The System has not chrashed for a couple of hours now.

[2022-07-06 19:59] gregorydlogan commented on #3934
@luepschenk would you be able to draw up a PR documenting what needs to be opened on the outgoing firewall?  Updating https://docs.opencast.org/develop/admin/#configuration/firewall/, which lives at https://github.com/opencast/opencast/blob/develop/docs/guides/admin/docs/configuration/firewall.md

[2022-07-07 17:12] karendolan opened #3959 "Users with ROLE_ADMIN_UI have broken [Go to Admin] and [Go to Media Module] buttons on Engage server"
**Describe the bug**
When I use a distributed Opencast with a separate Admin and Engage node, and I log into the Engage node with ROLE_ADMIN_UI, I am able to log in, but nothing happens when I click the [Go to Admin] or [Go to Media Module] buttons.

On closer inspection in the browser inspector, I see that the href attribute on the buttons are missing when I have ROLE_ADMIN_UI but are filled in w

[2022-07-07 18:38] #3891 closed, assigned to nobody

[2022-07-11 13:54] lkiesow opened #3967 "Publication link does not work"
In the events table, clicking on Published → Yes → Engage does not link to the player. Nothing happens

[2022-07-11 13:58] lkiesow opened #3968 "After login, you shoortly see the eld Matterhorn 1.x landing page"
After login, you shoortly see the eld Matterhorn 1.x landing page from where you are then forwarded eventually via JavaScript. But seeing the old user interface is confusing.

The problem is likely that the old landing page and the login view are in a single module. Instead, they should be in separate modules with the landing page beind deployed on non-admin nodes, admin picard being deployed on a

[2022-07-11 14:09] mliradelc opened #3970 "Sentence goes out of dropdown menu"
**Describe the bug**
When you use a language that has a sentence that is larger than the available space in the dropdown menu, the words go out of the border.

<img width="364" alt="image" src="https://user-images.githubusercontent.com/8040628/178283562-9d998f8e-049b-41a5-a746-9f0aeb390339.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Select a language that has a large sentence (Exam

[2022-07-11 14:32] Rillke opened #3973 "Pagination does not work in admin UI picard"
**Describe the bug**
When being on "1" and clicking on "2" on search results containing more events than to be displayed, only one event is shifted, not 10.

page 1:

<img width="1432" alt="Screenshot 2022-07-11 at 16 29 24" src="https://user-images.githubusercontent.com/2311611/178288063-6307bab2-3e0f-47bc-a3bf-006037e481ab.png">

page 2:

<img width="1427" alt="Screenshot 2022-07-11 at 16 30 03"

[2022-07-11 14:54] Rillke opened #3974 "Sharing links does not work anymore - no redirect to target after login"
**Describe the bug**

When opening a URLof the Admin UI and you are not logged in, after login, you are redirected to the events page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://picard.vm2.elan.codes/admin-ui/index.html#/systems/jobs
2. Log in as admin/opencast
3. You are now on https://picard.vm2.elan.codes/admin-ui/index.html
4. but you should be on https://picard.vm2.el

[2022-07-11 20:50] Rillke commented on #3967
Actually the link points to the correct target; you can see this when hovering with the mouse. But the tiny pop-up closes when clicking on the link (before the link click causes navigation)

<img width="1114" alt="Screenshot 2022-07-11 at 22 50 45" src="https://user-images.githubusercontent.com/2311611/178355824-da67ef98-3062-4569-b2b9-c55c18846e9e.png">

[2022-07-11 21:09] Rillke opened #3975 "Sharing links does not work - Event or workflow details not part of the URL anymore"
**Describe the bug**
In the old Angular.js Admin UI when you open an event detail, or workflow detail, the state ist reflected in the URL. This isn't the case in the new Admin UI Picard, therefore sharing links to event details is not possible anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://picard.vm2.elan.codes/admin-ui/index.html
2. Log in (admin / opencast)
3. Click

[2022-07-11 21:18] Rillke opened #3976 "Conflict checking while creating a new event does not happen"
**Describe the bug**
A clear and concise description of what you see:
*When scheduling an event which conflicts with another event, the old Angular.js Admin UI used to prevent that already during time /spacial selection, wheras the new Admin UI lets you proceed until the last step and when confirming that, an error message is shown but all input is lost.*

**To Reproduce**
Steps to reproduce the b

[2022-07-11 21:41] Rillke opened #3978 "Click-to-filter-by-presenter does not work anymore"
**Describe the bug**
A clear and concise description of what you see:
*Click-to-filter-by-presenter does not work anymore*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://picard.vm2.elan.codes/admin-ui/index.html
2. Log in (admin /opencast)
3. Click on a presenter in the "Presenter(s)" column
4. Nothing happens. In the old Angular.JS Admin UI, a filter was added for the present

[2022-07-12 11:34] owi92 opened #3979 "Keyboard navigation is not confined to open modals"
**Issue**
When using the keyboard's tab-key to navigate through modals (new-event and new-series were tested), the focus is not confined to that modal and it is possible to tab through the background and rest of the page, while the modal is still open.
In this case it is not possible to exit the modal by pressing 'Esc' or using any other modal-specific key combinations. Eventually the user will cy

[2022-07-14 22:25] gregorydlogan commented on #3968
I ran into this in my (very brief) testing, and didn't seem to get forwarded at all.  Maybe I wasn't patient enough though...

[2022-07-16 16:36] xx1182 opened #3982 "Can't build from source, can't build frontend"
**Describe the bug**
*Can't compile front-end component*

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone '...'
2. Mvn clean install '....'
3. See error

**Environment Information**
 - OS: Debian on Termux
 - Browser: None, headless server
 - lastest commit

The error:

`[ERROR] Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.10.3:grunt (grunt build) on project op

[2022-07-18 09:48] lkiesow commented on #3982
The stack trace you posted only tells us that `grunt build --skipTests=false` failed, not why. That's probably in some of the other logs. But if you say that you do not have a browser installed, then that's likely already the reason. Since you are building with tests, Opencast will try running some front-end tests which require Firefox or Chrome for their execution. Try installing one of the brows

[2022-07-18 16:36] lkiesow commented on #3934
Spare you the effort. I would block that. Opencast does definitely not need a connection to GitHub. I can run Opencast in an internal, unconnected network without any problem. You definitely do not need to be able to reach GitHub. Also, if that was broken, we should fix and not document that problem.

[2022-07-19 20:52] #3919 closed, assigned to nobody

[2022-07-20 08:48] #2276 closed, assigned to nobody

[2022-07-21 12:10] lkiesow opened #4011 "Studio broken on develop"
- Go to develop.opencast.org
- Log-in
- Click on Studio
- Get a 502 Bad Gateway error

Opencast 12 (stable) seems to work.

[2022-07-21 17:23] lkiesow commented on #4011
The error is actually the reverse proxy complaining about headers returned by Opencast:

[code]

Which is a huge location header Opencast uses to redirect to Studio:

[code]

So, it's mostly a reverse-proxy issue, although the redirect is really unnecessary when coming from the admin interface.

[2022-07-26 09:12] reiferschris opened #4022 "Edit event metadata modal requires multiple mouse clicks to edit"
**Describe the bug**
A clear and concise description of what you see:
Editing metadata in the event metadata modal requires multiple mouse clicks

**To Reproduce**
Steps to reproduce the behavior:

- *Clicking in an existing metadata field does not enter edit mode immediately. You need to click in the field a second time to edit it's content*
- *Clicking in an empty metadata field does not work*
-

[2022-07-26 09:13] reiferschris commented on #4022
Might be a duplicate of #3977

[2022-07-26 09:21] reiferschris opened #4023 "add event dialogue has no upload progress"
**Describe the bug**
A clear and concise description of what you see:
*Uploading a video with the add event dialogue doesn't show progress of the upload*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'add event'
2. add metadata
3. select a video file for upload
4. create new event
5. no upload progress appears, only the message 'the event has been created' appears after the finished

[2022-07-26 09:33] reiferschris opened #4024 "add event dialogue has no visual progress indicator for the individual steps"
**Describe the bug**
A clear and concise description of what you see:
*the add event dialogue has no visual progress indicator in the individual steps (metadata, source, processing, ACL, summary)*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'add event'
2. . See progress bar indicators not changing appearance.

no progress indicator in picard
![image](https://user-images.githubuserc

[2022-07-27 14:16] mliradelc commented on #2896
I will close this issue because the user haven't answered if this is still a problem.
@slaudel If you are still having this problem, please comment again to reopen this issue.

[2022-07-27 14:16] #2896 closed, assigned to nobody

[2022-07-27 14:36] slaudel commented on #2896
Sorry for not reporting back. For those stumbling upon this issue, I found a solution in this thread from the german speaking Google group: [https://groups.google.com/a/opencast.org/g/anwender/c/8qD5zEOYtvo](https://groups.google.com/a/opencast.org/g/anwender/c/8qD5zEOYtvo).

[2022-07-27 14:45] mliradelc opened #4028 "MariaDB upgrade script for 12.x fails over Character Set Issue"
**Describe the bug**
When try to upgrade Opencast MariaDB script with a database with a Collation set to `utf8_general_ci`, the script fails with the error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Have a MariaDB Database configured to `utf8_general_ci`
2. Execute the migration Script

**Environment Information**
 - OS: Rocky Linux 8
 - Opencast version 11.9 upgrading to 12.0

[2022-07-27 16:35] karendolan commented on #2018
It was broken again in Opencast 12, but fixed by patch https://github.com/opencast/opencast/pull/3957, https://github.com/opencast/opencast/issues/3919

[2022-07-28 13:14] mliradelc commented on #4028
UPDATE:

Thanks the tip from @marwyg, downgrading `mysql-connector-python` to version `8.0.29` solves the issue

[2022-07-29 08:05] mliradelc commented on #4028
#4032 and #4033  Make aware about that issue, I tried to add a bug report to Mysql connector repo, but their UI is not so friendly

[2022-08-04 01:35] fishfree opened #4050 "Can not specify access policy template for videos recorded with Opencast Studio"
We cannot apply access policy template the way Adding Event in the admin UI as below:
![image](https://user-images.githubusercontent.com/1741341/182744168-0f1eb27f-b1b2-462a-bbf8-6a43015d2caf.png)

[2022-08-04 03:21] gregorydlogan commented on #4050
Which version of Opencast are you using here?

[2022-08-04 06:46] lkiesow commented on #4050
Studio has no such user interface, and that's a deliberate choice to keep things simple.
What you can do is to configure the default ACL used in Studio or even pass that to studio via your integration.
For details, take a look at https://github.com/elan-ev/opencast-studio/blob/master/CONFIGURATION.md

[2022-08-05 02:03] fishfree commented on #4050
@lkiesow Thank you for your tip!

[2022-08-05 02:03] #4050 closed, assigned to nobody

[2022-08-05 09:31] #4011 closed, assigned to lkiesow

[2022-08-13 11:33] lkiesow opened #4073 "Remove old API versions"
We should clean up old API versions.
From our [deprecation rules](https://docs.opencast.org/develop/developer/#proposal-log/#external-api-deprecation-policy):

    Example: If Opencast 10 has API v1.3.0 and Opencast 11 comes
    with API v1.4.0, the API v1.3.0 will be supported until Opencast 12)

Opencast 11 has 1.7 and Opencast 12 has 1.8, therefore, we can drop everything below 1.7 with Opencas

[2022-08-13 20:21] lkiesow opened #4074 "Some transcription services are missing REST docs"
Amberscript and Azure transcriptions services are missing proper REST docs.
They should be fully filled out or not present any docs at all.

![Screenshot from 2022-08-13 22-18-59](https://user-images.githubusercontent.com/1008395/184509566-e90f2f04-4e6d-4706-a189-e3d5088f04a6.png)

![Screenshot from 2022-08-13 22-18-23](https://user-images.githubusercontent.com/1008395/184509567-e1b4de4d-fa90-498d

[2022-08-13 20:27] lkiesow opened #4075 "Activate method for Elasticsearch should wait for a connection"
The `activate()` method for Elasticsearch should wait for a connection to be established and retry, instead of immediately failing if it cannot establish a connection right away.

[2022-08-13 21:07] gregorydlogan commented on #4075
I imagine @mtneug might have thoughts here :p

[2022-08-13 21:30] mtneug commented on #4075
I like applications to fail *quickly* and *completely* if dependencies are missing and let the supervising system deal with restarts (be it systemd, Kubernetes, etc.). This is tricky with Opencast given the long startup times and separation into bundles. So it is probably the best option for Opencast. The container images with OC 12 now wait for Elasticsearch by default (can be turned off). Waitin

[2022-08-14 12:34] mtneug opened #4076 "Differences between generated and manual DB schema"
We have observed long query times when accessing job tables which prompted a look at the DB schema. For the job issue, we noticed a missing index that was previously present with the custom DDL script. Adding that significantly reduced our query times and just job scheduling. For that, I will create a PR. However, I also found other differences. This issue is mostly there to document them. Many pr

[2022-08-15 08:32] lkiesow commented on #4076
If we remember, let's drop `oc_oaipmh_harvesting` the next time we have a database migration anyway. It doesn't cause any harm and there is no need to have people do a database migration for just this. Or we could put the removal into the initialization of the database module and have Opencast do that automatically?

I vaguely remember that `oc_user_settings`, or rather the service behind that, ne

[2022-08-15 09:54] lkiesow commented on #4075
Opencast does try to initialize the index right during activation anyway. It should be relatively easy to catch connection errors there and then retry, never finishing the activation before establishing a connection

[2022-08-16 15:11] mliradelc opened #4084 "Can't delete scheduled events"
**Describe the bug**
In Opencast 12, if you schedule an event, then try to delete, the event it will be deleted, but it will stay in the search service. If you try to delete again, the admin ui it will show the message `The event(s) could not be deleted, because you don't have the permission to do so.` even if you are the admin.

This problem was verified on stable.opencast.org

**To Reproduce**
S

[2022-08-17 08:13] DZenker commented on #4028
I had the same issue on a CentOS 7 which could be solved by downgrading mysql-connector-python, too.
**But:** On another CentOS 7 system the former version could not be installed directly (_pip3 install mysql-connector-python==8.0.29_) due to a missing dependency (error: "_protobuf requires Python '>=3.7' but the running Python is 3.6.8_")

**Work-around:**
1. Installation of the current mysql-con

[2022-08-18 10:42] mliradelc opened #4092 "Editor fails if the videos have different duration"
**Describe the bug**
If you upload or ingest a dual video that each video has a different duration, then if you try to cut the videos with the editor, if any of the cuts goes further from the duration of any video, the workflow will fail with the error:

`org.opencastproject.workflow.api.WorkflowOperationException: org.opencastproject.smil.api.SmilException: Start value is bigger than track length

[2022-08-18 11:18] #1369 closed, assigned to nobody

[2022-08-18 11:18] mliradelc commented on #1369
Closed because OC 9 is unsupported

[2022-08-18 14:38] mliradelc commented on #4084
Adding more information:

Specifically, when through the Admin UI the endpoint `DELETE /admin-ng/event/{event-id}` this gives `Error 401 (Unauthorizided)` and changes the state to `Finished`

[2022-08-19 13:29] mtneug commented on #4084
Is this also happening for events that were recorded and then deleted?

[2022-08-22 14:41] mliradelc commented on #4084
Hi Mathias, only happens with scheduled events.

I've updated the first post on how to easily create a dummy CA to try it.

[2022-08-22 14:51] mliradelc commented on #4084
I've made more testing and debbuging, and the error triggers in `WorkflowServiceImpl.java:1137`
[code]

Specifically, the `assetMediaPackage` gets empty, thus can't enter to the logic. If I force entering to the If bracket, I get error getting the media package, because there is no one.

[2022-08-23 10:39] lkiesow commented on #4084
Are you sure, it stays in the search service (the Solr-based service behind player, media module, …)? If it's only scheduled, it shouldn't be in there in the first place. Or do you mean Elasticsearch?

[2022-08-23 10:40] mliradelc commented on #4084
I mean Elasticsearch.

[2022-08-23 13:44] mliradelc commented on #4084
Ok, this is being more interesting I enabled the debug mode for the Asset Manager, the index service and the Workflow service, here are the logs from a deletion the first time trying to delete a schedule event and clicking the second time.

 The first time, the Asset manager calls the event handlers and announces that the event was deleted from the index service. The second time only there are que

[2022-08-24 04:40] gregorydlogan commented on #4076
+1 for dropping both. Maybe this is something that should go into develop/13? It's not like either is being used...

[2022-08-24 15:17] mliradelc commented on #4084
Found the Commit where the bug started, https://github.com/opencast/opencast/commit/4cf50103f550ebfc225 . Is a very big commit

[2022-08-25 07:42] CGreweling opened #4110 "Update Event Persmissions through Series Fails in oc-12"
**Describe the bug**
Update Event Persmissions fails with aws.s3 error
Service org.opencastproject.distribution.aws.s3 will go into ERROR state

'''
2022-08-25T08:27:49,341 | WARN  | (AwsS3DistributionServiceImpl:573) - Error distributing element security-policy-series of media package 66f12c72-2d55-4d18-8017-06522f9f040d
java.lang.NullPointerException: null
        at org.opencastproject.distribu

[2022-08-25 07:48] CGreweling commented on #4110
We do not use aws S3 at all

[2022-08-25 11:28] mliradelc commented on #4110
Solved by #4111, if this still happens, please open this issue again.

[2022-08-25 11:28] #4110 closed, assigned to gregorydlogan

[2022-08-25 14:01] CGreweling commented on #4110
@gregorydlogan as #4111 reverts a patch to solve a problem with aws.s3.
Would be nice, if you could test, if this patch brings a problem with aws.s3 back.

[2022-08-26 09:55] geichelberger opened #4117 "Admin Node Circular Reference Race Condition"
Sometimes when you start up an admin node built from the current development branch (13-SNAPSHOT), a circular reference is detected. For me, it happens every second launch. It seems to be a race condition depending on which OSGi services are ready.

[code]

**To Reproduce**

1. Build an admin node from the develop branch
2. Restart the opencast admin node until an error happens

[2022-08-29 10:25] mliradelc commented on #4084
@Arnei can you look into this issue? In the DB, if you change the owner in the from org.opencastproject.scheduler to the normal default, you can delete it.

[2022-08-29 15:06] mliradelc opened #4130 "[API] Can't filter events/series with "blank" fields"
**Describe the bug**
If for some reason, you have events or series with the title blank (Empty string), or series in the same way, there is no way to filter them.

From what I look, it seems that ES doesn't have a way to filter empty string fields, but [there is a workaround to make it work](https://github.com/elastic/elasticsearch/issues/7515#issuecomment-158668403).  Maybe OC needs this workarou

[2022-08-30 03:11] fishfree commented on #2990
@leitgab How is the progress? :-)

[2022-08-31 10:51] DZenker opened #4136 "Creation of new series results in DB errors in OC 12.2"
Creation of a new series in 12.2 results in DB-related errors in admin log. Problem occurs since 10.x -> 12.2 upgrade.
Error messages are similar described in #3914, but we don't use any "extended metadata", just the default ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to series tab in Admin UI
2. Click on 'Add series'
3. Fill out all required metadata
4. Continue until last step

[2022-08-31 13:41] wsmirnow commented on #4084
@mliradelc can you review PR #4137 please?

[2022-08-31 13:44] mliradelc commented on #4084
Natürlich ;)

[2022-08-31 18:45] gregorydlogan commented on #4136
I can't reproduce this on stable.opencast.org.  Can you try this with the latest 12.x and see if it happens for you?  I'm wondering if this has been fixed since 12.2.

[2022-08-31 21:27] mtneug commented on #3556
@kristofkeppens is this fixed now?

[2022-08-31 21:42] mtneug commented on #3694
Well this is modelled as a separate stream in FFmpeg. This stream has one frame and the duration of the audio track + some metadata:

[code]

@vJan00 is this causing issues?

[2022-08-31 21:46] mtneug commented on #3753
Has this been discussed further?

[2022-08-31 22:59] mtneug commented on #3982
Closing for now.

[2022-08-31 22:59] #3982 closed, assigned to nobody

[2022-09-01 07:40] LukasKalbertodt commented on #3753
I don't think so. Maybe something for the next technical meeting?

[2022-09-01 07:58] kristofkeppens commented on #3556
This was fixed, forgot to close the issue.

[2022-09-01 07:58] #3556 closed, assigned to nobody

[2022-09-01 09:28] DZenker commented on #4136
Hi Greg,

I am using the latest 12.2 version (sorry for wrong version info in "Environment Information" above).
This also happens in our test cluster which is a multi-tenancy system, too. Maybe only multi-tenant systems are affected?

[2022-09-01 10:12] mliradelc commented on #4136
Hi Dietmar, can you check if the DB upgrade script from 11 to 12 was the latest one you tried? Because the PR #4101 fixes a mistake, where the upgrade was never done. The latest script in r/12.x branch works.

[2022-09-01 10:50] DZenker commented on #4136
Hi,

as I have used the 8.0.29 version of the mysql-connector-python module, I did not run into any issues and the update has been finished successfully. Furthermore,  this script updates workflow-related tables in the DB, which should be independent with the problem described above and in #3914. I did some further tests: the errors messages also show up if I retrieve the metadata of formerly gene

[2022-09-01 11:29] KatrinIhler commented on #4084
Okay, my understanding of this bug and how it came to be:

The deletion order has been broken for quite a while now (as Waldemar noticed correctly, the scheduler service deletion needs to happen after the workflow service since that also triggers a deletion of the media package from the asset manager, and apparently it's done so for quite a while now).

However, it still worked until Arne introduc

[2022-09-01 15:00] gregorydlogan commented on #4136
Yes, it's definitely having issues converting what it's getting from the database into something in Java (and vice versa).  Can you give us the table structure, and the column values for an affected series?

[2022-09-02 08:08] geichelberger commented on #4117
@gregorydlogan @lkiesow Do you have an idea which service reference causes this issue? At first glance, I could not find it.

[2022-09-02 08:34] mliradelc commented on #4084
Thanks @KatrinIhler and @wsmirnow for their Patches, they solved the issue.

Now checking the DB to see if all is deleted, I made a test, where a scheduled event was deleted, and later I searched on the entire DB if there were some entries using the event-id.

I've found that there is remaining a lot of redundant information, and the media package XML still exists! I don't know if this comes from

[2022-09-02 10:00] DZenker commented on #4136
I've investigated this issue further: I've set up a new OC 12.2 installation with fresh database, thus the DB structure has been generated from scratch by Opencast itself. Indeed, the table schemes and fields of the series-related tables differ between the newly generated DB and the existing DB of our production and test system which have been updated several times during OC upgrades in the past y

[2022-09-06 06:52] DZenker commented on #4136
As suspected, the wrong data type of the field "data" in the table _oc_series_elements_ was the cause of the error. I could fix this by altering this:
_ALTER TABLE oc_series_elements MODIFY COLUMN data longblob ;_

Issue could be closed now, but maybe other adopters have the same problem.

[2022-09-06 06:52] #4136 closed, assigned to nobody

[2022-09-06 08:17] mtneug commented on #4136
This probably depends on the database. PostgreSQL doesn't have this data type. The DDL schema in OC 8 just used `BLOB`. JPA probably always uses `LONGBLOB` for binary data and MySQL. In #4076 I didn't look into the table fields, but maybe this should be done as well.

[2022-09-06 08:32] mtneug opened #4161 "Asset manager warning after every upload to S3"
When the asset manager moves assets to S3, there is always a warn message in the log files. I took a quick look at the code and I think this is because after the upload, Opencast checks if the object is versioned in S3 or not using `s3.getObject`. Since Opencast is only interested in the metadata, the data stream is never read, resulting in this warning.

[code]

[2022-09-06 08:46] DZenker commented on #4136
IMO it is an increasing problem that the DB schema and structure of an freshly installed Opencast differs from the DBs of longer existing installations where the DBs will be updated by scripts during major release upgrades which not cover all changes.
In addition, there are some inconsistencies: for example, the OC 11 mysql update script introduced two new fields in table oc_series - "deletion_dat

[2022-09-06 12:32] mtneug commented on #4136
The schema is created automatically by Opencast when tables are first used. There is no longer a single file containing the schema definition. Instead, each entity corresponding to a table has annotations describing the schema.

[2022-09-06 13:25] rute-santos commented on #4161
I'm taking this because we've just fixed it in our codebase.

[2022-09-06 20:58] rute-santos opened #4170 "Uploading multiple tracks with same flavor when event is created does not work anymore"
**Describe the bug**
We upload video assist files that consist of several parts when creating an event. We then concatenate them using our workflow.
This is not working anymore. The configuration _multiple=true_ available in _etc/listproviders/event.upload.asset.options.properties_ has no effect.

**To Reproduce**
Steps to reproduce the behavior:
1. In etc/listproviders/event.upload.asset.options.

[2022-09-07 00:00] gregorydlogan commented on #4136
I'm wondering how many adopters are going to run into this as they upgrade to 12.x. Perhaps we need to amend the upgrade script?

[2022-09-07 06:41] DZenker commented on #4136
Should we run a query on this in the Google group?

[2022-09-07 08:58] mliradelc commented on #4084
I will create a new issue for the last comment, since this bug it is solved.

[2022-09-07 08:58] #4084 closed, assigned to nobody

[2022-09-07 09:05] lkiesow opened #4171 "Don't run tests on Dependabot push"
Right now, tests run on `pull_request` and on `push`. This means that we have the same tests run multiple times with a higher likelyhood of one failing on Dependabot pull requests, since Dependabot creates a pull request from an upstream repository branch.

It would be great if we could not run the tests on `push` if the author is Dependabot.

Current configuration:
https://github.com/opencast/ope

[2022-09-09 12:10] lkiesow opened #4183 "Downloads from asset manager via admin interface fail"
In OC 12 (but really for several versions at least), if you go to the admin interface → event details → assets → media and start downloading several large videos at once, most of these downloads will fail. There seems to be a serious performance problem with the code.

Fixing #2511 would probably circumvent this, but we should take a look at the code nonetheless.

[2022-09-09 20:55] rute-santos opened #4184 "S3 asset storage does not release http connections"
**Describe the bug**

When downloading files archived to S3, the S3 asset storage does not release http connections. After downloading several files, the following error appears in the Opencast log:
[code]

The same code works fine in 5.x using an older version of the AWS Java sdk but, in 11.x, if the S3 object is not closed, it does not release the http connection.

**To Reproduce**

Steps to rep

[2022-09-10 01:19] gregorydlogan commented on #4184
How to tell if your aws bits aren't getting enough testing...

Are you seeing this with the default config? Or only if you set a limit manually?

[2022-09-12 12:25] rute-santos commented on #4184
Hi Greg,
Both. The default config is 50. We have a process where we "republish" old courses as new courses so downloading files from S3 is a common occurrence for us. We noticed that we could "repub" a few lectures and then no more. Decreasing the setting was only a way to debug the issue. This worked fine with our 5.x code base so I believe it was a change in the sdk. The aws documentation is cle

[2022-09-12 14:32] rute-santos opened #4199 "Increase number of terms returned by ES getTermsForField"
**Describe the bug**
When filtering events by some fields where getTermsForField() is used e.g. publisher, contributor, only the top 10 terms with the most documents are returned (this is the ES default).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to stable.opencast.org
2. Add more than 10 events, all with distinct 'Location'
3. Filter events by 'Location'
4. The drop down shows only

[2022-09-13 06:04] Arnei commented on #3539
Since I have trouble replicating this without setting up Shibboleth, I'll assume that Shibboleth indeed was the issue and that pull request #3672 fixed it. If that is not the case, please make a mention of it and I'll reopen the issue.

[2022-09-13 06:04] #3539 closed, assigned to nobody

[2022-09-13 06:11] Arnei commented on #3712
This issue should have been resolved by #3806. If not, please reopen the issue.

[2022-09-13 06:11] #3712 closed, assigned to nobody

[2022-09-13 06:50] Arnei commented on #3491
The issue here seems to be that the corresponding GET endpoint returns the field 'subjects', but the PUT endpoint expects the field 'subject'. I would consider the latter the correct naming as per dublincore definition, so the issue probably lies somewhere within the GET endpoint

[2022-09-13 17:46] yokoul opened #4204 "multiencode: splitted job in multiple worker crash at inspection"
**Describe the bug**
A clear and concise description of what you see:
*When the workflow start the multiencode process, it dedicated to one worker. When the multiencode arrive at the step who initiate the MediaInspector, this process is started on another worker and as the file is not found, then crash occurs.*

**To Reproduce**
Steps to reproduce the behavior:
1. Start a workflow using the multie

[2022-09-14 08:48] yokoul commented on #4204
The issue was related to an unconsistant configuration on prop.org.opencastproject.file.repo.url. Setting this to http://localhost:8080 on all opencast as solved the issue. It was setup with the admin url on worker and admin, and that make it crashing when this specific multiencode job is executed on paralel worker.

[2022-09-14 08:48] #4204 closed, assigned to nobody

[2022-09-14 21:05] #4161 closed, assigned to rute-santos

[2022-09-15 02:45] gregorydlogan commented on #4136
I think that's probably a good idea, I'll send an email in the morning.

[2022-09-19 10:22] pthien1 opened #4218 "UI and terminallog shows different state"
I was trying to upload a mp3 file to make it to a video format. I noticed that the ui says succeded but the terminal means it is skipped.

Logging in the terminal.
2022-09-19 10:22:04,591 | INFO  | (EncodeWorkflowOperationHandler:211) - Skipping encoding of 'http://localhost:8080/files/mediapackage/13fa04ce-3780-4978-a8c2-d3e3f155a3bd/5beab183-a303-4fb7-86b5-688ae1d5a989/audio.mp3', since it lacks

[2022-09-19 15:42] gregorydlogan commented on #4117
Something to do with https://github.com/opencast/opencast/pull/3100 no doubt.  I'll see if I can reproduce locally and fix this.

[2022-09-20 04:53] gregorydlogan commented on #4117
Interestingly, while I can reproduce it, it's *very* unclear what's going on.

First off, to make debugging easier I enabled the [webconsole](http://localhost:8080/system/console/components) (add `jaas`, and `webconsole` to `featuresBoot` in `etc/org.apache.karaf.features.cfg`).

This exposed `WorkflowServiceImpl` as the culprit.  It's waiting on the `ReadinessIndicator` to bind, which is *truly*

[2022-09-20 12:05] geichelberger commented on #4117
The ReadinessIndicator implementation should work as expected, but I am not a fan of that implementation.

The `WorkflowDefinitionScanner` registers it to indicate that the `WorkflowServiceImpl` can be activated. The OSGi wiring achieves this because the RedinessIndicator binding is not optional. I am not a fan of misusing OSGi in such a way.

Is it necessary to wait until all Workflows are loaded

[2022-09-20 22:08] gregorydlogan commented on #4117
Looking at the archives, `ReadinessIndicator` was added in 2012 specifically to ensure that "workflow definitions [and] encoding profiles are loaded prior to activating related services".  It also hasn't been touched since.  Considering that I haven't been able to reproduce the hang with `WorkflowServiceImpl` I suspect the actual circular reference here is somewhere else, so I propose we set this

[2022-09-21 07:08] slaudel opened #4226 "MariaDB upgrade script for 12.x fails with "Data too long for column 'if_condition'""
**Describe the bug**
When running the python update script "_workflows_mariadb.py_" for converting database from opencast 11 to 12 I encounter the following error:

[code]

After dropping this workflow number 59187821 from "oc_jobs" table the migration runs without an issue.

**Environment Information**
 - OS: Alma Linux 8.6
 - Opencast 12.2.0 - a4c7257 - from RPM Repo
 - Python 3.6.8
 - MariaDB S

[2022-09-21 07:12] mtneug commented on #4226
Fixed by #4221

[2022-09-21 10:01] #2312 closed, assigned to nobody

[2022-09-21 16:24] #4171 closed, assigned to nobody

[2022-09-24 23:23] yokoul opened #4241 "Paella player 7 compatibility issue with safari"
This issue is only visible with multiple audio channel.

![image](https://user-images.githubusercontent.com/630213/192122063-2677b8b4-4f98-48b3-a2d4-357f639cbabf.jpeg)

[2022-09-25 07:52] mliradelc commented on #4241
Hi, have you tried with Paella player 7?

Change the route from `../paella/..` to `../paella7/..` if that works.

[2022-09-25 08:31] yokoul commented on #4241
Hi Maximiliano, this error come only with paella7, paella 6 don't display any error. At this time we fallback to paella6 if safari is detected.

[2022-09-25 08:36] yokoul commented on #4241
On safari for macOS, with paella7 an "Unhandled Promise Rejection: not implemented on this platform" make the player never loading.
The screen capture come from safari on iOS.

[2022-09-25 14:04] mtneug commented on #4241
@yokoul, thanks for reporting. This should be reported to the [upstream Paella repo](https://github.com/polimediaupv/paella-core). Not sure if Opencast can fix this. I will leave this open for now.

[2022-09-29 13:54] AndreasUrra opened #4254 "Adopter Registration: Preview Data before submission"
**Description of Feature Request / Enhancement**

_Location: Admin UI > "?" > Adopter Registration_

In the registration dialogue it would be great to be able to get precise information about what will be sent. In addition to the more general descritpion within the "privacy policy and terms of use" it would be valuable to see e.g.

a) a JSON "sceleton" file that shows the data fields
or better yet

[2022-09-29 14:42] karendolan opened #4255 "Update Opencast springframework from 3x"
**Describe the bug**
Update Opencast Spring Security, springframework from 3x to supported or replace libraries

**To Reproduce**
This ticket is to track status on the project of updating or replacing the springframework libraries to prevent duplicate effort and encourage collaboration.

**Environment Information**
All

Reference: https://opencast.org/2022/02/10/crowdfunding-an-update/

[2022-09-29 14:43] karendolan commented on #4255
Hi All, I have the go ahead to focus on this topic for our site and do not want to duplicate any other efforts. I'll post status here.

[2022-09-29 15:06] gregorydlogan commented on #4255
ping @lkiesow.  We've talked about this as part of the crowdfunding effors, and Lars has been working on this.  Perhaps we should all chat at some point?

[2022-09-29 15:13] karendolan commented on #4255
Yes, absolutely! I saw the crowdfunding comments. My plan was to explore and feel the pain directly. Karaf 4.4.1 has upgraded springframework. So I was going to start there.
https://karaf.apache.org/news
https://issues.apache.org/jira/browse/KARAF-7446

[2022-09-30 00:17] gregorydlogan commented on #4255
IIRC the conclusion was that the amount of pain, especially to maintain feature parity, was not worth it and that alternative solutions would be explored. I believe some kind of auth proxy (as a separate service, focussed exclusively on integrating various auth bits), but don't quote me on that.

[2022-10-01 15:56] Rillke opened #4265 "WorkflowOperationException: java.io.IOException: Unable to delete directory in STT-WOH"
**Describe the bug**
When processing a media package with the SpeechToTextWorkflowOperationHandler, I receive an exception that a workspace directory can't be deleted:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Have Opencast 12.3
2. Install a WF Operation that looks like this in your WF:
[code]
4. Process an event using that Workflow
5. See error
<img width="980" alt="Screenshot

[2022-10-01 19:44] Rillke commented on #4265
Also found this one on our admin node.

[code]

https://serverfault.com/q/201294/326675

[2022-10-01 20:10] Rillke opened #4266 "Capture Agent causes UnauthorizedException for series"
**Describe the bug**
A clear and concise description of what you see:
*`ncast` recorder PR-HD Extreme's uploaded recording to Opencast 12 causes UnauthorizedException when applying series ACLs*

**To Reproduce**
Steps to reproduce the behavior:
1. Have an nCast PR-HD Extreme.
2. Configure it to connect to your Opencast
<img width="459" alt="Screenshot 2022-10-01 at 22 07 16" src="https://user-imag

[2022-10-01 20:17] Rillke commented on #4266
Actually, upload works; processing fails

[code]

<img width="992" alt="Screenshot 2022-10-01 at 22 15 31" src="https://user-images.githubusercontent.com/2311611/193426794-ffa7a75e-fd66-42b1-936c-1cea6d568cbc.png">

<img width="977" alt="Screenshot 2022-10-01 at 22 16 39" src="https://user-images.githubusercontent.com/2311611/193426828-5d7ccadc-e51b-4642-b2b5-68165be73368.png">

[2022-10-02 10:56] lkiesow opened #4268 "Make sure Opencast works with Node.js 18"
Right now, Opencast (`12.x`, `develop`) only works with the current Node.js LTS (16.x). We know that the current stable version (18.x) causes problems. We need to address those problems eventually.

To update the version of Node in Opencast, either update the main `pom.xml` file, which will make Opencast download that specific version:

https://github.com/opencast/opencast/blob/c3a76e37a7d42d62eb6

[2022-10-04 13:34] Rillke opened #4273 "Scheduled event deletion though DELETE /recordings/ REST API broken"
**Describe the bug**
A clear and concise description of what you see:
*When scheduling an event and later deleting it through **`DELETE /recordings/EVENT_ID`** REST endpoint, the event remains without schedule and deletion on the admin UI throws an error on the admin UI after which the event disappears from the admin UI*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[stable.opencast

[2022-10-04 13:46] CGreweling commented on #4273
@Rillke take a look at #4084

[2022-10-04 13:47] mliradelc commented on #4273
I just made some tests with
`DELETE /admin-ng/event/{eventID}`
`DELETE /api/events/{eventID}`

Both worked on [stable build](stable.opencast.org)

#4084 was from using those API entry points. But in your case, this bug is with `/recordings` API

[2022-10-04 14:16] Rillke commented on #4273
@mliradelc

Indeed. The issue is that this API is used by the Stud.IP Opencast Plugin and the second issue is that the REST documentation says

Therefore, it's not entirely clear to me, if the 12.3 behavior might be correct or wanted. You could interpret it the following way: Opencast removes the scheduled event but leaves behind the event without scheduling information. However, if this is the wa

[2022-10-04 14:20] mliradelc commented on #4273
True, I think this should be talk today on the developers meeting, because, what is the meaning of `DELETE /recordings` if the other two endpoints resolves the same (One for the admin-ui only, and the another for any other external that needs to communicate with opencast).

[2022-10-04 15:54] Rillke commented on #4273
Quoting @gregorydlogan "if an endpoint creates the event, its delete endpoint should also remove it". Anyone else?

[2022-10-04 17:35] gregorydlogan commented on #4266
I don't remember when we last touched the CA user bits, but I suspect that could be related.  I'm assuming this is the latest firmware?

[2022-10-04 22:09] gregorydlogan opened #4275 "Incident Translations are not in Crowdin"
Per the source PR, we've identified a few translations which are not currently in Crowdin.  Steps to fix this properly:

1) Reimplement [this method](https://github.com/opencast/opencast/blob/18197767bcf13640904c1c3964d71ad192e5fc33/modules/serviceregistry/src/main/java/org/opencastproject/serviceregistry/impl/OsgiIncidentService.java#L160) to handle json format stuff
2) Replace the source and tra

[2022-10-04 22:12] gregorydlogan commented on #4275
Assigning to Max initially since he asked, but if anyone else wants it just speak up :)

[2022-10-06 07:51] slaudel commented on #4226
I've tried this fix but it does not seem to fix. Now the problem arises earlier:

[2022-10-06 10:19] mliradelc opened #4279 "Paella 7 Dependabot batcher is not getting triggered automatically"
**Describe the bug**
The new Dependabot batcher #4240, is not getting automatically triggered when a new Dependabot paella 7 bump PR is created.

**To Reproduce**
Steps to reproduce the behavior:
1. Wait for any Dependabot PRs that is aimed to Paella 7
2. There is no automatic trigger on the automation list

**More information**

When I was working into this, the action was successfully triggered

[2022-10-06 16:59] gregorydlogan commented on #4279
I suspect a good way forward here is to patch the batcher itself.  It's got a couple of issues as it stands:

- Closing the batched PRs means that the batcher's PR *must* go first, otherwise there will be merge conflicts
- In the case of a merge conflict, there's no way to easily recover
- The batcher also doesn't support setting any tags aside from the hardcoded ones

I think adding a `closePRs`

[2022-10-06 18:43] #2564 closed, assigned to nobody

[2022-10-06 18:43] #3740 closed, assigned to nobody

[2022-10-07 15:20] geichelberger opened #4293 "WorkflowInstance Regression and changed behavior"
Moving the workflows to the database changed the behavior of the WorkflowInstance, which could have introduced bugs or unwanted behavior to all workflow operation handlers.

Before the change, the MediaPackage could be retrieved by reference from the WorkflowInstance. The current implementation creates a deep copy by creating the MediaPackage object from parsing the corresponding string.

E.g., Th

[2022-10-08 20:13] Rillke commented on #4266
Yes, for this device it's the latest one.

[2022-10-10 09:13] mliradelc commented on #4136
Here is the Google Groups discussion

https://groups.google.com/a/opencast.org/g/users/c/U-1fZoq1Hi8

[2022-10-10 15:00] Rillke opened #4310 "Error occurred while processing adopter general data"
**Describe the bug**
A clear and concise description of what you see:
*In the Opencast log of our Opencast staging instance, we see "Error occurred while processing adopter general data"*

**To Reproduce**
Steps to reproduce the behavior:
?

[code]

**Environment Information**
 - Opencast Docker 12.3

[2022-10-10 15:19] bhumirao commented on #4268
https://github.com/bhumirao/opencast/pull/1

[2022-10-10 16:20] lkiesow commented on #4268
You should run into errors that need fixing once you try building Opencast with Node 18.

[2022-10-11 01:21] gregorydlogan commented on #4310
Sigh. I'm gojng to have to implement #4254 to fix this, aren't I.

You haven't made any changes to registration url override, right?

[2022-10-11 09:45] ypatios opened #4312 "Inbox behaviour: additional recordings in scheduled events should not copy initial media files"
**Describe the bug**
This bug report concerns the following:
https://github.com/opencast/opencast/pull/3687

When ingesting multiple events within the time frame of one scheduled event (which can happen in case of breaks, test recordings etc.), all additional media packages contain the initial media file(s) from the first part of the event. This should not be the case as copying those media files

[2022-10-11 10:58] Rillke commented on #4310
Not intentionally at least.

Our production system also logs this kind of error:

[code]

Seems like the registration server gives an unexpected (400) response?

How would this help?

[2022-10-11 11:05] Rillke commented on #4254
Making the submission client-side (i.e. load the data from Opencast into the browser and then send a cross-site XHR to the registration server, which could be also a plain form submission) would also allow you to bypass firewall restrictions between Opencast servers and the world.

[2022-10-11 22:37] gregorydlogan commented on #4310
Yep.

Well, a 400 is either you sending something garbled enough that the server is choking on it, or the server is somehow broken but still responding otherwise.  I'll take a look tomorrow, but being able to verify that you aren't sending bad data is a good first step too.

[2022-10-12 13:34] karendolan commented on #4255
Whoah. @gregorydlogan & @lkiesow, let me know if you have already started down that path. Meanwhile, I'm exploring replacing the `org.springframework.osgi` libs with the comparable and better supported `org.eclipse.gemini.blueprint` libs. Please stop me if you have already tried that. The Gemini Blueprint is better supported now in Karaf because Karak doesn't use its own version of blueprint in th

[2022-10-12 21:01] gregorydlogan commented on #4255
We spoke about this briefly at the board meeting today.  If you're ok with doing the work, by all means proceed with what you're doing.  It didn't sound like your particular approach was explored, so hopefully it works :D

[2022-10-12 22:21] lkiesow commented on #4266
Seems like the CA user has no access to the series and the series ACL is now being enforced. In this case (getting the calendar for the CA), that probably doesn't make a lot of sense, though.

[2022-10-13 15:14] lkiesow opened #4318 "Wrong placeholder in editor error message for non-existing event"
When you try opening the new editor win an identifier from a non-existing event, you get an wrror message like this:
[code]
The inner `{}` shouldn't be there.
The error message is generated by Opencast's backend.

![Screenshot from 2022-10-13 17-08-28](https://user-images.githubusercontent.com/1008395/195636255-186a1b17-b36b-4715-ac51-1a560773fa88.png)

[2022-10-14 08:19] martinko2369 commented on #1716
Hello @rrolf , i would like to work on this issue if it's still relevant :)

[2022-10-14 10:27] lkiesow commented on #1716
Testing this on https://develop.opencast.org and it still seems relevant.

1. Set page to show only 10 results
1. Go to page 2 or 3
1. Search for `engage` (that should give you basically all events)
1. You don't jump to page 1 when searching, but stay on page 2/3

Feel free to work on this issue, if you are interested.

[2022-10-14 10:35] martinko2369 commented on #1716
Thank you. Can you please assign me ?

[2022-10-14 22:29] lkiesow opened #4323 "Fix hostname in adopter registration information"
This is the statistical information being sent from the adopter registration:

![Screenshot from 2022-10-15 00-20-44](https://user-images.githubusercontent.com/1008395/195952766-23043e14-1936-442a-9c38-5dfe296d2372.png)

The `hostname` being sent is actually the `nodename` configuration from the `custom.properties`:
https://github.com/opencast/opencast/blob/5437fcdb377759a1e9ad061172d123116573e27b

[2022-10-14 22:41] kirsteend commented on #4323
@lkiesow I'd like to work on this if you are still looking for contributors

[2022-10-14 23:03] lkiesow commented on #4323
Sure, please do. The relevant code should be around this:

https://github.com/opencast/opencast/blob/5437fcdb377759a1e9ad061172d123116573e27b/modules/adopter-registration-impl/src/main/java/org/opencastproject/adopter/statistic/dto/Host.java#L56

[2022-10-15 02:38] gregorydlogan commented on #4310
@Rillke if this is still hitting you, can you try applying https://github.com/opencast/opencast/pull/4320 to your staging system and then sending me the output you get?

[2022-10-15 03:33] gregorydlogan commented on #4254
The major issue with that is a lack of automation, and part of the point of this is to keep the adopter registration data up to date.

See #4321

[2022-10-15 14:07] lkiesow opened #4325 "Switch away from deprecated JUnit import"
Several of Opencast's classes still use the old deprecated `import junit.framework.Assert` for importing JUnit classes, while they should use the new `import org.junit.Assert` instead. Fixing this should hopefully be as easy as it sounds: Just change the import.

Classes with old imports:

[code]

[2022-10-15 14:21] swatichauhan814 commented on #4325
Hey, Can I work on this ? @lkiesow

[2022-10-15 14:30] lkiesow commented on #4325
Sure, go ahead if you like.

[2022-10-15 14:58] lkiesow opened #4326 "Publish Captions by Default"
Similar to the patch applied to the testing workflow (#4307), we should automatically publish captions in the default production workflows. But here we need to update a few more places.

In general, check all `publish-engage` and `snapshot` operations.
Here is what I think needs adjustments (I deleted the lines I think we can ignore):

[code]

[code]

[2022-10-16 12:15] lkiesow opened #4331 "Directly show publication if there is just one"
The admin interface has a pop-up for listing the publications. That's very flexible as you can list as many as you want, but most installations will only have a single publication and in that case, this is a nuisance. It would be better if we could show the publication link directly.

To satisfy both needs, we should:

- List the publication directly, if there is only one
- Provide a dropdown show

[2022-10-16 12:32] Adityageek commented on #4318
Hello @lkiesow Can you please assign this issue to me. I would like to work on that.

[2022-10-16 12:55] lkiesow commented on #4318
Go ahead. Thanks for taking this on. If you can, please base your work on the `r/12.x` branch. This can certainly go into the stable branch directly.

[2022-10-16 13:25] lkiesow commented on #4318
The relevant code for this should be somewhere in here:
- https://github.com/opencast/opencast/tree/b49d0b146791224283a8d16c4976610f25352846/modules/editor-service/src/main/java/org/opencastproject/editor

[2022-10-16 18:28] Adityageek commented on #4318
Okay @lkiesow Thanks for the above info!

[2022-10-17 03:58] CalArcher commented on #4331
I would like to work on this, can you assign it to me?

[2022-10-17 08:19] lkiesow commented on #4331
Sure, done. Thanks for taking this on.

[2022-10-17 19:07] CalArcher commented on #4331
Sorry @lkiesow, it's a bit too much for me to take on right now.

[2022-10-18 08:28] Rillke commented on #4310
still getting this:

[code]

so i'm going to test your pr and send you the output :)

[2022-10-18 08:53] lkiesow commented on #4310
That should match this error from the reverse proxy:
[code]

[2022-10-18 08:59] Rillke commented on #4310
Sounds like something's wrong with the registration server at this time?

[2022-10-18 09:13] lkiesow opened #4334 "Race condition when saving series"
If series are modified, e.g. the ACL is updated in the admin interface, all episodes which are part of the series are updated as well (I think series Dublin Core catalog and series ACL are updated). If this is triggered in quick succession, it can be that a later update is faster than a previous one and will therefore be overwritten by the old data.

Pull request #4308 patches this over by ensurin

[2022-10-18 10:09] lkiesow commented on #4331
Hi @CalArcher, no problem. Thanks for trying and thanks for letting us know that you won't continue to work on this.

[2022-10-18 11:10] lkiesow commented on #4334
Updating the search index is really slow, adding to this being a problem:

[code]

10s between event updates!

[2022-10-18 15:14] mliradelc commented on #4331
Well, we have this here in cologne some time ago, I can make a PR with our code to do that. But our solution is to show the icons only (No need to put text)

[2022-10-18 18:57] #4323 closed, assigned to kirsteend

[2022-10-19 00:01] mtneug commented on #4331
I like the icon-only solution more than the dropdown.

Also, @mliradelc, if you are working on this, there is currently a "bug" where publications are always rendered as links. However, you can have publications that do not have a publication URL. It is no real issue, as the link will direct you to the current page, but maybe the link can be removed altogether?

[2022-10-19 07:21] miesgre commented on #4241
I reported it to Paella repo. See https://github.com/polimediaupv/paella-core/issues/133

[2022-10-19 07:31] mliradelc commented on #4331
@mtneug  our solution looks like this:
![image](https://user-images.githubusercontent.com/8040628/196624416-04931184-2022-4fa3-9085-5c5c814a8758.png)

The icons from left to right are: Paella Player, External Player, Download Page (A self generated external page that allows to download all the assets), and the annotation tool. We have also another icon for the livestream (Not shown).

@CalArcher

[2022-10-19 07:32] miesgre opened #4338 "Paella 7 does not authenticate the user when it tries to watch a protected video."
**Describe the bug**
When you play a protected video while not logged in, paella 7 returns an error instead of trying to authenticate the user.
Paella 7 should authenticate the user and try to view the video again.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a restricted video
2. Try to play it while not logged in.

[2022-10-19 07:36] mtneug commented on #4331
publish-configure without setting a URL ;)

[2022-10-19 08:22] lkiesow opened #4341 "Editor should save data just once"
With the new thumbnail editor, the editor backend will now twice create a snapshot to save data. Once for saving the thumbnail and once for saving the metadata:

[code]

This is not only slower and cause more snapshots to exist, but also means that if something went wrong in the second half of the saving process, we could end up with an inconsistent state of failing after half the data have been s

[2022-10-19 08:27] lkiesow opened #4342 "Show preview of image attachments"
In the admin interface, it would be nice if we could render a preview of image attachments (at least JPEG and PNG) at the bottom of the event details dialog:

![Screenshot from 2022-10-19 10-10-06](https://user-images.githubusercontent.com/1008395/196637856-a234e770-14fa-464a-80eb-685b175bc750.png)

We already have the image URL and literally all that's missing is an `<img />` tag.

[2022-10-19 08:32] Rillke commented on #4310
This is the data from our staging-system. Replaced some strings for obvious reasons. Didn't change the `hosts`.`services` though. It already contained the ellipsis.

Adopter Information:

[code]
Statistical Information:

[code]

[2022-10-19 14:17] mliradelc commented on #4338
my colleague @reiferschris has another  issue related, this is the situation:

The Spring file is as default in Opencast

[2022-10-19 19:58] miesgre commented on #4338
I think it is a different issue.
security files should have these lines https://github.com/opencast/opencast/blob/develop/etc/security/mh_default_org.xml#L278-L280

I can test it If you can provide an example.

[2022-10-20 16:04] geichelberger commented on #4293
Fixed by https://github.com/opencast/opencast/pull/4314

[2022-10-20 16:04] #4293 closed, assigned to nobody

[2022-10-20 16:19] karendolan commented on #4255
Hi @gregorydlogan, status is that the gemini.blueprint project was stopped and includes old libraries. I'm not looking at that.
The latest Karaf 4.4.1 has new JAAS based libs that supports Spring 5x, https://karaf.apache.org/manual/latest/security. The vanilla support is not as flexible as blueprint (which replaced the spring-dm which replaced the spring.osgi libs that are currently used in OC). I

[2022-10-21 15:27] Rillke commented on #3538
Is the .4 version cursed? I can see this issue in 12.4 now, too although I am sure, I didn't experience that in 12.3 where we ran the editor without any -UI-configuration. Wondering if something changed in the editor or if the added configuration did that.

![Screenshot from 2022-10-21 17-16-29](https://user-images.githubusercontent.com/2311611/197231364-f050590b-1f92-4fe7-b8cd-0f4d451b987b.png)

[2022-10-21 15:33] Rillke commented on #3538
BTW, we are redirecting requests coming from the editors to the internal publication channel to the presentation node back to the admin node because a user might not be authenticated at the presentation server. I wonder if we misconfigured something.

[code]

[2022-10-22 03:24] gregorydlogan commented on #4110
This doesn't seem to happen in my testing, granted that's with a modified AWS component that's adding glacier.

[2022-10-23 16:39] ShivamGarg2910 commented on #4342
@lkiesow, please assign to me.

[2022-10-23 20:48] lkiesow commented on #4342
Thanks for taking this on, @ShivamGarg2910

[2022-10-23 21:31] gregorydlogan commented on #4310
That looks entirely reasonable.  Unfortunately there's no logging on the backend - something that should clearly be added.  Are your node using the default profiles?  No extra services?  The only thing I can see in that output that could be causing issues is if the list of services is somehow way too long, but you'd have to have significantly altered the node profiles I would think.

[2022-10-23 21:35] Rillke commented on #4310
Didn't touch them AFAIK. `connect() failed (111: Connection refused) while connecting to upstream` means that nginx can't even successfully TCP/TLS connect to the upstream registration server. Therefore, I'd say the payload sent won't really matter.

[2022-10-23 22:07] gregorydlogan commented on #4310
~I~ Lars noticed after I posted that the nginx upstream was set to `http://localhost:8080` rather than `http://127.0.0.1:8080`.  There were a number of ipv6 related errors in the nginx connection logs associated with http POST events and failures to connect.  I'm going to guess that (randomly?) it was choosing ipv6 over 4, and then failing.

I've deployed an updated config.  If this resolves your

[2022-10-24 10:10] yokoul opened #4368 "Paella7: Live Player check for preview elements and don't start (also StreamProvider.js error)"
**Describe the bug**
Live HLS don't work as the StreamProvider.js check for preview.metadata who dosn't exist in live.
Also, it's look like on line 22 an error occur with "SteramProvider".
There is also another point i never understand - paella 6 whas dedtecting correctly when a live stream is set, but unfortunately paella 7 didnt and still show navigation bars and some stuff like this - is it som

[2022-10-24 11:25] #4325 closed, assigned to swatichauhan814

[2022-10-24 12:01] Alaschinger commented on #4273
I just looked over the code and it seems like that is a wanted behaviour, even if I don't know why. It could easily be fixed with #4369 by deleting the event. Currently there is an update function which removes the capture agent from the index entry and leaves the event as it is.

[2022-10-24 20:00] mtneug opened #4371 "Bugs in the adopters registration code"
Two issues with the adopters registration code:

1. Event count is only calculated for the default organization
2. Minutes are only calculated for the first 100 events (`false` in the loop condition)

[2022-10-26 07:45] mliradelc commented on #4368
Hi, do you use wowza for Live?

Paella 7 Live work for us

[2022-10-26 07:55] yokoul commented on #4368
Hi @mliradelc,
For streaming we are using OBS > AWS Mediaconnect > AWS Medialive > Cloudfront distribution so it's not Wowza. But in fact, there was no issue till release 12.4. It's look like the "metadata.preview" is just not available on the live manifest and then as this control fail, the player do not load.
Medialive streaming work with paella 6 (and 7 before 12.4 release) just perfectly.

[2022-10-28 10:39] yokoul commented on #4368
@mliradelc,
Could you please tell me if you can find some metadata.preview field on your video manifest?
If not, why this dosn't trigger error on check sequence? If yes, from where it come?

[2022-10-28 14:19] mliradelc commented on #4368
Hi, let me look into that, unfortunately it's Friday, on Wednesday I will try to get those files (Because we will have a long weekend here)

Maybe this can help you, here is a HLS live video configuration   proven to work:

[code]

I recommend you to post this issue on [Paellas's 7 GitHub site](https://github.com/polimediaupv/paella-core)

[2022-11-01 14:38] lkiesow opened #4407 "How subtitles should work in Opencast"
As a more interactive version, I've also added this to a HackMD where you can add comments on certain lines. Use whatever you prefer to add comments:

- [@lkiesow/oc-subtitles](https://hackmd.io/@lkiesow/oc-subtitles)

---

We have a lot of implicit and often slightly different assumptions of how we handle subtitles. In here, I'll try to document a best-practice approach. After some discussion, we

[2022-11-01 20:35] lkiesow commented on #4318
Hi @Adityageek, since Hacktoberfest is over and my guess is that you picked this up as part of it, do you still plan to work on this now that the event is over?

[2022-11-02 09:56] mliradelc commented on #4368
Hi @yokoul

I'm looking right now a live-streaming from Wowza to paella 7 (Via opencast), there is no `metadata.preview`  our `playlist.m3u8` shows:

[code]

Inside any of the chunklist, we have something like this:
[code]

[2022-11-02 10:47] cgruber-uos commented on #4407
Many thanks for this write-up Lars / @lkiesow!

+1 for WebVTT (*.vtt) and
+1 for tracks

In case it is not too complex, supporting SubRip (*.srt) as input / uploading format would not be bad because it is a often used format atm. But auto generating subtitles should be the way for the future, not using other (external) tools.

In case someone is interested why WebVTT (*.vtt) instead of SubRip (*.s

[2022-11-02 11:56] yokoul commented on #4368
Hi @mliradelc

Maybe i didn't describe correctly my issue, but there is no issue with the live streaming. The issue come from the script who try to check a metadata who dosn't exist. This metadata is provided by opencast, this is the preview elements that's created during the workflow processing.

In fact, this check is wrong for live player. It's only something interesting for on demand player.

[2022-11-02 12:09] yokoul commented on #4368
I'm investigating on our side and i come back to you.

[2022-11-02 14:29] lkiesow commented on #1716
Hi @martinko2369, since Hacktoberfest is over and my guess is that you picked this up as part of it, do you still plan to work on this now that the event is over?

[2022-11-02 14:39] yokoul commented on #4368
This is our version:
[code]
In fact there is no reason to look at it, as the Paella 6 play the live without any issue.

[2022-11-02 14:40] mliradelc commented on #4407
+1 Vtt subtitles.
I just [read this document](https://jbilocalization.com/the-difference-between-srt-and-webvtt-in-captioning-subtitling/), and I found that you can add metadata to the subtitles. It would be nice to have a WoH that can read and write that metadata into the `.vtt` files. I don't like to have a `+<language>` appended to the flavor, but a tag is much better.

Plus the metadata is in

[2022-11-02 14:51] mliradelc commented on #4368
Have you checked the `config.json`from paella 7? can you post it?

[2022-11-02 15:03] yokoul commented on #4368
I just double checked it to be sure and removed the few changes i make to be sure. I post you here below.

[code]

[2022-11-02 15:34] yokoul commented on #4368
Also, @mliradelc, are you sure there is no possible issue relating the wrong, i presume, steramProvider class call? As the class is in real streamProvider

line 22: `export default class SteramProvider extends PlayerResource {`

[2022-11-02 17:44] AndreasUrra commented on #4407
Regarding language codes, AFAIK there is no ISO 639 code for Swiss German, is there? That could be helpful to be able to distinguish ; )

[2022-11-02 17:49] AndreasUrra commented on #4407
Regarding language codes, I think being able to distinguish between "de" and "de-CH" could be helpful ; )

[2022-11-03 11:43] ziegenberg commented on #4407
Language codes should follow what Dublin Core specifies for language metadata. We should be consistent across all code bases and it makes automated processing much easier if you do not have to convert it.

https://www.dublincore.org/specifications/dublin-core/dcmi-terms/elements11/language/

[2022-11-03 14:32] lkiesow commented on #4407
All content follows the DC requirements, since it only makes recommendations.
But both options I listed above are within the recommendations.

[2022-11-03 15:51] mwuttke commented on #4407
I have a question of understanding, as we already use software for subtitles and these are available as attachments.

What actually happens with these already existing videos with attachments? Are they displayed in the new OC (subtitles) editor and can the subtitles be edited there? If not, is it or will it be possible in the future to convert the attachments into tracks so that they can then be e

[2022-11-03 16:33] lkiesow commented on #4407
Right now, the subtitle editor, the cutting, … completely ignore subtitle attachments. That was the reason I suggested to not use attachments for the Moodle integration.

Having an operation to move them from attachment to track would be quite easy, though. What's more complex is managing if they should be displayed or not in the sense that the editor shows media and subtitles before cutting and s

[2022-11-04 14:09] karendolan commented on #3491
Have you tried to upgrade to OC11? I wonder if the issue has gone with the consolidation with the admin-UI's index.

I'm watching this ticket since our site also uses subject field for both episode and series metadata. We currently use the Series Service endpoint API, directly, to update series metadata, and a custom OC module for event metadata, so we are not running into this problem.

[2022-11-04 18:47] KAIMonmoy commented on #4326
Hey, @lkiesow !
I have made a pull request (https://github.com/opencast/opencast/pull/4415) that should close this issue. Can you please review that PR?

[2022-11-08 21:13] geichelberger commented on #4407
Regarding the language code we use for subtitles, wouldn't it make sense to use the same for the metadata and anywhere else?
Otherwise, we would have to translate between the different codes, and it wouldn't be easy to derive the tag from the metadata.

That means opencast uses one language code to rule them all and only has to translate the language codes if an external system requires a differen

[2022-11-11 19:14] lkiesow commented on #4255
(Didn't read the thread properly…)
I just noticed https://github.com/apache/karaf/pull/1522
Seems like Karaf also has Spring.
See also the release notes of the latest 4.2.x release:  https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311140&version=12351218
I didn't check any further which components are included and which aren't.

[2022-11-15 14:23] mtneug commented on #4170
@rute-santos this is fixed right?

[2022-11-15 14:25] mtneug commented on #4184
@rute-santos is this fixed?

[2022-11-15 14:25] mtneug commented on #4199
@rute-santos again fixed?

[2022-11-15 14:30] #4218 closed, assigned to nobody

[2022-11-15 14:50] mtneug commented on #3538
What is still missing with #4411 now in?

IMO this is more a proxy config problem?

[2022-11-15 15:25] rute-santos commented on #4170
Yes, the fix has already been merged.

[2022-11-15 15:25] #4170 closed, assigned to rute-santos

[2022-11-15 15:26] rute-santos commented on #4184
Yes, the fix has already been merged.

[2022-11-15 15:26] #4184 closed, assigned to rute-santos

[2022-11-15 15:26] rute-santos commented on #4199
Sorry, I thought those were closed automatically with the merge :)

[2022-11-15 15:26] #4199 closed, assigned to nobody

[2022-11-15 16:37] mtneug commented on #4199
I guess the `Fixes #...` text needs to be part of the PR description and not a comment? Thanks for confirming!

[2022-11-16 10:55] JulianKniephoff commented on #3245
Our bad. This is already exactly how the system works. Our reverse proxy was just buffering the request. :sweat_smile:

It's interesting to note, though, that the situation is rather fragile if I understand everything correctly: If some part of the system (e.g. some filter in the authentication filter chain) touches the body of the request (for example to parse form parameters) before it arrives a

[2022-11-16 10:55] #3245 closed, assigned to nobody

[2022-11-16 20:35] #4226 closed, assigned to nobody

[2022-11-17 22:41] gregorydlogan opened #4473 "GHA for UI tests is broken"
**Describe the bug**
Filing a PR which touches the UI bits causes the UI tests to run, which fail with an error that looks like
[code]

I have previously seen this behaviour in Ubuntu's 22.04 image where they replaced `firefox` in `apt` with a script which tells you to install it via `flatpak` (or something, it's been a while).  This does not work in an unprivileged docker container, at least on m

[2022-11-18 19:30] rute-santos opened #4477 "PublishEngage WOH with the "merge" strategy fails if the media package does not exist in search instead of SKIPping"
**Describe the bug**
A clear and concise description of what you see:

PublishEngage WOH with the "merge" strategy fails if the media package does not exist in the search index. It should just SKIP the operation.
Also, it first distributes all the elements before checking the existence of the media package in the search index, which potentially leaves files distributed that are not referenced by a

[2022-11-21 11:44] geichelberger commented on #4334
That's not easy to fix. It's caused by the UpdatedEventHandlers, which are creating several jobs and waiting for their completion. This can take up to an hour if you have a series with >100 videos.

@lkiesow Do you have an idea for a possible solution? It's not possible to handle that synchronously without a performance impact. Even immediately running all the created jobs can take seconds to upda

[2022-11-24 15:26] yokoul commented on #4368
Cluster updated in 12.5-1, no change - still the same issue.
Paella 6 it's still working well with the same livestream.
![opencast-player-error-12-5-1_001](https://user-images.githubusercontent.com/630213/203819751-3e453b6c-3ace-42fb-8d06-563369f80202.png)

[2022-11-28 13:42] Rillke opened #4493 "Paella Login redirect broken in Opencast 12.5"
**Describe the bug**
A clear and concise description of what you see:
*When I click on Login opening a paella player link, I get a blank page instead of a video player.*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.opencast.org/admin-ng/login.html#!/events/events
2. Click on Login
3. Copy a link to a video engage publication to your clipboard
4. Remove the access righ

[2022-11-29 06:58] yokoul commented on #4368
At the end, I reversed on a 12.3 player who's working well with 12.5 install. From 12.4 live player is broken from our experience. We build an all in one to be sure and the same error can be reproduced. Nothing related to the stream as the error stop the player before.