[2019-09-23 22:31] gregorydlogan opened #1068 "Service Registry Fails Tests on Buildbot"
**Describe the bug**
The service registry is increasingly failing the service registry unit tests with errors like this
[code]

This appears to be related to the processing service registration, and thus is likely related to #1047.  I can't reproduce this at home, but it seems to be semi common on ci.opencast.org.

**To Reproduce**
Steps to reproduce the behavior:
1. Build Opencast develop (cur 8.

[2019-09-24 07:07] kristofkeppens opened #1069 "Event Details - Workflows fails to show workflow information for scheduled events."
**Describe the bug**
When going to event details ( trying this with failed events ) , workflows you should get an overview of the workflows and possible errors with the workflows. This works as intented for uploaded mediafiles but for scheduled events you get the workflow configuration view on that page, instead of the applied workflows and their status.

**Environment Information**
 - MacOS
 - Ch

[2019-09-24 12:16] karendolan commented on #1069
@flyapen I see this a lot in this and other similar situations. I suspect it is related to the varied and probabilistic ways of determining if an event is in a scheduled state, right ~90% of the time. Do you have a fix in mind? The following is what we are trying to get the probability up to 97%. And I see the missing 3% at the point of scheduling a new event and the event being fully owned by the

[2019-09-24 13:25] karendolan commented on #1068
@gregorydlogan and @lkiesow I notice that Travis CI build throws the "Job with Id 1 cannot be deleted" during that test, and other similar sort of db errors occasionally on other tests. And then other times is doesn't. I also see this when I run the test locally. The assert error on line344 is testing "fromDb.setProcessorServiceRegistration(null);", that the persistence update was correct. Is it p

[2019-09-24 14:17] karendolan commented on #1068
I notice there's a later version of H2 db engine. I'll do a little testing to see if that helps.
https://www.h2database.com/html/main.html

Updating the h2 didn't help, I'm looking at the PersistenceUtil.newTestEntityManagerFactory("org.opencastproject.common").[EDIT] was the right package... now testing resetting H2 between test methods... looks Ok to me.
The unit is randomly having a hard time d

[2019-09-24 20:06] staubesv commented on #1069
As I've recently changed some methods that might be involved in causing the bug, I felt guilty enough to provide some analysis for the bug:

1. The variable `workflows.scheduling` determines whether you see the workflow list (https://github.com/opencast/opencast/blob/develop/modules/admin-ui/src/main/webapp/scripts/shared/partials/modals/event-details.html#L379) or the workflow configuration panel

[2019-09-24 20:26] gregorydlogan commented on #1068
@karendolan this seems like a race condition to you as well right?  IMO, the easiest way to handle this is to run the SR's `deactivate()` method, which will stop job dispatching, thus preventing things from being in an inconsistent state when the state is checked.  Does that make sense to you?

[2019-09-25 02:22] gregorydlogan opened #1076 "Develop (8.x) worker profile does not boot"
**Describe the bug**
A build of develop's worker profile (tested against 7c4a9496276bce2fd3d5f6dbfa5a8e058647b28f) spits the following on startup:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build develop
2. Attempt to start the worker

**Environment Information**
 - OS: Debian 9, Debian 10
 - Opencast version with minor release: Develop (currently 8.x)

[2019-09-25 08:17] pmiddend opened #1077 "Database documentation is inconsistent"
**Describe the bug**
The documentation for [setting up the database](https://docs.opencast.org/develop/admin/configuration/database/) mentions using a privileged user to run the ddl script with. Later in the text, however, the univileged `opencast` user is used multiple times.

**Environment Information**
 - Opencast version with minor release: 8.0

[2019-09-25 09:30] #1077 closed, assigned to nobody

[2019-09-25 12:18] karendolan commented on #1068
@gregorydlogan Ok, I just re-ingested your comment. You suspect that the dispatcher has re-dispatched the job to the correct host, so the host name has been reset, during the time of the test? That's easy to test! It would be awesome if this is the issue!

My appologies for the following, I went down a deep deep dive into the testing environment yesterday: ...part of the reason I went into the fol

[2019-09-25 14:56] rute-santos commented on #1068
It seems the problem is that the job dispatcher is only stopped at the end of deactivate() so the job state is changed and, since the dispatcher is still running, the job can be dispatched/updated again... We are going to move the scheduledExecutor.shutdownNow(); to the beginning of activate so that the dispatcher does not try to dispatch the canceled job.

[2019-09-25 16:16] karendolan commented on #1068
@rute-santos & @gregorydlogan  I'm running the Travis CI build on the do-not-merge debugging pull 7 times, with all the messy debug logs, to verify that the priority queue junit does not fail. Then,  I'll force push a cleaned-up pull that just has the dispatch terminateAwait at the top of the service registry's deactivate as the fix for the service registry junits (which actually did their job to

[2019-09-25 16:50] #1076 closed, assigned to lkiesow

[2019-09-25 17:43] karendolan commented on #1068
@gregorydlogan successfully 5 builds on BuildBot so far, and no fails. Should the pull point to  8x/develop? It's a bug on the ServiceRegistryJpaImpl deactivate that also applies to 7x.

[2019-09-25 17:48] gregorydlogan commented on #1068
I'd point it at 7x since it's going to be breaking the build in the long term there as well.  It will get forward merged when the RMs do it.

[2019-09-26 13:54] wsmirnow opened #1089 "Elasticsearch can't index big ACLs"
If you try to update the event or series ACL with a huge ruleset, at some point you will see a message like this in the log output:
`Document contains at least one immense term in field="access_policy" (whose UTF8 encoding is longer than the max length 32766), all of which were skipped.  Please correct the analyzer to not produce such terms.`
The ACL changes aren't shown in the admin UI. But if yo

[2019-09-27 13:54] mliradelc opened #1097 "Ext API roles ROLE_API_GROUPS_* not working as supposed"
**Describe the bug**
If you have a user with the roles ROLE_API_GROUPS_* (VIEW, CREATE, EDIT, DELETE) you can't see anything through the API with this user.

**To Reproduce**
Steps to reproduce the behavior:
1. Create (Or use) an user with the mentioned roles.
2. Try to get, post o delete a group through the API using the user with these roles.
    1. For example GET https://develop.opencast.org/a

[2019-09-27 14:00] smarquard commented on #1089
Curious to know what the use-cases are for a very large ACL set. An event/series shared with a large number of individual users (ROLE_USER_XXX entries), or a very large number of groups or external roles?

[2019-09-27 14:06] lkiesow commented on #1089
We encountered the error when a lot of users were added to the ACL. But really, the access control should not break if users add a few more roles in the UI.

[2019-09-27 20:50] gregorydlogan opened #1099 "New documentation theme does not display properly on iOS"
**Describe the bug**
Per [Andy's Tweet](https://twitter.com/calisurf/status/1177668870288490497?s=20), the docs don't display correctly on iPad (iOS 13.1).
![EFfrmCEU8AAVOhH](https://user-images.githubusercontent.com/5639561/65801326-1519b280-e136-11e9-8e74-102a86fda4e7.jpeg)

[2019-09-27 20:50] gregorydlogan commented on #1099
Related to #1080 :)

[2019-09-27 21:36] staubesv commented on #1097
@mliradelc The reason is that groups themselves don't have any ACLs and only ROLE_ADMIN and Tenant Admins have access to groups in Opencast. Up to some part, this makes sense because groups having no ACLs implies that one can either see all groups or none. IIRC, we have a custom workaround in our codebase that allows an API user with ROLE_API_GROUPS_VIEW (or similiar) to access all groups. I can p

[2019-09-27 21:40] staubesv commented on #1089
@smarquard AFAIK, It is a large group of individual users where permissions are set per API by the learning management system ILIAS. As we talk about hundreds (vs. thousands or even millions). I agree with @lkiesow that "hundreds" really should not break Opencast.

[2019-09-27 22:39] lkiesow commented on #1099
Nor does this work on any other browser:
Hit the button to hide the menu and it seems to be broken.

[2019-09-28 16:14] smarquard commented on #1099
On the latest Chrome on Mac, you get a too-small serif font choice that's not great either:

![image](https://user-images.githubusercontent.com/5888197/65819361-ca726600-e21b-11e9-9763-662fd804840a.png)

[2019-09-29 19:56] #1068 closed, assigned to gregorydlogan

[2019-09-30 07:29] mliradelc commented on #1097
@staubesv Yes, please 🙏!

I don't understand for what is this Role if you can't use it to allow access to the group's ext API, so what is the functionality

[2019-10-01 16:45] gregorydlogan commented on #1097
IMO, this is a bug in 8.x.  While I personally disagree with the restrictions placed on `ROLE_API_GROUPS_*`, I can see the technical reasoning behind it.  Considering those limitations, returning a 401 makes a *lot* more sense than returning a 200 with nothing to see.

[2019-10-02 08:43] mliradelc commented on #1097
Here I'm a little confused about how should be work, because If the Role is superfluous, how this endpoint should be accessed?

[2019-10-02 12:39] staubesv commented on #1097
@gregorydlogan AFAIK, the behaviour has always been like that and was not introduced by OC 8. 401 would certainly be a better choice here.

@mliradelc There is one use can: The tenant admin role can access the group but cannot access the API endpoint in the default configuration (ROLE_ADMIN can).

[2019-10-02 21:32] lkiesow opened #1111 "AWS AutoScalingTerminationStateServiceTest regularly fails"
The `AutoScalingTerminationStateServiceTest.testLifeCyclePolling` fails on an irregular basis making both buildbot and [Travis](https://api.travis-ci.org/v3/job/592679363/log.txt) fail from time to time:

[code]

[2019-10-02 22:12] gregorydlogan opened #1112 "Multiple server documentation refers to non-existent config"
Per https://opencast.jira.com/browse/MH-12909

The multiple servers documentation for r/4.x (and newer) refers to setting the `org.opencastproject.file.repo.url` in the custom.properties file, however this doesn't exist within the file.
It does exist in `org.opencastproject.organization-mh_default_org.cfg` and this is correctly referred to later in the same documentation page.
I suspect the line i

[2019-10-02 22:17] gregorydlogan opened #1113 "Remove superfluous calls to format() during logging"
Per https://opencast.jira.com/browse/MH-11915

In many places in the codebase, we find statements like:
[code]
The call to the method format() is superfluous, since:
[code]
... does just the same.

The goal of this issue is to go through the codebase and remove those superfluous calls of format().

[2019-10-02 22:19] gregorydlogan opened #1114 "Agent status not localized"
Per https://opencast.jira.com/browse/MH-12298

It seems a few source files refer "idle" as text for capture agents status, instead of enum or translatable keys.
Also, on recorder location view, it may show "capturing" instead of the localized string.
This strings should be parametrized/localized to allow agent status being translated into UI language.

[2019-10-02 22:21] gregorydlogan opened #1115 "Manual Asset Upload documentation doesn't specify which attributes are optional and which are required"
Per https://opencast.jira.com/browse/MH-12915

The table on the Manual Asset Upload documentation does not indicate which attributes are required and which are optional (displayFallback & displayOverride are optional attributes)

https://docs.opencast.org/r/5.x/admin/configuration/asset-upload-ui/#step-2-add-your-new-option-to-the-list-configuration

[2019-10-03 22:11] gregorydlogan opened #1116 "Security XML configs are in inconsistent states"
We currently have a four separate security config files (`etc/security/*.xml`) which are in various states of disrepair.  These should be unified into a single config with all of the components necessary for CAS, Shibboleth, LDAP, and whatever else we support being present, but disabled.

[2019-10-03 22:31] gregorydlogan opened #1117 "Service Registry configuration is inconsistent"
Per https://opencast.jira.com/browse/MH-10535

etc/services/org.opencastproject.serviceregistry.impl.ServiceRegistryJpaImpl.properties has these two settings:

dispatchinterval=0
heartbeat.interval=0

For consistency, they should be similarly named, i.e.

dispatch.interval=0
heartbeat.interval=0

and both specified in the same units (seconds) - currently dispatchinterval is in milliseconds, and he

[2019-10-05 18:26] lkiesow opened #1119 "Remove unnecessary ExceptionUtils.getStackTrace"
At a lot of places `ExceptionUtils.getStackTrace(…)` is used for logging which is completely unnecessary since Opencast's logger is already able to handle errors on its while being more efficient.

So instead of

[code]

…the code should be just:

[code]

Note that no `{}` may be used in the logger for the exception and the exception is the last parameter in the logger call.

[2019-10-05 18:38] AdamMoas commented on #1119
Hey, I could pick this up later today, if nobody else has.

[2019-10-05 18:46] lkiesow commented on #1119
So far, no one has. Feel free to work on this.

[2019-10-06 09:33] alexmario74 commented on #1119
I would like to take this, if still free.

[2019-10-06 17:14] kristofkeppens commented on #1069
@staubesv I've changed https://github.com/opencast/opencast/blob/develop/modules/admin-ui/src/main/java/org/opencastproject/adminui/endpoint/AbstractEventEndpoint.java#L1555 to directly use the event status and this works as expected ( in our case ). I can create a pull request if this is a solution that works for most cases, I don't know all the reason's why there is a separate logic used there s

[2019-10-06 21:51] #1113 closed, assigned to nobody

[2019-10-07 00:06] AdamMoas commented on #1119
I see you have a PR open for it. I'll un-assign myself.

[2019-10-07 08:06] staubesv commented on #1069
@flyapen I don't think that there is any good reason to use the separate logic and I am sure it works for all cases. Happy to hear you implemented a solution - please do raise a pull request.

[2019-10-07 08:16] staubesv commented on #1097
@mliradelc Here is what we currently do: Essentially, we removed the logic that hides groups from non-admins from the index service but added checks to the external API.
Obviously, this solution does not cover "every relevant place" in Opencast - That is why you never saw a pull request.

GroupsEndpoint.java

[code]

GroupQueryBuilder.java (in the module index-service)

We removed the following co

[2019-10-07 09:34] lkiesow opened #1123 "Paella Player breaks CI builds on develop"
Building `opencast-engage-paella-player` on `develop` fails on both [Travis CI](https://api.travis-ci.org/v3/job/594329191/log.txt) and [buildbot](http://ci.opencast.org/#/builders/10/builds/3263/steps/4/logs/build), breaking the CI.

[code]

[2019-10-07 16:18] karendolan commented on #1123
@lkiesow I do not know if this is related. I'm getting an error from the paella gulp trying to find a missing lunr.min.js. I am manually bypassing the error locally by modifying the modules/engage-paella/node_modules/paellaplayer/package.json  dependency  "lunr": "^2.3.6", to  "lunr": "2.3.6".

24 hours ago lunr published 2.3.7 to npmjs. The lunr.js 2.3.6 tag git repo does not contain a lunr.min.j

[2019-10-07 17:36] gregorydlogan commented on #1123
Ah, this explains the error emails I've been getting from Buildbot.  Speaking of which, those should be going to dev@.  This will be fixed soonish.

[2019-10-07 18:37] karendolan commented on #1123
@lkiesow and @gregorydlogan
(1)  I notice that the engage-paella-player/node_modules/paellaplayer is not pulling down the paella player's package-lock.json via the eirslet's npm install. Paella 6.2.2's package-local.json that exists in the targeted repo: https://github.com/polimediaupv/paella/tree/6.2.2
I can't figure out why it would ignore that file. I see that it pulls down the package-lock.jso

[2019-10-07 20:35] gregorydlogan commented on #1123
This also affects `r/8.x`

[2019-10-07 21:21] gregorydlogan opened #1124 "Scheduler ical library needs updating"
Per #712, we're currently using a patched iCal4j library.  The fixes Plapadoo filed against iCal4j have been merged (https://github.com/ical4j/ical4j/pull/314), so we should update the library.

In doing this, it might make sense to create a DST unit test in the scheduler service as well.  We currently have some from the index (per #712), but I don't see any in the scheduler.

[2019-10-07 21:30] lkiesow commented on #1124
Careful with this. If I remember correctly, the OSGI loader for this library got patched as well.

[2019-10-07 21:47] gregorydlogan commented on #1124
I believe you might be correct.  This is also why I did *not* mark this as an easy issue :)

[2019-10-07 22:41] gregorydlogan opened #1125 "Remove references to `org.opencastproject.db.ddl.generation`"
Via https://opencast.jira.com/browse/MH-12733

See discussion [on list](https://groups.google.com/a/opencast.org/forum/#!topic/dev/TE9lpqxXWTw).

Apparently this setting does not do anything anymore, but it still features prominently in the admin documentation.

EclipseLink apparently creates the necessary tables automatically, independent of this setting, if they are not already there. So the cav

[2019-10-07 22:52] JoshLambertUW commented on #1125
I'll work on this one.

[2019-10-07 23:10] gregorydlogan opened #1126 "English (en_US) source translation files should be proofread"
Currently our source translations have a fair bit of inconsistency between different pieces of the UI.  Things like workflow vs event vs capture vs recording.  These should be cleaned up.

Note to users who have noticed this: Please comment about the inconsistencies you've found, even if they're in the non-English translations.  Chances are if the non-source language is inconsistent then the sourc

[2019-10-08 12:38] karendolan commented on #1123
More FYI  regarding the missing package-lock.json in node_modules/paellaplayer and ability to lock down versions Paella Player's dependencies. I'm going to test with a npm-shrinkwrap.json file "which is essentially the same file, but allows publication".

https://docs.npmjs.com/files/package-lock.json

[2019-10-09 21:54] gregorydlogan opened #1136 "Series service endpoints for series-by-id and series list share the same pattern"
https://opencast.jira.com/browse/MH-9038

Series by id is accessed by /series/{SERIES_ID}.xml, the series list by /series/series.xml
This should be cleaned up since having a series with id "series" conflicts with the list endpoint.

[2019-10-09 22:08] gregorydlogan opened #1137 "Saved filter "save new filter"-mask style not correct"
Via https://opencast.jira.com/browse/MH-11231

The division between the buttons and the content of the table filter modal do not match the rest of the system.

**To Reproduce**
1. recordings -> events -> tablefilter -> save

Actual Results:
style of tablefilter save dropdown does not look right (note the incomplete division line)
![30e5075d-5516-4426-bbae-557f8f79dd50](https://user-images.githubus

[2019-10-09 22:11] gregorydlogan opened #1138 "When scheduling an event Opencast states “Event is being uploaded”"
Via https://opencast.jira.com/browse/MH-11442

**Describe the bug**
Schedule a single(?) event, and look at the popup/notification area. -> “Event is being uploaded”  This is incorrect, since we're scheduling, not uploading.

[2019-10-09 22:16] gregorydlogan opened #1139 "Name of newly created user does not appear in selection list"
Via https://opencast.jira.com/browse/MH-11526

Steps to reproduce (Users Page):
1. Create a new user.
2. After creation Press on the Filter icon in the filter bar.
3. Select Name in the drop down.
4. new user does not show up in the second filter selection drop down.

Actual Results:
The name of the new user does not show up in the second filter selection drop down.

Expected Results:
The name of

[2019-10-09 22:24] gregorydlogan opened #1140 "Dataloader is non-functional"
Per https://opencast.jira.com/browse/MH-13011

Description:
Old code that used to be useful, no one uses it now.  Let's remove it.

Steps to reproduce:
1. Attempt to use the dataloader

Actual Results:
`org.opencastproject.dataloader.testdata=true` does nothing. The correct key in the code is `org.opencastproject.security.demo.loadusers`. Once that's used, you see an error about an unset organizat

[2019-10-10 02:45] sharath2106 commented on #1139
@gregorydlogan I would like to work on this. Please assign this to me.

[2019-10-10 08:53] lkiesow commented on #1140
There is no dataloader any longer in Opencast. It has been removed a while ago.

[2019-10-10 08:53] #1140 closed, assigned to lkiesow

[2019-10-10 08:57] #1123 closed, assigned to miesgre

[2019-10-12 03:04] sharath2106 commented on #1139
@gregorydlogan I just got sometime to work on this issue. And I've some questions for you -
On which module should I start working on? And also, how to run this in my local? I shall also add these instructions in the ReadME during my commit.

<img width="412" alt="Screenshot 2019-10-12 at 11 48 22 AM" src="https://user-images.githubusercontent.com/25933070/66696071-38239500-ece6-11e9-9745-efafd8dc

[2019-10-12 10:58] nfatma commented on #1137
I am interested to work on this issue.

[2019-10-12 11:57] lkiesow commented on #1137
Happy to hear that. I've assigned this to you.

[2019-10-12 18:27] arham-jain commented on #1138
Could you please assign this to me, would like to complete it. @gregorydlogan

[2019-10-12 18:36] lkiesow commented on #1138
Sure, thanks for taking a look at this @arham-jain.

[2019-10-12 19:11] arham-jain commented on #1138
@lkiesow Is it possible for you to help me complete the local setup for the project.

[2019-10-12 19:33] lkiesow commented on #1138
Not sure if I can be of particular help with this specific issue but if you have questions, just ask. If I'm not answering, maybe someone else will.

In general for setting up a development environment for this, you might want to take a look at:

- [Development installtion](https://docs.opencast.org/develop/developer/#installation/source-linux/)
- [Admin Interface :: Live working with a Mockup
](h

[2019-10-12 19:39] lkiesow opened #1144 "Quick-links in documentation"
It would be nice to have a way to quickly link a specific documentation header by clicking on a link next to it like this:

![Screenshot from 2019-10-12 21-29-00](https://user-images.githubusercontent.com/1008395/66706842-7cd81c00-ed38-11e9-8e17-91aedbe049e4.png)

This functionality shouldn't be hard to add to the documentation template in [opencast/docs/guides/admin/docs/javascript/extra.js](http

[2019-10-12 20:07] lkiesow opened #1145 "Workflow selection does not work"
1. On 8.x, go to “Add Event” → “Workflow” and select the first workflow from the drop-down menu
2. Try to select the second one: This does not work at all.
3. Select the first one again: The UI for the second one is selected.

This feels like someone messed up the index of the workflows picked from some list in the JavaScript. You can test this issue right now on [develop.opencast.org](https://dev

[2019-10-12 20:42] #1119 closed, assigned to nobody

[2019-10-13 06:30] dhrubo55 commented on #1144
hey @lkiesow  can i work on this?

[2019-10-13 08:41] lkiesow commented on #1144
Sure, go ahead.

The anchors should already be there – that's what the navigation on the left is using after all. So we would more or less just need some JavaScript attaching something like ¶ as link to the end of the headings (H1-H6(?)).

[2019-10-13 19:47] #1117 closed, assigned to nobody

[2019-10-14 06:24] sharath2106 commented on #1139
@gregorydlogan Any updates? I would need to set the app in my local environment.

[2019-10-14 08:53] TurRil opened #1147 "VideoEditorServiceImpl: File extention duplication"
When the `VideoEditorServiceImpl` runs it will create a file with a the extension added on to the existing filename.
e.g. work-c.mkv.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Run an workflow which includes the `editor` operation
2. review the logs:
[code]
4. See that the edited version has an additional extension that is not needed.

**Environment Information**
 - Opencast 6.x/7.x

[2019-10-14 13:07] mtneug commented on #1089
Is this not fixed by #1090?

[2019-10-14 14:32] wsmirnow commented on #1089
Yes, this issue can be closed as it is fixed by #1090

[2019-10-14 14:32] #1089 closed, assigned to wsmirnow

[2019-10-15 20:34] gregorydlogan commented on #1139
Hi @sharath2106, the issue in question lives in the `admin-ui` bundle, specifically in the `src/main/webapp` directory.  You probably want to start [here](https://docs.opencast.org/develop/developer/#modules/admin-ui/development/#live-working-with-a-running-opencast) in terms of UI development.  Building the backend is as easy as `mvn clean install -P dev` from the clone's directory.  See [here](h

[2019-10-17 13:02] JamesUoM opened #1152 "Can't create an event with a wmv file"
**Describe the bug**
A clear and concise description of what you see:
can't create a new event when uploading a *.wmv file

**To Reproduce**
Steps to reproduce the behaviour:
Add Event
Upload source and choose and wmv file
Complete the modul
Get "Error Can't Create Event"
response says "400: Provided file format video/x-ms-wmv not allowed." Note wmv is in the list of allowed extensions

**Environm

[2019-10-17 13:29] mliradelc commented on #1097
Hi, @staubesv  worked like a Charm, now the Role works as Stated, It would be good to have this Role working as standard in Opencast, Still I don't see where is the security problem, is the Administrator who allows what can one see or do.

I had to adjust a few libraries, modify one or two lines and I think that I found a bug in the checkstyle script. It works very well. Now I will try with the Il

[2019-10-17 17:13] gregorydlogan commented on #1152
I imagine this will be fixed by #1141, but we'll see.

[2019-10-18 09:50] lkiesow commented on #1152
Closing this since #1152 has been merged. Please re-open if the bug persists.

[2019-10-18 09:50] #1152 closed, assigned to nobody

[2019-10-18 18:46] staubesv commented on #1139
@sharath2106 Happy to see that you are willing to help fixing this!

The symptom indicates that the Admin UI does not reload the filters after a new user has been created.

You can easily verify this by using the inspection feature of your web browsers feature that lists the HTTP requests. The request of question is GET /admin-ng/resources/{resource}/filters.json which loads all filters (including

[2019-10-18 19:26] staubesv commented on #1138
@arham-jain Happy to see you that you are willing to help fixing this!

Assuming you are new to Opencast, here some hints:

Line 141 https://github.com/opencast/opencast/blob/develop/modules/admin-ui/src/main/webapp/scripts/modules/events/controllers/newEventController.js#L141 causes the event to be created (for both uploaded and scheduled events) and line 158 https://github.com/opencast/opencast/

[2019-10-18 19:45] staubesv commented on #1137
@nfatma Happy to see you are interested and helping to fix this!

Assuming you are new to Opencast, here some hints:

First screenshot: https://github.com/opencast/opencast/blob/develop/modules/admin-ui/src/main/webapp/scripts/shared/partials/tableFilters.html#L131

Second screenshot: https://github.com/opencast/opencast/blob/develop/modules/admin-ui/src/main/webapp/scripts/shared/partials/tableFi

[2019-10-21 02:18] OpenExpert opened #1155 "No virsion of this software can be installed on any current operating system."
We are designating this abandoned and not usable.
Until such time as any one OS version and install instructions does work.

[2019-10-21 03:09] gregorydlogan commented on #1155
That's... Surprising. Please list the issue(s) you are seeing, including the relevant distributions.

[2019-10-21 13:04] mliradelc commented on #1147
Hi, Can you post your encoding profiles?

[2019-10-21 16:37] #1147 closed, assigned to nobody

[2019-10-21 20:13] scottprovost commented on #1155
On Ubuntu 19 it appears to install but will not start. On current centos it is missing two packages.
Put simply, in its current state, it installs on nothing. It is not surprising. It is obviously not being test installed by the maintainers. Most software does no survive distro upgrades without work. We are designating it abandoned. We will look for volunteers to fix and maintain a fork.

[2019-10-21 20:43] gregorydlogan commented on #1155
@scottprovost The Debian packages come unconfigured, as described [in the documentation](https://docs.opencast.org/develop/admin/#installation/debs/#install-opencast).  Both the CentOS and Debian packages are known to be working, and I've (re)verified today that all required packages are present in the repos.  I would suggest rereading the documentation and following the instructions more closely.

[2019-10-21 20:43] #1155 closed, assigned to nobody

[2019-10-21 22:04] scottprovost commented on #1155
Last metadata expiration check: 19:57:03 ago on Sun 20 Oct 2019 10:05:35 PM EDT.
Error:
 Problem: cannot install the best candidate for the job
  - nothing provides sox >= 14 needed by opencast22-allinone-2.2.4-1.el7.centos.noarch
  - nothing provides tesseract >= 3 needed by opencast22-allinone-2.2.4-1.el7.centos.noarch
(try to add '--skip-broken' to skip uninstallable packages or '--nobest' to u

[2019-10-21 22:17] lkiesow commented on #1155
That pretty much looks like you did not activate EPEL. It's [the second step in the activate the repository docs](https://docs.opencast.org/r/7.x/admin/#installation/rpm-rhel-sl-centos/#activate-repository). Both sox and tesseract should be in EPEL:

EDIT:
Also, you really shouldn't install Opencast 2.2. That's outdated and no longer supported for a few years now. The latest release is 7.4.

[2019-10-22 03:36] OpenExpert commented on #1155
Instructions were followed explicitly. Fix your instruction and I will follow them again.

[2019-10-22 05:54] scottprovost commented on #1155
The current release of Centos 7 Stream goes through the motions of installing epel-release.
But does not provide any packages. This is likely because or the release name not matching any available in the epel repo but it does not error leading people to believe they have installed epel.
I am trying with CentOS-8-x86_64-1905-dvd1.iso

[2019-10-22 12:01] mliradelc opened #1156 "When archive mp3 file, gets *.m1a suffix"
**Describe the bug**
Ingest an event, later compose extracting the audio in an MP3 file and finally make a snapshot to the Archive. The file in the archive gets the *.M1A extension instead of *.MP3
**To Reproduce**
Steps to reproduce the behavior:
1. Create a workflow where you have an audio extraction compose WOH:

[code]
(Use the default encoding profile)

2. Tag for save in the archive and then

[2019-10-22 14:22] miesgre commented on #1156
I think it is a problem with the `MimeTypes.xml` file.
Try to move the `audio/mp3` mimetype before the `audio/mpeg`.

https://github.com/opencast/opencast/blob/69b1dd553c3818af07c37a70141e5acef28c6d6e/modules/common/src/main/resources/org/opencastproject/util/MimeTypes.xml#L117-L131

I think It should solve your problem.

[2019-10-22 19:42] gregorydlogan opened #1157 "Tag handling in workflow operations is not standardized"
Per [MH-9410](https://opencast.jira.com/browse/MH-9410)

**Describe the bug**
Go through the list of workflow operations and check their support for source-tags, target-tags, source-flavors, target-flavors

**Results**
Multiple, independent sets of logic for fetching, and parsing all of the above

**Expected**
We already have an `AbstractWorkflowOperationHandler`, we should move the logic from the

[2019-10-22 22:27] gregorydlogan opened #1158 "Set https cookies with Secure and HttpOnly"
Per https://opencast.jira.com/browse/MH-8659

**Description**
Cookie is set without flags e.g.

JSESSIONID=hwh3algw3xyz;Path=/

Expected Results:

If the session is https, cookie should set Secure and HttpOnly flags, e.g.:

JSESSIONID=hwh3algw3xyz;Path=/; Secure; HttpOnly

See https://www.owasp.org/index.php/Session_Management#Protect_Session_Identifiers and https://www.owasp.org/index.php/HttpOnl

[2019-10-22 23:03] lkiesow commented on #1158
It's just configuration and can already be done. See:

[code]

[2019-10-22 23:53] scottprovost commented on #1155
No go on Ubuntu 19 or Centos 8. Why is this bug closed?

[2019-10-22 23:58] OpenExpert commented on #1155
They explained to me that because this software is known to work on old operating systems, while no current operating system can run it, they do not consider that a bug.

[2019-10-23 01:04] adamrmelnyk commented on #1125
Hello, I've opened I small PR for this, let me know if there's anything else I can help with.

[2019-10-23 08:47] JamesUoM commented on #1158
NB use "grep -i set-cookie" as on my system it's Set-Cookie

[2019-10-23 09:24] smarquard commented on #1158
Is there a custom configuration for develop.opencast.org that sets these in org.ops4j.pax.web.cfg? I don't see them mentioned here:

https://github.com/opencast/opencast/blob/develop/etc/org.ops4j.pax.web.cfg

[2019-10-23 09:26] JamesUoM commented on #1158
Just about to suggest we add it the config to etc/org.ops4j.pax.web.cfg as no one is going to read the pax.web docs!

[2019-10-23 10:05] smarquard opened #1162 "http header recommendations from Nessus scan"
The following emerged from a Nessus scan of an Opencast installation:

Content Security Policy (CSP) Missing
Website Does Not Implement HSTS Best Practices
Website does not implement X-Content-Type-Options Best Practices
Website does not implement X-Frame-Options Best Practices
Website does not implement X-XSS-Protection Best Practices

References:

https://en.wikipedia.org/wiki/Content_Security_P

[2019-10-23 12:25] lkiesow commented on #1162
Most of this is just configuration and most of this is not true for e.g. our test servers even though I specifically allowed some unsafe options to make development easier:

[code]

The configuration for this is public in the infrastructure repository as well as ELAN e.V.'s base Ansible scripts.

[2019-10-23 12:29] lkiesow commented on #1162
More than that, [even our documentations](https://docs.opencast.org/r/8.x/admin/#configuration/https/#general-recommendations) makes recommendations about this since most of this is mentioned e.g. by Mozilla's Observatory

[2019-10-24 08:14] smarquard commented on #1162
https://en.wikipedia.org/wiki/Secure_by_design
https://en.wikipedia.org/wiki/Secure_by_default

Firstly, like #1161, we should set these in the application where possible rather than relying on installers to set a proxy configuration,

Secondly, it is not relevant that you have added a set of custom options to develop.opencast.org because those custom options are not referenced anywhere in the Ope

[2019-10-24 16:19] lkiesow commented on #1162
I like to argue that it makes way more sense for us to urge people to make use of the Mozilla Observatory which explains for non-experts, in detail, step-by-step how to configure your server properly for your use-case than to make recommendations trying to keep up-to-date with the current state of the art security ourselves. That's what our documentation **is** doing right now.

That said if you w

[2019-10-24 17:42] #1158 closed, assigned to nobody

[2019-10-24 19:10] #1125 closed, assigned to adamrmelnyk

[2019-10-25 09:19] smarquard commented on #1162
I agree it's a moving target and I will take a look at whether the headers can be set internally or not. I do think we need to align our Opencast installation documentation with the configuration for develop.opencast.org (so the nginx config in both is substantially the same, for example), firstly so that adopters have something to start from that is reasonable (and will avoid alerts from nessus a

[2019-10-25 09:31] stefanosgeo opened #1165 "InboxScannerService is not working as expected"
**Describe the bug**
Coping zip files to inbox folder doesn't start a workflow.  After change and save org.opencastproject.ingest.scanner.InboxScannerService-inbox.cfg file then the scanner starts track the folder and creates a workflow. If another zip copied after a while nothing will happens

**To Reproduce**
Steps to reproduce the behavior:
1. Create a media zip file and copy it to inbox folder

[2019-10-25 11:55] lkiesow commented on #1162
When writing the guide I deliberately avoided that and instead linked Observatory since they do exactly that and a lot of the options (not all, that's true) highly depend on your system and your integrations. We should not add any settings just to silence a security/vulnerability scanner for the sake of them being quiet. That would defeat the purpose of these scanners ;-)

I guess I can look throu

[2019-10-25 13:24] smarquard commented on #1162
This is what happens:
* IT Security team runs a scan on local services.
* Nessus complains about Opencast.
* IT Security forwards the complaints about Opencast to the Opencast admins for action.
* Opencast admins have 2 questions, which they would like answered with a minimum of work (which excludes consulting 3rd-party sources and/or becoming a web security expert):
1. How do I fix these problems

[2019-10-27 09:34] smarquard opened #1166 "Update the IBM Watson support to use the shared transcription persistence"
The Google Speech support introduced a shared transcription persistence service.

We can reduce some code duplication by updating the IBM Watson transcription module to use this shared persistence service rather than its own.

[2019-10-28 20:25] gregorydlogan opened #1168 "LTI Users are not persisted, causing workflow failures"
Via https://opencast.jira.com/browse/MH-8955

In the absence of a UserProvider, users who authenticate via LTI are not visible beyond the LTI session.

This prevents users from taking operations such as scheduling, as workflow operations subsequently fail when the user cannot be resolved.

Opencast should optionally persist LTI users into the mh_user_ref table.

Similar to:

https://bitbucket.org/

[2019-10-28 20:59] gregorydlogan opened #1169 "Search index does not include media size in mediapackage"
Via https://opencast.jira.com/browse/MH-8554

In order to make the UI more intuitive we would like to display media file sizes to users who may want to download published media. The media file size should be a property for each media track in the search/episode service i.e
../../search/episode.json?

[2019-10-28 21:42] lkiesow commented on #1169
I think this is what you are looking for:

https://github.com/opencast/opencast/blob/4e9e5f6f2c4ad286211f4b9b7adc7238b9417b94/modules/common/src/main/java/org/opencastproject/mediapackage/AbstractMediaPackageElement.java#L90-L92

[2019-10-29 08:14] smarquard commented on #1169
Looking at what ends up in the search index, the size isn't being set on the track at all so far:

https://develop.opencast.org/search/episode.json?id=f360a6f4-4c19-41e2-8fd0-7d51c727feb0

          "track": {
            "id": "337df29c-6391-48ca-8fa6-42bdd0c660d4",
            "type": "presenter/preview",
            "ref": "track:496ac8e3-eec5-4694-8264-7430d9fdfd78",
            "mimetype": "v

[2019-10-29 13:28] lkiesow commented on #1169
It's not being set, but you would only need to add this at some point in the workflow process. This could e.g. happen as part of the inspect operation. Once `size` is set, it should appear in the search results.

[2019-10-29 17:04] gregorydlogan opened #1172 "Incorrect data from ZipWorkflowOperationHandler if checksum calculation fails"
Via https://opencast.jira.com/browse/MH-9758

A code snippet:
[code]

Where `attachment.setChecksum` is called, an exception can be thrown. This is caught, but rethrown to the caller immediately. At this time, the mediapackage has already been added to the workspace collection, but is incomplete. Further, the caller may retry to add this package as the exception suggests that the call failed.

[2019-10-29 19:45] gregorydlogan opened #1173 "Search service returns incorrect limit in some cases"
Via MH-9801:

https://stable.opencast.org/search/series.xml?limit=20 will return
[code]

Obviously, the limit was set to 20 and not to 0. This always happens if less then limit objects are in the result set. But clearly less results should not effect the limit of possible results which could have been returned if enough data were available.

[2019-10-29 20:31] gregorydlogan opened #1174 "ManagedServices should check against null properties"
Per https://opencast.jira.com/browse/MH-9763, the service registry (at least) does not check if the properties object passed in to `updated()` is null.  While this is unlikely to happen, it is allowed by the API.  This check should be made for all `ManagedService` entities in the codebase, which is most of our components.

[2019-10-29 20:36] lkiesow commented on #1174
For most of Opencast's OSGi services using just a declarative service would actually make a lot more sense than using a managed service and a declarative service combined.

[2019-10-29 21:20] gregorydlogan opened #1175 "Stopping a workflow does not stop its currently running jobs"
Per https://opencast.jira.com/browse/MH-9792

**Describe the bug**
Stopping a workflow via `workflow/stop?id=` prevents further jobs from starting, but does not terminate currently executing jobs (ie, long running encodes).

**To Reproduce**
Steps to reproduce the behavior:
1. Start a workflow
2. Wait until it's encoding (or an otherwise long-running job)
3. Stop the workflow
4. Notice that there

[2019-10-29 21:47] gregorydlogan opened #1176 "Service Registry is unable to unregister services and hosts"
**Describe the bug**
Attempting to unregister a service, or a host, returns a HTTP 204, however neither the service nor the host is actually unregistered.

This is caused, in part, by the requirement to keep the jobs for stats and admin purposes.

[2019-10-29 21:54] gregorydlogan opened #1177 "ComposerService doesn't set filesize on generated tracks"
Per https://opencast.jira.com/browse/MH-9825

Steps to reproduce:
1. Run a workflow that creates a new track via encoding or muxing

 Actual Results:
2. The size is unset in the track element

This showed up in the RSS feeds as there was no size information and the dcDuration was being used as a ballpark figure see MH-9822

Though the ComposerService gets the tracks it produces inspected it doesn'

[2019-10-29 21:55] gregorydlogan commented on #1177
May be related to #1169

[2019-10-29 22:01] gregorydlogan opened #1178 "Metadata "subject" and "copyright" are not available in RSS and Atom feeds"
Per https://opencast.jira.com/browse/MH-9827

Subject and copyright information does not appear in the feeds, c.f: https://stable.opencast.org/feeds/atom/1.0/latest

Steps to reproduce:
1. Upload a video and enter something in the field "subject" and enter copyright information.
2. let the video process and than open a RSS or Atom feed.
3. Within the entry metadata any information about copyright

[2019-10-29 22:03] gregorydlogan commented on #1178
See also https://opencast.jira.com/browse/MH-9845

[2019-10-29 22:27] gregorydlogan commented on #1175
Also see https://opencast.jira.com/browse/MH-10134

[2019-10-30 21:12] gregorydlogan opened #1180 "WorkflowListener does not get notified if execution fails in WorkflowOperationWorker#start"
Per https://opencast.jira.com/browse/MH-10195

**Describe the bug**
Let a workflow operation crash in the WorkflowOperationWorker and have a WorkflowListener attached to the workflow. The listener does not get notified so the code waits forever. As an example take WorkflowOperationSkippingTest. It attaches a listener in #startAndWait. Modify WorkflowOperationWorker#start to fail and see #startAndW

[2019-10-30 21:23] gregorydlogan opened #1181 "ServiceRegistryJpaImpl#getChildJobs(long) does not only return child jobs but all descendant jobs"
Per https://opencast.jira.com/browse/MH-10115

**Steps to reproduce:**
1. call the method ServiceRegistryJpaImpl#getChildJobs(long)

**Actual Results:**
All descendant jobs of the given job id are returned in a (flattened) list.

**Expected Results:**
The doc does not make any hint that all descendant jobs are returned. Therefore I'd suppose that I only get the direct children of the given job id.

[2019-10-31 12:13] lkiesow commented on #1111
Looking at the high number of today's pull requests you could see this error popping up multiple times, breaking a number of test builds. @gregorydlogan, assuming that you wrote those tests, can you take a look?

<details>
<summary>Mudule build log of error copied from buildbot</summary>

[code]
</details>

[2019-10-31 14:17] lkiesow commented on #1111
Sorry, I just realized that @JamesUoM is the author of this.

[2019-10-31 16:10] gregorydlogan commented on #1111
Looking at the relevant code, I'd guess a race condition, but @JamesUoM would probably know more - I haven't worked with the scaling stuff.

[2019-10-31 20:00] lkiesow opened #1201 "Enable ESLint for Theodul Player"
We should run ESLint on all Theodul player components:

 - [x] engage-theodul-core (#1107)
 - [x] engage-theodul-plugin-controls (#1198)
 - [x] engage-theodul-plugin-custom-matomo (#1909)
 - [x] engage-theodul-plugin-custom-mhConnection (#1909)
 - [x] engage-theodul-plugin-custom-notifications (#1909)
 - [x] <strike>engage-theodul-plugin-custom-usertracking</strike> (#1902)
 - [x] engage-theodul-p

[2019-10-31 23:30] lkiesow opened #1204 "Replace Autoprefixer browsers option to Browserslist config"
The JavaScript build in the admin-ui module causes a number of non-breaking errors during the build process.

<details>
<summary>Relevant part of build logs</summary>

[code]
</details>

[2019-11-01 10:52] JamesUoM commented on #1111
I've seen this once on our build system when running > 1 build. I believe it is a timing issue between threads. I suggest you disable the test for now to stop the immediate issues of builds failing, and I'll try and look at refactoring it next week.

[2019-11-05 16:03] mliradelc opened #1213 "Security configuration file fails when logging is enabled"
**Describe the bug**
When in the security configuration file you enable the logging, crashes the security configuration.

**To Reproduce**

In the file `/etc/opencast/security/mh_default_org.xml` (could it be other tenant)
If you uncomment the mentioned lines:
[code]

To this:

[code]

Opencast appears this error in the log file:

**Workaround**

To enable the logging can be use the opencast logge

[2019-11-05 18:36] #1099 closed, assigned to nobody

[2019-11-06 15:42] lkiesow opened #1215 "Show build date"
Opencast lists its version and commit hash (if build from source). Having the build date a well would be really helpful, especially on the test servers:

![Screenshot from 2019-11-06 16-38-50](https://user-images.githubusercontent.com/1008395/68313099-53e74480-00b4-11ea-8610-f98291dd3e1b.png)

[2019-11-06 16:12] mliradelc commented on #1215
+1, Normally to look this (Kinda) I have to look the log files to know when it was this commit.

@lkiesow In the case the build is inconsistent, should show the build date also?

[2019-11-06 21:36] lkiesow opened #1217 "ToolsEndpoint restarts on configuration update"
…since it is a declarative OSGI service while also implementing the ManagedService interface. This basically means that on a configuration change, the configuration is updated, then the service is shut down and reloaded and then the configuration is loaded yet again.

The endpoint should not implement the ManagedService but should the OSGi declarative service method `modified()` to handle configur

[2019-11-07 12:24] lkiesow opened #1219 "Preview extraction fails on short videos"
When ingesting a video with a length shorter than 5s, the extraction of a preview image will fail due to the configuration of the default workflow.

[2019-11-13 12:47] mliradelc commented on #1213
@lkiesow What is your opinion on this, actually you can log into if you use the logger, or that lines make another type of logger?

[2019-11-15 09:41] rrolf opened #1223 "Improve Workflow Details View"
The Event Details -> Workflow -> Workflow Details view is not very usable, as the Workflow Configuration section shows too many information that is usually not viewed and the more frequent used "More Information" section is hidden at the end of the page.

It would be good to move "More Information" section before the "Workflow Configuration" and make the "Workflow Configuration" collapseable to sh

[2019-11-18 09:01] stefanosgeo opened #1224 "Coverimage WOH appendXml not appending all values"
**Describe the bug**
A clear and concise description of what you see:
If there are 2 presenters in an event and a coverimage WHO is used, then the generated .png using  coverimage.xsl have only the first value

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event with 2 presenters "prsenter1" and "presenter2" or 2 contributors
2. use  coverimage WHO like this
[code]

3. Append the

[2019-11-18 09:09] stefanosgeo commented on #1224
This maybe has to do, IIRC ,with the dublincore metadata structure.

In previous version has the creators term in dublincore comma seperated
like this

<dcterms:creator>user1, user2 </dcterms:creator>

but with either 6.x or 7.x every values has it's own xml element

<dcterms:creator>user1</dcterms:creator>
<dcterms:creator>user2</dcterms:creator>

The same happen with the metadata/contributors st

[2019-11-19 16:42] karendolan commented on #1166
Closed via (default rebase-merge) pull https://github.com/opencast/opencast/pull/1167 to r/8.x

[2019-11-19 16:42] #1166 closed, assigned to smarquard

[2019-11-22 10:25] CGreweling opened #1232 "Workflow for archiving allready published and not archived media"
If i would like to publish a mediapackage again to another publication-channel,
the distribution artifacts needs to be archived before or it needs to be reencoded from source.

It would be nice to have a workflow, that adds published artifacts to the asset-manager.
The source publication-channels should be configurable.

[2019-11-25 11:10] mliradelc opened #1243 "Opencast 9 cluster config: Unable to find a workflow handler for 'publish-engage'"
**Describe the bug**
When Opencast 9 is configured as a Cluster, the publish-engage WOH fails with this message:

[code]

At the same time, the Engage and the worker nodes notify about dispatching Job issues even with the dispatcher in each worker turned off as describe in the documentation.

[code]

**If it's installed as allinone, this doesn't happen.** Works without issues.

**To Reproduce**
St

[2019-11-25 13:47] lkiesow opened #1244 "Inconsistent default value for `storage_id`"
@gregorydlogan, you set the `storage_id` in the ddl script to a default value which is not guaranteed if you use any other system of database set-up:

https://github.com/opencast/opencast/blob/a4019af192858a0dccda1ee89a1dae3752f632c2/docs/scripts/ddl/mysql5.sql#L382

Is this actually required? Opencast seems to work just fine without is (e.g. when running with the internal database). Can you take

[2019-11-25 17:34] gregorydlogan commented on #1244
The [migration script](https://github.com/opencast/opencast/blob/develop/docs/upgrade/5_to_6/mysql5.sql) sets those values to their default, but you raise a good point that the dto class does not set the default.  I can specify the default on the column annotation, but I'm not sure how portable that will actually be.

Are you seeing situations where this column is still null, or just nit-picking o

[2019-11-25 17:43] lkiesow commented on #1244
It's actually more than nitpicking since our short-term goal is that we want to drop the ddl script. I don't think the defaults are necessary – otherwise, I would have expected to see issues e.g. on the test servers about this – but I assumed you added them to the scripts for a reason.

If they are an unnecessary mismatch, can you fix the scripts? I don't think there is an actual way if setting th

[2019-11-25 17:45] gregorydlogan commented on #1244
There is a way: `columnDefinition`.  Which takes the literal column definition, hence my assumption that it's not going to be terribly portable...

I'll file a PR removing the default from the creation script.

[2019-11-25 18:07] lkiesow commented on #1244
thanks

[2019-11-26 09:13] smarquard commented on #1162
For reference, demo nginx config is here:

https://github.com/opencast/opencast-project-infrastructure/blob/master/ansible-allinone-demo-vm/roles/nginx/templates/nginx.conf

[2019-11-26 09:51] scharnkn opened #1247 "Presenter/creator field empty after processing scheduled event from Extron SMP 352"
When scheduling events with Extron SMP352, the creator field of the event metadata ("presenter" in the admin UI) turns empty right after ingesting is started from the Extron SMP. The event then has to be reprocessed for the field to be filled again.

The problem does not occur with Adhoc-recordings from the Extron SMP.

This might be related to the changes described in https://opencast.jira.com/br

[2019-11-27 13:04] lkiesow opened #1251 "Statistics are linked without statistics being configured"
In the main menu a statistics item is shown without statistics being configured, leading to a page showing an error. The menu item should not be visible.

Additional to that, huge error logs show up on the server:

<details>

[code]

</details>

[2019-11-27 21:11] gregorydlogan commented on #1243
@mliradelc With the version of develop I'm about to push I'm no longer seeing it, whether that's a fix from #1226 (I'd be surprised) or not.

One thing to check: Develop changed the `dispatchinterval` key in the SR config file to `dispatch.interval`, and moved it from milliseconds to seconds.  You've made those changes to your configuration, correct?

[2019-11-28 05:37] edalex-tom opened #1253 "Distribution to S3 fails"
**Describe the bug**
As part of a workflow with Amazon S3 integration, publish fails with a null pointer exception.

**To Reproduce**
In a Opencast environment with default tenant:

1. [Configure Amazon S3 Distribution](https://docs.opencast.org/r/7.x/admin/#modules/awss3distribution/#aws-s3-distribution-configuration)
2. [Add publish to S3 operation to workflow](https://docs.opencast.org/r/7.x/ad

[2019-11-28 09:08] mliradelc commented on #1243
Thanks Greg, I will look on it

Update: The error with the dispatcher disappeared with your suggestion ;), for the other I will wait for your PR

[2019-11-28 20:28] gregorydlogan commented on #1243
I don't have a PR to fix anything here, appears to have been a documentation issue.  I'll resolve this now, please reopen if I've missed something.

[2019-11-28 20:28] #1243 closed, assigned to gregorydlogan

[2019-11-28 22:46] lkiesow commented on #1251
@pmiddend, @krinnewitz can one of you take a look at this?

[2019-11-29 09:20] pmiddend commented on #1251
That's because `/etc/statistics/influx.publishedhours.json` is present by default. I'll create a PR that removes it.

[2019-12-02 21:45] gregorydlogan commented on #1069
Fixed by `0a7e26ecdf8d446aaf148d8c17d0457284633d37`, merged as part of #1122

[2019-12-02 21:45] #1069 closed, assigned to nobody

[2019-12-03 19:51] gregorydlogan commented on #1253
@edalex-tom Fixed in #1270.  If you've got the resources, testing would be welcome.

[2019-12-03 22:10] edalex-tom commented on #1253
Hi @gregorydlogan, thanks for having a look.  Unfortunately I won't have a chance to revisit this again in the near future.

[2019-12-04 13:11] smarquard opened #1273 "solr search index rebuild uses excessive memory"
**Describe the bug**

In a large production system with many mediapackages in oc_search, a rebuild of the solr search index may require additional java heap to succeed.

**To Reproduce**

Remove the solr search indexes, restart Opencast.

**Analysis**

In SearchServiceDatabaseImpl, getAllMediaPackages() happily reads every single mediapackage in oc_search into memory and returns an iterator to a l

[2019-12-08 21:18] #1251 closed, assigned to nobody

[2019-12-10 16:48] rrolf opened #1280 "Notification of Newer Opencast Version in Admin UI"
There is a notification area in the Admin UI behind the bell.

It would be nice to create a new notification, if a newer Opencast version exists then the version that its currently installed. Maybe even a link to the release docs would be nice.

The current version should be known as it is shown on the bottom of the admin UI.

New versions can be found in the Github tag list.

[2019-12-10 21:28] lkiesow opened #1281 "ServiceRegistryJpaImplTest.testIgnoreHostsInPriorityList regularly fails"
Building the service registry regularly fails on its tests. I've seen this multiple times, both locally and on our test servers.

<details>

[code]
</details>

[2019-12-10 23:17] gregorydlogan commented on #1281
I can take a look at this eventually, so I'll grab it. If someone wants to tackle this before I get to it feel free

/assign me

[2019-12-11 10:45] krinnewitz commented on #1124
Yes, I can confirm that only one of the two fixes got merged. OSGI-support is still missing.

[2019-12-16 13:35] karendolan commented on #1253
Pull https://github.com/opencast/opencast/pull/1270 merged, resolves AWS publish fix regarding "MH-13381, Use Organization Identifier in Workflows"

[2019-12-16 13:35] #1253 closed, assigned to gregorydlogan

[2019-12-16 13:47] karendolan commented on #1136
Wow, IMHO, it would be better to enforce that the name "series"  is a special reserved name, and not eligible as a unique name for an individual series.

That being said, maybe all `/<collection-name>.[xml|json]` endpoints could be upgraded to  `/<collection-name>/[xml|json]`. This would remove the confusion between collection names and individual unique names of items in the collection. Although,

[2019-12-16 21:33] #1244 closed, assigned to gregorydlogan

[2019-12-18 20:39] smarquard opened #1302 "Case mismatch for theodul allowedformats config value"
In:

https://github.com/opencast/opencast/blob/develop/etc/ui-config/mh_default_org/theodul/config.yml#L25

we have allowedformats but it appears to be parsed as allowedFormats here https://github.com/opencast/opencast/blob/develop/modules/engage-theodul-core/src/main/resources/ui/js/engage/models/meInfo.js#L65

[2019-12-19 15:24] karendolan opened #1305 "NFSv4 can not delete workspace file during ingest checksum update, but NFSv3 can"
**Describe the bug**

Ingest new mediapackages with the shared storage is mounted and hard links working on the shared storage using NFS versions 4 or 4.1 and ingest fails with logged error "Unable
to create event" error within the Admin UI and the following errors are logged to the system log:

Caused by: java.io.IOException: There is already a file/directory at
/srv/opencast/workspace/mediapacka

[2019-12-19 15:32] karendolan commented on #1305
Appears to be related to https://github.com/opencast/opencast/blob/develop/modules/workspace-impl/src/main/java/org/opencastproject/workspace/impl/WorkspaceImpl.java#L389-L399

Possible troubleshooting threads:
- Opencast has an open file handle on the file that NFSv3 does not detect, but NFSv4 does.
- NFSv4 has stricter/different/additional mount permission config requirements than NFSv3.

Possib

[2019-12-19 16:27] smarquard commented on #1305
Is this a single-server or a cluster issue, that is could it be related to NFS filesystem caching, or is it reproducible solely on the admin node?

[2019-12-19 16:54] karendolan commented on #1305
Hi @smarquard,

I created this issue based on Opencast User google groups post https://groups.google.com/a/opencast.org/forum/#!topic/users/_pJO_4mFC-U . I'm curious about debugging this issue because of past struggles with NFS (legacy system).

I can't picture how NFS filesystem caching could enable NFSv3 to appear to have deleted a workspace file, but prevent NFSv4 from appearing to delete it.

[2019-12-20 17:38] karendolan commented on #1305
Update from discussion thread is that NFSv4.1 works on CentOS7. So issue is not Opencast.

[2019-12-20 17:38] #1305 closed, assigned to nobody

[2019-12-20 20:18] gregorydlogan opened #1306 "An admin closing their browser during upload should not ERROR the Ingest Service"
As reported on list, the following stack trace appears if you close your browser or otherwise lose connection mid upload.

[code]

This puts the ingest service into ERROR state, and prevents normal operations.

[2019-12-20 20:24] gregorydlogan commented on #1306
Initial investigation (in r/7.x):

- private addContentToRepo creates a ProgressInputStream, which does the actual fetch during the call to workingFileRepository.put at the end of the method.
- Catching the IOException at this point means coming up with some kind of error URI which can be returned, rather than throwing an exception -> bad form.
- Catching the IOException in the calling method (ie,

[2020-01-03 11:51] majosch opened #1320 "Theodul player ignores URL parameters"
**Describe the bug**
Parameters appended to a theodul player URL are ignored. (see: https://docs.opencast.org/r/8.x/admin/#modules/player.url.parameter/)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.opencast.org and watch a published video
2. Add URL parameters to URL, e.g.:
https://stable.opencast.org/engage/theodul/ui/core.html?id=b76bce85-6eb1-4662-be92-04aa5294dfb

[2020-01-04 11:08] lkiesow commented on #1320
Hi @majosch, you are absolutely right. That was a regression bug. I've submitted a patch that should fix the issue. I've you have time, maybe you can test the patch? If you do, please comment on the pull request.

[2020-01-05 00:02] #1320 closed, assigned to lkiesow

[2020-01-05 01:15] lkiesow commented on #1219
[code]

[2020-01-06 13:32] smarquard opened #1324 "Sorting by presenters column does not work"
**To Reproduce**

Click on Presenters column in the events list in the Admin UI.

This endpoint:

https://stable.opencast.org/admin-ng/event/events.json?limit=10&offset=0&sort=presenters:ASC

returns a 400 bad request issue.

**Environment Information**
 - Opencast 8.0 (stable.opencast.org)

[2020-01-06 13:36] smarquard commented on #1324
2020-01-06T15:24:55,400 | WARN  | qtp88794095-30228 | (WebApplicationExceptionMapper:73) - javax.ws.rs.WebApplicationException: HTTP 400 Bad Request
        at org.opencastproject.adminui.endpoint.AbstractEventEndpoint.getEvents(AbstractEventEndpoint.java:2192)

[2020-01-06 13:39] smarquard commented on #1324
Should be "sort=presenter:ASC" not "sort=presenters:ASC"

[2020-01-06 13:45] mliradelc commented on #1324
Hi stephen, Last october I submited this issue in the developers group https://groups.google.com/a/opencast.org/forum/#!topic/dev/KCsJKmddM8U

And I filled a bug in Jira: https://opencast.jira.com/browse/MH-13686

Is still present in 8.0

[2020-01-06 13:48] smarquard commented on #1324
Thanks for the link @mliradelc. Seems like this should be a simple fix though the admin UI JS is not something I'm familiar with so will leave it for someone who knows that code better.

[2020-01-06 13:51] mliradelc commented on #1324
I will look into, it should be not so time-consuming fix this

[2020-01-06 21:20] lkiesow commented on #1213
This probably once added a piece of code to the Spring filter chain logging the requests which dodes no longer exist. Hence, this shouldn't be in that configuration file. Will fix that.

[2020-01-06 21:38] lkiesow commented on #1281
Did you already find time to take a look at this? I've again seen this multiple times (once just now) on our test systems causing builds to fail.

[2020-01-06 21:53] gregorydlogan commented on #1281
I have not, but can take a look tomorrow.

[2020-01-06 21:55] gregorydlogan commented on #1281
@lkiesow is there a version where you noticed this starting to happen more often?

[2020-01-06 23:02] lkiesow commented on #1281
No idea when this first popped up

[2020-01-08 12:30] smarquard opened #1335 "Regression in hasRecordingStarted"
**Describe the bug**

If a recording takes place but the capture agent does not send a start or end recording status update, the recording metadata becomes unavailable in Opencast.

A change to Event.hasRecordingStarted() means it now looks at recording status rather than event date:

https://github.com/opencast/opencast/blob/develop/modules/index-service/src/main/java/org/opencastproject/index/se

[2020-01-08 12:39] smarquard commented on #1335
The issue described in MH-13003 may also be a consequence of how the bibliographic and technical start/end dates are related (if changing one also changes the other).

[2020-01-08 13:17] smarquard commented on #1335
Possible fix:

https://github.com/cilt-uct/opencast/commit/89793258d5ea433731cbe0250ca7f18634e2cd8e

[2020-01-08 13:18] smarquard commented on #1335
@JulianKniephoff thoughts on this?

[2020-01-08 14:38] smarquard opened #1336 "Invalid boolean conditions fail silently"
**Describe the bug**

A workflow condition like:

if="${usePresentation} and ${usePresentation2}"

is invalid since MH-13543 https://github.com/opencast/opencast/commit/9307396c2d42f5466b7630b1749907a50841fc2d#diff-3c650124c5dc7047e8a0768f71deea6a introduced antlr for parsing which is case-sensitive and defines booleans in upper-case (e.g. AND)

However this fails silently so it's not obvious what

[2020-01-09 08:41] mliradelc commented on #1324
I just fixed it, I will send the PR in the next hours

[2020-01-09 10:03] lkiesow commented on #1336
Try changing

https://github.com/opencast/opencast/blob/9307396c2d42f5466b7630b1749907a50841fc2d/modules/workflow-condition-parser/src/main/antlr4/org/opencastproject/workflow/conditionparser/antlr/WorkflowCondition.g4#L10-L12

something like this should work:

[code]
…not sure about the quotes.

[2020-01-09 15:07] #1324 closed, assigned to mliradelc

[2020-01-10 11:05] #1213 closed, assigned to lkiesow

[2020-01-10 14:25] mliradelc opened #1345 "Access denied for non-admin users when clic over the "Opencast" logo in the admin UI"
**Describe the bug**
When you use another user than the admin, with all UI permissions, if you click over the Opencast logo to go back to the main page, it appears a 403 error.

This was reproduced on the official stable env.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user
2. Grant all UI rights
3. Log with the new user on the admin UI
4. Click over the Opencast logo.

**Enviro

[2020-01-13 09:49] NgoniChoga opened #1351 "Buffers at the start and at the and of videos"
**The Bug**
When trimming a video, there are no buffers/trim segments at the start and at the end of the video. Adding buffers would help resolve the issue of out of sync audio and video.

The video from a network camera is encoded e.g. H264, which means when data is captured, it could be between key frames and therefore video and audio could be out of sync when it gets processed by ffmpeg.

**Env

[2020-01-16 06:25] outofrange opened #1356 "Sonatype moved to HTTPS - Opencast won't start anymore"
This might be a major bug, affecting every Opencast instance (re?)started since yesterday!

When starting Opencast, I get the following error ([full log in gist](https://gist.github.com/outofrange/3108dc9dd9fe0910bd9258e5f764d567)):

`Run opencast_main_start
	at org.ops4j.pax.url.mvn.internal.AetherBasedResolver.resolve(AetherBasedResolver.java:720) [2:org.ops4j.pax.url.mvn:2.5.4]
java.io.IOExcept

[2020-01-16 07:56] outofrange commented on #1356
"[Already fixed (it will be included in 4.2.8).](https://issues.apache.org/jira/browse/KARAF-6599?focusedCommentId=17016605&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-17016605)", as well as in 4.3.0.

[2020-01-16 09:00] JulianKniephoff opened #1357 ""Start Task" shows the wrong workflow options"
When selecting a workflow in the "Start Task" dialog, the options for the workflow **below** the selected one are shown:

![image](https://user-images.githubusercontent.com/123272/72508925-d6c01480-3846-11ea-9fc7-4db4a5ce54fa.png)

![image](https://user-images.githubusercontent.com/123272/72508993-f5bea680-3846-11ea-9638-9b6241b3c50c.png)

This happens in 8.0 on stable.opencast.org, but not on leg

[2020-01-16 09:32] lkiesow commented on #1356
This is possibly also fixed by #1339 since Opencast won't need to download `wrap` any longer. Nevertheless, this should be fixed as soon as possible.

[2020-01-16 10:02] JulianKniephoff commented on #1357
This apparently also happens in the "Add Event" dialog.

[2020-01-16 10:03] JulianKniephoff commented on #1357
It also only seems to happen for the last `n - 1` options, until you trigger the bug once; then it also happens for the first option.

[2020-01-16 14:41] lkiesow commented on #1356
- #1358 is a quick-fix for the problem without updating Karaf and dependencies (7x)
- #1339 also mitigates the issue since once applied, Opencast will not need to download any additional artifacts (8x)
- Updating Karaf still makes sense and I will look into it for 8x or develop (will see)

[2020-01-16 14:50] lkiesow commented on #1356
Not upgrading to Karaf 4.2.8/4.3.0 right now [since both versions have not been released yet](https://karaf.apache.org/download.html). Nonetheless, the pull requests linked above will fix the issue.

[2020-01-16 16:28] gregorydlogan commented on #1356
#1358 and #1339 have been merged.

[2020-01-16 18:55] #1219 closed, assigned to lkiesow

[2020-01-16 18:55] #1356 closed, assigned to lkiesow

[2020-01-17 16:35] sgnd opened #1366 "nc: command not found"
**Describe the bug**
After install opencast on ubuntu 18.04, success installed. But in systemctl status opencast, i got error "line 138: nc: command not found".

[code]
How to install nc on ubuntu 18.04?
**Environment Information**
 - OS: Ubuntu 18.04
 - Browser: Chrome
 - Opencast version with minor release: Opencast 9.0.0.SNAPSHOT - feb2e9a

[2020-01-17 16:46] gregorydlogan commented on #1366
@sgnd Did you install from source, or via package?  You're looking to `apt-get install netcat`.

[2020-01-17 19:13] lkiesow commented on #1366
Hi Sugeng,

  apt-get install ncat

…is what you are looking for.

If you did install from the repositorx, that this is an error. In that
case , can you file a ticket on the GitHub issue tracker for Opencast?

Best regards,
Lars

On Fri, 17 Jan 2020 08:35:06 -0800
Sugeng Agung Suganda <notifications@github.com> wrote:

[2020-01-18 01:35] sgnd commented on #1366
@gregorydlogan @lkiesow I already installed netcat on my server. But still not working.

Opencast on admin dashboard like this
![image](https://user-images.githubusercontent.com/15070585/72656356-4a8c2980-39cd-11ea-89ba-cc5b496cebf5.png)

If I want to create event the modal is blank
![image](https://user-images.githubusercontent.com/15070585/72656375-6bed1580-39cd-11ea-9372-2fc4aa10849d.png)

And

[2020-01-18 02:07] gregorydlogan commented on #1366
@sgnd Did you install and configure ActiveMQ?  And follow through with the rest of the configuration within Opencast?  The Debian packages do not come pre-configured.

[2020-01-18 02:15] sgnd commented on #1366
@gregorydlogan sure, I installed ActiveMQ, I just follow this documentation https://www.alibabacloud.com/blog/how-to-install-opencast-on-ubuntu-16-04_595198

![image](https://user-images.githubusercontent.com/15070585/72657121-e8cebe00-39d2-11ea-8c56-dc7f32a06868.png)

Is there anything I missed?

[2020-01-18 03:17] gregorydlogan commented on #1366
Ah, I just noticed that you're installing a develop (9.x) snapshot. Elastic search is also required for that branch and newer. Our documentation has only just recently been updated - and the Alibaba docs are very, very out of date. Try following the docs on docs.opencast.org!

[2020-01-18 03:17] sgnd commented on #1366
This is an error in console chrome
![image](https://user-images.githubusercontent.com/15070585/72657807-a1006480-39db-11ea-8ab6-4e6883704d27.png)

![image](https://user-images.githubusercontent.com/15070585/72657815-b6758e80-39db-11ea-9bf2-db7f6cb3799f.png)

[2020-01-18 04:36] sgnd opened #1367 "Error if build from source and using package from this repository"
**Describe the bug**
Using opencast from release in this repository, opencast allinone 8.0.
In netstat -ntlp, i check not port 8080 is running.

![image](https://user-images.githubusercontent.com/15070585/72658661-8089d780-39e6-11ea-9d9c-b399fb854c0e.png)

![image](https://user-images.githubusercontent.com/15070585/72658897-f9d6f980-39e9-11ea-8883-ed7ab9291bf9.png)

**Environment Information**
 -

[2020-01-18 12:00] lkiesow commented on #1366
Hi Sugeng,
it's hard to tell what's the problem when looking at this error. The
best chances to find problems are to look for any kind of error in
Opencast's log which are usually located at

  <opencast-dir>/data/log/opencast.log

In general, I would recommend not using `develop` when starting right
now. Unless you want to start development, that is :-)

Here would be the documentation for the la

[2020-01-18 15:31] gregorydlogan commented on #1367
@sgnd You've installed the packaged Opencast 8.0 from pkg.opencast.org right? #1356 affects these packages and (likely) prevents startup. This is probably what's causing your problem in the first image.

For the second image, have you retried the build? Frequently with errors in the admin ui a retry will fix the issue. Frequently, but not always :)

[2020-01-20 07:48] stefanosgeo commented on #1165
I am not sure if this helps but after 2 restarts (due to activemq connection problems) this seems to work now...

[2020-01-20 10:22] mliradelc opened #1369 "failed to parse and instantiate of javax.servlet.ServletContainerInitializer in classpath"
**Describe the bug**
When starts opencast 9, appears this warning:
`2020-01-20T11:02:57,968 | WARN  | (ServletContainerInitializerScanner:136) - failed to parse and instantiate of javax.servlet.ServletContainerInitializer in classpath`

**To Reproduce**
Steps to reproduce the behavior:
1. Start opencast 9

**Environment Information**
 - OS: CentOS 7
 - Browser Safari
 - Opencast 9.0 develop branch

[2020-01-21 10:03] mliradelc opened #1372 "Error when Opencast tries to create org.apache.karaf.shell.cfg"
**Describe the bug**
When opencast is started, this message appears:

[code]

The problem is that opencast tries to generate the file `org.apache.karaf.shell.cfg` on the folder. The RPM installation creates a user called "opencast" that doesn't have the authorization to write in the system folders. **That is ok.**

The rpm packet should include this file to avoid this error.

**workaround**
Allow

[2020-01-21 10:30] isabellakutger opened #1373 "Split AdminUI in Java and JavaScript parts"
This issue tracks #1373
Need to split the admin ui into two parts:
- the Java backend (remains at admin-ui)
- the JavaScript frontend (moved to admin-ui-frontend)

Purpose of this split is to facilitate migrating from AngularJS (1.x) to Angular (8+) in a new module in parallel to the current admin-ui.

[2020-01-21 10:44] lkiesow commented on #1372
Hi Max, there exists no Opencast 9 RPM yet, so this is just a local problem with your packageing, isn't it? Hence, this is no community issue, is it?

[2020-01-21 11:25] mliradelc commented on #1372
You are right Lars, there are not OC 9 RPM packages yet. I have built the develop branch myself, I notice this will be a problem in the future because that file should be in /etc/ folder in the repo.

[2020-01-21 12:34] lkiesow commented on #1372
In that case, it will be my responsibility when I'm building this and I'm aware of that since it's nothing new :-)

[2020-01-21 12:34] #1372 closed, assigned to lkiesow

[2020-01-21 16:01] JulianKniephoff opened #1374 "When there is a series without a title, the metadata tabs break"
After creating series with an empty title, which is surprisingly easy to do, considering that it is marked as a required field in the admin UI, you can't enter new or edit existing metadata anymore. The metadata tab is just empty:

![image](https://user-images.githubusercontent.com/123272/72820379-28b1d180-3c6f-11ea-9049-85d5eba0398f.png)

Apparently the `metadata` and `metadata.json` endpoints ha

[2020-01-22 08:19] JulianKniephoff commented on #1335
@smarquard sorry for the late reply, but I was pretty sick and/or busy for the last couple of weeks. :sweat_smile:

Unfortunately, I don't really remember all the details about this, and tbh I probably never really understood the full situation. However, the way I see it, your change would reintroduce the original issue in the case where a status update from the CA is dropped.

I also have no real

[2020-01-24 10:42] sgnd commented on #1367
@gregorydlogan I successfully install opencast, but if I check netstat -ntlp opencast not listen on port 8080.
![image](https://user-images.githubusercontent.com/15070585/73063194-d4a62780-3ed0-11ea-93c7-b6fa1e17ba42.png)

and this is opencast log https://pastebin.com/9Fkju7CL

[2020-01-24 12:06] lkiesow commented on #1367
But port 8080 is correct.
If you want to specify no port (default ports), I would suggest you to follow:
https://docs.opencast.org/r/8.x/admin/#configuration/https/nginx/
Which will guide you through the steps to enable HTTPS for Opencast.

[2020-01-24 12:09] lkiesow commented on #1367
Looking at the logs, it's the issue @gregorydlogan mentioned earlier. Try running this and then restart Opencast:

    sudo sed -i 's/http:/https:/' /etc/opencast/etc/org.ops4j.pax.url.mvn.cfg

[2020-01-24 12:32] gregorydlogan commented on #1367
Alternatively, update to the `8.0-3` package version, which natively contains the above fix.

[2020-01-25 02:09] sgnd commented on #1367
@gregorydlogan @lkiesow thank you for the comment, now I can access the opencast. but still loading on the admin panel.

The error logs - line 1118 until 1119 (full logs here https://pastebin.com/bRs4Ai9q)
[code]
![image](https://user-images.githubusercontent.com/15070585/73114975-35c20f80-3f52-11ea-8b7a-133250b3d589.png)
![image](https://user-images.githubusercontent.com/15070585/73114983-47a3b28

[2020-01-29 16:59] gregorydlogan commented on #1367
That's a very weird set of symptoms.  Your admin UI looks like ActiveMQ isn't running properly.  Your log looks like part of the system isn't starting, but there are no other obvious issues.  Are you following the rest of the [basic configuration steps](https://docs.opencast.org/r/8.x/admin/#configuration/)?

[2020-01-30 18:52] lkiesow commented on #1366
I guess the original issue has been solved now.

[2020-01-30 18:52] #1366 closed, assigned to gregorydlogan

[2020-01-30 18:57] lkiesow commented on #1144
@dhrubo55, are you still working on this?

[2020-02-01 12:36] rrolf opened #1384 "WebM-Videos from Opencast Studio will not be processed with schedule-and-upload workflow"
**Describe the bug**
Use Opencast Studio and upload the video to an Opencast with the schedule-and-upload workflow selected.
The processing will fail in the "image" operation with the following error:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://studio.opencast.org
2. Click on 'Settings' and replace the workflow with schedule-and-upload
3. Make a recording
4. Check th

[2020-02-01 13:14] rrolf commented on #1384
It is the editor.thumbnail.preview that is called in the image operation.
profile.editor.thumbnail.preview.ffmpeg.command = -ss #{time} -i #{in.video.path} -r 1 -frames:v 1 -filter:v yadif,scale=320:-1 #{out.dir}/#{out.name}#{out.suffix}

[2020-02-01 13:27] rrolf commented on #1384
Timelinepreview and video-segmenter also fail with webM videos

[2020-02-03 12:26] t-schroeder opened #1385 "Adding attachment removes read access from Moodle role (Paella Player)"
(This has only been tested with the Paella Player.)

**Describe the bug**
I have uploaded a video through Moodle [0]. The event is published and has an ACL with entries like

[code]

When I add an attachment (captions/vtt) to the event through the Opencast admin website, the video can no longer be viewed through Moodle [1]. It doesn't show up anymore under /engage/ui/index.html, either, when authe

[2020-02-05 08:58] gregorydlogan opened #1390 "Asset Manager need to ensure all relevant storage adapters are available before starting operations"
The asset manager will currently:

* start processing move operations prior to the relevant storage adapter being both started and attached to the AM
* start re indexing without all of the relevant storage adapters being attached.
  * standard reindex endpoint should just fail
  * implement forced reindex with exclusion param to drop defunct adapters

[2020-02-07 08:21] karendolan opened #1392 "Opencast Paella player config for ariaLabel that also works in the control button popups."
**Describe the bug**
As an Openacast Paella player user, who does not required special accommodations, but who prefers keyboard commands to the mouse, it would make my life easier to be able to tab navigate and used keyboard control in the rewind, skip forward, captions, switch full screen mode, change resolution, help menu, and playback rate control buttons in the Paella player associated to Open

[2020-02-11 19:57] lkiesow commented on #1144
I guess the answer is no…

[2020-02-11 20:39] lkiesow commented on #1116
By now, only CAS is left as a separate and somewhat broken external configuration. @miesgre, if I remember correctly, you are using CAS. Do you by any chance have the time to take a look at including CAS in the main configuration as well?

[2020-02-12 08:59] miesgre commented on #1116
I will take a look

[2020-02-12 09:08] lkiesow commented on #1116
Thanks.

[2020-02-12 13:11] #1116 closed, assigned to miesgre

[2020-02-18 15:54] dependabot-preview[bot] opened #1410 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/modules/admin-ui/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/opencast).

[2020-02-18 15:54] dependabot-preview[bot] opened #1411 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/modules/admin-ui/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/opencast).

[2020-02-18 15:54] dependabot-preview[bot] opened #1412 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/modules/admin-ui/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/opencast).

[2020-02-18 15:54] #1410 closed, assigned to nobody

[2020-02-18 15:54] #1411 closed, assigned to nobody

[2020-02-18 16:29] #1412 closed, assigned to nobody

[2020-02-18 22:24] gregorydlogan opened #1418 "opencast-admin-ui-frontend does not build"
**Describe the bug**
After #1371 was merged into develop, I'm seeing this on build:

[code]

[2020-02-18 23:02] lkiesow commented on #1418
- [`develop` builds on Travis just fine](https://travis-ci.org/opencast/opencast/branches)
- `develop` including the patch built at work just fine
- `develop` builds here at home just fine
- [`develop` seems to build just fine on buildbot](http://ci.opencast.org/#/builders/10/builds/3670)

So, this really seems to be a local issue of yours and no general problem with Opencast. Did you build a clea

[2020-02-18 23:08] pascalseeland commented on #1418
It is a locale/LANG issue. Building with anything else than LANG=en_US currently breaks the build.
LANG=de_DE.UTF-8 mvn clean install breaks the build.

[2020-02-18 23:31] lkiesow commented on #1418
Interesting to see that the guy from Canada complains about this while the German developers are just fine :-D

But is this new and related to #1371 or was this broken before?

[2020-02-18 23:44] pascalseeland commented on #1418
This issue was introduced by depending on the browser locale in https://github.com/opencast/opencast/blob/7cb88de04ce91267e55b26612386988b8389516d/modules/admin-ui-frontend/app/scripts/shared/services/languageService.js#L404-L418

Before this was fixed to being en_US by the mock of the the LanguageService of the admin-ui and did not depend on the environment.

[2020-02-19 02:41] gregorydlogan commented on #1418
Fun times!  I'm in `en_CA.UTF-8`, apparently not only restores the missing `u`s, but also changes how dates are fomatted into something truly insane.  From HEAD of `develop`

[code]

[2020-02-19 13:11] JulianKniephoff commented on #1357
This is resolved with b6163977f62f0a022f9f78eedcf6a7a7620c3225. It was probably not closed automatically since the PR was against `r/8.x`, and not the default branch `develop`, and no commit message (but only the PR comment) contained a "closing keyword."

[2020-02-19 13:11] #1357 closed, assigned to JulianKniephoff

[2020-02-19 14:36] gregorydlogan commented on #1418
Nope, still not working

[code]

[2020-02-19 15:59] pascalseeland commented on #1418
Could you please provide the output of locale?
Because I can run:
`LANG=en_CA.UTF-8 LC_ALL=en_CA.UTF-8 mvn clean install`
inside the admin-ui-frontend directory without any issues. I'm wandering what other locale are causing this issue.

[2020-02-19 22:08] gregorydlogan commented on #1418
@pascalseeland
[code]

Running with a locale of `en_US.UTF-8` does not resolve the issue for me.  I am having to run `OPENSSL_CONF=asdf mvn ...` to prevent PhantomJS from coring out on Debian 10, but I would hope that that does not cause locale issues...

[2020-02-20 12:21] CGreweling opened #1422 "admin-ng/event Rest is broken"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://develop.opencast.org/docs.html?path=/admin-ng/event'
**Environment Information**
Opencast Develop 20.02.2020

 - OS: [e.g. iOS 8.1, CentOS 7]
 - Browser [e.g. Safari, Chrome]
 - Opencast version with minor release [e.g. 7.0, 7.2, 7.x if using a branch]
![event-rest-broken](https://user-images.githubusercontent.com/3499600/74933249

[2020-02-20 12:47] lkiesow commented on #1422
Likely a regression caused by #1287

[2020-02-20 22:06] gregorydlogan opened #1424 "opencast-admin-ui(-frontend) does not build on Debian 10"
**Describe the bug**
Attempting to build the admin UI on Debian 10 displayed errors at PhantomJS startup similar to the following
[code]

This can be resolved by removing the `openssl_conf = default_conf` line from `/etc/ssl/openssl.cnf`, or starting the build with `OPENSSL_CONF=asdf mvn install...`

**Environment Information**
 - Debian 10, but not Debian 9, or Ubuntu 16, or 18

[2020-02-21 09:27] pascalseeland commented on #1418
Thanks for the locales. After taking a look at  [Locale Spec](https://www.gnu.org/software/gettext/manual/html_node/Locale-Environment-Variables.html),which specifies the order in which the locales get parsed, I would propose replaceing https://github.com/opencast/opencast/blob/ade77f81d57d9cd2c512493d06030bc23864be3d/modules/admin-ui-frontend/Gruntfile.js#L5-L6 with `process.env.LANGUAGE='en_US.U

[2020-02-21 09:40] pascalseeland commented on #1424
The same issue has appeard at https://github.com/bazelbuild/rules_closure/pull/353/files I like their solution of setting an empty openssl.conf file when running phantomjs during the test. I think this could done in the beginning of the Gruntfile.js where we set the locales ot a fixed value.

[2020-02-21 16:20] gregorydlogan commented on #1418
@pascalseeland Yes!  `LANGUAGE=en_US.UTF-8 mvn...` works as expected.

[2020-02-21 16:30] gregorydlogan commented on #1424
I'll give that a shot, thanks @pascalseeland

[2020-02-21 19:32] lkiesow commented on #1281
@gregorydlogan, are you still working on this? I've seen this break two builds again today. If you stopped working on this and you are reasonably sure that it's misbehavior of the test, I suggest we drop the test.

[2020-02-21 20:59] gregorydlogan commented on #1281
I'm reasonably certain there is a very rare bug deep in the SR dispatch code, but I cannot get it to reproduce in my dev setups.  I do see it from time to time in my local buildbot infrastructure, but that's not exactly helpful for debugging.  Let's ignore the test for now, and when (if?) I get to building more unit tests I'll try and fix it then.

[2020-02-23 19:25] lkiesow opened #1428 "Translations for Admin Interfac are Missing"
The admin interface translations did not survive splitting the module:

- https://crowdin.com/project/opencast-community

[2020-02-23 19:34] #1281 closed, assigned to gregorydlogan

[2020-02-24 15:28] karendolan commented on #1281
@lkiesow  and @gregorydlogan we were looking at that odd Travis CI ServiceRegistryJpaImplTest fail last September 2019. The fails appear to be race conditions associated to the build up and tearing down of test resources around each test in that class. As far as I know, no one outside the "Travis CI" environment is getting errors on that test. I think It might help if the core resources for that t

[2020-02-24 15:32] gregorydlogan commented on #1281
Certainly welcome to try @karendolan.  The frustrating part I've found is that this happens rarely enough that you *think* you've fixed it, but then you find out that it's broken somewhere else.  Don't expect the PR to be quick to accept :)

[2020-02-24 15:38] karendolan opened #1429 "Modify build-up & tear-downs in ServiceRegistryJpaImplTest so Travis CI won't choke"
**Describe the bug**
When Travis CI attempts to run resource intensive junit tests, such as in ServiceRegistryJpaImplTest, the tests get Assert errors when they should not get Assert errors. This only happens in the Travis CI environment and appears to be a limitation in the Travis CI environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the ServiceRegistryJpaImplTest junit tests

[2020-02-24 18:45] karendolan commented on #1429
Also related to #1068

[2020-02-24 20:11] pascalseeland commented on #1373
Closed by #1371

[2020-02-24 20:35] karendolan commented on #1429
FYI -  My concern is that valid junit tests are being actively removed from the code base because Travis CI occasionally says something like  1 + 1 ==  3 , not 2. The "temporarily" ignored tests are being stripped from the code base to "clean up the code". Yet, the code that the junits were testing is still left in the code, just in an untested, unprotected, state.

[2020-02-24 21:19] #1373 closed, assigned to nobody

[2020-02-25 08:49] NgoniChoga opened #1432 "Series ACLs not propagating to individual events"
**Describe the bug**
When using the default option in the configuration (https://docs.opencast.org/r/8.x/admin/#configuration/acl/#merge-mode-roles), pressing the "Update event permissions" in the UI is not updating the ACLs of individual events in the series.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a series with events.
2. Go to series details and update the series Access Poli

[2020-02-25 14:09] karendolan commented on #1281
@lkiesow  In the description you said you saw this test fail locally? Do you  remember if that was on a standalone system and if anything else was building concurrently on that system when you saw the failure?

[2020-02-25 15:05] lkiesow commented on #1429
Sorry to tell you that these issues are not at all limited to builds on Travis CI. I've been regularly restarting builds on Greg's buildbot cluster since they fail with the same issue and I have seen this locally as well though far less often. Generally, it seems like the more powerful the machine you are building on, the less likely it seems that the issue will pop up.

I agree that having tests

[2020-02-25 16:57] gregorydlogan commented on #1429
Adding on to @lkiesow's comment, I think there is a sweet spot where this happens.  I see it on ci.opencast.org, and Travis.  I see it on my testing cluster at home here, but *not* on my dev machine which is particularly low powered.  I think there's a minimum spec before it starts to trigger, which suggests to me that @karendolan is right and it's somehow related to setup/teardown.

If you want t

[2020-02-25 21:56] lkiesow commented on #1281
A build-failure on my i7-7700 powered workstation caused me to create this issue if I remember correctly. So, it's appearing on all kinds of systems. Just on some, it seems to be more frequent.

Builds on Travis CI should also not happen in parallel on the same machine. If I remember correctly, a separate VM is launched for every build.

[2020-02-26 13:04] karendolan commented on #1281
@lkiesow thank you for that information. I think I see the race condition in some of the tests: The ServiceRegistry loop attempts to dispatch jobs at intervals, the JobBarrier loop tests the state of the job. During the ServiceRegistry loop, a queued job is put in an "optimistic" dispatching state with a processing host. The job goes back to its queued state when it cannot dispatch. The junit test

[2020-02-26 15:35] karendolan commented on #1429
@gregorydlogan  and @lkiesow  the issue was a race condition with the test asserts and the dispatch loop timing. The jobs get into an intermediate state during dispatch and a normalized state after dispatch. The assert errors were when the assert timing got the job when it was in the middle of the dispatch process. Adding extra control in the tests to launch the dispatch process prior to doing an

[2020-02-26 21:18] #1144 closed, assigned to lkiesow

[2020-02-26 21:18] #1418 closed, assigned to nobody

[2020-02-27 17:35] karendolan opened #1438 "Entwine functional library looses List<Field> ordering when converting to JObject"
**Describe the bug**
Not sure if this is a bug or an unadvertised feature. When entwine functional library converts a List<Field> to an ObjectJ, if the Field objects are key-value pairs, their iterative ordering from the original List is lost.

The "unadvertised feature" aspect is that the ObjectJ ensures there are no duplicate keys in the List<Field> set of key-values. The bug aspect is that the

[2020-03-03 17:10] #1422 closed, assigned to lkiesow

[2020-03-04 19:45] karendolan opened #1445 "JMX enabled via bin/inc and bin/karaf.bat JAVA_OPS (Karaf v4.2.7)"
**Describe the bug**
The  "-Dcom.sun.management.jmxremote"  flag is still enabled when Opencast is run in certain environments.

**To Reproduce**
Steps to reproduce the behavior:
1. Build Opencast with "mvn clean install"
2. Deploy and run Opencast
3. Do a "ps -aux | grep opencast", notice that "-Dcom.sun.management.jmxremote"  is an Opencast run param.

**Environment Information**
 - Linux with S

[2020-03-05 23:14] #1432 closed, assigned to nobody

[2020-03-06 09:33] JulianKniephoff opened #1447 "The layout of the list of segments in the editor breaks even with modest zoom levels"
![image](https://user-images.githubusercontent.com/123272/76070540-0365f200-5f95-11ea-9bfb-eea28cf03c02.png)

I know I'm kind of a special case with my browser zoom levels and resolution settings, but I think anyone should be able to reproduce the above breakage by zooming only one to two notches in.

[2020-03-09 13:13] karendolan opened #1449 "Migrate multipart/form-data parsing libs (re: idleTimeout exceptions)"
**Describe the bug**
When I upload really big files from a bad network, I frequently get an idleTimeout exception.

** Workaround **
 I am increasing my idleTimeout param by enabling "jetty-opencast.xml" custom (increased) idle timeout param.

** Long Term Alternative **
However, I notice that I can avoid trouble shooting, and creating workarounds, for commons-fileupload path related jetty "idleTi

[2020-03-09 13:17] karendolan commented on #1449
I'm going to start work on this, part time. Not sure how long that might take. This is not priority work for our site unless the idleTimeout extension doesn't stop upload fails or something else goes wrong with that lib.

I added this issue to Opencast repo in case anyone else is already thinking about this and/or has started work.

[2020-03-10 18:42] smarquard opened #1450 "Remove servicewarnings endpoint"
**Describe the bug**

/services/servicewarnings endpoint returns error 500. It's probably unused and should be removed.

Equivalent info is available from /services/health.json

**To Reproduce**
Steps to reproduce the behavior:
1. Login as admin
2. https://develop.opencast.org/services/servicewarnings
3. Error:

No message body writer has been found for class java.lang.Long, ContentType: text/html

[2020-03-10 22:07] lkiesow commented on #1438
This behavior absolutely makes sense. If you want to preserve order in JSON, you must use an array instead. From [RFC7159, The JavaScript Object Notation (JSON) Data Interchange Format](http://www.rfc-editor.org/rfc/rfc7159.txt):

So, when you use a JSON object, you can never be sure how things are ordered and you should never assume any particular order.

[2020-03-10 22:07] #1438 closed, assigned to nobody

[2020-03-10 22:08] lkiesow commented on #1445
This has been fixed by #1446

[2020-03-10 22:08] #1445 closed, assigned to nobody

[2020-03-10 22:15] karendolan commented on #1438
But, the Entwine lib "obj()" *is* (re)sorting the attributes of the object and it shouldn't be. It should leave the attributes in whatever order that they came in, as every other part of the code and JS does.

I'm Ok with wrapping this issue argument up with the JSON spec argument that all the Entwine library function objects, such as the "obj()" when fed a Java LIST,  adhere  RFC7159, in that LIS

[2020-03-10 22:23] lkiesow commented on #1384
The workflow does succeed by now since the linked patches are merged

[2020-03-10 22:23] #1384 closed, assigned to nobody

[2020-03-10 22:30] lkiesow commented on #1438
I agree that it doesn't make a lot of sense to resort the keys but it's technically okay to do so since according to the specification you can never assume any given order. Any JSON parser/serializer changing the order in any way is just fine and as a developer, you should assume that's what all these libraries do since that's fine according to the spec.

The same would not hold for JSON arrays si

[2020-03-11 00:41] gregorydlogan opened #1451 "Index rebuilds should refuse to run in parallel"
As described [here](https://groups.google.com/a/opencast.org/forum/m/#!topic/dev/3wiAfLGlPfc), the elastic search indexes do not properly reindex if the re indexing is run in parallel. This seems like it would be easily solved with a semaphore and some OSGI glue.

[2020-03-11 09:58] lkiesow commented on #1451
No, you actually need to rewrite the whole index code since the reindexing is already started sequentially and not in parallel. But re-indexing works by sending messages via network. A process that does not necessarily guarantee the order of the messages. You probably heard me complain about this in the past already ;-)

[2020-03-11 16:28] t-schroeder opened #1452 "HLS on iOS broken"
**Describe the bug**
iOS devices don't play HLS videos with PaellaPlayer. It doesn't matter which browser you use. When you click a video the load animation starts but never ends.

**To Reproduce**

1. Configure HLS as the first streaming protocol.
2. Either:
a. Take an actual iOS device.
b. Use any other OS and switch the browser's user agent to iOS:
`Mozilla/5.0 (iPhone; CPU iPhone OS 13_2_3 lik

[2020-03-11 16:34] t-schroeder commented on #1452
If you replace type="undefined" with type="application/x-mpegURL" the video works again.

I debugged through the JS and found this place that seems to be the cause of this problem:

https://github.com/opencast/opencast/blob/9f1584c660c738e84ba26b4224cb6af1caa83c51/modules/engage-paella-player/src/main/paella-opencast/plugins/es.upv.paella.opencast.loader/03_oc_search_converter.js#L137-L140

In cas

[2020-03-12 08:00] miesgre commented on #1452
@t-schroeder I submited a fix, but I can not test it because I do not have an iOS device to test it.
Can you test it?

[2020-03-12 14:43] t-schroeder commented on #1452
@miesgre Thanks for the quick fix. I tested it on an iOS device and it works. 👍

[2020-03-12 22:13] lkiesow commented on #1452
@t-schroeder, thanks for testing this. I've merged the patch so that it will be part of Opencast 8.2.

A request for next time, it's really helpful if you comment on the pull request rather than the issue if you test a patch since we as developers can then easily see that someone tested the patch and it can be safely merged. Chances are high that that's missed if the comment is on the issue. Anywa

[2020-03-12 22:13] #1452 closed, assigned to nobody

[2020-03-13 17:31] gregorydlogan commented on #1451
I'm not terribly familiar with the code in question, but if the issue is that the results of index B depend on index A we could at least solve some of the issue by enforcing that only a single index be rebuilt at a time, right?  It doesn't guarantee that index A hasn't been rebuilt with bad data, but at least it prevents the user from kicking off all of the indexing at once.

[2020-03-13 19:08] lkiesow commented on #1451
We are already doing that. In a way…
We are building index A and sending all the necessary messages. Only if that's done we start with index B. Unfortunately, sending all messages does not mean that all messages are already received and processed. That code is completely decoupled and isn't even directly related to index-rebuilds at all.

What we usually do for updates is that we set the log level

[2020-03-13 19:22] gregorydlogan commented on #1451
Fair enough.  I'll assign this to you then, since you're already working on it, and SWITCH will make you finish it :)

[2020-03-13 19:44] lkiesow commented on #1451
Fair enough. I'll assign this to @KatrinIhler then, since she is already working on it, and SWITCH will make her finish it :)

[2020-03-16 15:03] justindavis opened #1467 "Opencast Studio is missing from the "adminpresentation" distribution"
Hello

The "Opencast Studio" module is missing from the "adminpresentation" distribution RPM.

Thanks,
Justin

[2020-03-17 13:03] LukasKalbertodt opened #1470 "GET parameters to Opencast Studio get discarded due to redirect"
**To Reproduce**
Steps to reproduce the behavior:
1. Log into stable.opencast.org
2. Visit URL `https://stable.opencast.org/studio?foo=bar`
3. Observe how you get redirected to `https://stable.opencast.org/studio` (i.e. GET parameters get discarded)

This is a 302 redirect; not a JS redirect. So it's an issue with the Studio module. The same happens with `/studio/?foo=bar`.

However, it does *not

[2020-03-17 13:09] LukasKalbertodt opened #1471 "Not redirected to original URL after login"
If I open stable.opencast.org/studio and I am not logged in, I get redirected to the login page. That makes sense. However, after I login, I see the standard admin UI instead of being redirected to the original URL I wanted to visit (`/studio` in this case). This feels like a bug to me.

**To Reproduce**
Steps to reproduce the behavior:
1. Open private browser tab or clear all cookies
2. Visit htt

[2020-03-17 20:17] gregorydlogan opened #1472 "BigBlueButton Integration Needs Updating"
**Describe the bug**
BBB old docs: https://code.google.com/archive/p/bigbluebutton/wikis/MatterhornIntegration.wiki
BBB new docs: https://docs.bigbluebutton.org/

@lkiesow has looked most at this and says it likely needs a rewrite, which considering the vintage of the old docs is likely.

Needs:
* New integration
* OC docs?
* BBB docs
* Bug BBB to remove old docs

[2020-03-18 00:00] lkiesow commented on #1472
So…

- I have BigBlueButton
- I have Opencast
- I am a developer

…and here is a working integration of both tools:

  https://weblog.lkiesow.de/20200318-integrate-bigbluebutton-opencast/

It can certainly be extended further but will work just fine.

Best regards,
Lars

On Tue, 17 Mar 2020 13:17:50 -0700
Greg Logan <notifications@github.com> wrote:

[2020-03-19 11:20] JulianKniephoff opened #1477 "[Redacted]"
[Redacted]

G

[2020-03-20 21:00] #1477 closed, assigned to nobody

[2020-03-20 21:13] LukasKalbertodt commented on #1470
Not sure why GitHub didn't close this automatically, but this was fixed by #1476

[2020-03-20 21:13] #1470 closed, assigned to nobody

[2020-03-23 00:20] #1467 closed, assigned to lkiesow

[2020-03-23 06:38] smarquard opened #1481 "Drop the beta label from Opencast Studio in 8.x"
Not sure if this belongs here or in the Studio github.

Opencast Studio is now part of 8.x and in production I'm certain in quite a few sites (we deployed it today), so it would be good to drop the BETA label in the banner, top-left.

It's now released, plus beta feels a little old-fashioned in the age of continuous updates.

[2020-03-23 09:59] lkiesow commented on #1481
Opencast just includes Studio as-is. Studio ist still marked as beta. Please report the issue in the Studio issue tracker.

[2020-03-23 09:59] #1481 closed, assigned to nobody

[2020-03-23 11:38] smarquard commented on #1481
https://github.com/elan-ev/opencast-studio/issues/503

[2020-03-23 11:45] lkiesow commented on #1481
thanks

[2020-03-24 11:18] t-schroeder opened #1486 "Error when encoding video with odd pixel count in height"
**Describe the bug**
When I upload a video with an odd height, e.g. 1063px it is successfully encoded to 360p, 480p and 720p, but encoding to 1080p fails with:

This causes the entire workflow to fail.

**To Reproduce**
Upload a video with an odd height using the default "schedule-and-upload" workflow and select at least one encoding profile that would produce a video with height larger than that

[2020-03-24 11:29] t-schroeder commented on #1486
This can be fixed by conditionally adding 1px of padding or cropping by 1px as shown here: https://stackoverflow.com/a/20848224

Padding:
[code]

Cropping:
[code]

I noticed this has already been fixed for another encoding profile in #1269 through cropping. So should we use cropping here as well?

[2020-03-24 16:18] gregorydlogan commented on #1486
@t-schroeder if the fix in the stackoverflow link fixes it for you I don't see why it wouldn't be the right solution.  A pixel or two in either direction probably isn't the end of the world.  Can you file a pull request altering the appropriate encoding profiles?

[2020-03-24 17:06] t-schroeder commented on #1486
I've made a pull request.

[2020-03-25 14:10] LukasKalbertodt commented on #1471
Closed by #1487

[2020-03-25 14:10] #1471 closed, assigned to nobody

[2020-03-26 11:45] ebbertd opened #1491 "Groups can't be viewed with ROLE_UI_GROUPS_VIEW"
**Describe the bug**
User that do not have admin access but have the role  ROLE_UI_GROUPS_VIEW can't see the list of groups.

**To Reproduce**
Steps to reproduce the behavior:
1. Create some groups
2. Create a new user and assign the roles: ROLE_ADMIN_UI, ROLE_UI_GROUPS_VIEW, ROLE_UI_NAV, ROLE_UI_NAV_ORGANIZATION_VIEW
3. Log in with the newly created user
4. Navigate to the groups overview in the

[2020-03-26 12:37] #1486 closed, assigned to nobody

[2020-03-26 13:11] JulianKniephoff opened #1493 "Deal with series with the same title consistently"
The admin UI lets us create two series with the same title, but then we can only select one of them (basically a random one) in the series combo box in the meta tab of the (new) event details modal.

I'm not sure where the bug here is, but at least this behavior is inconsistent. I think we should enforce unique titles across series, but another possibility would be to fix the wizards, i.e. let the

[2020-03-26 15:02] LukasKalbertodt opened #1494 "Correctly handle sub paths of Studio SPA (e.g. `/studio/settings`)"
Visiting `https://server/studio/settings` returns 404 (assuming you're already authenticated). The same goes for `/studio/about`. Currently everything under `/studio/*` is just a bunch of statically served files and `settings/index.html` does in fact not exist. Both of these links are used by Studio and work if they are reached through Studio (as JS handles everything). We just need to find a solu

[2020-03-26 15:14] LukasKalbertodt opened #1495 "Studio can't access source maps with Firefox as login cookies are not sent when requesting source maps"
When opening Studio in **Opencast 8.3** in Firefox, the following error appears in the dev console:

[code]

The reason for this is that when Firefox sends the HTTP request for those `.map` files, login cookies are not included. This in turn means that the request is not allowed and gets redirected to the login page. The login page HTML is not valid JSON (duh), so we get the error above. Interesti

[2020-03-26 16:04] lkiesow commented on #1495
You could have just created a pull request 😸

[2020-04-02 15:30] darolfes commented on #1494
Two things were tested:

1. Registering an additional Service under `/studio`, which simply resolves `https://server/studio/settings`. This doesn't work, because two Services can't share the same Path.
2. A hacky Solution: Copying `/studio/index.html` to `/studio/settings/index.html`. This only works partially, because the `StaticResource` Servlet doesn't automatically redirect Directories to `./i

[2020-04-06 14:03] dr-pille opened #1505 "Wrong path in Asset Upload documentation"
**Describe the bug**
A clear and concise description of what you see:
https://docs.opencast.org/r/8.x/admin/#configuration/admin-ui/asset-upload/

etc/listproviders/event.upload.asset.options.properties

When I copy the path to the console, the computer sais "no"

**To Reproduce**
got to the guide, copy the path and paste at in the console.

**Environment Information**
 - OS: from at least 6.X up

[2020-04-06 14:15] lkiesow commented on #1505
The path can vary depending on how you install Opencast and there are an infinite amount of possible paths. That is why you have to transform all these configuration paths to the correct ones for your installation. Since you installed Opencast, you should also know the location of your configuration.

The documentation even explains this (just hover over `etc`):

This directory is often located at

[2020-04-06 14:15] #1505 closed, assigned to nobody

[2020-04-06 21:09] LukasKalbertodt commented on #1495
Fixed by #1509

[2020-04-06 21:09] #1495 closed, assigned to nobody

[2020-04-07 09:39] isabellakutger commented on #1428
Do @pascalseeland and i need to take a look on that issue? When we committed the split, everything was working fine. The only other commit is from Crowdin Bot (https://github.com/opencast/opencast/commits/develop/modules/admin-ui-frontend/resources) that translated every translation key into english

[2020-04-08 10:43] wsmirnow opened #1513 "Featurerequest: tag WOH should handle *-flavors as target flavor"
Currently the [tag WOH](https://docs.opencast.org/develop/admin/#workflowoperationhandlers/tag-woh/) can handle multiple source flavors with the `source-flavors` option by setting `*` as flavor type, subtype or separate it by a collon. But you can not use the same sheme in `target-flavor` option. I would like to have an `target-flavors` option, that can handle the `*`-flavors.  Let me give you an

[2020-04-08 10:58] wsmirnow opened #1514 "Editor WOH skipped-flavors option implemented not intuitively"
I would expect that the [editor WOH](https://docs.opencast.org/develop/admin/#workflowoperationhandlers/editor-woh/) clone the source tracks and set flavors given by `skipped-flavors`, if you set `skip-if-not-trimmed` to `true` and the smil has only one segment with the whole video length. Here an example:

[code]

This operation would trim the `*/source` tracks based on `smil/smil` segment list a

[2020-04-09 19:34] #1168 closed, assigned to nobody

[2020-04-15 21:58] gregorydlogan opened #1525 "OC Studio recordings do not support editing properly"
**Describe the bug**
Current description on list is to set `skipEditorPreview` to `false` to enable editing.  While this *does* enable the editing suite, the videos cannot be properly edited because the editing workflow assumes the presence of `*/work` flavoured media - something that the studio workflow does not currently produce.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit the OC

[2020-04-16 09:02] t-schroeder opened #1527 "PaellaPlayer with HLS broken on iOS/MacOS"
**Describe the bug**
Since upgrading to Opencast 8.2 HLS hasn't been working with the PaellaPlayer on iOS and macOS devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure HLS as the only streaming protocol in the Paella config.
2. Try to watch a video on an iOS or MacOS device.

=> The loading animation just keeps spinning forever.

**Environment Information**
 - OS: iOS 12.4.5,

[2020-04-16 11:32] mtneug commented on #1513
We have used the `clone` operation for this. But I agree that `tag` should be able to handle this.

[2020-04-16 17:24] alevchuk opened #1528 "Release file is expired. How to workaround?"
**Describe the bug**
When I follow https://docs.opencast.org/r/8.x/admin/#installation/debs/ on AWS Debian GNU-Linux 8 -Jessie on step "Update your package listing" I get:

[code]

**Environment Information**
 - OS: Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux

[2020-04-16 18:02] gregorydlogan commented on #1528
@alevchuk You're seeing a couple of things here

1) Debian Jessie is currently LTS, and is about to be EOL (June 2020).
2) Your install is missing the relevant public key to verify the release file
3) It's possible that the relevant repository is no longer present given the end of life status for the release.

I would strongly recommend you upgrade to at least Debian 9 (stretch), or better yet Deb

[2020-04-16 18:23] alevchuk opened #1529 "Docs ask for openjdk-8-jdk which does not exist on modern Linux distros"
**Describe the bug**
I'm on debian Stretch trying to follow https://docs.opencast.org/r/8.x/admin/#installation/source-linux/#install-dependencies

The doc explicitly said to install:
* java-1.8.0-openjdk-devel.x86_64 / openjdk-8-jdk

Are later versions supported (e.g. openjdk-11-jdk)

**Environment Information**
 - OS: Linux opencast 4.19.0-8-cloud-amd64 #1 SMP Debian 4.19.98-1 (2020-01-26) x86_6

[2020-04-16 19:02] lkiesow commented on #1529
We just discussed this. @gregorydlogan, I'm assigning this to you.

[2020-04-16 19:14] t-schroeder commented on #1527
On the Paella Player demo page the HLS video works on iOS apparently. So looks like it's not an issue in the player.

[2020-04-16 20:24] gregorydlogan commented on #1529
@alevchuk The installation from Debian packages docs have been updated to get the right bits for JDK 8 in place.  Opencast does not currently support JDK 11, but will with Opencast 9, currently planned for December.

Installation from source is generally an experts only deal - if you're going to all the trouble of building from source you probably already know that JDK 8 is quite old, and thus are

[2020-04-16 20:24] gregorydlogan commented on #1528
Docs are now updated -> closing.

[2020-04-16 20:24] #1528 closed, assigned to gregorydlogan

[2020-04-21 12:56] rrolf opened #1533 "Progress Indicator for event processing"
A precise indicator, how far a job is processed is hard to do, as a workflow definition might contain other imported workflow definitions and so the progress would reduce after an import.

But a progress indicator could work different re-evaluating the upcoming wf operations after each step.

So if we have initially a WF with 10 operations, each operation would be 10%.
If we import  as the 5th ste

[2020-04-21 14:55] lkiesow commented on #1533
I'm not sure that's a good idea.
If you take a look at e.g this workflow: https://github.com/opencast/opencast/blob/develop/etc/workflows/publish.xml
You have four steps, but the second one is massive compared to the others.

[2020-04-21 17:36] mtneug commented on #1533
We discussed this back and forth at the last Opencast DACH meeting. I'm still of the opinion that I would simply measure the progress with

[code]

i.e. the progress could "move backwards". This is significantly simpler than the proposed solution. In my opinion, the progress bar should

1. only give a rough estimation of how far the process has gotten
2. show that progress is still made.

I think

[2020-04-21 17:41] gregorydlogan commented on #1533
Ideally in the long term we could use the average of each operation type to estimate time remaining for the current set of known operations, although we would need to break the operations out into smaller type groups first.

In the short term, I really like @mtneug's idea.  Completely eliminates time estimates, but still shows progress.

[2020-04-22 12:02] NgoniChoga opened #1537 "Remove/Unpublish attachment (captions file)"
**Feature request**
We currently do not have the ability to remove or unpublish an attachment such as a captions file.
None of the current [workflow operations](https://docs.opencast.org/r/8.x/admin/#workflowoperationhandlers/) seem to be able to achieve this goal. See question on the [google group](https://groups.google.com/a/opencast.org/forum/#!topic/users/iqYCPJBQNfQ).

**To Reproduce**
Steps

[2020-04-22 14:18] gregorydlogan opened #1538 "Heartbeat checks can cause processing slowdowns in some environments"
**Describe the bug**
In a cluster with workers inaccessible from the presentation node, errors like this are observed with current default settings:
[code]

This is caused by the heartbeat check being at its default of 60 seconds on all nodes.  This check is normally fine, except when the connection graph is not complete - some of the nodes are only accessible from other nodes.  In this situation

[2020-04-22 15:35] lkiesow commented on #1538
generally, it's a user error if nodes cannot reach each other and I immediately know of two other cases where this could cause errors. So, it's basically a “sorry but your configuration is broken”.

That said, `+1` for disabling the heartbeat on all nodes where dispatching is disabled (dispatch interval set to 0) which means that it is usually only activated on the admin node. The reason for the `

[2020-04-22 16:04] gregorydlogan commented on #1538
Known cases as discussed on IRC:
- Remotes talk directly to impls
- WFR might need to talk
- Availability checks in WOHs might need to talk

[2020-04-23 19:23] otti-ssystems opened #1541 "Adding write access parameter to Events endpoint and Series endpoint"
There have to be the possibility to pass a write access parameter to the Events endpoint and the Series Endpoint.
If passed, the Events endpoint and the Series Endpoint should only response results with permission "write access".

**Environment Information**
- opencast 8.3

Ticket is related to :
https://github.com/opencast/opencast/pull/1063
and
https://github.com/opencast/opencast/pull/209

**Im

[2020-04-23 20:06] otti-ssystems commented on #1541
/cib

[2020-04-23 21:14] gregorydlogan commented on #1541
This, to me, sounds like a minor feature.  @KatrinIhler, @mliradelc thoughts?

[2020-04-23 22:33] lkiesow commented on #1529
@gregorydlogan, do you want to keep this open to reminf you about the debian packages?
Because this is already fixed in Opencast itself since `develop` can run just fine with current JCM versions.

[2020-04-24 08:24] KatrinIhler commented on #1541
What endpoints are we talking about here? If it's the api, this would probably also require a new api version.
Either way, yeah, I think that's a feature and should go into develop.

[2020-04-24 08:49] JulianKniephoff opened #1545 "Workflow progress reporting"
Since we have the upload progress now, I hear more and more people wondering why we can't report on the progress of a workflow. Of course, this is a much more difficult problem; in a sense it's even [impossible](https://www.youtube.com/watch?v=LyS6CGJA0eI), but there might be some practical approximations we might want to investigate.

[2020-04-24 08:57] JulianKniephoff opened #1546 "Show original "submitter" in the main event table"
Currently, there is no easy way to find out who originally uploaded/scheduled an event, especially for many events at the same time, i.e. as part of the main events table.

At least for uploaded events you can find that information for an individual event by going to the "Workflows" tab in the event details and looking at the "submitter" of the first workflow that ran on the event. I don't know wh

[2020-04-24 09:09] otti-ssystems commented on #1541
Hi.
Yes, we are influencing the endpoints of the external api.
I already created the pull request locally, but i need a branch with the reference number to commit.

Can you please tell me how to do it, then you can have a look at the request.

THX a lot

[2020-04-24 11:32] mtneug commented on #1545
Is this a duplicate of #1533? (thank for linking to my talk by the way 😄).

[2020-04-24 11:40] JulianKniephoff commented on #1545
Oh, you're right, thanks. Admittedly I didn't really look whether a corresponding issue already existed. Closing as duplicate. :sweat_smile:

[2020-04-24 11:40] #1545 closed, assigned to nobody

[2020-04-24 11:55] mliradelc commented on #1533
I like the idea of @mtneug , very simple, and straightforward.

And about the estimates, instead of predict you can create a history of previous jobs and give an estimate. Now if you want to put a time estimate there are some approaches:

- Take the time for each WOH, and with that create statistics based on the length of the videos:
That it will give you an estimate of the time that it will becom

[2020-04-24 12:07] mtneug commented on #1533
I once tried that in the past though I was only interested in the different job types and not the higher-level workflow operations. I tried to incorporate all the job arguments in this model, which for some operations also include the track information (duration, resolution, fps, etc.). The results were mixed and not very precise (only slightly better than the average), although I wasn't really op

[2020-04-24 12:56] gregorydlogan commented on #1541
@otti-ssystems if you have the code, follow along at https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork.  File it against `opencast/opencast`'s `develop` branch.

[2020-04-24 15:17] gregorydlogan commented on #1529
Yep, I'm working on this.

[2020-04-24 15:19] otti-ssystems commented on #1541
@gregorydlogan thank you. Thats what i was looking for

[2020-04-24 22:31] #1112 closed, assigned to nobody

[2020-04-28 08:34] mliradelc commented on #1345
All ok here, tested!

[2020-04-29 17:31] #1424 closed, assigned to gregorydlogan

[2020-04-30 16:38] mliradelc opened #1554 "Users can delete series with episodes when series.hasEvents.delete.allow=false"
**Describe the bug**
As reported by @uzk-rrzk in the [opencast group](https://groups.google.com/a/opencast.org/forum/#!topic/users/aJURIxLnIGA), if the setting `series.hasEvents.delete.allow` is set to `false`, a user owner of the series still can delete the series when the series has events.

The routine can you find it in  `SeriesEndpoint.java`

**To Reproduce**
Steps to reproduce the behavior:

[2020-05-03 17:37] miesgre opened #1556 "studio can not upload videos if upload.acl=false and user is not an ADMIN"
**Describe the bug**
If `upload.acl=false`, the `/ingest/ingect` call will fail if the user is not an admin.

**To Reproduce**
You can test it in online opencast servers creating a regular user with `ROLE_STUDIO` and try to record a video with that user and `upload.acl=false`
You can pass the parameter in the url to force it: https://develop.opencast.org/studio/?`upload.acl=false`

**Environment I

[2020-05-03 18:50] lkiesow commented on #1556
This is not a bug. If your user has no access to the event, operations that do need access will fail. If you do not provide an ACL, the global default will be used. The global default allows access for `ROLE_ADMIN` only.

[2020-05-03 18:50] #1556 closed, assigned to nobody

[2020-05-03 18:58] lkiesow commented on #1165
Closing this since it seems to work now and no one else could reproduce this.

[2020-05-03 18:58] #1165 closed, assigned to nobody

[2020-05-04 06:32] LukasKalbertodt commented on #1556
I guess I can clarify that in the studio docs. Something like "If you set `acl=false`, you have to make sure your series ACL will grant appropriate rights to all studio users. Otherwise users won't be able to ingest from Studio." or something like that.

[2020-05-04 06:38] miesgre commented on #1556
So @LukasKalbertodt, If I use `upload.acl=false` and upload a video to the `SERIES_1` series `upload.seriesId=SERIES_1` and user has write permissions on that series. The user can call to `/ingest/ingest` without problems?

[2020-05-04 06:40] LukasKalbertodt commented on #1556
@miesgre As far as I know yes. I could be wrong tho :/ Will find out and answer here again in a few hours, unless Lars is quicker and explains this to us ^_^

[2020-05-04 08:51] lkiesow commented on #1556
The metadata of an event (series is event metadata) has nothing to do with being able to access `/ingest/*`. That's unrelated.  It's the same for ACLs.

However, once you persist your access rules (e.g. using the asset manager) these rules will be enforced. If you give no access to the user executing the workflow and the workflow tries to access those data again later: Access will be denied.

[2020-05-04 09:59] LukasKalbertodt commented on #1556
Ok apparently I was wrong. The workflow operation will indeed fail if the user is not admin, as the series ACL is only applied within the workflow. So yes, `acl=false` will lead to only admins being able to upload stuff correctly. I will add a note to the Studio configuration docs.

[2020-05-04 13:09] rrolf opened #1557 "Editing Metadata while using the arrows to switch between events breaks the metadata"
**Describe the bug**

Editing metadata of several events, while using the arrows to switch between events overwrites the Metadata that was changed with the data of the first edited event

**To Reproduce**
Steps to reproduce the behavior:
1. Filter for a group of recordings, like all recordings in a series
2. Open the metadata editor
3. Edit the title of a recording
4. use the arrow right to go to

[2020-05-04 16:52] lkiesow commented on #1557
Would a sensible solution be to drop the arrows? Is anyone actually using them?

[2020-05-05 14:04] mliradelc commented on #1554
I'm looking into this and I found something interesting.

If you are in the admin user, it calls the endpoint that confirms if the user is allowed to delete the series with events, but if its a non-admin user is not called this API endpoint in the admin-ui

[code]
I suspect this problem comes from the frontend.

[2020-05-05 14:42] mliradelc commented on #1554
Yes, it was the frontend, some endpoints were blocked. With these lines will fix the issue

[code]

I will make a PR for this issue right now.

[2020-05-05 14:56] gregorydlogan commented on #1557
This might be something to ask the users, but I somehow doubt it since no one has complained about this yet...

[2020-05-05 14:59] lkiesow commented on #1557
Asking @rrolf is asking an active user ;-P

[2020-05-08 20:19] gregorydlogan commented on #1111
This is still occurring, c.f the latest `r/8.x` build: https://travis-ci.com/github/opencast/opencast/jobs/330744544

[2020-05-11 22:25] #1345 closed, assigned to nobody

[2020-05-12 13:57] Meridiana opened #1579 "Basic Authentication for external API not working when CAS enabled"
I have a working CAS configuration (from security_sample_cas.xml-example).
I have a working "Basic" configuration (mh_default_org.xml).

With CAS configuration every API request gets redirected to CAS. So I uncommented basic authentication as described in the documentation https://docs.opencast.org/r/8.x/admin/#configuration/external-api/#authentication
Now CAS authentication ist working fine but

[2020-05-14 20:46] #1554 closed, assigned to gregorydlogan, mliradelc

[2020-05-19 12:26] Rillke opened #1588 "Audio does not play in Theodul player"
**Describe the bug**
When publishing an mp3, m4a and ogg/opus file to Engage, the Theodul player does not play it, instead a warning is shown:

![image](https://user-images.githubusercontent.com/2311611/82325865-34729200-99dc-11ea-8308-48dd6519d9d3.png)

However, this is not true. All the audio files just play fine in the browser

**To Reproduce**
Steps to reproduce the behavior:
1. Have an audio-

[2020-05-22 12:54] #1588 closed, assigned to nobody

[2020-05-22 22:30] gregorydlogan opened #1596 "Episode status reverts to Recording from FInished after WorkflowCleanupScanner"
Migrated from [MH-12081](https://opencast.jira.com/browse/MH-12081)

**Describe the bug**
Recordings in Finished state revert to Recording state after WorkflowCleanupScanner cleans up their backing jobs.

**To Reproduce**
1. Set enabled to true in https://bitbucket.org/opencast-community/matterhorn/src/445645a2d58be8bd25ec44ba7ab6f9342118aee2/etc/org.opencastproject.workflow.impl.WorkflowCleanupSc

[2020-05-23 07:30] Rillke commented on #1596
Working URL: https://github.com/opencast/opencast/blob/r/8.x/etc/org.opencastproject.workflow.impl.WorkflowCleanupScanner.cfg#L3

[2020-05-27 15:34] gregorydlogan opened #1609 "YouTube documentation is out of date"
**Describe the bug**
The current Youtube docs say that a URL should be printed in the logs.  This no longer happens, instead a browser window is opened.  This presents an issue for those configuring on their servers.  The docs should be amended to say that the first run should occur on a local machine, and that the configs can be copied to the server after that

[2020-05-27 16:03] ypatios commented on #1609
Thanks Greg :)
There's also a project dedicated to documentation. Just wanted to make sure this issue is correctly registered

[2020-05-27 16:17] gregorydlogan commented on #1609
@ypatios The markdown doc under `docs/guides/admin/` is what you want to update.  The docs project is the code powering docs.opencast.org, which deploys the docs from this project's `docs/guides` directory.

[2020-05-27 19:23] gregorydlogan opened #1610 "Workflow Cleanup Incomplete"
**Describe the bug**
Retracting then publishing a recording often (but not always) yields the following error
[code]

Triggering the publish a second time reportedly resolves the issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish a recording
2. Retract said recording
3. Publish the recording again

**Environment Information**
Opencast 8.x

[2020-05-28 14:28] Rillke opened #1613 "Engage Index UI: No URL decoding in search field text"
**Describe the bug**
Clicking the "search" button twice in Engage UI with a search term containing a space character leads to double-encoding and no search results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stable.opencast.org/engage/ui/index.html
2. Log in to see all Videos
3. Enter the search term "**Opencast Tears**"
![image](https://user-images.githubusercontent.com/2

[2020-05-29 13:30] karendolan commented on #1493
HI @JulianKniephoff our site has been using the course title for the Opencast series title for some years now. The series Id is unique `<academic-year><academic-term-code><course registrar number>` but the series title is the same across terms. I wonder if other sites do this as well. Enforcement of a unique series title would cause us trouble to work around.

We get around the series dropdown iss

[2020-05-29 13:34] karendolan commented on #1374
@JulianKniephoff I am surprised the Series service did not reject the creation of a series without a title. This seems  like an easy fix to enforce a default series title (i.e. `S-<seriesId>`) upon series creation.

[EDIT] I recommend the default series title because many places in the code expect a minimum ID and Title for both series and episode. If one or the other does not exist, it impacts mo

[2020-06-03 12:44] urzbs opened #1616 "Write permission removal for Non Admin Users on ACL Templates"
University of Heidelberg here,

We want to inform you that there is a critical bug messing with our Users:
When a non admin user selects an ACL template for his own Event, the User loses his own write permissions to this specific event. Loosing the permission to even further configure their own event. (Because it disappears from admin-ui)

**To Reproduce**
Steps to reproduce the behavior:

0. Use

[2020-06-03 22:09] lkiesow commented on #1616
I can confirm this happens on stable.opencast.org.
Likely an admin interface issue.

[2020-06-04 19:59] gregorydlogan opened #1617 "Usertracking's default configuration generates exceptions"
**Describe the bug**
The usertracking service generates an exception for every logging entry with the default configuration:
[code]

We're omitting a number of things by default, most notably the session ID, which is used as the primary key for the `oc_user_session table`.

**To Reproduce**
Steps to reproduce the behavior:
1. Start up Opencast
2. Process a recording
3. View the recording with Pael

[2020-06-05 10:49] wsmirnow commented on #1513
The tag operation should also handle target flavor wildcards in sub type, like this example:

[code]

[2020-06-10 14:19] LukasKalbertodt commented on #1541
~~#1541~~ #1548 seems to close this issue?

An open question is whether we want to backport this to 8.x. [This Studio PR](https://github.com/elan-ev/opencast-studio/pull/570) depends on this new API feature to work. Studio targets 8.x right now, so we can't really add this feature to Studio without this API landing in 8.x. I don't really care either way.

@KatrinIhler @gregorydlogan any opinions?

[2020-06-10 18:20] gregorydlogan commented on #1541
@LukasKalbertodt... This ticket is 1541? :D

Re: back porting to 8.x, I don't have strong opinions since this is additive only, but if #1615 has to go into develop I have to think this should too. That being said, the final decision belongs to the RMs

[2020-06-11 07:55] LukasKalbertodt commented on #1541
@gregorydlogan Oopsie, I fixed my comment now :P

[2020-06-11 13:51] KatrinIhler commented on #1541
@LukasKalbertodt I don't have a strong opinion right now either, maybe bring this up at the next technical meeting?

[2020-06-16 11:02] LukasKalbertodt commented on #1541
We (including @rrolf) discussed this internally and decided against backporting this to 8.x. Adding a new parameter to the external API would require a new API version which is not something we want to do in minor version bumps.

So this issue can be closed and the Studio PR/feature has to wait till 9.x.

[2020-06-16 11:02] #1541 closed, assigned to nobody

[2020-06-17 09:07] ziegenberg commented on #1557
I am using them and realized this bug only hours later. 🤯

[2020-06-18 12:48] mtneug commented on #1541
This is not only relevant for Studio! Why not leave it open for 9.x?

[2020-06-18 12:49] mtneug commented on #1541
Ups, missed #1548 🤦‍♂️

[2020-06-20 15:04] lkiesow opened #1642 "Menu does not disappear after launching „Start Task“ dialog"
After clicking actions → start task, the menu stays open and atop the dialog which is clearly a usability bug

![Screenshot from 2020-06-20 16-43-34](https://user-images.githubusercontent.com/1008395/85204898-030d1f00-b318-11ea-9d6f-28e82823574a.png)

[2020-06-24 14:22] mliradelc opened #1661 "Make more detailed Publish-engage WOH criteria errors"
**Describe the bug**
The publish-engage WOH when tries to publish media that doesn't meet the criteria always shows for example:

[code]
My idea is to add more details to this error message like:

[code]

I will leave this issue here to have it in my bucket list and work later on that.

**To Reproduce**
Steps to reproduce the behavior:
1. create a publish-engage without the criteria needed to publ

[2020-06-24 14:24] mliradelc commented on #1527
Hi, can you show what the developer console in your browser shows when you load the paella player?

[2020-06-24 14:27] mliradelc commented on #1491
Hi @ebbertd , yes I think so, the fix that @staubesv gives on that works but I think it should be in Opencast also.

[2020-06-25 17:31] t-schroeder commented on #1527
Sorry, forgot to update this: It's fixed since Opencast 8.4, it was only broken on 8.2 and 8.3 apparently. Unfortunately I don't have an iOS/MacOS device myself to analyze the problem further. Neither do I have access to the filesystem on our Opencast server. So it could theoretically also just have been something with the config files.

Anyway, since it works now (in 8.4 and 8.5) I'm going to clo

[2020-06-25 17:31] #1527 closed, assigned to nobody

[2020-06-26 13:53] tyfranck opened #1664 "Google speech transcription service keeps generating errors when mediapackage deleted"
Currently when a mediapackage with a scheduled transcription job is deleted before the transcription job ends (transcript attached to the mediapackage), the service will indefinitely generate errors as it is not able to find the mediapackage.

Correct behaviour: transcription should stop trying to attach transcript to mediapackage if it doesn't exist and inform the user.

[Issue reported by Carter

[2020-06-30 16:21] lkiesow commented on #1529
Seems like this [is now documented](https://docs.opencast.org/r/8.x/admin/#installation/debs/).
Therefore, I'm closing this issue.

[2020-06-30 16:21] #1529 closed, assigned to gregorydlogan

[2020-06-30 17:04] lkiesow commented on #1428
This should be resolved by now

[2020-06-30 17:04] #1428 closed, assigned to nobody

[2020-06-30 17:06] lkiesow commented on #1642
- the same happens if you click on any other links in that menu
- the same happens if you select languages
- the same happens if you select `?` → `Keyboard shortcuts`

[2020-06-30 17:09] lkiesow commented on #1367
Seems like this should be resolved with the latest versions.
If not, please feel free to reopen this.

[2020-06-30 17:09] #1367 closed, assigned to nobody

[2020-06-30 17:11] lkiesow commented on #1302
This has been fixed in #1508

[2020-06-30 17:11] #1302 closed, assigned to nobody

[2020-06-30 17:12] lkiesow commented on #1247
Closing this since Opencast 6 is no longer supported

[2020-06-30 17:12] #1247 closed, assigned to nobody

[2020-06-30 17:14] lkiesow commented on #1472
Apart from the already linked integration. we will publish additional integrations soon. But since they come with additional code, they will be published separately. Hence, I'm closing this.

[2020-06-30 17:14] #1472 closed, assigned to nobody

[2020-06-30 19:24] lkiesow commented on #1579
You can't just copy and uncomment the CAS example. You need to merge the regular security configuration and the CAS configuration example manually. It is not kept current with the main configuration file.

Please re-open this if the file was properly merged and the issue still pops up.

[2020-06-30 19:24] #1579 closed, assigned to nobody

[2020-06-30 19:38] lkiesow commented on #1280
We can use [GitHub's API](https://developer.github.com/v3/repos/releases/#list-releases) to get the latest version.

`curl -s https://api.github.com/repos/opencast/opencast/releases/latest`
[code]

And the bundle info service to get Opencast's version:

`curl -s 'https://develop.opencast.org/sysinfo/bundles/version?prefix=opencast'`
[code]

with `X...-SNAPSHOT > X.Y.0`

[2020-07-01 07:57] kristofkeppens opened #1669 "External API user password does not work when created via the admin interface"
When you create a new user via the admin UI, to use with the external api, the user gets it's password encrypted via the new security mechanism ( bcrypt ? ) and this does not work using the external api.

You can however change the password directly in the DB and use the old MD5('password{username}') mechanism and this works when using the external API.

**Environment Information**
 - Opencast ver

[2020-07-01 16:23] lkiesow commented on #1669
Checked this and could not reproduce this.
Most likely, you have an invalid security configuration.
Among other things, make sure you have a proper password encoder configuration:

https://github.com/opencast/opencast/blob/0cc396ffc5ecb0bd75fb2c3367a512dfff5bfd12/etc/security/mh_default_org.xml#L702-L707

[2020-07-01 16:23] #1669 closed, assigned to nobody

[2020-07-02 08:22] kristofkeppens commented on #1669
Correct, my apologies. My security config didn't include these changes.

[2020-07-03 06:52] kristofkeppens opened #1672 "External api search filter can't handle"
**Describe the bug**
A clear and concise description of what you see:
*When I click on X I get an error message that looks like Y instead of …*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Environment Information**
 - OS: [e.g. iOS 8.1, CentOS 7]
 - Browser [e.g. Safari, Chrome]
 - Opencast version with minor release

[2020-07-03 06:57] kristofkeppens opened #1673 "External api search filter can't handle ":", and admin ui can't handle "," in their filters"
**Describe the bug**
When you have for instance serie titles that include a ":" in it's name then it's impossible to retrieve this serie via the external api.

When using the external api and using /api/series?filter=title:test:test for instance the api returns ALL series.
I've tried escaping the ":" character with \: or %3A. \: results in all series retrieved, %3A returns no results.

Edit: the a

[2020-07-06 08:19] mliradelc commented on #1673
Hi, I will take on this, let me check it.

[2020-07-06 10:52] mliradelc commented on #1673
Ok, I made some tests and I found interesting results. First of all, I can confirm, **It's a bug**

The other thing I found is that the internal API doesn't have this problem, if you make the same query, you get the correct result, for example using:

[code]

gives you the correct answer. In the meantime, if you can, please use the internal API as a temporary workaround.

[2020-07-06 10:54] mliradelc commented on #1673
Update:
Also affects version 9.x (Develop)

[2020-07-07 06:47] CGreweling opened #1682 "Ubuntu Repository ist missing Packets for worker node (cover-image)"
**Describe the bug**
A clear and concise description of what you see:
*When I click on X I get an error message that looks like Y instead of …*

**To Reproduce**
Steps to reproduce the behavior:
1. Install Opencast via Repository on Ubuntu
2. Install a distributed system
3. Start the standard Workflow with a video
4. coverimage operation fails

**Environment Information**
 - OS: Ubuntu
 - Opencast

[2020-07-07 13:04] lkiesow commented on #1682
The OS was Ubuntu 18.04, correct?

[2020-07-07 13:07] lkiesow commented on #1672
I'm assuming this was an attempt at creating #1673.
Closing this.

[2020-07-07 13:07] #1672 closed, assigned to nobody

[2020-07-07 21:57] gregorydlogan commented on #1682
Sigh.  This is a recent change that I thought I had tested.  It's present in 7.7-2, 8.4-2, and 8.5-2.  Will fix shortly, fix will appear in 7.7-3, 8.5-3.

[2020-07-07 23:14] gregorydlogan commented on #1682
Fixes pushed, will try and test tomorrow. @CGreweling if you can confirm as well that would be good!

[2020-07-08 05:57] shubamraina opened #1685 "Processing Faliure in Opencast 8.3.0"
Hi @lkiesow

I have configured BBB on one server and Opencast on another Server. I have integrated OC in BBB https://weblog.lkiesow.de/20200318-integrate-bigbluebutton-opencast/ so that after web conference is done the recording should be saved to OC. But i noticed that when i record using **screensharing** in BBB, the recording goes to OC for processing and gets published on Media Module. But whe

[2020-07-08 05:58] shubamraina commented on #1685
Hi All,
Please let me know is this possible that recording with only Audio enabled will publish to Media Module in OC ?

Also i am facing same error as described above, When i am recording with Web-cam enabled in BBB and when web-conference goes for processing into OC, OC ends up processing by giving "Processing Failure" error.

Error is : "Media Package does not meet criteria for publication"

Pl

[2020-07-08 06:00] shubamraina commented on #1685
Hi All,
For reference,
The version of Opencast i am using is **Opencast- 8.3.0** , And i am using **default workflows**

I **didn't made any modifications in workflows** or any other configuration changes in Opencast.

Thanks and Regards,
Shubam

[2020-07-08 06:06] shubamraina commented on #1685
Hi All,

Please let me know is this possible that recording with only **Audio enabled will publish to Media Module** in OC ?

Also i am facing same error as described above, When i am recording with **Web-cam enabled in BBB** and when web-conference goes for processing into OC, OC ends up processing by giving "Processing Failure" error.

Error is : "Media Package does not meet criteria for publica

[2020-07-08 21:05] gregorydlogan commented on #1682
Verified to be working locally.

[2020-07-08 21:05] #1682 closed, assigned to gregorydlogan

[2020-07-08 21:08] gregorydlogan opened #1688 "Opencast 9 does not build with JDK 11"
**Describe the bug**
Attempting to build with JDK 11 and OC 9 (currently `develop`) yields NoClassDefFound exceptions during dublinecore unit tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with JDK 11

[code]

[2020-07-15 07:22] #1685 closed, assigned to nobody

[2020-07-15 20:57] gregorydlogan opened #1690 "LTI User Persistence creates too many users"
**Describe the bug**
Per Ravishel Naicker on the users list, they have 30K+ students authenticating via LTI, with each one creating a new Opencast user in the database.  The majority of these users are viewer-only users, and should not exist in the database given their permissions.  Instead a regex, or other allow-list based system should be implemented to only persist users who need to be persist

[2020-07-15 21:18] lkiesow commented on #1690
This was a deliberate choice I made and is not a bug. The feature is documented like this and intended to work like this.

https://github.com/opencast/opencast/blob/53263a8bfc788986f290c2019af62d0c93b99f6d/etc/org.opencastproject.security.lti.LtiLaunchAuthenticationHandler.cfg#L51-L56

30k user is something Opencast can handle given an adequate system. But if it is a problem, they shouldn't use th

[2020-07-15 21:28] gregorydlogan commented on #1690
Just because Opencast *can*, does that mean it *should have to*?  Maybe bug here is the wrong tag, this is more of a feature request I guess.  If I were operating an Opencast install I would be surprised to see LTI users being created for every login without some way of pruning that back to only the ones necessary for their roles.  @DZenker at least seems to agree on list...

[2020-07-15 21:57] lkiesow commented on #1690
With Opencast 8, you have to deliberately turn on this functionality. So, it can't be that surprising. But I've turned this into a feature request.

[2020-07-22 10:44] Arnei opened #1712 "PartialImport WHO does not properly concat videos with varying resolution"
**Describe the bug**
When using the PartialImport WHO to concatenate videos from a partial ingest, the concatenate does not work correctly if one of the videos changes resolution. This can for example occur if a video is recorded from a browser (e.g. a webcam from a video conference), where the browser can make live changes to the resolution based on system load. If such a video is present, the Pa

[2020-07-24 08:06] rrolf opened #1716 "Paging in Admin UI does not jump back to page 1 when search term is entered"
**Describe the bug**
If you are on a page > 1 and you use the search box to filter something, the paging is not resetted to page 1 (at least if the search term has more enough results too). That can be quite confusing, as some recent recordings will not be found until you notice that you are on page x.

**To Reproduce**
Steps to reproduce the behavior:
1. Use an opencast with serveral recordings i

[2020-07-25 10:10] Gao-Jun opened #1718 "Hint of edit columns of events table is outdated"
**Describe the bug**
When edit the columns of event tables, the hint mentions a 'reset' button, which is not shown in the dialog.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in Opencast with 'admin'
2. Click 'Edit' link in the upper right corner of 'Events' table.
![image](https://user-images.githubusercontent.com/1639290/88454368-b7fba400-cea1-11ea-8cd5-880b304c299f.png)

4. A hint

[2020-07-29 06:11] ebbertd opened #1721 "Removing a series from an event does not work"
**Describe the bug**
Given that an event is part of a series. Removing the series does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a series in Opencast
2. Upload an event and choose the previously created series, wait for processing
3. Go to the metadata tab and edit the series, choose in the drop down menu: -- No option selected --
4. Wait for the green checkmark
5. Clo

[2020-07-29 09:02] mheyen opened #1723 "roles in User details appear twice"
**Describe the bug**
When I edit `User details `-> `Roles`, and scroll down the list of roles, I encounter a bug.
When I scroll down, the list resets and I start on top again.
Roles which are already assigned to that user are not filtered anymore.
They occur twice (under `Roles` and `Selected roles`).
When I add the role again, it appears twice under `Selected roles`.
When I submit the changes, th

[2020-07-30 09:27] lkiesow commented on #1721
Transferred data looks fine.
The problem is somewhere in the backend:

set:
[code]

delete:
[code]

---

_Unrelated: Why are we sending the collection to the backend. That doesn't make no sense_

[2020-08-04 21:04] gregorydlogan commented on #1690
Per discussion on list (`[OC Users] Opencast 8.3 slow admin ui and problem creating new series with admin ui`), this is showing up as a perf issue with large numbers of users causing slow response in the UI, or failure for responses to process (`java.lang.IllegalStateException: Form too large: 1676639 > 1500000`).  Disabling the relevant listproviders should remedy the lag, but this is obviously s

[2020-08-06 13:23] ethrgeist opened #1749 "iPadOS not playing events with speaker & presentation video with Theodul"
**Describe the bug**
A clear and concise description of what you see:
If an event has >1 video track (e.g. speaker and presentation), ~~iOS and~~ iPadOS in combination with the Theodul player do not play the videos for longer then one second. There is also an error in the debug console of the web inspector (see attached screenshot).

<img width="1680" alt="opencast-ipados-error" src="https://user-

[2020-08-06 13:37] lkiesow commented on #1749
Can you tell us which player you were using?
Theodul or Paella?
If you don't know, take a look at the player URL.

[2020-08-06 13:42] ethrgeist commented on #1749
The problem occurs with Theodul.

Paella seems to be working, at least for the devices i have here to test.

(I will edit the title and the initial post to reflect that)

[2020-08-08 13:21] #1613 closed, assigned to jduehring

[2020-08-09 15:07] lkiesow opened #1751 "Admin interface event API logs long stack trace on user error"
Requesting an invalid sort criteria from the admin interface like  `/admin-ng/event/events.json?limit=100&offset=0&sort=xy:ASC` causes Opencast to log long stack traces. This allows users to clutter the Opencast logs. Since this is a problem with the user request, Opencast did not do anything wrong and it should return the error to the frontend instead and maybe log this as a debug log.

<details>

[2020-08-09 15:11] lkiesow opened #1752 "Sorting by publication in admin interface API results in an internal server error"
When sorting by publication in the admin interface event API like `/admin-ng/event/events.json?limit=100&offset=0&sort=publication:ASC` an internal server error will occur.

<details>
<summary>Full stack trace</summary>

[code]

</details>

`develop` on 2020-08-09

[2020-08-09 21:41] lkiesow commented on #1752
We can probably do something like

[code]

or

[code]

[2020-08-10 06:43] aliyevTU opened #1754 "Listproviders make form too large on AdminUI by listing all the users in metadata"
When a new series is created via AdminUI, listproviders provide list of all the users as an option to choose from for Publisher/Contributors/etc. fields. This is a bug on OC's AdminUI, because this web request becomes too large if you have too many users and they are all listed multiple times on the form metadata.

This is the bug:
- Call from admin ui: /admin-ng/series/new
- Response: HTTP ERROR

[2020-08-10 07:30] lkiesow commented on #1754
It probably makes sense to check if we need to send the vollections at all. My huess it that we don't need to do that.

[2020-08-10 17:04] lkiesow commented on #1752
Unfortunately, Elasticsearch has no way of easily sorting complex types. We can only do scripted sorting:

[code]

[2020-08-11 21:29] #1751 closed, assigned to lkiesow

[2020-08-12 02:32] #1752 closed, assigned to lkiesow

[2020-08-13 10:51] #1616 closed, assigned to nobody

[2020-08-14 08:34] lkiesow opened #1769 "Problems with new LTI Tools"
There are a few problems with the new LTI tools which need to be adressed before Opencast 9

_This issue is work in progress_

- [nice-to-have] Unable to upload at least two streams (key feature of Opencast)
- [ui/ux] Some incorrect spacing between UI elements
- [open-question] Do we need all the files and the gui REST endpoints?
- [bug] translations may not be stored in another module
- [open-que

[2020-08-19 11:46] ebbertd opened #1787 "The cover-image WOH can only use episode metadata"
**Describe the bug**
The [cover-image WOH](https://docs.opencast.org/r/8.x/admin/#workflowoperationhandlers/coverimage-woh/) can only use episode metadata. It should be possible to access the [series metadata as well as extended metadata](https://docs.opencast.org/r/8.x/admin/#configuration/metadata/).

**Environment Information**
* Opencast 8

[2020-08-19 22:21] #1280 closed, assigned to nobody

[2020-08-26 09:09] Arnei opened #1798 "Admin UI does not reflect series role if series is created with only a single role"
When creating a new series through the `/series/` API, with an ACL containing a single role, the admin UI does not correctly reflect the role, showing either an empty role, or the given role but without the specified permissions. This seems to be a visual error only, as a correct ACL is still generated and used.

![Bildschirmfoto vom 2020-08-26 11-03-41](https://user-images.githubusercontent.com/1

[2020-08-26 09:31] lkiesow opened #1799 "One place for streaming configuration"
Most of the streaming configuration lives in `org.opencastproject.distribution.streaming.wowza.WowzaStreamingDistributionService.cfg` except for a few bits which continue to be in `custom.properties. If possible, all of the configurations should be at one place though:

https://github.com/opencast/opencast/blob/4f538f328d0974001fa97e477c097a6b70fb6cbd/etc/custom.properties#L88-L98

[2020-08-27 18:59] #1450 closed, assigned to jduehring

[2020-08-27 19:22] #1642 closed, assigned to mheyen

[2020-08-28 04:43] pankajanand26 commented on #1799
@lkiesow How do I get to know about the project more and setup in order to contribute to the issue. This is my first attempt at contributing to open source so I will need some help. Please guide. Thanks

[2020-08-28 17:09] gregorydlogan commented on #1799
@pankajanand26 take a look at https://docs.opencast.org/develop/developer/

At minimum you need JDK8, ffmpeg, and maven to build.  Runtime needs activemq and elasticsearch as well.  The two config files Lars mentions live in `etc`, the code lives in `modules/distribution-service-adaptive-streaming-wowza`.

[2020-09-02 04:02] gregorydlogan commented on #1723
IIRC someone (@KatrinIhler?) changed something in that modal in develop. Probably worth seeing what can be back ported if this doesn't happen in develop.

[2020-09-02 04:05] gregorydlogan commented on #1617
Ideally we would rip this service out, but it's used for paella's view counter and matomo doesn't have an obvious way to get this done.

[2020-09-03 08:20] KatrinIhler commented on #1723
@gregorydlogan I did make some major changes to the way roles are loaded for the admin UI in develop, mostly contained in #1046 and #1032.

Probably one of these also fixed the bug described here. But as they were bigger changes, I didn't feel confident to point them at 8.x. And it might be hard to extract the relevant bits (if that's even possible).

@mheyen Maybe you could check if those changes

[2020-09-07 22:35] lkiesow opened #1826 "JdbcSQLException: Unique index or primary key violation"
Starting up `develop` (from 2020-09-08) using H2 I sometimes see an SQL exception

<details>

[code]

</details>

This is probably an error revealed by the updated SQL code since there shouldn't be two identical roles.

[2020-09-07 23:17] gregorydlogan commented on #1826
I wonder if this is somehow related to the race condition in the org creation code which was causing similar exceptions on start up?

[2020-09-10 05:52] ebbertd commented on #1769
Additionally:

- [bug] The `copy-event-to-series` workflow is hard coded.

[2020-09-10 20:27] lkiesow commented on #1723
Seeing that this is fixed in `develop` and no one really seems to complain so far, I'll close this. Feel free to re-open this if necessary.

[2020-09-10 20:27] #1723 closed, assigned to nobody

[2020-09-11 17:24] lkiesow opened #1834 "Invalid API access from admin interface"
The admin interface seems to load data from the external API which is not guaranteed to exist on the same server as the admin interface and which should not be accessible via API

https://github.com/opencast/opencast/blob/ebba73bbaff52632ef0a77cb0a254a11f35e8bb2/etc/security/mh_default_org.xml#L195

[2020-09-11 18:37] lkiesow opened #1835 "Broken logging in OpencastLdapAuthoritiesPopulator"
LDAP generates nonsensical logs like this

[code]

This is caused by custom logging functions with non-matching log messages:

https://github.com/opencast/opencast/blob/d653bfe7b17dc2390333ee331bc6f8388880a6d0/modules/userdirectory-ldap/src/main/java/org/opencastproject/userdirectory/ldap/OpencastLdapAuthoritiesPopulator.java#L331-L333

We should just remove the custom functions and simply use the

[2020-09-15 06:49] KatrinIhler opened #1845 "Wrong capture agents selected in the admin UI for new events"
**Describe the bug**

When creating a new event in the admin UI, the capture agent dropdown in the scheduling tab appears to be broken:

- Sometimes the capture agent you pick out isn't the one that's actually set.
- Sometimes a capture agent can't be picked, instead there's an error in the console: "Uncaught TypeError: this.form_field.options[a.options_index] is undefined". This appears to be the

[2020-09-15 06:58] KatrinIhler opened #1846 "Some dropdown menus broken in OC 8"
#1845 is already the second issue with dropdown menus in OC 8 following #1357. It appears that ng-options that worked before no longer work correctly, possibly after an angular update. Adding "track by id" fixes these issues. Even though not all menus seem to be affected, it's possible that more are broken and it just hasn't been noticed yet. This is entirely possible since these problems only app

[2020-09-15 07:54] KatrinIhler opened #1847 "Edit Scheduled Events Modal sometimes shows wrong capture agent"
**Describe the bug**
The Edit Scheduled Events Modal sometimes shows the wrong capture agent for an event. The cause seems to be that agent_id is not properly updated in the index. The location field in the index that's shown in the main events table is correct however.

A possible fix could be:
- Properly update agent_id in the index
or
- remove that field from the index
- and use the capture age

[2020-09-15 15:57] karendolan commented on #1688
@gregorydlogan do I need to adjust the pom.xml to build in 11?  Currently, OC 9 pom.xml ```<jdk.version>1.8</jdk.version>```

[2020-09-15 17:16] gregorydlogan commented on #1845
Fixed with 7054d34

[2020-09-15 17:16] #1845 closed, assigned to KatrinIhler

[2020-09-15 17:40] gregorydlogan commented on #1688
@karendolan That, to be honest, might be part of what's causing this, but this happens with JDK11 building the codebase exactly as it currently is.

[2020-09-16 12:14] KatrinIhler opened #1850 "Conflict checking for scheduled events broken for multitenant systems"
**Describe the bug**
Currently conflict checking is not working when creating a new scheduled event _if_ you have a multitenant system.
Most likely this was broken by [this change](https://github.com/opencast/opencast/pull/1248/commits/6a0870f06b0745b98008be72750167441ba8d357).

**To Reproduce**
1. Schedule a new event
2. Schedule a second event via the admin UI that overlaps with the first and us

[2020-09-16 13:46] KatrinIhler commented on #1846
FYI, #1845 was already broken on October 1st of 2019. So whatever caused this might have already celebrated its first birthday...

[2020-09-18 09:35] Hufschmidt opened #1856 "Published (api-)channel media has different response for HEAD and GET"
**Describe the bug**

HTTP requests for resources published to the (api-)channel give different responses for HEAD and GET requests.

While the response using GET-Method is correct (eg. all headers like content-type, content-length, etc),
requests via the HEAD-Method return a HTTP 302 (redirect) to the admin-login page.

This is an issue when trying to fetch the content-length of an published arti

[2020-09-20 18:54] haridevelops commented on #1835
Can I work on it?
If so please assign it to me.

[2020-09-20 22:33] gregorydlogan commented on #1835
Sure thing. Be aware that if this isn't done by end of October it will likely be unassigned as part of the cleanup after Hacktoberfest

[2020-09-21 03:33] haridevelops commented on #1835
Sure. @gregorydlogan

[2020-09-21 07:52] mliradelc opened #1860 "[Confirmed][BLOCKER BUG] Endpoint /search/add crashes in presenter Node"
**Describe the bug**
From the last 3 weeks, I found a very nasty bug when I was reviewing a PR using a cluster with 3 nodes (Admin, worker, presenter).

The bug appears when the endpoint /search/add is used, this is the error message:

[code]

I tried again using a fresh install of Opencast from the development branch (Using the default security and configuration for nodes) and I had the same prob

[2020-09-22 11:22] ziegenberg opened #1862 "long comments in Admin-UI fail silently"
**Describe the bug**
When I add a comment in the Admin-UI (/admin-ng/) with a length of more than 256 characters, the POST to /admin-ng/event/[UUID]/comment fails silently with a 500 Server Error. There is no error message shown to the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin-UI (/admin-ng/)
2. Click on the comment bubble for a ingested recording
3. Fill in a comment

[2020-09-22 11:24] ziegenberg commented on #1862
Not reproducible on https://stable.opencast.org/admin-ng 😒

[2020-09-22 13:06] karendolan opened #1864 "WOH return status SUCCEEDED when input criterial is not met instead of returning status SKIPPED"
**Describe the bug**
The workflow operation status in the Admin UI under event details shows some workflow operation handlers as status SUCCEEDED, when they actually did no work because the source tags and source flavors criteria conditions were not met. When the WOH starts, but the source criteria condition is not met, so no work is done, I expect the WOH to return status SKIPPED, instead of SUCC

[2020-09-22 15:34] mliradelc commented on #1860
Hello?

[2020-09-22 15:40] karendolan commented on #1860
Hi @mliradelc I'll take a peak at this. The fact that it only happens in a cluster deploy implies that something is going on with a remote to impl, or the Engage node is missing a critical module deploy.
- Remote endpoints tend to be a stripped down version of their Impl endpoint and are sometimes is missing critical pieces.
- Likewise, when modules are renamed and re-arranged, node deploy profile

[2020-09-22 16:00] #1850 closed, assigned to KatrinIhler

[2020-09-22 17:23] karendolan commented on #1860
I think I found it, the SearchRestService is missing jaxb annotation for the MediaPackageImpl on that POST endpoint (and might need to provide a package-info.java ). I'm testing locally...

[2020-09-23 13:35] mliradelc commented on #1860
Thanks for the commit, I'm trying right now :)

[2020-09-23 16:03] phoebem opened #1870 "Workflow condition parser does not handle floats"
When a condition has a decimal value, eg: framerate returned by analyze-tracks, the parser treats it as a string

**To Reproduce**
Steps to reproduce the behavior, first write or update a workflow.
1. Add a workflow that uses <operation id = "analyze-tracks"> with
<configuration key="source-flavor">*/work</configuration>
2. follow with an operation, say
<operation id="tag" if "${presenter_work_fra

[2020-09-24 11:36] mliradelc commented on #1860
I'm having problems to build and try because an error from the Spring repository that doesn't allow to download some dependencies (Error 401) https://groups.google.com/a/opencast.org/g/dev/c/J7SU8zsM5SA I will answer again when I will have results :)

[2020-09-24 15:26] gregorydlogan commented on #1860
@mliradelc You're seeing this on develop only?  Or does this also happen in r/8.x?  Looking through the commits I don't see anything obvious in terms of what might have cause this that's not *also* in 8.x, which makes me wonder if this is also present there.  I have trouble believing that though, since adopters would be screaming - this isn't exactly an uncommon operation for a prod OC cluster!

I

[2020-09-25 07:40] mliradelc commented on #1860
Only in develop I'm seeing this, that's why I asked for confirmation.  8.x works solid as a rock.

[2020-09-28 09:38] nothing-fr opened #1878 "Need Multi Node Documenation for Reverse-Proxying"
**Describe the bug**
Need more documentation for reverse-proxying a multiple nodes opencast installation

**To Reproduce**
Steps to reproduce the behavior:
1. Install Admin Node
2. Install Worker Node
3. Install Presentation Node
4. Try to make it work behing reverse-proxy

**Environment Information**
 - OS: Ubuntu 18.04
 - Browser : Chrome
 - Opencast version : 8.6-2
- Reverse-Proxy : Apache 2.4

[2020-09-28 10:55] lkiesow commented on #1878
You cannot – at least not without massive amount of work – use sub-paths for Opencast nodes.
Usually, people just use something like:

- videos.mydomain.com → presentation
- admin.videos.mydomain.com → admin

You can, of course, run Opencast on a single node or use the combined admin+presentation node with separate workers.

For a multi-node Opencast with reverse proxy, it's otherwise just a combi

[2020-09-28 10:55] #1878 closed

[2020-09-28 12:35] nothing-fr commented on #1878
ok, at least I'm sure it's not possible now... thank you !

[2020-09-28 14:00] lkiesow commented on #1201
If someone grabs this for Hacktoberfest: Getting this done for only some modules would already be quite nice.

[2020-09-29 09:33] lkiesow commented on #1870
Fixed by #1871

[2020-09-29 09:33] #1870 closed, assigned to nobody

[2020-09-29 09:57] mliradelc commented on #1860
@karendolan Unfortunately, does not work, I have the same problem using clusters. In allinone there is no problem with the publish-engage WOH. Now I made more tests and I found the same error when you try the search endpoint manually in the all in one version.

You can check here https://develop.opencast.org/docs.html?path=/search#add-1, if you use the default example and click submit it gives you

[2020-09-29 12:55] KatrinIhler opened #1885 "Add organization placeholder to publish configure url-pattern"
As described [here](https://docs.opencast.org/develop/admin/#workflowoperationhandlers/publish-configure-woh/), the publish-configure workflow operation can be used to publish a URL by configuring a URL pattern. Several placeholders can be used e.g. event id or series id, but it's currently not possible for the URL to contain the organization/tenant. It would be great to have a placeholder for thi

[2020-09-29 14:48] wsmirnow commented on #1754
An other workaround is to configure more specific list provider like `EVENTS.CONTRIBUTORS` or `SERIES.CONTRIBUTORS` in the affected catalog ui adapters, see configuration file `org.opencastproject.ui.metadata.CatalogUIAdapterFactory-episode-common.cfg` and `org.opencastproject.ui.metadata.CatalogUIAdapterFactory-series-common.cfg`

[2020-09-29 20:43] lkiesow commented on #1862
Not being reproducible points to an internal problem. In any case, since it's not reproducible, we probably cannot do much about this. Especially without a stack trace. If you manage to reproduce it, feel free to re-open this issue and past the accompanying Java stack trace

[2020-09-29 20:43] #1862 closed, assigned to nobody

[2020-09-30 10:17] orbruno opened #1892 "iFrameResizer integration into Opencast"
Opencast integrated into the LMS OpenOlat via LTI. The fixed height of iFrames always leads to ugly scrollbars.

In other LTI integrations problem has been solved with the library iFrameResizer. With this solution, both the page hosting the iFrame and the page inside the iFrame (in this case Opencast) must include a small JavaScript library. iFrameResizer communicates changed in page height of the

[2020-09-30 16:05] #1513 closed, assigned to marwyg

[2020-09-30 16:21] lkiesow opened #1893 "Enforce Maven Dependency Check"
Most of Opencast's modules use the maven-dependency-pligin to ensure dependencies are specified correctly:

https://github.com/opencast/opencast/blob/a67ece488617d23101e16357ab5da0c69105644b/modules/animate-impl/pom.xml#L88-L98

Some modules still have an exception though because no one found the time to fix them until now:

https://github.com/opencast/opencast/blob/a67ece488617d23101e16357ab5da0c

[2020-09-30 16:24] lkiesow commented on #1835
@haridevelops, if you want to test this and need a public LDAP server to use, here is a working configuration for the current state of `develop`:

- https://data.lkiesow.io/opencast/ldapconfig/develop-2020-09-11/

It provides a few users to test with. For example `jmacy` with password `password`.

EDIT: We are also planning a review day this Friday. So probably lots of developers in the IRC channe

[2020-09-30 16:41] lkiesow commented on #1826
Shortly looked into it. It can happen (concurrency issue) but is very unlikely to happen and shouldn't break anything. Closing this for now. Feel free to reopen if this becomes a problem for someone.

[2020-09-30 16:42] #1826 closed, assigned to nobody

[2020-10-02 14:20] peculiarPrince opened #1899 "Docs: Navigation Links still active when Sidebar is hidden"
When the navigation bar has been hidden using the
![image](https://user-images.githubusercontent.com/38320410/94932647-a8b05c80-04c9-11eb-9c3b-72a9ea8dbd11.png)
button top right, all links in the sidebar on the lefthand side of the page are still clickable and active, even though they are not shown.

[2020-10-02 22:13] lkiesow commented on #1111
I haven't seen this for a while, have you @gregorydlogan ?

[2020-10-02 23:16] gregorydlogan commented on #1111
Nope!

[2020-10-03 08:47] pankajanand26 commented on #1799
@gregorydlogan  I was checking this code from this wowza module and the custom properties file , do you want to directly read from `karaf.data` system property in the streaming-wowza module and remove streamin directory property from custom.properties file?

[2020-10-03 13:44] SijmenHuizenga commented on #1893
I will give this a shot. Do you prefer a pr for each module individually or rather many together?

[2020-10-03 14:41] gregorydlogan commented on #1893
Fewer PRs would be better IMO.

[2020-10-03 15:36] lkiesow commented on #1893
Yep, I agree. We don't mind if you split this – if you have one part running and have a problem, don't wait until everything is done – but if you work on it at one time anyway, putting multiple modules in one pull request is easier for everyone. Also, don't hesitate to ask if you have questions about dependencies.

Also, pull request #1886 already fixes the dependencies for `search-service-impl`.

[2020-10-03 16:01] SijmenHuizenga commented on #1893
Thanks! I've started working on `publication-service-youtube-v3`. It compiles (yay) but still need to test if it actually works... Draft pr to show what's going on in #1904

[2020-10-04 08:43] rrolf opened #1907 ""Start Task" does not work"
Within the admin UI: when you mark one or more events in the events table and then select "Start Task" from the "Actions" menu, within the first page of the assistant you cannot press "Next" anymore

**To Reproduce**

1. Go to 'the admin UI's event table and select an event'
2. Click on 'Actions -> Start Task'
3. Try to press "Next" in the new dialog
4. The Next-button is greyed out and you are no

[2020-10-04 09:11] lkiesow opened #1908 "„Start Task“ selection highlighting is inconsistent"
- Go to the admin interface
- Select some events
- Select Action → Start Task

Deactivating all selected events will cause Opencast to highlight at the selection blocks that some need to be checked.
If you deactivate the boxes one after another, this highlighting is inconstistent:

![start-task-selection](https://user-images.githubusercontent.com/1008395/95011535-ae28b680-0631-11eb-89ba-94ae67ed51

[2020-10-04 09:32] abhinavanand123 commented on #1908
Hello @lkiesow I'd like to give a try on this issue

[2020-10-04 09:39] lkiesow commented on #1908
To make your life easier, it seems like you can already reproduce this in the UI mockup without building and running all of Opencast:

[code]

[2020-10-04 09:45] abhinavanand123 commented on #1908
Thank you @lkiesow
So basically all you need that the red color border on selection box shouldn't appear on it if you deactivate the boxes one after another also??

[2020-10-04 09:55] lkiesow commented on #1799
My complaint was that most streaming related configuration live in a specific service related configuration file (which makes sense, so that not a million different options live in the global one) but there are still a few left in the global `custom.properties`.
They should all go into `etc/org.opencastproject.distribution.streaming.wowza.WowzaStreamingDistributionService.cfg`.

Note that `…stream

[2020-10-04 09:57] lkiesow commented on #1139
Fixed by #1735

[2020-10-04 09:57] #1139 closed, assigned to sharath2106, jduehring

[2020-10-04 10:00] lkiesow commented on #1138
Unassigning since @arham-jain does not seem to be working on this.
Let us know if you still are.
Everyone else: Feel free to grab this issue.

[2020-10-04 10:02] lkiesow commented on #1137
Unassigning since @nfatma  does not seem to be working on this.
Let us know if you still are.
Everyone else: Feel free to grab this issue.

[2020-10-04 10:04] lkiesow commented on #1908
That's basically it. Or alternatively, show the requirement on all checkboxes.
If you want to dig a bit deeper, maybe you can take a look at #1907 as well

[2020-10-04 10:09] abhinavanand123 commented on #1908
But I check it now I think currently it doesn't show the red border on it.

[2020-10-04 10:23] lkiesow commented on #1908
Testing again, it seems like the red border is specific to Firefox. It's probably the `required` attribute of the checkboxes.

[2020-10-04 10:27] abhinavanand123 commented on #1908
Yes because it's working fine with chrome

[2020-10-04 10:28] abhinavanand123 commented on #1908
So you want me to work on it so that it should be compatible for both the browsers.

[2020-10-04 15:30] abhinavanand123 commented on #1908
sure working on it

[2020-10-04 22:06] SijmenHuizenga commented on #1893
#1904 now has fixes for the following modules:

*  modules/admin-ui/pom.xml
*  modules/publication-service-youtube-v3/pom.xml
*  modules/search/pom.xml

Since my weekend is coming to an end I will leave it at this.

[2020-10-05 13:44] abhinavanand123 commented on #1908
@lkiesow can you help me out with the code of checkboxes i.e. where it is exactly, which folder shall I visit

[2020-10-05 13:51] lkiesow commented on #1908
The frontend lives in `modules/admin-ui-frontend`. Everything outside that folder should be irrelevant. The view should be `app/scripts/shared/partials/modals/schedule-task-modal.html`. Not sure about which JavaScript file is the corresponding JavaScript.

[2020-10-05 15:19] Arnei opened #1918 "PartialImport WOH fails if any of the tracks mentioned in the source SMIL are not in the source flavours"
The PartialImport WOH processes tracks from its source flavours based on a given source SMIL.
Currently, the whole source SMIL is iterated to find matching source tracks, no matter the specified source-keys. This leads to exceptions being thrown when the corresponding track to a given SMIL-Id can not be found, for example by not including the flavor where the track resides.

[code]

**To Reproduce

[2020-10-05 15:39] lkiesow commented on #1918
Since it is basically an internal communication between ingest endpoint and workflow operation, does it really make sense to use SMIL at all? What we really need is just a list of the flavor (or other identifying mark for tracks) and the start position, don't we?

[2020-10-05 15:58] mtneug opened #1919 "Migrate away from repo.spring.io"
Currently, `develop` and the supported releases don't build as some dependencies can no longer be accessed from `repo.spring.io`. Contacting the Spring admin, I received the following message:

There have already been some effort to remove some of the dependencies only available from this repo (#1789, #1886, #1887, #1894), but there are some more (which I assume will not be so easily removed/migra

[2020-10-07 05:37] ebbertd opened #1930 "The copy-event-to-series workflow id is hard coded."
**Describe the bug**
In the new LTI tools the `copy-event-to-series` workflow id is hardcoded and hence not configurable. However, every workflow id and workflow should be configurable.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the id of the `copy-event-to-series` workflow
2. Try to copy a event to a new series in the LTI tools
3. The `copy-event-to-series` workflow will not be

[2020-10-07 05:37] ebbertd commented on #1769
See issue #1930

[2020-10-07 18:12] lkiesow opened #1934 "Rename /admin-ng/adopter/statistics"
The name of the new endpoint `/admin-ng/adopter/statistics` clashes with the already used statistics feature. This might lead to confusion what this is about. Let's just rename it to `/admin-ng/adopters`

[2020-10-07 18:16] lkiesow opened #1935 "Docs for POST /admin-ng/adopter/statistics/registration are broken"
The REST docs for storing adopter information is broken

![Screenshot from 2020-10-07 20-12-26](https://user-images.githubusercontent.com/1008395/95370958-d8040680-08d9-11eb-84fa-a8976f6f9ae5.png)

It's probably just missing REST annotations.
Test it at https://develop.opencast.org/docs.html?path=/admin-ng/adopter/statistics#saveregistrationform-2

[2020-10-10 20:01] #1835 closed, assigned to haridevelops

[2020-10-11 13:05] lkiesow opened #1949 "Auto-merge Linter Updates"
Pull request #1905 attempted to add an auto-merge mechanism for updates to the ESLint linter after tests have completed. Unfortunately, this did not work (see pull request #1943).

 Auto-merging certain automated pull requests (e.g. updates to ESLint, Karma or Markdownlint) given that the tests succeed should be fine since they are actually responsible for running these tests and it's highly likel

[2020-10-12 16:06] lkiesow commented on #1934
Fixes by pull request #1937

[2020-10-12 16:06] #1934 closed, assigned to nobody

[2020-10-13 10:02] mtneug commented on #1919
Closed by #1922

[2020-10-13 10:02] #1919 closed, assigned to nobody

[2020-10-13 10:06] mtneug opened #1958 "Replace/update old (Spring) dependencies"
With #1919 we serve dependencies from repo.spring.io on mvn.opencast.org. Those dependencies should be further investigated and potentially replaced/updated. For an account of the dependencies, see this [gist](https://gist.github.com/mtneug/6a004b4964ce80706dc1185a4875d89f).

[2020-10-13 21:17] lkiesow commented on #1217
As reference for how to fix this, see
- the configuration part of pull request #1901
- the [Opencast OSGI Configuration webinar](https://video.ethz.ch/events/opencast/webinars/7261ea70-ce36-4e17-8634-963966311028.html)

[2020-10-14 12:52] peculiarPrince opened #1961 "Style guide needed for the Docs"
There should be consistency in Information Given, Structure, and Formatting (at least).

[2020-10-14 12:53] lkiesow commented on #1961
Some random notes from the meeting:

- [ ] step by step
  - make it actually step by step
  - no important notes at the bottom
- [ ] activemq is a mess
- [ ] make clear recommendations
- [ ] clear distinction between running it on one machine and running it on multiple machines
- [ ] clearly mark optional stuff as optional
  - clearly mark non-optional stuff as non-optional

[2020-10-14 15:32] lkiesow opened #1965 "Allow filter users selectable in admin interface"
Right now, when you open the admin interface, `/admin-ng/resources/events/filters.json` will be loaded and it contains a list of all available users in Opencast. Often, being able to select all of them is unnecessary and it would be nice if one could configure the admin interface to limit the users to those matching a configurable pattern.

[2020-10-14 21:45] lkiesow opened #1966 "Error when accessing assets"
Go to

- event details
- assets
- sub-category (e.g. catalogs)

The dialog is broken and you get a large stack trace in the JavaScript console:

[code]

On branch `develop` from 2020-10-14, likely also in `r/9.x`

[2020-10-15 17:21] lkiesow opened #1967 "Build fails on ARM without Python 2.x"
There is no prebuilt node-sass binary for ARM and the latest version still references an older node-gyp version which expects Python 2 to be the default Python. The error is likely fixed in their current master branch.

<details>

[code]
</details>

[2020-10-15 21:24] lkiesow opened #1969 "Admin interface access control display broken"
If an access control list contains a role not provided in the admin interface's list provider for roles, the interface fails to display the role but displays an empty field instead:

![Screenshot from 2020-10-15 23-19-06](https://user-images.githubusercontent.com/1008395/96187557-8690f280-0f3d-11eb-8323-47236fb79b27.png)

The problem appears on `develop` from 2020-10-15 and likely affects `r/9.x`

[2020-10-17 21:42] Rillke commented on #1907
![grafik](https://user-images.githubusercontent.com/2311611/96354040-372ffb00-10d2-11eb-88b3-53770992233a.png)

[2020-10-17 23:09] Rillke opened #1975 "Editor in AdminUI not available in spite of the cut (scissors) symbol"
**Describe the bug**
No editor controls are available when opening an event for editing by clicking on the scissors in the AdminUI events table.

Additionally there is the following error logged to the JS console:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://develop.opencast.org/admin-ng/index.html#!/events/events
2. Click on <img width="27" alt="Screenshot 2020-10-18

[2020-10-18 00:23] gregorydlogan commented on #1975
Does the same thing happen on stable.opencast.org?

[2020-10-18 06:35] Rillke commented on #1975
No, but stable says it's still `Opencast 8.0.0.SNAPSHOT - e39d54e`. There is a layout glitch with the end time broken into a new line and wrong translatio for `start time` but that's going into a new issue.

<img width="1203" alt="Screenshot 2020-10-18 at 08 34 21" src="https://user-images.githubusercontent.com/2311611/96360349-bcd89880-111c-11eb-8c78-2bc5bcce64da.png">

[2020-10-18 08:10] Rillke opened #1976 "Admin UI: Add event -> Source -> Recording metadata -> Start date's picker bulky and text labels covered by controls"
**Describe the bug**
I see 5 issues here, all about the picker so they go into a single report.

When opening the start date's picker in Admin UI Add event -> Source -> Recording metadata, the **now** and **done** buttons are bulky (1) so they do not fit into one line. The time sliders cover label texts (2). Additionally, **Microsecond** and **Millisecond** are probably only required in very rare

[2020-10-18 08:16] Rillke commented on #1976
The only really helpful part is the format generated and the date picker. The timesliders do not provide any extra value to me (as a user) as they are more cumbersome to use compared to a keyboard. Additionally they make the pop-up bulky and cover the Start date field on small screens.

[2020-10-18 08:33] Rillke opened #1977 "Provide a dark theme honoring the user's browser preference for the AdminUI"
**Describe the ~bug~**
A feature request: Opencast should provide a dark theme and honour the user's browser `prefers-color-scheme` if available.

Yesterday night, I worked with Opencast and Crowdin. While Crowdin auto-switched to dark when my OS did on schedule, Opencast remained bright. Switching between the two sites would have been a nicer eye-experience if both of them had the same brightness

[2020-10-18 14:36] Rillke opened #1978 "Segment list in Admin UI editor glitchy if translation text for "start" and "end" times are too long"
**Describe the bug**
When opening the editor with German langauge preferences, the "end" time is broken to a new line where the blue background marking a segment is not present. I expect that either a hint on Crowdin is provided about the maximum number of characters to use, or the UI reacting responsive to longer label texts.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sta

[2020-10-18 19:48] lkiesow opened #1979 "Editor in admin interface broken"
The admin interface's editor is completely broken in `r/9.x`. The player is shown but nothing else:

![Screenshot from 2020-10-18 21-45-59](https://user-images.githubusercontent.com/1008395/96378335-8e45d680-118b-11eb-8ba5-d91baa91bba5.png)

[2020-10-21 12:58] karendolan opened #1987 "Admin UI events date filter converts timeZone date to "YYYY-MM-DD" back to UTC"
**Describe the bug**

When I am in a timezone location to the West of UTC,  and I chose a start and end time period filter from the Admin UI events filter area, it always shows one day prior to the day I chose for start and end date.

The jQuery date Timepicker plugin  (jqueryui-timepicker-addon) retrieves my desired start and end date selection for my time zone. Then, the  jQuery date Timepicker

[2020-10-21 13:27] Arnei commented on #1918
I suppose defining tracks by flavor could work as well, but might be unintuitive, as you would probably have to do something like `source/presenter-1`, `source/presenter-2` and so on when ingesting. Something you have to do nowhere else afaik.

Also getting rid of SMIL is probably a much bigger task than what would be necessary to fix this issue. Might be worth a new issue :D

[2020-10-22 07:19] mheyen opened #1989 "Asset details in event details can not be shown"
**Describe the bug**
When I open the Asset details of an Event in the Admin UI, I encounter an error.
![image](https://user-images.githubusercontent.com/23011761/96836911-edcf0b00-1445-11eb-98fd-412dd8a66562.png)

When I click on `Details`, the details are not displayed.
![image](https://user-images.githubusercontent.com/23011761/96836975-fe7f8100-1445-11eb-9568-6da117bbc8ae.png)

**To Reproduce**

[2020-10-22 17:01] gregorydlogan commented on #1899
Resolved with #1964

[2020-10-22 17:01] #1899 closed, assigned to marwyg

[2020-10-26 12:25] hsssystems opened #1999 "Documentation of AAI DynamicLoginHandler must be improved"
**Describe the bug**
The documentation of the possible configuration at https://docs.opencast.org/r/9.x/admin/#configuration/security.aai/#dynamic-login-handler-configuration is very minimal. This must be improved to help adopters understanding and using the AAI loginhandler

[2020-10-27 11:23] mtneug commented on #1979
Duplicate of #1975

[2020-10-27 11:23] #1979 closed, assigned to nobody

[2020-10-27 14:00] mliradelc commented on #1967
Besides the question itself, that is important for the future of the project (Looking forward how is ARM taking over x86)

Can you say that is a bug when the architecture is not supported by the project :thinking: ?

For me is more a feature request: "Support Opencast in ARM architecture"

[2020-10-27 16:23] lkiesow commented on #1967
Were do we say that we don't support ARM?

[2020-10-27 20:18] lkiesow commented on #1989
Stealing this since I've fixed it.

[2020-10-27 20:32] gregorydlogan commented on #1967
I've been wondering how long until someone comes along and asks for this, especially with the AWS instances being so cheap.  In theory, Opencast should run anywhere where you can get Java to run.  Workers might require other things (ffmpeg), but lots of those things are likely portable to ARM as well.  Or POWER, or...

I don't see any issue with supporting other hardware, especially easily obtaina

[2020-10-27 20:42] lkiesow commented on #1989
Actually, this is a duplicate of #1966
I did remember correctly that I created the issue after all :grin:

[2020-10-27 20:42] #1989 closed, assigned to lkiesow

[2020-10-27 20:48] lkiesow commented on #1975
It's a 9.x issue

[2020-10-27 20:52] lkiesow commented on #1976
We could just use [`<input type="date">`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date) which would be a much more pleasant experience, except for Safari users on macOS where none of these inputs are supported.

[2020-10-28 09:05] Snakel opened #2010 "Emails sent by Opencast are missing the "Date" header"
**Describe the bug**
When Opencast sends a mail as part of a workflow, e.g. https://docs.opencast.org/r/8.x/admin/#workflowoperationhandlers/send-email-woh/ , the email is missing the "Date" header. If the email gateway is not adding missing headers automatically, the email client may have problems correctly sorting/displaying the email.

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2020-10-28 09:44] lkiesow commented on #2010
@Snakel, this looks about right. Can you create a pull request for that?

[2020-10-28 22:29] lkiesow opened #2018 "Sending emails broken"
Configuring the smtp service and sending a mail in `develop` (2020-10-28), likely `r/9.x` seems to be broken. Sending the test mail results in a stack trace.

<details>

[code]

</details>

The same configuration does work on 8.x

[2020-10-30 17:32] lkiesow opened #2021 "Studio Input breaks Video Editor"
Opening a recording from Studio in the editor does not work:

1. The editor UI is broken. The last segment is missing.
2. The end Time is set to NAN
3. Trying to process the event results in an error in the toolös endpoint since the frontend sends `Na:Na:Na:Na` as end time stamp

![Screenshot from 2020-10-22 17-16-34](https://user-images.githubusercontent.com/1008395/97738096-2e7df280-1ade-11eb-90

[2020-10-30 18:46] #1754 closed, assigned to marwyg

[2020-10-30 18:57] #2010 closed, assigned to nobody

[2020-10-30 22:33] karendolan commented on #2018
It appears to be related to the javax.activation vs jakarta.activation in 9.x
Googling the error, the StmpService is getting the wrong javax.mail class.

The suggestions are to do something crazy like the following, to get the right class loader, which might not work in OSGi.

[code]
The underlying issue is a class conflict... I'll try figure out how jakarta.activation and javax.activation differ

[2020-10-30 22:58] karendolan commented on #2018
@lkiesow How easy would it be for you to test if the following fixes the email issue?

Change the main pom.xml:
[code]

[2020-10-30 22:58] karendolan commented on #2018
opps, didn't mean to close

[2020-10-31 14:46] lkiesow commented on #2018
I did try but it doesn't work which is what I expected since that entry in the main `pom.xml` is in the dependency management section and does not seem to be used at all right now. The `javax.mail` seems to be provided by Karaf but no one includes `jakarta.mail` right now:

[code]

I would probably try adding `jakarta.mail` as a dependency to our `feature.xml` so that we have it at runtime but we

[2020-11-01 13:57] Rillke opened #2024 "Upright/Portrait mode videos with parallel encoding using Studio default Workflows causing ffmpeg OOM"
**Describe the bug**
When recording a Full-HD camera video with Opencast Studio using a recent smartphone in Portrait mode, processing fails at the encode step. Additionally, the ffmpeg error is not properly captured.

<img width="1234" alt="Screenshot 2020-11-01 at 12 34 09" src="https://user-images.githubusercontent.com/2311611/97801658-98151280-1c3e-11eb-99f9-4ebf18ae3ea5.png">

**To Reproduce*

[2020-11-01 13:59] Rillke commented on #2024
This was discussed in the [Opencast Users](https://groups.google.com/a/opencast.org/g/users/c/eA9G1Wt7J1k/m/Yahyc4L0BwAJ) group.

[2020-11-01 14:19] Rillke opened #2025 "Edit Scheduled Events Modal does not allow specifying minutes (only hours)"
**Describe the bug**
When I would like to change the start- or end time or the duration of a scheduled event in the Admin UI, I can only change the hour, not the minute.

<img width="1187" alt="Screenshot 2020-11-01 at 15 13 00" src="https://user-images.githubusercontent.com/2311611/97805216-12509180-1c55-11eb-8614-fbc48bc5bc2e.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http

[2020-11-01 22:55] lkiesow commented on #2024
If it checks the height, it should also set the height.

[2020-11-02 14:02] karendolan commented on #2018
I wish you had mentioned that you already knew that the jakarta upgrade was the breaking change for mail. I think you must be right that javax.mail is being imported into the kernel module at runt time which is causing the class conflict. Not only in the pom, which describing the dependency, but all the other places javax.mail is exported has to be changed to jakarta.mail...

[2020-11-02 14:30] ituneslmu commented on #1721
Can confirm this bug; happening on our instance as well (also on opencast 8)

[2020-11-02 15:09] gregorydlogan commented on #2018
It's worth checking that whatever solution we come up with here also works in jdk 11.see #1688 to get that working.

[2020-11-02 21:37] mliradelc opened #2034 "Execute Job don't clean subproccess jobs after finishes"
**Describe the bug**
When using the execute WOH and the workflow is set to retrieve a "Track" object,  Opencast creates a Job for inspecting the new created track, when the inspection job finishes, is left an empty job in "waiting" state.

**Example**:
Here is the log with Debug in TRACE mode for the Job barrier and the execute module:
[code]

Job 4332 is created for Execute WOH, the script that i

[2020-11-03 00:27] lkiesow commented on #2018
I didn't know until you suggested replacing `javax` with `jakarta`.

@gregorydlogan, moving to jakarta and getting that to run properly should then automatically work with Java 11 …at least that is what I hope.

[2020-11-03 02:25] gregorydlogan commented on #2018
That's what I would have said about JaxB, and yet here I am still having to think about whether things are working and if my fix is right :)

[2020-11-03 14:12] #1966 closed, assigned to lkiesow

[2020-11-03 14:12] #1975 closed, assigned to lkiesow

[2020-11-03 14:12] #1978 closed, assigned to lkiesow

[2020-11-04 08:28] CGreweling opened #2045 "Live Scheduled events cant't be deleted if a worklfow was executed on them."
**Describe the bug**
A clear and concise description of what you see:
*When I click on X I get an error message that looks like Y instead of …*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'admin ui'
2. schedule a live event
3. run a workflow on this event through an Rest-End-Point
4. try to delete it over the admin ui or an end point

Result:
- it can not be deleted
- after it is r

[2020-11-04 08:32] CGreweling commented on #2045
What i found so far.
For the admin ui, you can not run a worklfow on an scheduled event.
The admin ui defines a schduled event by these criteria.
The event have scheduling data and has not a completed worklfow on it.
(I think this is somehow wrong)

The Rest of Opencast does not have this logic.
Maybe we should fix that in the admin ui or put this kind of logic on all endpoints?

[2020-11-04 13:03] felix-itz commented on #1749
We can confirm this issue and reproduce it on https://legacy.opencast.org/engage/theodul/ui/core.html?id=ID-dual-stream-demo with IPAD  8th generation (2020) using IPAD OS 14.1.

However, it works on iPhone with iOS 14.1

[2020-11-05 00:25] lkiesow opened #2046 "Broken Paella Player Layout"
Watching a single stream presenter video in Paella player leads to the video being displayed as a tiny thumbnail only, making the player completely unusable:

![Screenshot from 2020-11-05 01-19-43](https://user-images.githubusercontent.com/1008395/98182193-739e8c00-1f05-11eb-9101-b24af0da5f13.png)

To test this, ingest a video using:

[code]

This happens on `develop` (2020-11-05) and thus likely

[2020-11-05 00:26] lkiesow commented on #2046
@miesgre, do you by any chance have time to take a look at this?

[2020-11-05 08:35] Gao-Jun opened #2047 "Add translation for paella episodesFromSeries plugin to crowdin"
Paella plugin `es.upv.paella.opencast.episodesFromSeries` does not include any translation file.

It's better to add a translation file to crowdin to make it easy to support I18n/L10n.

I picked all strings need to be translated as below,

[code]

[2020-11-05 08:45] #1930 closed, assigned to nobody

[2020-11-05 08:47] ebbertd commented on #1385
This should be fixed in Opencast 8.7. Can you confirm that? See PR #1812

[2020-11-05 09:36] t-schroeder commented on #1385
I can't test it right now. But since that PR includes the same change I mentioned as my second workaround (which I already confirmed fixes the problem back when I created this issue), I would consider this fixed.

[2020-11-05 09:39] #1385 closed, assigned to nobody

[2020-11-05 14:27] peculiarPrince commented on #1961
Issue #1115 falls under "Mark optional or required"

[2020-11-05 15:07] marwyg commented on #2021
After a recording in opencast studio, you can define a start and end point, where you want to trim your video. If you only choose a start point, the end point will be set to `Number.MAX_VALUE` (https://github.com/elan-ev/opencast-studio/blob/f00586f7fae0e178c606bf5c4242ded7054e4f36/src/opencast.js#L357). This leads to the described error. Maybe it should be changed there too.